<!-- state-template-state-list -->
{{#each state_list}}
	<li class="state-item view {{#ifCond cmd_value '#'}}comment{{/ifCond}}" data-command="{{cmd_value}}" data-id="{{id}}">
		<div class="state-toolbar">
			<div class="state-action-wrap">
				<div class="state-remove icon-delete"></div>
				<div class="state-check">
					<div class="checkbox">
						<input id="state-check-{{id}}" type="checkbox" name="state-check-{{id}}">
						<label for="state-check-{{id}}"></label>
					</div>
				</div>
			</div>
			<i class="state-status-icon status status-yellow"></i>
			<i class="state-drag"></i>
			<div class="state-view">
				<div class="command-view-value"></div>
				<div class="parameter-view-list">
					{{> state-template-para-view-list}}
				</div>
			</div>
		</div>
		<div class="state-edit clearfix">
			<div class="command-value editable-area line">{{cmd_value}}</div>
			<div class="parameter-list">
				{{> state-template-para-list}}
			</div>
		</div>
	</li>
{{/each}}

<!-- state-template-para-list -->
{{#each parameter_list}}

	{{#if type_line}}
		<div class="parameter-item line {{#if required}}required{{else}}optional{{/if}} {{#if para_disabled}}disabled{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">
				{{para_name}}
			</div>
			<div class="parameter-container">
				<div class="parameter-value editable-area line">{{para_value}}</div>
			</div>
		</div>
	{{/if}}

	{{#if type_dict}}
		<div class="parameter-item dict {{#if required}}required{{else}}optional{{/if}} {{#if para_disabled}}disabled{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">
				{{para_name}}
			</div>
			<div class="parameter-container">
				{{> state-template-para-dict-item}}
			</div>
		</div>
	{{/if}}

	{{#if type_array}}
		<div class="parameter-item array {{#if required}}required{{else}}optional{{/if}} {{#if para_disabled}}disabled{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">
				{{para_name}}
			</div>
			<div class="parameter-container">
				{{> state-template-para-array-item}}
			</div>
		</div>
	{{/if}}

	{{#if type_bool}}
		<div class="parameter-item bool {{#if required}}required{{else}}optional{{/if}} {{#if para_disabled}}disabled{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">
				{{para_name}}
			</div>
			<div class="parameter-container">
				<div class="parameter-value editable-area line">{{para_value}}</div>
			</div>
		</div>
	{{/if}}

	{{#if type_text}}
		<div class="parameter-item text {{#if required}}required{{else}}optional{{/if}} {{#if para_disabled}}disabled{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">
				{{para_name}}
			</div>
			<div class="parameter-container">
				<div class="parameter-value editable-area text">{{para_value}}</div>
			</div>
		</div>
	{{/if}}

	{{#if type_state}}
		<div class="parameter-item state {{#if required}}required{{else}}optional{{/if}} {{#if para_disabled}}disabled{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">
				{{para_name}}
			</div>
			<div class="parameter-container">
				{{> state-template-para-array-item}}
			</div>
		</div>
	{{/if}}

{{/each}}

<!-- state-template-para-view-list -->
{{#each parameter_view_list}}

	{{#if type_line}}
		<div class="parameter-item line {{#if para_no_visible}}no-visible{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">{{para_name}}</div>
			<div class="parameter-value">{{para_value}}</div>
		</div>
	{{/if}}

	{{#if type_dict}}
		<div class="parameter-item dict {{#if para_no_visible}}no-visible{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">{{para_name}}</div>
			<div class="parameter-value">{{para_value}}</div>
		</div>
	{{/if}}

	{{#if type_array}}
		<div class="parameter-item array {{#if para_no_visible}}no-visible{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">{{para_name}}</div>
			<div class="parameter-value">{{para_value}}</div>
		</div>
	{{/if}}

	{{#if type_bool}}
		<div class="parameter-item bool {{#if para_no_visible}}no-visible{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">{{para_name}}</div>
			<div class="parameter-value">{{para_value}}</div>
		</div>
	{{/if}}

	{{#if type_text}}
		<div class="parameter-item text {{#if para_no_visible}}no-visible{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">{{para_name}}</div>
			<div class="parameter-value">{{para_value}}</div>
		</div>
	{{/if}}

	{{#if type_state}}
		<div class="parameter-item state {{#if para_no_visible}}no-visible{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">{{para_name}}</div>
			<div class="parameter-value">{{para_value}}</div>
		</div>
	{{/if}}

{{/each}}

<!-- state-template-para-dict-item -->
{{#each para_value}}
	<div class="parameter-dict-item">
		<div class="parameter-value editable-area line key">{{key}}</div>
		<div class="parameter-value editable-area line value">{{value}}</div>
	</div>
{{/each}}

<!-- state-template-para-array-item -->
{{#each para_value}}
	<div class="parameter-value editable-area line">{{this}}</div>
{{/each}}

<!-- state-template-editor-empty -->
    <div class="state-empty">
    	{{tip}}
    </div>

<!-- state-template-editor-modal -->


<div id="state-editor-model" class="se-model-{{current_state}}">

	<div class="selectbox state-editor-res-select" data-res-name="{{res_name}}">
		{{> state-template-res-select}}
	</div>

	<div id="state-editor-wrap">
		<div id="state-editor-body">
			<div id="state-editor" spellcheck="false" class="font-mono">
				{{#unless supported_platform}}<div class="state-warning">The AMI's distro cannot be recognised. Some commands may not apply to this AMI.</div>{{/unless}}

				<div class="state-no-state-container font-normal">
					<div class="state-no-data-tip">No state conﬁgured yet.</div>
					{{#if allow_add_state}}
						<div class="state-item-add-btn btn btn-blue">Add a State</div>
					{{/if}}
				</div>

				<div class="state-have-state-container">
					<div class="state-editor-toolbar clearfix font-normal">
						<a class="state-desc-toggle active icon-desc"></a>
						<a class="state-log-toggle icon-log"></a>
						<a class="state-log-refresh icon-refresh"></a>

						<div class="state-operate">
							<a id="state-toolbar-add" href="javascript:void(0)">+ Add State</a>
							<a id="state-toolbar-copy-all" href="javascript:void(0)">Copy all</a>
							<a id="state-toolbar-copy" href="javascript:void(0)">Copy (<span id="state-toolbar-copy-count"></span>)</a>
							<a id="state-toolbar-delete" href="javascript:void(0)">Delete (<span id="state-toolbar-delete-count"></span>)</a>
							<a id="state-toolbar-paste" class="disabled" href="javascript:void(0)">Paste</a>
							<a id="state-toolbar-undo" href="javascript:void(0)">Undo</a>
							<a id="state-toolbar-redo" href="javascript:void(0)">Redo</a>

							<div id="state-toolbar-selectAll" class="checkbox">
								<input type="checkbox" name="state-toolbar-selectAll">
								<label for="state-toolbar-selectAll"></label>
							</div>
						</div>

					</div>

					<div id="state-list-wrap" class="scroll-wrap">
						<div class="scrollbar-veritical-wrap"><div class="scrollbar-veritical-thumb"></div></div>
						<div class="scroll-content">
							<ol class="state-list"></ol>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>


	<div id="state-description" data-command="" style="display:none;" class="state-sidebar"></div>
	<div id="state-log" data-state-id="" class="state-sidebar">
		<ul class="state-log-list">
			{{> state-template-log-instance-item}}
			{{> state-template-log-item}}
		</ul>
		<div class="state-log-loading">Loading...</div>
		<div class="state-log-info">
			<div class="state-log-title">All states are pending.</div>
			<div class="state-log-detail">
				<span class="pending">Detailed log will show here when a state succeeds or fails.</span>
				<span class="stoped">The app is currently stopped. Detailed log will show here when the app is started and a state succeeds or fails.</span>
			</div>
		</div>
	</div>
	</div>





<!-- state-template-res-select -->
<div class="selection">{{res_selects.0.res_name}}</div>
<ul class="dropdown" tabindex="-1">
	{{#each res_selects}}
		<li class="item {{#unless @index}}selected{{/unless}}" data-id="{{res_id}}">{{res_name}}</li>
	{{/each}}
</ul>

<!-- state-template-log-item -->
{{#each state_logs}}
	<li class="state-log-item" data-state-id="{{id}}">
		<div class="state-log-item-header">
			<div class="state-log-item-name">{{#if state_num}}{{state_num}}{{/if}}</div>
			{{#if log_time}}<div class="state-log-item-time">{{log_time}}</div>{{/if}}
			<div class="state-log-item-status {{state_status}}">{{state_status}}</div>
		</div>
		{{#if comment}}<div class="state-log-item-detail comment">{{nl2br comment}}</div>{{/if}}
		{{#if stdout}}<div class="state-log-item-detail stdout">{{nl2br stdout}}</div>{{/if}}
	</li>
{{/each}}

<!-- state-template-log-instance-item -->
<li class="state-log-item">
	<div class="state-log-item-header">
		<div class="state-log-item-name">Instance</div>
		<div class="state-log-item-status">{{#if res_status}}{{res_status}}{{else}}unknown{{/if}}</div>
	</div>
</li>

<!-- template end -->
