<!-- state-template-state-list -->
{{#each state_list}}
	<div class="state-item view" data-command="{{cmd_value}}" data-id="{{state_id}}">
		<div class="state-toolbar">
			<div class="state-remove icon-remove"></div>
			<div class="state-add">+</div>
			<div class="state-id">{{#if state_id_show}}{{state_id_show}}{{else}}{{state_id}}{{/if}}</div>
			<i class="state-drag icon-sort"></i>
			<div class="state-view">
				<div class="command-view-value"></div>
				<div class="parameter-view-list">
					{{> state-template-para-view-list}}
				</div>
			</div>
		</div>
		<div class="state-edit clearfix">
			<div class="command-value editable-area line">{{cmd_value}}</div>
			<div class="parameter-list">
				{{> state-template-para-list}}
			</div>
		</div>
	</div>
{{/each}}

<!-- state-template-para-list -->
{{#each parameter_list}}

	{{#if type_line}}
		<div class="parameter-item line {{#if required}}required{{else}}optional{{/if}} {{#if para_disabled}}disabled{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">
				{{#if required}}<span>*</span>{{else}}<div class="parameter-remove">-</div>{{/if}}
				{{para_name}}
			</div>
			<div class="parameter-container">
				<div class="parameter-value editable-area line">{{para_value}}</div>
			</div>
		</div>
	{{/if}}

	{{#if type_dict}}
		<div class="parameter-item dict {{#if required}}required{{else}}optional{{/if}} {{#if para_disabled}}disabled{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">
				{{#if required}}<span>*</span>{{else}}<div class="parameter-remove">-</div>{{/if}}
				{{para_name}}
			</div>
			<div class="parameter-container">
				{{> state-template-para-dict-item}}
			</div>
		</div>
	{{/if}}

	{{#if type_array}}
		<div class="parameter-item array {{#if required}}required{{else}}optional{{/if}} {{#if para_disabled}}disabled{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">
				{{#if required}}<span>*</span>{{else}}<div class="parameter-remove">-</div>{{/if}}
				{{para_name}}
			</div>
			<div class="parameter-container">
				{{> state-template-para-array-item}}
			</div>
		</div>
	{{/if}}

	{{#if type_bool}}
		<div class="parameter-item bool {{#if required}}required{{else}}optional{{/if}} {{#if para_disabled}}disabled{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">
				{{#if required}}<span>*</span>{{else}}<div class="parameter-remove">-</div>{{/if}}
				{{para_name}}
			</div>
			<div class="parameter-container">
				<div class="parameter-value editable-area line">{{para_value}}</div>
			</div>
		</div>
	{{/if}}

	{{#if type_text}}
		<div class="parameter-item text {{#if required}}required{{else}}optional{{/if}} {{#if para_disabled}}disabled{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">
				{{#if required}}<span>*</span>{{else}}<div class="parameter-remove">-</div>{{/if}}
				{{para_name}}
			</div>
			<div class="parameter-container">
				<div class="parameter-value editable-area text">{{para_value}}</div>
			</div>
		</div>
	{{/if}}

	{{#if type_state}}
		<div class="parameter-item state {{#if required}}required{{else}}optional{{/if}} {{#if para_disabled}}disabled{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">
				{{#if required}}<span>*</span>{{else}}<div class="parameter-remove">-</div>{{/if}}
				{{para_name}}
			</div>
			<div class="parameter-container">
				{{> state-template-para-array-item}}
			</div>
		</div>
	{{/if}}

{{/each}}

<!-- state-template-para-view-list -->
{{#each parameter_view_list}}

	{{#if type_line}}
		<div class="parameter-item line {{#if para_disabled}}disabled{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">{{para_name}}</div>
			<div class="parameter-value">{{para_value}}</div>
		</div>
	{{/if}}

	{{#if type_dict}}
		<div class="parameter-item dict {{#if para_disabled}}disabled{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">{{para_name}}</div>
			<div class="parameter-value">{{para_value}}</div>
		</div>
	{{/if}}

	{{#if type_array}}
		<div class="parameter-item array {{#if para_disabled}}disabled{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">{{para_name}}</div>
			<div class="parameter-value">{{para_value}}</div>
		</div>
	{{/if}}

	{{#if type_bool}}
		<div class="parameter-item bool {{#if para_disabled}}disabled{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">{{para_name}}</div>
			<div class="parameter-value">{{para_value}}</div>
		</div>
	{{/if}}

	{{#if type_text}}
		<div class="parameter-item text {{#if para_disabled}}disabled{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">{{para_name}}</div>
			<div class="parameter-value">{{para_value}}</div>
		</div>
	{{/if}}

	{{#if type_state}}
		<div class="parameter-item state {{#if para_disabled}}disabled{{/if}}" data-para-name="{{para_name}}">
			<div class="parameter-name">{{para_name}}</div>
			<div class="parameter-value">{{para_value}}</div>
		</div>
	{{/if}}

{{/each}}

<!-- state-template-para-dict-item -->
{{#each para_value}}
	<div class="parameter-dict-item">
		<div class="parameter-value editable-area line key">{{key}}</div>
		<div class="parameter-value editable-area line value">{{value}}</div>
	</div>
{{/each}}

<!-- state-template-para-array-item -->
{{#each para_value}}
	<div class="parameter-value editable-area line">{{this}}</div>
{{/each}}

<!-- state-template-editor-modal -->
<div style="width:900px;height:610px;" id="state-editor-model" class="se-model-{{current_state}}">
	<div class="modal-header">
		<h3>Conﬁguration Manager of {{res_name}}</h3>
		<div class="selectbox state-editor-res-select">
			{{> state-template-res-select}}
		</div>
		<i class="modal-close">&times;</i>
	</div>

	<ul class="modal-sidebar-toggle">
		<li class="state-desc-toggle active icon-desc"></li>
		<li class="state-log-toggle icon-log"></li>
	</ul>

	<div id="state-editor-body" class="scroll-content modal-body clearfix">
		<div id="state-editor" spellcheck="false">
			{{#unless supported_platform}}<div class="state-warning">The AMI's distro cannot be recognised. Some commands may not apply to this AMI.</div>{{/unless}}
			<div class="state-list"></div>
			<div class="state-item-add">+ Add New State...</div>
		</div>
		<div id="state-description" data-command=""></div>
		<div id="state-log" data-state-id="">
			<ul class="state-log-list">
				{{> state-template-log-item}}
			</ul>
			<div class="state-log-loading">Loading...</div>
			<div class="state-log-info">
				<div class="state-log-title">All states are pending.</div>
				<div class="state-log-detail">
					<span class="pending">Detailed log will show here when a state succeeds or fails.</span>
					<span class="stoped">The app is currently stopped. Detailed log will show here when the app is started and a state succeeds or fails.</span>
				</div>
			</div>
		</div>
	</div>

	<div class="state-bottom modal-footer">
		<div class="state-save btn btn-blue">Save</div>
		<div class="state-cancel btn btn-silver">Cancel</div>
		<div class="state-close btn btn-silver">Close</div>
	</div>
</div>

<!-- state-template-res-select -->
<div class="selection">{{res_selects.0.res_name}}</div>
<ul class="dropdown" tabindex="-1">
	{{#each res_selects}}
		<li class="item {{#unless @index}}selected{{/unless}}" data-id="{{res_id}}">{{res_name}}</li>
	{{/each}}
</ul>

<!-- state-template-log-item -->
{{#each state_logs}}
	<li class="state-log-item">
		<div class="state-log-item-header">
			<div class="state-log-item-name">{{state_id}}</div>
			<div class="state-log-item-time">{{log_time}}</div>
			<div class="state-log-item-status {{state_status}}">{{state_status}}</div>
		</div>
		<div class="state-log-item-detail">{{nl2br stdout}}</div>
		<div class="state-log-item-detail">{{nl2br stderr}}</div>
	</li>
{{/each}}

<!-- template end -->