<article>

  {{#unless isStack}}
    {{#if isAppEdit}}
    <section class="property-control-group" data-bind="true">
        <label class="left" for="property-app-name">{{ i18n "PROP_APP_LBL_NAME" }}</label>
        <input class="input" type="text" data-ignore="true" data-required-rollback="true" value="{{name}}" id="property-app-name">
    </section>
    {{/if}}
    <dl class="dl-horizontal dl-region-type property-control-group">
      <dt><label>{{ i18n "PROP_STACK_LBL_REGION" }}</label></dt>
      <dd>{{region}}</dd>
      <dt><label>{{ i18n "PROP_STACK_LBL_TYPE" }}</label></dt>
      <dd>{{type}}</dd>
      <dt><label>{{ i18n "PROP_APP_LBL_ID" }}</label></dt>
      <dd>{{id}}</dd>
      {{#if usage}}
      <dt><label>{{ i18n "PROP_STACK_LBL_USAGE" }}</label></dt>
      <dd style="text-transform: capitalize">{{usage}}</dd>
      {{/if}}
      <dt><label>{{ i18n "PROP_STACK_LBL_DESC"}}</label></dt>
      <dd>{{description}}</dd>
    </dl>
    {{#if isAppEdit}}
    <section class="property-control-group">
      <div class="checkbox">
        <input id="property-app-resdiff" type="checkbox" name="resdiff" {{#if isResDiff}}checked{{/if}} >
        <label for="property-app-resdiff"></label>
      </div>
      <label for="property-app-resdiff">{{ i18n "PROP_APP_LBL_RESDIFF"}}</label>
    </section>
    {{/if}}
  {{else}}
	<section class="property-control-group" data-bind="true">
		<label class="left" for="property-stack-name">{{ i18n "PROP_STACK_LBL_NAME" }}</label>
		<input class="input" type="text" data-ignore="true" data-required-rollback="true" value="{{name}}" id="property-stack-name">
	</section>
    <section class="property-control-group" data-bind="true">
        <label for="property-stack-description">{{ i18n "PROP_STACK_LBL_DESCRIPTION"}}</label>
        <textarea name="" id="property-stack-description" cols="30" rows="7">{{description}}</textarea>
    </section>
	<dl class="dl-horizontal dl-region-type property-control-group">
		<dt><label>{{ i18n "PROP_STACK_LBL_REGION" }}</label></dt><dd>{{region}}</dd>
		<dt><label>{{ i18n "PROP_STACK_LBL_TYPE" }}</label></dt><dd>{{type}}</dd>
    <dt><label>{{ i18n "PROP_STACK_LBL_ID" }}</label></dt><dd>{{id}}</dd>
	</dl>
  {{/unless}}

	<!-- SG, ACL, COST -->
	<div class="option-group-head">{{ i18n "PROP_STACK_TIT_SG" }}<span class="property-head-num-wrap">(<span id="property-head-sg-num"></span>)</span></div>
  <div class="option-group sg-group"></div>


	{{#if networkAcls}}
	<div class="option-group-head pos-r">{{ i18n "PROP_STACK_TIT_ACL" }}<span class="property-head-num-wrap">({{networkAcls.length}})</span>
	</div>
	<div class="option-group">
    <ul class="acl-sg-info-list acl-info-list property-list" id="stack-property-acl-list"></ul>
    {{#unless isApp}}<a href="#" class="add-to-list action-link" id="stack-property-new-acl">{{ i18n "PROP_STACK_BTN_CREATE_NEW_ACL" }}</a>{{/unless}}
  </div>
	{{/if}}


	<div class="option-group-head">
		{{ i18n "PROP_STACK_TIT_COST_ESTIMATION" }}
		<span class="cost-counter right">{{#if totalFee}}${{totalFee}}/{{{ i18n "PROP_STACK_LBL_COST_CYCLE" }}} {{/if}}</span>
	</div>
	<div class="option-group">
		<table class="table cost-estimation-table">
			<thead> <tr>
					<th>{{ i18n "PROP_STACK_COST_COL_RESOURCE" }}</th>
          <th style="min-width:70px;">{{ i18n "PROP_STACK_COST_COL_SIZE_TYPE" }}</th>
          <th style="min-width:60px;">{{ i18n "PROP_STACK_COST_COL_FEE" }}</th>
			</tr> </thead>
			<tbody> {{#each costList}}
        <tr> <td>{{resource}}</td> <td>{{type}}</td> <td>{{formatedFee}}</td> </tr>
      {{/each}} </tbody>

		</table>
		<div class="property-control-group tac">
			<a target="_blank" href="http://aws.amazon.com/ec2/pricing/" class="goto-outsite tac" target="_blank">AWS EC2 Pricing</a>
		</div>
	</div>

</article>


