{{#each rules}}
<li data-uid="{{ruleSetId}}" data-protocol="{{protocol}}" data-port="{{port}}" data-relation="{{relation}}" data-direction="{{direction}}">
	<div class="rule-list-row">
		<div class='rule-direction-icon tooltip icon-{{direction}}' data-tooltip='{{#ifCond direction "inbound"}}{{ i18n "PROP_SG_TIP_INBOUND" }}{{else}}{{ i18n "PROP_SG_TIP_OUTBOUND" }}{{/ifCond}}'></div>
		<span class="sg-color" style="background-color:{{color}}"></span>
		<div class='rule-reference tooltip truncate' data-tooltip='{{#ifCond direction "inbound"}}Source{{else}}Destination{{/ifCond}}'>{{relation}}</div>
	</div>

	<div class="rule-list-row">
		<div><span class="rule-protocol tooltip" data-tooltip='{{ i18n "PROP_SG_TIP_PROTOCOL" }}'>{{protocol}}</span></div>
		<div class='rule-port tooltip' data-tooltip='{{ i18n "PROP_SG_TIP_PORT_CODE" }}' >{{port}}</div>
	</div>
	{{#if ../ruleEditable}}
	<div class='rule-remove-icon icon-remove tooltip' data-tooltip='{{ i18n "PROP_SG_TIP_REMOVE_RULE" }}' ></div>
	{{/if}}
</li>
{{/each}}
