/* Table */
.table {
	max-width: 100%;
	background-color: rgba(0, 0, 0, 0);
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	color: #C7CAC8;
}

.table th {
	font-weight: 700;
}

.table thead {
	background: #2b2b2b;
}

.table thead th {
	cursor: default;
	position: relative;
}

.table thead th:hover {
	background: #404040;
}

.table th,
.table td {
	word-break: break-all;
	overflow: hidden;
	padding: 6px 12px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border: 1px solid #151515;
}

.table tbody tr:hover th,
.table tbody tr:hover td {
	background: #464646;
}

.table tbody th,
.table tbody td {
	background: #1F1F1F;
}

.table_resizer {
	position: absolute;
	right: 0;
	top: 0;
	width: 4px;
	height: 100%;
	cursor: e-resize;
	z-index: 5;
}

/* Button */
.btn {
	font-family: Nunito-Regular, arial;
	display: inline-block;
	padding: 5px 0;
	width: 115px;
	margin-bottom: 0;
	font-size: 12px;
	color: #333;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(top, #FFF, #E6E6E6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, #FFF, #E6E6E6);
	background-image: -o-linear-gradient(top, #FFF, #E6E6E6);
	background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
	background-repeat: repeat-x;
	border: 1px solid #CCC;
	border-color: #E6E6E6 #E6E6E6 #BFBFBF;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-blue {
	background: #507BBD;
	color: #fff;
}

.btn-red {
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #DA4F49;
	background-image: -moz-linear-gradient(top, #EE5F5B, #BD362F);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#BD362F));
	background-image: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
	background-image: -o-linear-gradient(top, #EE5F5B, #BD362F);
	background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
	background-repeat: repeat-x;
	border-color: #BD362F #BD362F #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-grey {
	color: #fff;
	background: #838383;
}

/* Progress bar */
.progress {
	background-color: #F7F7F7;
	box-shadow: 1px 1px 5px rgba(200, 200, 200, 0.5);
	overflow: hidden;
	width: 240px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 10px 0;
}

.progress .bar {
	height: 10px;
	background-color: #4BB1CF;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1MDIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM1QkMwREUiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMzMzlCQjkiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c1MDIpIiAvPgo8L3N2Zz4=');
	background-repeat: repeat-x;
	box-shadow: 1px 1px 5px rgba(200, 200, 200, 0.3);
	-webkit-transition: width 0.6s;
	-moz-transition: width 0.6s;
	-o-transition: width 0.6s;
	transition: width 0.6s;
}

/* Input */
.input {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
	background-color: #fcfcfc;
	border: 1px solid #aaa;
	font-size: 11px;
	padding: 8px 12px;
}

.input:focus {
	outline: 2px solid #649BCD;
	background-color: #fff;
}

.input.disabled {
	background: #f1f1f1;
}

/* Select */
.select {
	width: 180px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	font-size: 11px;
	border: 1px solid #aaa;
	padding: 7px 8px;
	outline: none;
}

/* Scrollbar */
.scrollbar-veritical-wrap {
	bottom: 2px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 10px;
	z-index: 55;
	background: #2e2e2e;
}

.scrollbar-horizontal-wrap {
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 10px;
	z-index: 55;
	background: #2e2e2e;
}

.scrollbar-veritical-thumb {
	border-left: 1px solid #a0558a;
	height: 0px;
	background-color: #903977;
	position: relative;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	-o-transition: height 0.2s;
	transition: height 0.2s;
}

.scrollbar-horizontal-thumb {
	height: 10px;
	border-top: 1px solid #a0558a;
	width: 180px;
	background-color: #903977;
	position: relative;
	-webkit-transition: width 0.2s;
	-moz-transition: width 0.2s;
	-o-transition: width 0.2s;
	transition: width 0.2s;
}

.scroll-wrap {
	position: relative;
	overflow: hidden;
}

.scroll-content {
	position: relative;
}

/* Tooltip */
#tooltip_box {
	background: #333;
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	color: #ccc;
	font-family: Nunito-Light;
	font-size: 14px;
	position: absolute;
	padding: 5px 10px;
	border-radius: 3px;
	z-index: 99;
	max-width: 250px;
}

/* Status icons */
.status {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url('../images/status.png') no-repeat;
}

.status-green {
	background-position: 0 0;
}

.status-red {
	background-position: 0 -24px;
}

.status-blue {
	background-position: 0 -12px;
}

.status-yellow {
	background-position: 0 -36px;
}

.status-grey {
	background-position: 0 -48px;
}

.status-orange {
	background-position: 0 -60px;
}