<div class="scroll-wrap" style="max-height:500px;" id="asg-termination-policy" data-bind="true">
	<div class="scrollbar-veritical-wrap"><div class="scrollbar-veritical-thumb"></div></div>
	<div class="modal-body scroll-content" id="property-asg-policy" data-uid="{{uid}}">

		<label for="asg-policy-name" class="modal-text-major">{{ i18n "PROP_ASG_POLICY_TLT_NAME"}}</label>
		<input type="text" class="input" value="{{name}}" id="asg-policy-name" data-required-rollback="true" data-ignore="true" maxlength="255" data-required="true" {{#if isOld}}readonly{{/if}}>


		<section class="modal-control-group">
			<h5>{{i18n "PROP_ASG_ADD_POLICY_ALARM"}}</h5>
			<div class="control-sentence">
				<span>{{i18n "PROP_ASG_ADD_POLICY_WHEN"}}</span>

				<div class="selectbox" id="asg-policy-metric">
					<div class="selection">CPU Utillization</div>
					<ul class="dropdown" tabindex="-1">
						<li data-id="CPUUtilization" class="item selected">CPU Utilization</li>
						<li data-id="DiskReadBytes" class="item">Disk Reads</li>
						<li data-id="DiskReadOps" class="item">Disk Read Operations</li>
						<li data-id="DiskWriteBytes" class="item">Disk Writes</li>
						<li data-id="DiskWriteOps" class="item">Disk Write Operations</li>
						<li data-id="NetworkIn" class="item">Network In</li>
						<li data-id="NetworkOut" class="item">Network Out</li>
						{{#unless detail_monitor}}
						<li data-id="StatusCheckFailed" class="item">Status Check Failed (Any)</li>
						<li data-id="StatusCheckFailed_Instance" class="item">Status Check Failed (Instance)</li>
						<li data-id="StatusCheckFailed_System" class="item">Status Check Failed (System)</li>
						{{/unless}}
					</ul>
				</div>

				<span>{{i18n "PROP_ASG_ADD_POLICY_IS"}}</span>

				<div class="selectbox" id="asg-policy-eval">
					<div class="selection">&gt;=</div>
					<ul class="dropdown" tabindex="-1">
						<li data-id=">" class="item">&gt;</li>
						<li data-id=">=" class="item selected">&gt;=</li>
						<li data-id="<" class="item">&lt;</li>
						<li data-id="<=" class="item">&lt;=</li>
					</ul>
				</div>

				<input type="text" class="input" id="asg-policy-threshold" value="{{alarmData.threshold}}" placeholder="{{i18n 'PROP_ASG_POLICY_TLT_THRESHOLD'}}" data-ignore="true" data-ignore-regexp="^[0-9]*\.?[0-9]*$" data-required="true">

				<span id="asg-policy-unit">{{unit}}</span>

				<br />

				<span>{{i18n "PROP_ASG_ADD_POLICY_FOR"}}</span>

				<input type="text" class="input" id="asg-policy-periods" value="{{alarmData.evaluationPeriods}}" data-required="true" data-ignore="true" data-type="digits">

				<span>{{i18n "PROP_ASG_ADD_POLICY_PERIOD"}}</span>

				<input type="text" class="input" id="asg-policy-second" value="{{alarmData.period}}" data-required="true" data-ignore="true" data-type="digits">

				<span>{{i18n "PROP_ASG_ADD_POLICY_SECONDS"}}</span>

				<br />

				<span>{{i18n "PROP_ASG_ADD_POLICY_START_SCALING"}}</span>

				<div class="selectbox" id="asg-policy-trigger">
					<div class="selection">ALARM</div>
					<ul class="dropdown" tabindex="-1">
						<li data-id="ALARM" class="item selected">ALARM</li>
						<li data-id="INSUFFICIANT_DATA" class="item">INSUFFICIANT_DATA</li>
						<li data-id="OK" class="item">OK</li>
					</ul>
				</div>

				<span>{{i18n "PROP_ASG_ADD_POLICY_STATE"}}</span>
			</div>
		</section>

		<section class="modal-control-group">
			<h5>{{i18n "PROP_ASG_ADD_POLICY_SCALING_ACTIVITY"}}</h5>
			<div class="control-sentence">
				<span>{{i18n "PROP_ASG_ADD_POLICY_ADJUSTMENT"}}</span>
				<div class="selectbox" id="asg-policy-adjust-type">
					<div class="selection">Change in Capacity</div>
					<ul class="dropdown" tabindex="-1">
						<li data-id="ChangeInCapacity" class="item selected">Change in Capacity</li>
						<li data-id="ExactCapacity" class="item">Exact Capacity</li>
						<li data-id="PercentChangeInCapacity" class="item">Percent Change in Capacity</li>
					</ul>
				</div>
				<span>{{i18n "PROP_ASG_ADD_POLICY_ADJUSTMENT_OF"}}</span>
				<input type="text" class="input tooltip" id="asg-policy-adjust" data-required="true" value="{{adjustment}}" placeholder="e.g. -1" data-ignore="true" data-ignore-regexp="^-?[0-9]*$">
				<span class="hide pecentcapcity">%</span>
				<span>.</span>
			</div>
		</section>

		<h5>{{i18n "PROP_ASG_ADD_POLICY_ADVANCED"}}</h5>
		<div class="asg-policy-advanced">
			<section id="asg-policy-statistics" class="modal-control-group">
				<h5>{{i18n "PROP_ASG_ADD_POLICY_ADVANCED_ALARM_OPTION"}}</h5>
				<div class="clearfix">
					<label>{{i18n "PROP_ASG_ADD_POLICY_ADVANCED_STATISTIC"}}</label>
					<div class="selectbox" id="asg-policy-statistics">
						<div class="selection">{{i18n "PROP_ASG_ADD_POLICY_ADVANCED_STATISTIC_AVG"}}</div>
						<ul class="dropdown" tabindex="-1">
							<li data-id="Average" class="item selected">{{i18n "PROP_ASG_ADD_POLICY_ADVANCED_STATISTIC_AVG"}}</li>
							<li data-id="Minimum" class="item">{{i18n "PROP_ASG_ADD_POLICY_ADVANCED_STATISTIC_MIN"}}</li>
							<li data-id="Maximum" class="item">{{i18n "PROP_ASG_ADD_POLICY_ADVANCED_STATISTIC_MAX"}}</li>
							<li data-id="SampleCount" class="item">{{i18n "PROP_ASG_ADD_POLICY_ADVANCED_STATISTIC_SAMPLE"}}</li>
							<li data-id="Sum" class="item">{{i18n "PROP_ASG_ADD_POLICY_ADVANCED_STATISTIC_SUM"}}</li>
						</ul>
					</div>
				</div>
			</section>

			<section id="asg-policy-scaling" class="modal-control-group">
				<h5>{{ i18n "PROP_ASG_ADD_POLICY_ADVANCED_SCALING_OPTION" }}</h5>
				<div class="clearfix">
					<label for="asg-policy-cooldown">{{ i18n "PROP_ASG_ADD_POLICY_ADVANCED_COOLDOWN_PERIOD" }}</label>
					<input type="text" class="input tooltip" data-tooltip="{{i18n 'PROP_ASG_ADD_POLICY_ADVANCED_TIP_COOLDOWN_PERIOD'}}" value="{{cooldown}}" maxlength="5" placeholder="{{i18n 'PROP_ASG_DEFAULT_COOL_DOWN'}}" data-ignore="true" data-type="digits" id="asg-policy-cooldown">
					<span>{{i18n "PROP_ASG_UNIT_MINS"}}</span>
				</div>

				<div id="asg-policy-step-wrapper" class="hide clearfix pecentcapcity">
					<label>{{ i18n "PROP_ASG_ADD_POLICY_ADVANCED_MIN_ADJUST_STEP" }}</label>
					<input type="text" class="input tooltip" data-tooltip="{{i18n 'PROP_ASG_ADD_POLICY_ADVANCED_TIP_MIN_ADJUST_STEP'}}" id="asg-policy-step" value="{{minAdjustStep}}" data-ignore="true" maxlength="5" data-type="digits">
				</div>
			</section>

			<section class="modal-control-group">
				<h5>{{i18n "PROP_ASG_LBL_NOTIFICATION"}}</h5>
				<div class="checkbox">
					<input id="asg-policy-notify" type="checkbox" {{#if sendNotification}}checked="checked"{{/if}}/>
					<label for="asg-policy-notify"></label>
				</div>
				<label id="asg-policy-notify-label" for="asg-policy-notify">{{i18n "PROP_ASG_LBL_SEND_NOTIFICATION_D"}}</label>

				<div class="sns-policy-field">
					<label>Select SNS Topic</label>
					<div class="policy-sns-placeholder"></div>
				</div>

			</section>
		</div>
	</div>
</div>
</div>
