/* Rectangle 5: */
$light-p: #4D4E8C;


/* Rectangle 6: */
$base-p: #363B76;
$base-p-l: saturate(lighten($base-p,30%),15%);


/* Rectangle 9: */
$dark-p: #25254C;

$bg-p: #202027;


// /* Rectangle 7: */
$base-b: #4A90E2;


// /* Rectangle 11: */
$light-b: #9AB7D9;


// /* Rectangle 10: */
$dark-b: #3970AF;


// /* Rectangle 8: */
// background: #00D38F;


// /* Rectangle 13: */
// background: #93ECD0;


// /* Rectangle 12: */
// background: #1BA57A;


// /* Rectangle 16: */
// background: #2CBE29;


// /* Rectangle 15: */
// background: #41E23D;


// /* Rectangle 14: */
// background: #2E8F2C;