$triangleHeight: 10px;

.container-panel {
    height     : 100%;
    position   : relative;

    .create {
        text-align: center;
        margin: 0 auto;
        img, span, button {
            margin: 0 auto;
        }
        .logo {
            margin-top: 50px;
        }
        .desc {
            margin-top : 20px;
            padding    : 0 10px;
            color      : $dark-grey;
        }
        .apply {
            margin-top: 20px;
        }
    }

    .container-edit {
        position         : absolute;
        top              : 0;
        left             : 0;
        background-color : $dark-p-1;
        padding          : 10px;
        width            : 100%;
        text-align       : center;
        cursor           : pointer;
        box-sizing       : border-box;

        &:hover { color: $light-b; }

        a {color: $light-b;}
        a:hover { color : $base-b; }

        a span { text-decoration: underline; }

        .edit-marathon-stack:before { display: inline-block; margin: 0 5px 0 -12px; }
    }

    .filter-containers {
        width: 100%;
        // margin-top: 37px;
        box-sizing: border-box;
    }

    .container-change {
        background-color : #2b2b35;
        padding          : 10px;
        position         : absolute;
        bottom           : 40px;
        right            : 0;
        left             : 0;
        text-align       : center;
        cursor           : pointer;
        color            : $base-grey;

        &:hover { color: $base-b; }
    }

    .tip {
        padding : 5px;
        color   : lighten($dark-grey,20%);
    }

    .marathon-app-list {

          position : relative;
          height   : 100%;

        .group-list {
            height: 100%;
            padding-bottom: 160px;
            @include v-scroll;
            @include font-mono;

            .group-header {
              padding          : 0 10px 0 22px;
              background-color : #2b2b35;
              height           : 20px;
              line-height      : 20px;
              font-size        : 12px;
              color            : #e0e0ec;
              border-bottom    : 1px solid #000;
              position         : relative;
              cursor           : pointer;

              &:before {
                content      : "";
                display      : inline-block;
                width        : 0;
                height       : 0;
                border-style : solid;
                border-width : 5px 0 5px 5px ;
                border-color : transparent  transparent transparent $light-p-2;
                position     : absolute;
                left         : 10px;
                top          : 5px;
              }

            &.expand:before {
                border-width : 5px 5px 0 5px ;
                border-color : $light-p-2 transparent transparent transparent ;
                top          : 7px;
                left         : 8px;
              }

            }
            .group-item:last-child {
                margin-bottom: 177px;
            }
        }

        .container-list {
          padding : 20px 10px 0;
        }

        .constraint-list {
            color         : white;
            border-radius : 3px;
            background    : $dark-p-1;
            color         : $base-g;
            margin-top    : -10px;
            padding       : 3px 8px;
            margin-bottom : 15px;
            font-size     : 12px;

            ::selection {
                background: #3781C9;
                color: #fcfcfc;
            }

            header {
                margin: 0 0 10px 0;
                color: darken($base-g, 10%);
            }

            p {
                padding: 0;
                margin: 5px 0;
            }

            &:before {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 $triangleHeight $triangleHeight $triangleHeight;
                border-color: transparent transparent $dark-p-1 transparent;
                margin: 0 auto;
                position: relative;
                top: -$triangleHeight;
            }
        }

        .container-item {
            margin-top       : 10px;
            border-radius    : 2px;
            background-color : #fff;
            position         : relative;
            overflow         : visible;
            height           : 73px;
            cursor           : pointer;
            font-size        : 12px;
            opacity          : .8;
            border-width     : 1px;
            border-top-width : 4px;
            border-style     : solid;
            margin           : 0 1px 20px;

            .info, .container-info { color : #676767; }

            @include transit($method: opacity, $dur: .2s);

            &:hover {
                opacity : .9;
                border-width : 4px 2px 2px;
                margin : 0 0 19px;
            }

            &.selected {
              box-shadow : 0 0 0 3px #56B8DB;
              opacity    : 1;
            }

            .task {
                background-color: $base-b;
                position: absolute;
                padding: 2px 5px;
                right: 0;
                color: #fff;
                border-radius: 2px;
                right: -5px;
                top: -12px;
                text-align: center;
                &.yellow {
                    background-color: $yellow;
                }
            }

            .info {
                line-height: 40px;
                height: 40px;
                border-bottom: 1px solid #ddd;

                .container-icon {
                    margin-left: 11px;
                    margin-right: -1px;
                    margin-top : -2px;
                    width: 18px;
                    height: auto;
                }
            }

            .container-info-icon {
                margin-left: 0;
                float: left;
                margin-left: 5px;
            }

            .container-info {
                position   : absolute;
                bottom     : 7px;
                left       : 35px;
                right      : 0;
                text-align : left;

                span {
                    width: 60px;
                    display: inline-block;
                }
            }
        }
    }
}


.marathon-resource-panel {
    padding: 0 10px 10px 10px;

    .sidebar-title { padding: 0 10px; }
    .resource-list-head { margin-top: 10px; }
}
