$triangleHeight: 10px;

.apply-marathon-stack {
    .title {
        padding: 0 0 13px 0;
    }
}

#marathon-app-list {
    .constraint-list {
        color: white;
        border-radius: 5px;
        background: #35363E;
        margin-top: $triangleHeight;
        padding: 5px 8px;

        header {
            margin: 0 0 10px 0;
        }

        p {
            padding: 0;
            margin: 5px 0;
        }

        &::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 $triangleHeight $triangleHeight $triangleHeight;
            border-color: transparent transparent #35363E transparent;
            margin: 0 auto;
            position: relative;
            top: -$triangleHeight;
        }
    }
}