$triangleHeight: 10px;

.container-panel {
    .create {
        text-align: center;
        margin: 0 auto;
        img, span, button {
            margin: 0 auto;
        }
        .logo {
            margin-top: 50px;
        }
        .desc {
            margin-top: 20px;
            padding: 0 10px;
        }
        .apply {
            margin-top: 20px;
        }
    }
    .container-header {
        // height: 30px;
        background-color: #2b2b35;
        padding: 10px;
        .edit-marathon-stack {
            margin-left: 3px;
            cursor: pointer;
        }
    }
    .container-footer {
        background-color: #2b2b35;
        padding: 10px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        .change-marathon-stack {
            cursor: pointer;
        }
    }
    .tip {
        padding: 10px;
    }
    .container-list {
        margin: 0 10px;
        margin-top: 5px;
        .container-item {
            margin-top: 10px;
            border-radius: 2px;
            background-color: #fff;
            border-top: 6px solid $dark-b;
            position: relative;
            overflow: auto;
            .info {
                line-height: 40px;
                height: 40px;
                border-bottom: 1px solid #ddd;
                .container-icon {
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
            .container-info-icon {
                margin-left: 0;
                float: left;
                margin-left: 5px;
            }
            .container-info {
                position: absolute;
                bottom: 7px;
                left: 35px;
                right: 0;
                text-align: left;
                span {
                    width: 60px;
                    display: inline-block;

                }
            }
        }
    }
}


.apply-marathon-stack {
    .title {
        padding: 0 0 13px 0;
    }
}

#marathon-app-list {
    .constraint-list {
        color: white;
        border-radius: 5px;
        background: #35363E;
        margin-top: $triangleHeight;
        padding: 5px 8px;

        header {
            margin: 0 0 10px 0;
        }

        p {
            padding: 0;
            margin: 5px 0;
        }

        &::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 $triangleHeight $triangleHeight $triangleHeight;
            border-color: transparent transparent #35363E transparent;
            margin: 0 auto;
            position: relative;
            top: -$triangleHeight;
        }
    }
}