@font-face {

	font-family : 'MCIcon';
	font-weight : normal;
	font-style  : normal;

	src:font-url('icon.eot');
	src:font-url('../fonts/icon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icon.woff') format('woff'),
		url('../fonts/icon.ttf') format('truetype');
}

.icon-play,
.icon-stop,
.icon-save,
//.icon-stack,
.icon-undo,
.icon-redo,
.icon-zoom-out,
.icon-zoom-in,
.icon-send,
.icon-add,
.icon-duplicate,
.icon-delete,
.icon-new-stack,
.icon-btn-details,
.icon-btn-back,
.icon-export-png,
.icon-export-json,
.icon-caret-down,
.icon-terminate,
.icon-forget-app,
.icon-close,
.icon-caret-right,
.icon-caret-left,
.icon-close-circle,
.icon-info,
.icon-user,
.icon-password,
.icon-notification,
.icon-message,
.icon-remove,
.icon-allow,
.icon-deny,
.icon-outbound,
.icon-inbound,
.icon-refresh,
.icon-edit,
.icon-resize-right,
.icon-resize-left,
.icon-resize-down,
.icon-resize-up,
.icon-pending,
.icon-warning,
.icon-error,
.icon-success,
.icon-time,
.icon-sort,
.icon-detail,
.icon-del,
.icon-line-shape,
.icon-copy,
.icon-straight,
.icon-elbow,
.icon-bezier-q,
.icon-bezier-qt,
.icon-toolbar-cloudformation,
.icon-update-app,
.icon-cancel-update-app,
.icon-apply-app,
.icon-visualize,
.icon-toolbar-diff,
.icon-desc,
.icon-log,
.icon-syslog,
.icon-import,
.icon-drag-copy,
.icon-gear,
.icon-menu,
.icon-expand,
.icon-save-app,
.icon-support,
.icon-reload,
.icon-resources,
.icon-hide-sg,
.icon-kp,
.icon-ebs-snap,
.icon-sns,
.icon-cert,
.icon-dhcp,
.icon-pg,
.icon-rds-snap,
.icon-rds-restore,
.icon-resource,
.icon-config,
.icon-property {
	&:before{
		font : 16px/1em "MCIcon";
		font-weight : normal;
		-webkit-font-smoothing: antialiased;
	}
}

// .icon-resource,
// .icon-config,
// .icon-property {
// 	&:before{
// 		font : 24px/1em "MCIcon";
// 		font-weight : normal;
// 		-webkit-font-smoothing: antialiased;
// 	}
// }

.icon-play:before  { content : "\F110"; }
.icon-stop:before  { content : "\F111"; }
.icon-save:before  { content : "\F112"; }
//.icon-stack:before { content : "\F113"; }
.icon-undo:before  { content : "\F114"; }
.icon-redo:before  { content : "\F115"; }
.icon-zoom-in:before   { content : "\F116"; }
.icon-zoom-out:before  { content : "\F117"; }
.icon-send:before      { content : "\F118"; }
.icon-add:before       { content : "\F119"; }
.icon-duplicate:before { content : "\F11B"; }
.icon-duplicate:before { content : "\F11B"; }
.icon-delete:before { content : "\F11C"; }
.icon-new-stack:before   { content : "\F11A"; }
.icon-btn-details:before { content : "\F11F"; }
.icon-btn-back:before    { content : "\F120"; }
.icon-export-png:before  { content : "\F11D"; }
.icon-export-json:before { content : "\F11E"; }
.icon-caret-down:before { content : "\F121"; }
.icon-close:before { content : "\F122"; }
.icon-terminate:before { content : "\F154"; }
.icon-forget-app:before { content : "\F11C"; }
.icon-caret-right:before { content : "\F124"; }
.icon-caret-left:before { content : "\F125"; }
.icon-close-circle:before { content : "\F126"; }
.icon-info:before { content : "\F127"; }
.icon-password:before { content : "\F128"; }
.icon-user:before { content : "\F129"; }
.icon-notification:before { content : "\F12A"; }
.icon-message:before { content : "\F12B"; }
.icon-remove:before { content : "\F12C"; }
.icon-allow:before { content : "\F12D"; }
.icon-deny:before { content : "\F12E"; }
.icon-outbound:before { content : "\F12F"; }
.icon-inbound:before { content : "\F130"; }
.icon-refresh:before { content : "\F131"; }
.icon-edit:before {content: "\F132";}
.icon-resize-right:before { content : "\F133"; }
.icon-resize-left:before {content: "\F134";}
.icon-resize-down:before { content : "\F135"; }
.icon-resize-up:before {content: "\F136";}
.icon-pending:before { content : "\F137"; }
.icon-warning:before {content: "\F138";}
.icon-error:before { content : "\F139"; }
.icon-success:before, .icon-apply-app:before {content: "\F13A";}
.icon-time:before { content : "\F13B"; }
.icon-sort:before {content: "\F13C";}
.ipt-controls > .icon-add:before {content: "\F13D";}
.icon-del:before, .icon-cancel-update-app:before {content: "\F13E";}
.icon-detail:before {content: "\F140";}
.icon-line-shape:before {content: "\F141";}
.icon-copy:before {content: "\F142";}
.icon-straight:before {content:"\F143";}
.icon-elbow:before {content:"\F144";}
.icon-bezier-qt:before {content:"\F145";}
.icon-bezier-q:before {content:"\F146";}
.icon-toolbar-cloudformation:before {content:"\F147";}
.icon-update-app:before {content:"\F148";}
.icon-visualize:before {content:"\F149";}
.icon-log:before {content:"\F14A";}
.icon-desc:before {content:"\F14B";}
.icon-syslog:before {content:"\F14C";}
.icon-toolbar-diff:before {content:"\F14D";}
.icon-import:before {content:"\F14E";}
.icon-drag-copy:before {content:"\F14F";}
.icon-gear:before {content:"\F150";}
.icon-menu:before {content:"\F151";}
.icon-expand:before {content:"\F152";}
.icon-save-app:before {content:"\F153";}
.icon-support:before {content:"\F155";}
.icon-reload:before {content:"\F156";}
.icon-resources:before {content:"\F157";}
.icon-hide-sg:before {content:"\F160";}
.icon-kp:before {content:"\F161";}
.icon-ebs-snap:before {content:"\F162";}
.icon-sns:before {content:"\F163";}
.icon-cert:before {content:"\F164";}
.icon-dhcp:before {content:"\F165";}
.icon-pg:before {content:"\F166";}
.icon-rds-snap:before {content:"\F167";}
.icon-rds-restore:before {content:"\F168";}
.icon-resource:before {content:"\F170";}
.icon-config:before {content:"\F171";}
.icon-property:before {content:"\F172";}

// .icon-outbound:before {content:"out";}
// .icon-inbound:before {content:"in";}

// .icon-inbound:before,
// .icon-outbound:before {
// 	border       : 1px solid #ccc;
// 	border-radius: 4px;
// 	font-size    : 12px;
// 	font-variant : small-caps;
// }
