@charset "UTF-8";
@import "utility";
@import "reset";

/* VisualOps Specifics */

html,
body {
	width     : 100%;
	min-width : 1024px;
	height    : 100%;
	overflow  : hidden;
}

#body {
	font-size  : 14px;
	color      : #666;
	overflow   : hidden;
	background : #f0f0f0;

	position   : relative;
}

#scenes, .project-scene {
  width      : 100%;
  height     : 100%;
  overflow   : hidden;
  background : #000;
}

.ws-content {
  position : absolute;
  top      : 50px;
  bottom   : 0;
  left     : 0;
  right    : 0;
  z-index  : 3;
  &>div{
    width: 100%;
    height: 100%;
  }
}

/* reset */

.icon-caret-down {
	margin-left: 2px;
}

/* generic class */


.resdiff-switch {
	position: relative;

	i {
		color    : $base-b;
		position : absolute;
		bottom   : 5px;
		right    : 11px;
	}
}


/* Modal Stack Validator */
#modal-stack-validation-run {
	width: 600px;
}

#modal-stack-validation-run ol li {
	padding: 5px 0;
}

#elb-property-listener-list, #mesos-health-checks-list {
  .elb-property-listener:only-child .elb-property-listener-item-remove {
    display: none;
  }
}


/* property-stack */

.dl-horizontal.dl-region-type {
	margin: 0;
}

.dl-horizontal.dl-region-type dt {
	width: 80px;
}

.dl-horizontal.dl-region-type dd {
	margin-left: 80px;
	color: #d0d0d0;
}

.cost-estimation-table {
	font-size: 12px;
}

.cost-estimation-table th, .cost-estimation-table td {
	padding : 5px !important;
}

.cost-counter {
	color: #999;
}



/* App Property */

.btn.kp-copy-btn {
	width   : 120px;
	padding : 7px 0;
	float   : right;
}

#keypair-cmd {
	width: 346px;
}

.hidden-details > .dl-vertical {
	display : none;
}

.hidden-details .details-on {
	display : none;
}

.hidden-details.open .details-off {
	display : none;
}

.hidden-details.open .details-on {
	display : inline;
}

.hidden-details.open > .dl-vertical {
	display : block;
}

.toggle-details {
	padding   : 5px 10px;
	font-size : 14px;
	display   : inline-block;
}


/*app-vpn-cgw*/
.vpn-download {
	display: block;
	width: 220px;
	margin: 10px auto;
}


/* run stack */

#modal-run-stack #app-name {
	width   : 265px;
	padding : 7px 5px;

}

#modal-run-stack .modal-control-group {
	padding: 0 0 15px;
}


#modal-run-stack .btn-primary {
	padding: 8px 10px;
}

.item-error-tip {
	padding: 10px;
	font-size: 13px;
	color: #999;
	border: none;
	text-align: center;
}

.item-error-tip .icon-info {
	color: #6C99D5;
	position: absolute;
	left: 20px;
}

.stack-validation .item-error-tip {
	display: none;
}

.validation-content .description {
	padding: 8px 2px;
	min-height: 80px;
}
#modal-run-stack, #app-apply-update {
  position: relative;
  border-bottom: 1px solid #000000;
  background-color: #2c2c2c;
}
#modal-run-stack div.estimate, #app-apply-update div.estimate {
	position         : relative;
	padding          : 5px 15px;
	height           : 58px;
}

#modal-run-stack .estimate .price, #app-apply-update .estimate .price{
	font-size: 12px;
}

#modal-run-stack .estimate .price b, #app-apply-update .estimate .price b {
	color: #ffa740;
	font-size: 28px;
}
#modal-run-stack .estimate-visualops, #app-apply-update .estimate-visualops{
  padding: 5px 15px;
  border-top: 1px solid #000000;
}
#modal-run-stack .estimate-visualops .price b, #app-apply-update .estimate-visualops .price b{
  color: #aeb3f2;
  font-size: 28px;
}

#app-usage-selectbox + .custom-app-usage{
  display: none;
  width: 145px;
  &.show{
	display: inline-block;
  }
}
#ImportSaveAppName{
  width: 265px;
}


#modal-run-mesos {
	.url-label, .var-label {
		width: auto;
		display: block;
	}
	#app-url {
		width: 404px;
	}
	#app-name {
		width: 255px;
	}
	.modal-control-group {
		padding: 0;
		margin: 5px 25px;
	}
	.mesos-tip {
		margin: 5px 25px;
		font-size: 12px;
	}
	.para-list {
		padding: 10px 0 0 0;
		.para-item {
			margin-bottom: 5px;
		}
	}
	input.key {
		width: 80px;
		margin-right: 5px;
	}
	input.value {
		width: 297px;
	}
	.selectbox {
		width: 404px;
	}
}

.validation-tag,
.resource-tag {
	font-size     : 12px;
	padding       : 1px 3px;
	margin        : 0 3px;
	background    : #25a4f4;
	color         : #fff;
	border-radius : 2px;
	line-height   : 24px;
}

.tag-ip {
	background : #17c249;
}

.tag-port,
.tag-ami {
	background : #999;
}

.validation-counter {
	padding      : 0 4px;
	font-size    : 12px;
	color        : #fff;
	float        : right;
	display      : inline-block;
	min-width    : 8px;
	height       : 16px;
	line-height  : 16px;
	margin-top   : 7px;
	border-radius: 10px;
	text-align   : center;
}

.no-item .validation-counter {
	background-color: #4b4b4b;
	color: #ccc;
	box-shadow: none;
}


.validation-counter-error {
	background-color: #ec3c38;
}

.validation-counter-warning {
	background-color: #ffa740;
}

.validation-counter-notice {
	background-color: #148BE6;
}

.validation-content a.bubble-NAT-instance {
	color: #148BE6;
}

.validation-content a.bubble-NAT-instance:hover {
	text-decoration: underline;
}

.bubble-NAT-req-list li {
	font-size: 14px;
	padding: 4px 0;
	list-style-type: decimal;
	list-style-position: inside;
}

#app-apply-update .modal-text-wraper {
	position: relative;
}

#app-apply-update .stack-validation {
	border-top: none;
}

#app-apply-update .modal-text-major {
	margin: 0;
}

#app-apply-update .nutshell {
	left: 109px;
}

.runtime-error {
	color:       #ec3c38;
	font-size:   12px;
	margin-left: 146px;
	margin-top:  5px;
}

/* added by song */

.disabled-event-layout {
	position: absolute;
	z-index: 9999;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#loading-modal-wrap {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 70;
}

.loading-modal {
	width: 200px;
	text-align: center;
	padding: 20px 0;
	position: absolute;
	top: 45%;
	left: 50%;
	margin-left: -100px;
}

.loading-modal .loading-spinner {
	margin: 10px auto;
}

.loading {
	position: absolute;
	top: 45%;
	left: 50%;
	margin-left: -13px;
	height: 80px;
}

/* Client & Service Error */
.invalid-session .modal-text {
	font-size: 14px;
	color: black;
	margin: 12px auto;
}

.invalid-session .modal-center-align-helper div:last-child {
	color: #999;
}

.reconnect-session .modal-text {
	font-size: 14px;
	color: black;
	margin: 20px auto;
}

.reconnect-session .input {
	width: 260px;
}

.reconnectSession .modal-input {
	padding-top: 20px;
}

.disconnected-msg {
	border-radius    : 2px;
	background-color : #ec3c38;
	box-shadow       : 1px 1px 5px rgba(0, 0, 0, .3);
	padding          : 14px;
	color            : #fff;
	width            : 280px;
	position         : absolute;
	top              : 15px;
	right            : 12px;
	z-index          : 9999;
}

.disconnected-msg.hovered {
	opacity : 0.05;
	pointer-events : none;
}


/* modalDownloadCloudFormationTpl */
#tpl-download {
	width: 190px;
}

#tpl-download .modal-text-wraper {
	width: 415px;
}
.modal-text-highlight{
    color: #f8b42d;
}

div.modal-text-highlight{
    margin-top: 10px;
    margin-bottom: 10px;
}

.status-bar-modal {
	width            : 434px;
	position         : absolute;
	bottom           : 23px;
	right            : 0;
	z-index          : 4;
	box-shadow       : 0 -2px 5px rgba(0,0,0,.2);
	border           : solid 1px darken($bg-p, 5%);
	background-color : lighten($bg-p, 2%);
	border-radius    : 4px 4px 0 0;
}

.status-bar-modal .modal-header {
	background    : none;
	box-shadow    : none;
	border-bottom : none;
	color         : #ccc;
	text-shadow   : none;
}

.status-bar-modal .modal-header h3 {
	color: #eee;
}

.status-bar-modal .modal-body {
	padding: 0 5px 5px 5px;
	background: none;
	border-bottom: none;
}

/** Design Module Overlay **/

.process-info {
	color       : #999;
	font-weight : normal;
}

.process-info .num {
	color: #eee;
}

/** Server Group Member **/

.subtitle {
	font-size: 12px;
	color: #999;
}

.subtitle-terminate,
.subtitle-launch {
	color: #777;
	margin-left: 17px;
	margin-top: 6px;
}

.appedit-head-meta {
	font-size: 12px;
}

/* App Useage */
#modal-run-stack .app-usage {
	padding: 15px;
	color: #666;
	border-top: 1px solid #cfcfcf;
}

#modal-run-stack .app-usage .title {
	padding-bottom: 26px;
}

#modal-run-stack .app-usage .title span {
	font-size: 16px;
	padding-right: 3px;

}

.app-usage .icon-info {
 	vertical-align: middle;
}

#modal-run-stack .app-usage .checklist {
	display: inline-block;
	padding-bottom: 5px;
	font-size: 14px;
}

#modal-run-stack .app-usage-group {
	padding-top: 0;
}

#app-usage-selectbox .selection {
	padding-right: 25px;
}

#app-usage-selectbox [class^="icon-app-type-"] {
	margin-right: 4px;
}

/* App Type Icon */

[class^="icon-app-type-"], [class*=" icon-app-type-"] {
	border-radius  : 2px;
	display        : inline-block;
	height         : 13px;
	width          : 40px;
	font-size      : 12px;
	line-height    : 13px;
	font-variant   : small-caps;
	font-style     : normal;
	color          : #fff;
	text-align     : center;
	padding-bottom : 2px;
}

.icon-app-type-development {
	background: #1B7FCC;
	&:before { content: "dev";}
}


.icon-app-type-production {
	background: #17c249;
	&:before { content: "prod"; }
}


.icon-app-type-testing {
	background: #ffa740;
	&:before { content: "test" }
}

.icon-app-type-others {
	background: #9C9FA2;
	&:before { content: "others" }
}

.icon-app-type-custom {
  	background: #FF6C40;
  	&:before { content: "custom" }
}

[class^="icon-app-type-"]:not([class="icon-app-type-development"]):not([class="icon-app-type-production"]):not([class="icon-app-type-testing"]):not([class="icon-app-type-others"]):not([class="icon-app-type-custom"]){
  background: #FF6C40;
  min-width: 45px;
  width: auto;
  line-height: 12px;
  padding: 1px;
  &:before { content: attr(data-type)}
}

/* App Useage */
#modal-run-stack .app-usage {
	padding: 15px;
	color: #666;
	border-top: 1px solid #cfcfcf;
}

#modal-run-stack .app-usage .title {
	padding-bottom: 26px;
}

#modal-run-stack .app-usage .title span {
	font-size: 16px;
	padding-right: 3px;

}

.app-usage .icon-info {
 	vertical-align: middle;
}

#modal-run-stack .app-usage .checklist {
	display: inline-block;
	padding-bottom: 5px;
	font-size: 14px;
}

#modal-run-stack .app-type-group {
	display: inline-block;
}

.nav-region-list-items.app-list>li {
	position: relative;
}

/* Node state remove confirmation */
#node-state-remove-confirm-wrap {
	padding: 20px 25px 5px;
}

#node-state-remove-confirm-wrap h4 {
	color: #666;
}

#node-state-remove-confirm-wrap p {
	font-size: 14px;
	margin-top: 10px;
	color: #999;
}

/* Instance system log modal */

#modal-instance-sys-log .modal-body {
	padding: 0;
}

#modal-instance-sys-log .loading-spinner {
	margin: 0 auto;
	top: 25px;
}

#modal-instance-sys-log .instance-sys-log-content {
	display : none;
	overflow: auto;
	padding : 10px 20px;
	height  : 500px;
	color   : $base-g;

	@include font-mono;
}

#modal-instance-sys-log .instance-sys-log-content::selection {
	background: #148BE6;
	color: #fcfcfc;
}

#modal-instance-sys-log .instance-sys-log-info {
	padding: 50px;
	text-align: center;
	display: none;
}

/* property switcher */


.OEPanelRight .state-empty {
	height: 100%;
	text-align: center;
	padding-top: 30%;
}

#state-editor-model {
	border-left : 1px solid #999;
	position    : absolute;
	top         : 40px;
	bottom      : 0;
	left        : 0;
	right       : 0;
}

.OEPanelRight .sub-stateeditor > div {
	height: 100%;
	width: 100%;
}

.OEPanelRight .sub-stateeditor {
	display: none;
	height: 100%;
	width: 100%;
}

.OEPanelRight.state .sub-stateeditor {
	display: block;
}

.OEPanelRight .sub-property {
	width    : 100%;
	height   : auto;
	overflow : hidden;
	position : absolute;
	top      : 40px;
	bottom   : 0;
}

.OEPanelRight.state .sub-property {
	display: none;
}

#app-update-summary-table {
	font-size: 12px;
}

#app-update-summary-table.table td {
	padding       : 2px 4px;
	vertical-align: middle;
	position      : relative;
}

#app-apply-update .icon-warning {
	color : #ec3c38;
	margin: 0;
}

#app-apply-update .icon-warning {
	position: absolute;
	right: 4px;
	top: 50%;
	margin-top: -8px;
}

.sortable::selection {
	background: transparent;
}

.formart_toolbar_modal .control-group>div{
    width: 468px;
    display: inline-block;
    margin-bottom: 10px;
}
.formart_toolbar_modal .control-group>div.selectbox{
    width: 160px
}
.formart_toolbar_modal .control-group>label{
    width: 168px;
    float: left;
    display: inline-block;
    line-height: 32px;
}

.manager-content-sub {
    color         : #999;
    font-size     : 12px;
    overflow      : hidden;
    text-overflow : ellipsis;
    white-space   : nowrap;
}

.mega-list-wraper-items li{
    padding-left: 30px;
    position: relative;
    margin-bottom: 20px;
}
.mega-list-wraper-items li span{
    display: block;
    color: #6f6f6f;
}
.mega-list-wraper-items li span.error{
    color: #F74A48;
}
.mega-list-wraper-items li:before{
    display: inline-block;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #dadada;
    position: absolute;
    margin-left: -10px;
    margin-top: 6px;
}

.cant-snapshot {
    display     : block;
    margin-left : 23px;
}

.highlight-status {
    color : $yellow;

   &.in-sync {
   	color: $base-g;
   }
}

.complete-fullname {

  margin-top: 30px;

  h3{
    text-align: center;
    margin-bottom: 40px;
  }
  .control-group.fullname {
    margin-left: -30px;
  }
  .half-group {
    width: 35%;
    display: inline-block;
    margin-left: 60px;
    margin-bottom: 20px;
  }
  .half-group label {
    display: block;
    margin-bottom: 5px;
  }
  .half-group input.input {
    width: 100%;
    height: 25px;
    font-size: 18px;
  }
  p.information{
	color: #acacc6;

    text-align: center;
    em {
		text-decoration: underline;
    }
  }
}


@import "sharedres/kp";
@import "sharedres/optiongroup";
@import "sharedres/sns";
@import "sharedres/sslcert";
@import "sharedres/rdssnap";

@import "ide/fullpage_settings";
@import "ide/cheatsheet";
@import "ide/dashboard";
@import "ide/editor";
@import "ide/header";

@import "ide/property";
@import "ide/process";
@import "ide/resdiff";
@import "ide/stateeditor";

@import "ide/payment";
@import "ide/billing";
@import "ide/importdialog";
@import "ide/run_apply_ta";


@import "os/panel";
@import "os/toolbar";
@import "os/component";
@import "os/dashboard";

@import "tmp";
