body {
	margin: 0;
	padding: 0;
	font-family : 'Lato', 'Helvetica Neue', Arial, sans-serif;
	color: #313131;
	font-size: 62.5%;
	line-height: 1;
	background-color: #f0f0f0;
}

/* *************************************** state editor */

#state-editor {
	border: 1px solid #999;
	margin: 50px 80px;
	padding: 20px;
	overflow: auto;
}

#state-editor .state-save {
	background-color: #0f0;
	width: 50px;
	padding: 10px;
	text-align: center;
	float: right;
	margin-right: 45px;
	cursor: pointer;
}

/* *************************************** state item */

#state-editor .state-item {
	overflow: auto;
	float: none;
	margin-bottom: 30px;
}

/* *************************************** editable-area */

#state-editor .editable-area {
	background-color: #fff;
	border: 1px solid #bbb;
	width: 100%;
	outline: 0px solid transparent;
	padding: 4px;
	margin-bottom: 5px;
	margin-right: 5px;
}

#state-editor .editable-area.line {
	white-space: nowrap;
	display: inline;
	height: 16px;
	line-height: 17px;
	padding-top: 3px;
	overflow: hidden;
}

#state-editor .editable-area.line br {
	display: none;
}

#state-editor .editable-area.line * {
	display: inline;
	white-space: nowrap;
}

#state-editor .editable-area.text {
	height: 200px;
	line-height: 20px;
	overflow: auto;
}

/* *************************************** parameter */

#state-editor .parameter-list {
	float: left;
	overflow: auto;
	width: 100%;
	max-width: 500px;
	display: inline;
}

#state-editor .parameter-item {
	width: 100%;
	overflow: auto;
	margin-top: 4px;
}

#state-editor .parameter-name {
	float: left;
	padding: 5px;
	max-width: 100px;
	background-color: #ddd;
	margin-top: 2px;
	width: 100%;
}

#state-editor .parameter-value {
	float: left;
	width: 100%;
	max-width: 309px;
}

#state-editor .parameter-container {
	float: left;
	width: 100%;
	max-width: 350px;
	overflow: auto;
	margin-left: 10px;
}

#state-editor .parameter-item.dict .parameter-value {
	width: 147px;
	margin-right: 5px;
}

#state-editor .command-value {
	float: left;
	width: 150px;
	margin-left: 40px;
}

/* *************************************** state view/edit */

#state-editor .state-item.view .state-edit {
	display: none;
}

#state-editor .state-view {
	display: none;
}

#state-editor .state-item.view .state-view {
	display: block;
}

#state-editor .command-view-value {
	float: left;
	max-width: 100px;
	min-width: 100px;
	min-height: 12px;
	display: inline;
	overflow: hidden;
	white-space: nowrap;
	border: 1px #444 solid;
	padding: 4px;
	background-color: #ddd;
	margin-right: 10px;
	margin-top: 4px;
}

#state-editor .parameter-view-list .parameter-item {
	float: left;
	max-width: 100px;
	min-height: 12px;
	display: inline;
	overflow: hidden;
	white-space: nowrap;
	border: 1px #444 solid;
	padding: 4px;
	background-color: #ddd;
	margin-right: 10px;
	min-width: 100px;
}

#state-editor .parameter-view-list .parameter-value {
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* *************************************** state toolbar */

#state-editor .state-toolbar {
	float: none;
	width: 95%;
	overflow: auto;
	background-color: #ccc;
	padding: 5px;
	margin-bottom: 10px;
}

#state-editor .state-item:first-child .state-remove{
	display: none;
}

#state-editor .state-item:first-child .state-add{
	
}

#state-editor .state-id {
	float: left;
	margin-top: 3px;
	margin-right: 15px;
	background-color: #ddd;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border-radius: 20px;
	background-color: #66f;
	color: #fff;
	cursor: pointer;
}

#state-editor .state-id:hover {
	background-color: #77f;
}

#state-editor .state-add {
	float: left;
	margin-top: 6px;
	margin-right: 15px;
	background-color: #ddd;
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 13px;
	border-radius: 20px;
	background-color: #aaa;
	color: #fff;
	cursor: pointer;
	float: right;
}

#state-editor .state-add:hover {
	background-color: #ccc;
}

#state-editor .state-remove {
	float: left;
	margin-top: 6px;
	margin-right: 15px;
	background-color: #ddd;
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 13px;
	border-radius: 20px;
	background-color: #aaa;
	color: #fff;
	cursor: pointer;
	float: right;
}

#state-editor .state-remove:hover {
	background-color: #ccc;
}