<article class="property-app">
  <div class="option-group-head expand">{{i18n "PROP_LC_TITLE"}}</div>
  <div class="option-group">

    <dl class="dl-vertical">
      <dt>{{i18n "PROP_LC_CREATE_TIME"}}</dt>
      <dd>{{timeStr createdTime}}</dd>
    </dl>

    <dl class="dl-vertical">
      <dt>{{i18n "PROP_INSTANCE_AMI"}}</dt>
      <dd>{{imageId}}<dd>
      <dt>{{i18n "PROP_INSTANCE_TYPE"}}</dt>
      <dd>{{instanceType}}</dd>
      <dt>{{i18n "PROP_INSTANCE_KEY_PAIR"}}</dt>
      <dd><a href="#" class="icon-download" id="property-app-keypair">{{keyName}}</a></dd>
    </dl>

    <dl class="dl-vertical">
      <dt>{{i18n "PROP_INSTANCE_EBS_OPTIMIZED"}}</dt>
      <dd>{{ebsOptimized}}<dd>
    </dl>
  </div>

  <div class="option-group-head expand">{{i18n "PROP_INSTANCE_SG_DETAIL"}}<span class="property-head-num-wrap">(<span id="property-head-sg-num"></span>)</span></div>
  <div class="option-group sg-group"></div>
</article>
