<article class="property-app">
  <div class="option-group-head expand">{{i18n "PROP_LC_TITLE"}}</div>
  <div class="option-group">

    <dl class="dl-vertical">
      <dt>{{i18n "PROP_LC_CREATE_TIME"}}</dt>
      <dd>{{timeStr lc.CreatedTime}}</dd>
    </dl>

    <dl class="dl-vertical">
      <dt>{{i18n "PROP_INSTANCE_AMI"}}</dt>
      <dd>{{imageId}}<dd>
      <dt>{{i18n "PROP_INSTANCE_TYPE"}}</dt>
      <dd>{{instanceType}}</dd>
      <dt>{{i18n "PROP_INSTANCE_KEY_PAIR"}}</dt>
      {{#if app_view}}
      <dd>{{keyName}}</dd>
      {{else}}
      <dd><a href="#" class="icon-download" id="property-app-keypair">{{keyName}}</a></dd>
      {{/if}}
    </dl>

    <dl class="dl-vertical">
      <dt>{{i18n "PROP_INSTANCE_EBS_OPTIMIZED"}}</dt>
      <dd>{{ebsOptimized}}<dd>
    </dl>
  </div>

  {{#if rootDevice}}
  <div class="option-group-head">Root Device</div>
  <div class="option-group">
    <article class="property-app">
      <dl class="dl-vertical">
        <dt>{{i18n "PROP_VOLUME_DEVICE_NAME"}}</dt>
        <dd>{{emptyStr rootDevice.DeviceName}}</dd>
      </dl>
      <dl class="dl-vertical">
        <dt>{{i18n "PROP_VOLUME_TYPE"}}</dt>
        <dd>{{emptyStr rootDevice.Ebs.VolumeType}}</dd>
        {{#if rootDevice.Ebs.SnapshotId}}
        <dt>{{i18n "PROP_VOLUME_SNAPSHOT_ID"}}</dt>
        <dd>{{rootDevice.Ebs.SnapshotId}}</dd>
        {{/if}}
        <dt>{{i18n "PROP_VOLUME_SIZE"}}</dt>
        <dd>{{emptyStr rootDevice.Ebs.VolumeSize}} GB</dd>
        {{#if rootDevice.Ebs.Iops}}
        <dt>IOPS</dt>
        <dd>{{rootDevice.Ebs.Iops}}</dd>
        {{/if}}
      </dl>
    </article>
  </div>
  {{/if}}

  <div class="option-group-head expand">{{i18n "PROP_INSTANCE_SG_DETAIL"}}<span class="property-head-num-wrap">(<span id="property-head-sg-num"></span>)</span></div>
  <div class="option-group sg-group"></div>
</article>
