.DS_Store
*.map
gulpconfig.js

#ignore node_modules
node_modules/

.sass-cache/

#ignore everything related to deploy
qa/
h5-ide-build/
deploy/
build/

#ignore js
src/**/*.js
!src/js/*.js
!src/ui/*.js
!src/vender/**/*.js
!src/component/stateeditor/lib/**/*.js

#ignore MC.template.js
src/ui/MC.template.js

#ignore test
src/test/**/*.js

#ignore util
util/gen_service/out.tmp
util/gen_service/**/*.js
util/gen_model/out.tmp
util/gen_model/**/*.js
util/gen_apilist/out.tmp
util/gen_apilist/**/*.js



