
#ignore demo
src/js/demo/*.js
src/js/demo/**/*.js

#ignore node_modules
node_modules

#ignore components
components

#ignore release
release

#ignore vender
src/vender/**/*.*
!src/vender/canvon/canvon.js

#ignore page
src/js/*.js
src/js/**/*.js
!src/ide/layout.js

#ignore model
src/model/**/*.js
src/model/*.js

#ignore service
src/service/**/*.js
src/service/*.js

#ignore module
src/module/**/*.js
!src/module/canvas/canvas.js

#ignore test
src/test/console/js/login/*.js
src/test/**/*.js

#ignore util
util/genservice/out.tmp
util/gen_service/**/*.js

