*.bat
.DS_Store

#ignore demo
src/js/demo/*.js
src/js/demo/**/*.js

#ignore node_modules
node_modules/**

#ignore components
bower_components/**
components/**

#ignore release publish
release/**
publish/**

#ignore page
src/js/*.js
src/js/**/*.js
!src/js/ide/layout.js

#ignore model
src/model/**/*.js
src/model/*.js

#ignore service
src/service/**/*.js
src/service/*.js

#ignore module
src/module/**/*.js

#ignore lib
src/lib/websocket.js
src/lib/constant.js

#ignore test
src/test/console/js/*.js
src/test/**/*.js
src/test/websocket/request/*.js
!src/test/json_view/*.js

#ignore util
util/gen_service/out.tmp
util/gen_service/**/*.js
util/gen_model/out.tmp
util/gen_model/**/*.js
util/gen_apilist/out.tmp
util/gen_apilist/**/*.js

#ignore event
src/event/*.js

#ignore *.map
*.map