<article class="property-app">
  <dl class="dl-vertical">
    <dt>{{i18n "PROP.VOLUME_ID"}}</dt>
    <dd>{{emptyStr volumeId}}</dd>
    <dt>{{i18n "PROP.VOLUME_DEVICE_NAME"}}</dt>
    <dd>{{emptyStr name}}</dd>
    <dt>{{i18n "PROP.VOLUME_STATE"}}</dt>
    <dd><i class="status status-{{status}}"></i>{{status}}</dd>
    <dt>{{i18n "PROP.VOLUME_CREATE_TIME"}}</dt>
    <dd>{{timeStr createTime}}</dd>
  </dl>
  <dl class="dl-vertical">
    <dt>{{i18n "PROP.VOLUME_TYPE"}}</dt>
    <dd>{{readableVt volumeType}}</dd>
    {{#if snapshotId}}
    <dt>{{i18n "PROP.VOLUME_SNAPSHOT_ID"}}</dt>
    <dd>{{snapshotId}}</dd>
    {{/if}}
    <dt>{{i18n "PROP.VOLUME_SIZE"}}</dt>
    <dd>{{emptyStr size}} GB</dd>
    <dt>{{i18n "PROP.VOLUME_ENCRYPTED"}}</dt>
    <dd>{{#if encrypted}}Encrypted{{else}}Not Encrypted{{/if}}</dd>
    {{#if iops}}
    <dt>IOPS</dt>
    <dd>{{iops}}</dd>
    {{/if}}
  </dl>
  <dl class="dl-vertical">
    <dt>{{i18n "PROP.VOLUME_ATTACHMENT_STATE"}}</dt>
    <dd>{{emptyStr attachmentSet.0.state}}</dd>
    <dt>{{i18n "PROP.VOLUME_INSTANCE_ID"}}</dt>
    <dd>{{emptyStr attachmentSet.0.instanceId}}</dd>
    <dt>{{i18n "PROP.VOLUME_ATTACHMENT_TIME"}}</dt>
    <dd>{{timeStr attachmentSet.0.attachTime}}</dd>
  </dl>

    {{#if isAppEdit}}
        <div class="option-group-head expand">
            {{i18n "PROP.RESOURCE_TAGS"}}
        </div>
        <div class="option-group">
            {{#if tags.length}}
            <table class="table cost-estimation-table">
                <tbody>
                {{#each tags}}
                <tr> <td style="min-width:70px;">{{attributes.key}}</td><td>{{attributes.value}}</td> </tr>
                {{/each}}
                </tbody>
            </table>
            {{else}}
            <div class="empty-tag">{{i18n "PROP.RESOURCE_NO_TAGS"}}</div>
            {{/if}}
            <div class="tags-action">
                <button class="tag-large icon-info"></button>
                <button class="btn open-tag-manager modal-confirm btn-blue">{{i18n "PROP.RESOURCE_EDIT_TAG"}}</button>
            </div>
        </div>
    {{else}}
        {{#if tagSet}}
        <div class="option-group-head">
            {{i18n "PROP.RESOURCE_TAGS"}}
        </div>
        <div class="option-group">
            {{#if tagSet}}
            <table class="table cost-estimation-table">
                <tbody>
                {{#each tagSet}}
                <tr> <td style="min-width:70px;">{{@key}}</td><td>{{this}}</td> </tr>
                {{/each}}
                </tbody>
            </table>
            {{else}}
            <div class="empty-tag">{{i18n "PROP.RESOURCE_NO_TAGS"}}</div>
            {{/if}}
            <div class="tags-action">
                <button class="tag-large icon-info"></button>
            </div>
        </div>
        {{/if}}
    {{/if}}

</article>

