{{#if group}}
{{#unless group.length}}
<div class="option-group-head {{#if readOnly}}expand{{/if}}">Instance Summary</div>
<div class="option-group">
  <dl class="dl-vertical">
    <dt>{{i18n "PROP_INSTANCE_INSTANCE_ID"}}</dt>
    <dd>{{group.id}}</dd>

    <dt>{{i18n "PROP_INSTANCE_STATE"}}</dt>
    <dd><i class="status status-{{group.state}}"></i>{{group.state}}</dd>

    <dt>{{i18n "PROP_INSTANCE_LAUNCH_TIME"}}</dt>
    <dd>{{timeStr group.launchTime}}</dd>
  </dl>
<div>
{{else}}
<div class="option-group-head {{#if readOnly}}expand{{/if}}">Server Group Members ({{group.length}}) <span class="appedit-head-meta">{{group.increment}}</span></div>
<div class="option-group">
  <ul class="appedit-servers-list">
  {{#each group}}
    <li {{#if disabled}}class="disabled"{{/if}}>
      <i class="status status-{{state}}"></i>{{name}}
      {{#if id}}<span class="subtitle">({{id}})</span>{{/if}}
      {{#if isNew}}<div>Launch after applying updates</div>
      {{else}}{{#if isOld}}<div>Terminate after applying updates</div>{{/if}}
      {{/if}}
    </li>
  {{/each}}
  </ul>
<div>
{{/unless}}
{{/if}}
