<article>
	<div class="option-group-head expand">DB Instance Details</div>
	<div class="option-group">

		<section class="property-control-group" data-bind="true">
			<label class="left" for="property-dbinstance-name" >Subnet Group Name</label>
			<span class="required-input right">{{ i18n "PROP_INSTANCE_REQUIRE" }}</span>
			<input class="input"  type="text" value="{{ name }}" id="property-subnet-name" data-ignore="true" data-required-rollback="true"/>
		</section>

		<section class="property-control-group" data-bind="true">
			<label class="left" for="property-dbinstance-name" >Subnet Group Description</label>
			<span class="required-input right">{{ i18n "PROP_INSTANCE_REQUIRE" }}</span>
			<input class="input"  type="text" value="{{ description }}" id="property-subnet-name" data-ignore="true" data-required-rollback="true"/>
		</section>

	</div>

</article>
