#*************************************************************************************
#* Filename     : @@resource-name_vo.coffee
#* Creator      : gen_service.sh
#* Create date  : @@create-date
#* Description  : vo define for @@resource-name
# ************************************************************************************
# (c)Copyright 2012 Madeiracloud  All Rights Reserved
# ************************************************************************************

define [], () ->

    #vo declaration
    #TO-DO

    #public
    #TO-DO

