<article class="property-app" id="subnet-property-panel" data-uid="{{uid}}">

  <div class="option-group-head expand">{{ i18n "PROP_SUBNET_TIT_DETAIL" }}</div>
  <div class="option-group">
    <dl class="dl-vertical">
      <dt>{{ i18n "PROP_SUBNET_APP_ID" }}</dt>
      <dd>{{subnetId}}</dd>

      <dt>{{ i18n "PROP_SUBNET_APP_STATE" }}</dt>
      <dd><i class="status status-{{#if available}}green{{else}}orange{{/if}}"></i>{{state}}</dd>

      <dt>{{ i18n "PROP_SUBNET_APP_CIDR" }}</dt>
      <dd>{{cidrBlock}}</dd>

      <dt>{{ i18n "PROP_SUBNET_APP_AVAILABLE_IP" }}</dt>
      <dd>{{availableIpAddressCount}}</dd>

      <dt>{{ i18n "PROP_SUBNET_APP_VPC_ID" }}</dt>
      <dd>{{vpcId}}</dd>

      <dt>{{ i18n "PROP_SUBNET_APP_RT_ID" }}</dt>
      <dd>{{routeTable}}</dd>
    </dl>
  </div>

  <div class="option-group-head">{{ i18n "PROP_SUBNET_TIT_ASSOC_ACL" }}</div>
  <div class="option-group">
    <ul class="acl-sg-info-list property-list">
      <li>
        <div class="col3 tooltip secondary-panel icon-btn-details" data-uid="{{acl.uid}}" id="property-app-subnet-acl" data-tooltip='{{ i18n "PROP_SUBNET_ACL_TIP_DETAIL" }}'></div>
        <div class="col2">
          <div class="col2-1 truncate">{{acl.name}}</div>
          <div class="col2-2 truncate">{{acl.rule}} {{ i18n "PROP_SUBNET_ACL_LBL_RULE" }}, {{acl.association}} {{ i18n "PROP_SUBNET_ACL_LBL_ASSOC" }}</div>
        </div>
      </li>
    </ul>
  </div>
</article>
