<article class="property-info" style="margin-top:0;">
   <section class="property-control-group">{{i18n "PROP.SGRULE_SELECTED_CONNECTION_REFLECTS_FOLLOWING_SGR"}}</section>
</article>

{{#each sg_group}}

<div class="property-group-head truncate"><span class="sg-color sg-color-rule-header" style="background-color:{{sgColor}}"></span>{{groupName}}</div>
<div class="property-group">
  <ul class="sg-rule-list property-list" id="sg-info-list">
    {{#each rules}}
    <li>
      <div class="rule-list-row">
        <div class="rule-direction-icon icon-{{direction}} tooltip" data-tooltip="{{direction}}"></div>
        {{#if sgColor}}<span class="sg-color" style="background-color:{{sgColor}}"></span>{{/if}}
        <div class="rule-reference truncate tooltip" data-tooltip='{{#ifCond direction "inbound"}}Source{{else}}Destination{{/ifCond}}'>{{ipRanges}}</div>
      </div>
      <div class="rule-list-row">
        <div><span class="rule-protocol tooltip" data-tooltip="{{i18n 'DASH_LBL_PROTOCOL'}}">{{ipProtocol}}</span></div>
        <div class="rule-port tooltip" data-tooltip="{{i18n 'PROP.SG_TIP_PORT_CODE'}}">{{dispPort}}</div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>
{{/each}}
