a {
	color: #528036;
}

#body {
	background: #2B2B2B;
}

header {
	background: #242224;
	position: absolute;
	z-index: 100;
	width: 100%;
	top: 0;
	border-top: 4px solid #b25b91;
	border-bottom: 1px solid #181818;
	padding: 8px 0;
}

#logo_link {
	background: url('../../images/default/login/top_logo.png') center no-repeat;
	height: 41px;
	width: 192px;
	opacity: 0.8;
	margin: 0 auto;
	display: block;
}

#logo_link:hover {
	opacity: 1;
}

#container {
	margin: 0 auto;
	width: 980px;
}

#login_box {
	margin: 300px auto 0;
	width: 340px;
}

#login_title {
	background: url('../../images/default/login/login_here.png') no-repeat;
	height: 25px;
	margin-bottom: 20px;
	position: relative;
}

#register_btn {
	position: absolute;
	right: 0;
	display: block;
	padding: 5px 10px;
	background-color: #82226D;
	color: #f8f8f8;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.login_input {
	display: block;
	margin: 10px 0;
	padding: 10px 5px 10px 38px;
	border-radius: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #1D1D1D #3D3D3E #3D3D3E #1D1D1D;
	width: 297px;
	font-size: 16px;
	color: #ccc;
	background-color: #222222;
	background-repeat: no-repeat;
	outline-color: #75B6EF;
}

#login_user {
	background-image: url('../../images/default/login/login_user.png');
}

#login_password {
	background-image: url('../../images/default/login/login_password.png');
}

#login_footer {
	position: relative;
}

#login_btn {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	background-color: #6193DA;
	padding: 5px 15px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	border: 1px solid #333;
}

footer {
	position: absolute;
	bottom: 0;
	color: #f8f8f8;
	text-align: center;
	width: 100%;
	height: 80px;
}