.prop_main {
  display: block;
  color: #fff;
  font-size: 15px;
}
.prop_main .prop_sub {
  margin-left: 5px;
}
.prop_sub {
  display: inline-block;
  color: #999;
  font-size: 13px;
}
.modal-toolbar .slidebox .content input.input.prop-half-width {
  width: 45%;
  margin-right: 10px;
}
.modal-toolbar .slidebox .content .select {
  background-image: none;
  width: 205px;
  border: 0;
}
