.prop_main {
  display: block;
  color: #fff;
  font-size: 15px;
}
.prop_main .prop_sub {
  margin-left: 5px;
}
.prop_sub {
  display: inline-block;
  color: #999;
  font-size: 13px;
}
.modal-toolbar .slidebox .content input.input.prop-half-width {
  width: 45%;
}
.modal-toolbar .slidebox .content .select {
  background-image: none;
  width: 205px;
  border: 0;
}
.pg-edit-footer .blue-link {
  color: #175d99;
  display: inline-block;
  margin: 18px 15px;
}
#sort-parameter-name {
  display: inline-block;
  width: 200px;
}
.modal-toolbar .slidebox .pull-left {
  float: left;
}
.modal-toolbar .slidebox .pull-right {
  float: right;
}
#pg-sort-filter {
  padding: 0 10px;
  border-bottom: 1px solid #070707;
}
#pg-sort-filter input.input {
  width: 300px;
}
