.prop_main {
  display: block;
  color: #fff;
  font-size: 15px;
}
.prop_main .prop_sub {
  margin-left: 5px;
}
.prop_sub {
  display: inline-block;
  color: #999;
  font-size: 13px;
}
.modal-toolbar .slidebox .content input.input.prop-half-width {
  width: 45%;
}
.modal-toolbar .slidebox .content .select {
  background-image: none;
  width: 205px;
  background-color: #1c1c1c;
  color: #d0d0d0;
  border: 1px solid #000;
  display: inline-block;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal-toolbar .slidebox .content select.select:active,
.modal-toolbar .slidebox .content select.select:focus {
  outline: none;
}
.modal-toolbar .slidebox .content select.select:disabled,
.modal-toolbar .slidebox .content select.select.disabled {
  background: #3f3f3f;
  color: #666;
  border-color: #3f3f3f;
}
.pg-edit-footer .blue-link {
  color: #175d99;
  display: inline-block;
  margin: 18px 15px;
}
#sort-parameter-name {
  display: inline-block;
  width: 200px;
}
.modal-toolbar .slidebox .pull-left {
  float: left;
}
.modal-toolbar .slidebox .pull-right {
  float: right;
}
#pg-sort-filter {
  padding: 0 10px;
  border-bottom: 1px solid #070707;
}
#pg-sort-filter input.input {
  width: 300px;
}
.detail-info.horizontal .detail-info-row {
  margin-left: 0 !important;
  padding: 0 5%;
}
.detail-info.horizontal .property-control-group > label {
  width: 145px;
  text-align: right;
  padding-right: 10px;
}
.detail-info.horizontal .property-control-group > div {
  display: inline-block;
}
.modal-toolbar .table-head-fix .table tr .detail-info.horizontal .detail-info-row {
  width: 40% !important;
}
.option-group-category {
  display: block;
  padding: 6px 12px;
  background: #515151;
  border: 1px solid #414141;
}
