#asg-policy-notify-label {
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none; }

.sns-policy-field {
  display: none; }

.icon-tag-sub {
  display: inline-block;
  height: 13px;
  width: 40px;
  padding-bottom: 2px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 13px;
  color: #fff;
  text-align: center;
  background: #417505; }

.icon-tag-email {
  display: inline-block;
  height: 13px;
  width: 40px;
  padding-bottom: 2px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 13px;
  color: #fff;
  text-align: center;
  background: #f5a623; }

#sns-placeholder .combo-dd-list > p, .policy-sns-placeholder .combo-dd-list > p {
  margin: 0; }
#sns-placeholder .selection > p, .policy-sns-placeholder .selection > p {
  display: none; }
#sns-placeholder li.item > p, .policy-sns-placeholder li.item > p {
  margin: 0; }

.sns-manage .slide-create .before-create > div {
  margin: 5px 0; }
.sns-manage .slide-create .selection {
  width: 456px; }
.sns-manage .slide-create .new-topic {
  border-bottom: 1px solid #0f0f0f; }
.sns-manage .table-head-fix .table tr td.show-detail::before {
  content: '\F124';
  font: 16px/1em "MCIcon";
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  margin-left: -15px;
  margin-right: 4px; }
.sns-manage .table-head-fix .table tr.detailed td.show-detail::before {
  content: '\F121'; }
.sns-manage .t-m-content tr > td:nth-of-type(4)
, .sns-manage .table-head tr > th:nth-of-type(4) {
  text-align: center; }
.sns-manage .tr-detail > td {
  padding: 0; }
.sns-manage .tr-detail table.sns-detail thead tr th {
  padding: 8px 12px;
  background: #111; }
.sns-manage .tr-detail table.sns-detail tr td {
  border: 0;
  background: #222; }
  .sns-manage .tr-detail table.sns-detail tr td a.remove {
    color: #D0021B;
    cursor: pointer; }
  .sns-manage .tr-detail table.sns-detail tr td div.do-remove-panel {
    display: none; }
.sns-manage .tr-detail table.sns-detail tr:hover td {
  background: #000; }

.sns-dropdown .selection > span {
  color: #ec3c38; }
