<section class="system-image">
    <header>
        Server
        <aside class="selectbox">
            <div class="selection">{{ i18n "RES_LBL_QUICK_START_AMI" }}</div>
            <ul class="dropdown">
              <li class="item selected" data-id="QuickStartAmi">{{ i18n "RES_LBL_QUICK_START_AMI" }}</li>
              <li class="item" data-id="MyAmi">{{ i18n "RES_LBL_MY_AMI" }}</li>
              <li class="item" data-id="FavoriteAmi">{{ i18n "RES_LBL_FAVORITE_AMI" }}</li>
          </ul>
      </aside>
    </header>
    <article>
        <ul class="nano-content resource-list-ami" tabindex="0">
            <li class="bubble resource-item instance" data-bubble-template="resPanelAmiInfo" data-bubble-data="{&quot;region&quot;:&quot;us-east-1&quot;,&quot;imageId&quot;:&quot;ami-aacb17c2&quot;}" data-type="INSTANCE" data-option="{&quot;imageId&quot;:&quot;ami-aacb17c2&quot;}">

                <div class="resource-icon-instance"><img src="/assets/images/ide/ami/windows.x86_64.ebs.png" width="39" height="27"></div>
                Windows_Server-2012-RTM-English-64Bit-SQL_2012_SP1_Web-2014.08.13
            </li>
        </ul>
    </article>
</section>

<section class="test">
    <header>
        Server
        <aside class="selectbox">
            <div class="selection">{{ i18n "RES_LBL_QUICK_START_AMI" }}</div>
            <ul class="dropdown">
              <li class="item selected" data-id="QuickStartAmi">{{ i18n "RES_LBL_QUICK_START_AMI" }}</li>
              <li class="item" data-id="MyAmi">{{ i18n "RES_LBL_MY_AMI" }}</li>
              <li class="item" data-id="FavoriteAmi">{{ i18n "RES_LBL_FAVORITE_AMI" }}</li>
          </ul>
      </aside>
  </header>
  <article>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
</article>
<article>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
</article>
<article>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
</article>
</section>

<section class="test2">
    <header>
        Server
        <aside class="selectbox">
            <div class="selection">{{ i18n "RES_LBL_QUICK_START_AMI" }}</div>
            <ul class="dropdown">
              <li class="item selected" data-id="QuickStartAmi">{{ i18n "RES_LBL_QUICK_START_AMI" }}</li>
              <li class="item" data-id="MyAmi">{{ i18n "RES_LBL_MY_AMI" }}</li>
              <li class="item" data-id="FavoriteAmi">{{ i18n "RES_LBL_FAVORITE_AMI" }}</li>
          </ul>
      </aside>
  </header>
  <article>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
</article>
<article>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
</article>
<article>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
</article>
</section>