<section class="system-image">
    <header>
        Server
        <aside class="selectbox">
            <div class="selection">{{ i18n "RES_LBL_QUICK_START_AMI" }}</div>
            <ul class="dropdown">
              <li class="item selected" data-id="QuickStartAmi">{{ i18n "RES_LBL_QUICK_START_AMI" }}</li>
              <li class="item" data-id="MyAmi">{{ i18n "RES_LBL_MY_AMI" }}</li>
              <li class="item" data-id="FavoriteAmi">{{ i18n "RES_LBL_FAVORITE_AMI" }}</li>
          </ul>
      </aside>
  </header>
  <article>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
</article>
<article>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
</article>
<article>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
    <p>SSSSSSSSSSSS</p>
</article>
</section>

<section class="test">
    <header>
        Server
        <aside class="selectbox">
            <div class="selection">{{ i18n "RES_LBL_QUICK_START_AMI" }}</div>
            <ul class="dropdown">
              <li class="item selected" data-id="QuickStartAmi">{{ i18n "RES_LBL_QUICK_START_AMI" }}</li>
              <li class="item" data-id="MyAmi">{{ i18n "RES_LBL_MY_AMI" }}</li>
              <li class="item" data-id="FavoriteAmi">{{ i18n "RES_LBL_FAVORITE_AMI" }}</li>
          </ul>
      </aside>
  </header>
  <article>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
</article>
<article>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
</article>
<article>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
    <p>BBBBBBBBBBBB</p>
</article>
</section>

<section class="test2">
    <header>
        Server
        <aside class="selectbox">
            <div class="selection">{{ i18n "RES_LBL_QUICK_START_AMI" }}</div>
            <ul class="dropdown">
              <li class="item selected" data-id="QuickStartAmi">{{ i18n "RES_LBL_QUICK_START_AMI" }}</li>
              <li class="item" data-id="MyAmi">{{ i18n "RES_LBL_MY_AMI" }}</li>
              <li class="item" data-id="FavoriteAmi">{{ i18n "RES_LBL_FAVORITE_AMI" }}</li>
          </ul>
      </aside>
  </header>
  <article>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
</article>
<article>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
</article>
<article>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
    <p>NNNNNNNNNNNN</p>
</article>
</section>