		#check callback
		if callback is null
			console.log "@@service_name.@@api_name callback is null"
			return false

		try

			param = [ username, password ]

			MC.api {
				url     : URL
				method  : '@@api_name'
				data    : param
				success : ( result, return_code ) ->

					#resolve result
					result_vo.forge_result = @@parser_name.@@parser_fn result, return_code, param

					callback result_vo.forge_result

				error : ( result, return_code ) ->

					result_vo.forge_result.return_code      = return_code
					result_vo.forge_result.is_error         = true
					result_vo.forge_result.error_message    = result.toString()

					callback result_vo.forge_result
			}

		catch error
			console.log "@@service_name.@@api_name error:" + error.toString()


		true
	# end of @@api_name()