{{#if modeIsAppEdit}}
<dl class="dl-vertical">ID<dt></dt><dd>{{app.id}}</dd>
    Status<dt></dt><dd class="os-status os-status-{{app.status}}">{{app.status}}</dd>
    <dt>Subnet ID</dt><dd>{{app.subnet_id}}</dd></dl>
{{/if}}

<div class="option-group-head expand">
    Pool
</div>
<div class="option-group pool-details">
    <section class="group required">
        <label class="name">Name</label>
        <input data-id="pool-name" data-target="name" class="selection string" value="{{name}}"/>
    </section>

    <section class="group">
        <label class="name">Description</label>
        <input data-target="description" class="selection string" value="{{description}}"/>
    </section>

    <section class="group required">
        <label class="name">Protocol</label>
        <select class="selection option" value="{{protocol}}" data-target="protocol" data-id="pool-protocol" {{#if modeIsAppEdit}}disabled{{/if}}>
            <option value='HTTP'>HTTP</option>
            <option value='HTTPS'>HTTPS</option>
            <option value='TCP'>TCP</option>
        </select>
    </section>

    <section class="group required">
        <label class="name">Load Balancing Method</label>
        <select class="selection option" value="{{method}}" data-target="method" data-id="listener-method">
            <option value='ROUND_ROBIN'>Round Robin</option>
            <option value='LEAST_CONNECTIONS'>Least Connections</option>
            <option value='SOURCE_IP'>Source IP</option>
        </select>
    </section>
</div>

<div class="option-group-head expand">
    Member({{mems.length}})
</div>
<div class="option-group" data-model="mem">
    {{#each mems}}
    <header>{{osport.name}}</header>
    <section class="group required">
        <label class="name">Weight</label>
        <input data-id="mem-weight" data-index="{{@index}}" data-target="weight" class="selection string" value="{{weight}}"/>
    </section>

    <section class="group required">
        <label class="name">Protocol Port</label>
        <input data-id="mem-port" data-target="port" data-index="{{@index}}" class="selection string" value="{{port}}"/>
    </section>
    {{else}}
    <div class="os-property-message">
        <h5>No Member</h5>
        Connect Pool with Port or Server to register as Member
    </div>
    {{/each}}
</div>
