<div class="validation-content">
	<ul class="tab">
		<li class="active {{#unless error_list.length}}no-item{{/unless}}" data-tab-target="#item-error">Error<span class="validation-counter validation-counter-error">{{ error_list.length }}</span></li>
		<li data-tab-target="#item-warning" class="{{#unless warning_list.length}}no-item{{/unless}}">Warning<span class="validation-counter validation-counter-warning">{{ warning_list.length }}</span></li>
		<li data-tab-target="#item-notice">Notice<span class="validation-counter validation-counter-notice {{#unless notice_list.length}}no-item{{/unless}}">{{ notice_list.length }}</span></li>
	</ul>
	<div class="content_wrap">
		<div id="item-error" class="content active">
			{{#each error_list }}
				<div class="title" data-key="{{ key }}" data-type="{{ type }}">
					{{ info }}
				</div>
			{{/each}}
		</div>
		<div id="item-warning" class="content">
			{{#each warning_list }}
				<div class="title" data-key="{{ key }}" data-type="{{ type }}">
					{{ info }}
				</div>
			{{/each}}
		</div>
		<div id="item-notice" class="content">
			{{#each notice_list }}
				<div class="title" data-key="{{ key }}" data-type="{{ type }}">
					{{ info }}
				</div>
			{{/each}}
		</div>
	</div>
</div>