/* Font Family */

@font-face
{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/LatoRegular.woff') format('woff');
}

@font-face
{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/LatoBold.woff') format('woff');
}

@font-face
{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato Light'), local('Lato-Light'), url('../fonts/LatoLight.woff') format('woff');
}

@mixin font-mono {
	font-family: "Consolas","Monaco","Ubuntu Mono",monospace !important;
}

@mixin font-major {
	font-family: 'Lato', 'Helvetica Neue', Arial, "Hiragino Sans GB", "Microsoft YaHei",
             "WenQuanYi Micro Hei", sans-serif;
}

/* Hack custom fonts loading */

@media (min-width: 1px) {
	body {
		font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
	}

	.locale-en {
		font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
	}

	.locale-zh {
		font-family: 'Lato', 'Helvetica Neue', 'Microsoft Yahei', Arial, sans-serif;
	}

	.locale-zh button,
	.locale-zh input,
	.locale-zh select,
	.locale-zh textarea {
		font-family: 'Lato', 'Helvetica Neue', 'Microsoft Yahei', Arial, sans-serif;
	}
}

/* Basic Typesetting */

body {
	font-family : Lato, "Helvetica Neue", "Helvetica", Arial, "Hiragino Sans GB", "Microsoft YaHei",
             "WenQuanYi Micro Hei", sans-serif;;
	color       : desaturate(lighten($light-p, 30%),10%);
	font-size   : 14px;
}

@mixin a-style {
	color           : $base-b;
	text-decoration : none;
	cursor          : pointer;

	&:hover {
		color: adjust_hue(lighten($base-b,10%),-10deg);
	}
}

a {
	@include a-style;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
}

p {
	font-size: 1em;
}

code, pre {
	background    : #000;
	color         : $dark-g;
	font-size     : 14px;
	border-radius : 3px;

	@include font-mono;
}

pre {
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	display: block;
	padding: 9.5px;
	margin: 10px 0;
	font-size: 13px;
	line-height: 20px;
}

/* Conditional Style */


.link-style {
	cursor : pointer;

	&:hover {
		text-decoration : underline;
	}
}

.truncate {
	white-space       : nowrap;
	overflow          : hidden;
	text-overflow     : ellipsis;
	-o-text-overflow  : ellipsis;
	-ms-text-overflow : ellipsis;
	display           : inline-block;
}

@mixin truncate {
	white-space       : nowrap;
	overflow          : hidden;
	text-overflow     : ellipsis;
	-o-text-overflow  : ellipsis;
	-ms-text-overflow : ellipsis;
	// display           : inline-block;
}
