/* Wrapper and header */
#global-region-header {
  padding: 10px 0;
  position: absolute;
  z-index: 5;
  background: rgba(42, 46, 49, 0.9);
  box-shadow: 1px 5px 5px rgba(22, 22, 23, 0.1);
  width: 100%;
  height: 38px; }
  #global-region-header > .btn {
    float: left;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    text-align: left;
    color: #fff;
    font-size: 16px;
    padding: 0 16px 0 0;
    margin-left: 10px; }
    #global-region-header > .btn[disabled] {
      color: #999; }
    #global-region-header > .btn:before {
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      float: left;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 3px 0 0 3px;
      margin-right: 10px; }

/* Create Stack */
#global-region-create-stack-list {
  position: absolute;
  left: 10px;
  top: 49px;
  width: 216px;
  border: 1px solid #ccc;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  color: #666;
  font-size: 14px;
  background: #f8f8f8; }
  #global-region-create-stack-list li {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer; }
    #global-region-create-stack-list li:last-child {
      border-bottom: none; }
    #global-region-create-stack-list li:hover {
      background: #eee;
      color: #148BE6; }

/* Import JSON */
#modal-import-json-dropzone {
  border: 3px dashed #3A3A3A;
  background: #141212;
  padding: 60px 30px;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center; }
  #modal-import-json-dropzone.dragover {
    background: #2E323A;
    border-color: #148BE6; }

.dragover .select-file-link, .dragover #modal-import-json-file {
  pointer-events: none; }

#modal-import-json-file {
  display: none; }

#import-json-error {
  color: #ec3c38; }

.select-file-link {
  color: #148BE6;
  cursor: pointer; }
  .select-file-link:hover {
    text-decoration: underline; }

/* Refresh Resource */
#RefreshResource {
  font-size: 12px;
  position: absolute;
  right: 25px;
  top: 18px;
  color: #aaa;
  display: block;
  cursor: pointer;
  -webkit-transform-origin: 12px 12px;
  -moz-transform-origin: 12px 12px;
  transform-origin: 12px 12px; }
  #RefreshResource:hover {
    color: #148BE6; }
  #RefreshResource:before {
    margin-right: 4px;
    font-size: 12px;
    line-height: 18px; }

.icon-refresh.reloading {
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear; }
  .icon-refresh.reloading:before {
    margin: 0; }

#global-region-wrap {
  height: 100%;
  background: #f0f0f0; }

/* The map */
.global-map-item {
  position: absolute;
  cursor: pointer;
  width: 100px;
  height: 50px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.95);
  position: absolute;
  top: -37px;
  left: 10px;
  border-radius: 2px;
  font-size: 12px;
  color: #f3f3f3; }
  .global-map-item:before {
    content: " ";
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: #ff8330;
    display: block;
    position: absolute; }
  .global-map-item:hover {
    box-shadow: 1px 1px 10px rgba(200, 200, 200, 0.6); }
  .global-map-item > h5 {
    border-bottom: 1px solid #1c1c1c;
    padding: 3px 6px;
    font-size: 12px; }
  .global-map-item .global-region-location {
    width: 50%;
    float: left;
    padding: 0 0 0 30px;
    height: 26px;
    line-height: 26px;
    background: url('/assets/images/ide/global-region-app-stack-s.png') 6px -3px no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .global-map-item .global-region-location.stack {
    background-position: 6px -32px; }

#us-east-1 {
  top: 159px;
  left: 214px; }
  #us-east-1:before {
    top: 26px;
    left: -10px; }

#us-west-1 {
  top: 206px;
  left: 108px; }
  #us-west-1:before {
    top: -12px;
    left: 3px; }

#us-west-2 {
  top: 121px;
  left: 77px; }
  #us-west-2:before {
    top: 55px;
    left: 25px; }

#eu-west-1 {
  top: 89px;
  left: 344px; }
  #eu-west-1:before {
    top: 22px;
    left: -11px; }

#sa-east-1 {
  top: 306px;
  left: 270px; }
  #sa-east-1:before {
    top: 27px;
    left: -11px; }

#ap-southeast-1 {
  top: 232px;
  left: 505px; }
  #ap-southeast-1:before {
    top: 27px;
    left: 105px; }

#ap-southeast-2 {
  top: 315px;
  left: 617px; }
  #ap-southeast-2:before {
    top: 27px;
    left: 104px; }

#ap-northeast-1 {
  top: 140px;
  left: 676px; }
  #ap-northeast-1:before {
    top: 27px;
    left: -11px; }

#global-region-map-wrap {
  padding: 60px 0 20px;
  width: 100%;
  background-color: #465061;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)); }

#global-region-map-content {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative; }

#global-region-spot {
  width: 787px;
  height: 423px;
  background: url('/assets/images/ide/global-dotted-map.png') no-repeat;
  margin: 24px 0 10px 48px; }

#global-region-status-widget {
  position: absolute;
  right: 0;
  top: 0;
  width: 390px;
  min-height: 425px;
  background: #fff;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3); }

.global-region-status-tab {
  text-align: center;
  float: left;
  width: 50%;
  background: #323e49;
  position: relative;
  height: 145px;
  padding-top: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .global-region-status-tab.on {
    background: #283138; }
    .global-region-status-tab.on:before {
      position: absolute;
      left: 50%;
      margin-left: -10px;
      bottom: 0;
      border: 10px solid transparent;
      content: '';
      border-bottom-color: #fff; }
  .global-region-status-tab.stack > span {
    background-position: 0 -120px; }
  .global-region-status-tab > span {
    display: inline-block;
    padding-left: 58px;
    font-size: 36px;
    color: #e6e6e6;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    background: url('/assets/images/ide/global-region-app-stack.png') no-repeat; }
  .global-region-status-tab > h5 {
    color: #ccc;
    font-size: 14px;
    margin-top: 10px; }

/* Responsive design for dashboard */
@media only screen and (max-width: 1280px) {
  #global-region-map-content {
    max-width: 940px; }

  #global-region-status-widget {
    width: 100%;
    position: static; } }
#global-region-recent-list .empty-text {
  position: absolute;
  width: 100%;
  height: 20px;
  line-height: 20px;
  top: 50%;
  margin-top: -10px;
  left: 0;
  color: #999;
  text-align: center; }
#global-region-recent-list > section {
  height: 289px;
  position: relative;
  overflow: hidden; }
  #global-region-recent-list > section > h4 {
    border-bottom: 1px solid #eee;
    padding: 0 15px;
    color: #999;
    height: 38px;
    line-height: 38px;
    font-size: 14px; }
#global-region-recent-list .recent-list-item {
  cursor: pointer;
  padding: 7px 15px;
  font-size: 12px;
  color: #999; }
  #global-region-recent-list .recent-list-item:last-child {
    border-radius: 0 0 2px 2px; }
  #global-region-recent-list .recent-list-item:hover {
    background: #f8f8f8; }
    #global-region-recent-list .recent-list-item:hover > h5 {
      text-decoration: underline; }
  #global-region-recent-list .recent-list-item > h5 {
    font-size: 14px;
    color: #148BE6;
    line-height: 21px; }
  #global-region-recent-list .recent-list-item .recent-time {
    float: right;
    font-style: italic;
    color: #ccc; }

/* AWS resources table */
#dashboard-data-wrap {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px 0 40px;
  width: 95%; }
  #dashboard-data-wrap .resource-count {
    padding-left: 60px;
    font-size: 40px;
    background: url('/assets/images/ide/global-region-icon2.png') left top no-repeat; }
  #dashboard-data-wrap .instances .resource-count {
    background-position: left -2px; }
  #dashboard-data-wrap .eips .resource-count {
    background-position: left -57px; }
  #dashboard-data-wrap .volumes .resource-count {
    background-position: left -112px; }
  #dashboard-data-wrap .vpcs .resource-count {
    background-position: left -167px; }
  #dashboard-data-wrap .vpns .resource-count {
    background-position: left -222px; }
  #dashboard-data-wrap .asgs .resource-count {
    background-position: left -277px; }
  #dashboard-data-wrap .elbs .resource-count {
    background-position: left -332px; }
  #dashboard-data-wrap .cloudwatches .resource-count {
    background-position: left -387px; }
  #dashboard-data-wrap .snss .resource-count {
    background-position: left -442px; }

#region-switch {
  z-index: 35;
  display: block;
  width: 125px;
  text-align: left;
  padding: 10px;
  font-size: 16px; }
  #region-switch:hover {
    background: #34A3F8; }

#GlobalView, #RegionView {
  margin-top: 15px; }

#GlobalView .dashboard-loading {
  background: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  position: relative;
  height: 600px; }
#GlobalView > li {
  float: left;
  width: 19.2%;
  margin-right: 1%;
  border: 1px solid #ccc;
  background: #f6f6f6;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #GlobalView > li:last-child {
    margin-right: 0; }
  @media (max-width: 1000px) {
    #GlobalView > li {
      font-size: 18px; } }
#GlobalView .instances {
  color: #17a03a; }
#GlobalView .eips {
  color: #ffa740; }
#GlobalView .volumes {
  color: #25a4f4; }
#GlobalView .elbs {
  color: #1B7FCC; }
#GlobalView .vpns {
  color: #9C6DC0; }
#GlobalView hgroup {
  text-align: center;
  background: #fff;
  padding: 1.5em 0; }
  #GlobalView hgroup > h5 {
    color: #676767;
    font-size: 0.8em;
    line-height: 2em;
    margin-top: 0.5em; }
#GlobalView .global-resource-li {
  border-top: 1px solid #ddd;
  padding: 8% 10%;
  cursor: pointer; }
  #GlobalView .global-resource-li:hover {
    background: #fcfcfc; }
  #GlobalView .global-resource-li .count {
    float: right;
    font-size: 1.5em; }
  #GlobalView .global-resource-li > h4 {
    color: #148BE6;
    font-size: 0.9em; }
  #GlobalView .global-resource-li > h5 {
    color: #b2b2b2;
    font-size: 0.6em;
    margin-top: 3px; }

#RegionResourceNav {
  border-bottom: 1px solid #323E49;
  margin-bottom: -1px;
  background: #fcfcfc; }
  #RegionResourceNav > .resource-tab {
    float: left;
    position: relative;
    width: 11%;
    padding: 1.3% 0;
    cursor: pointer; }
    #RegionResourceNav > .resource-tab .resource-count {
      padding-left: 0;
      padding-top: 55px;
      height: 5px;
      font-size: 12px;
      display: block;
      text-align: center;
      margin: 0 auto 10px;
      color: #999;
      background-position-x: center; }
    #RegionResourceNav > .resource-tab:first-child {
      margin-left: 0.5%; }
    #RegionResourceNav > .resource-tab::after {
      position: absolute;
      left: 50%;
      bottom: 0;
      display: none;
      margin-left: -8px;
      border: 8px solid transparent;
      content: ''; }
    #RegionResourceNav > .resource-tab:hover::after {
      display: block;
      border-bottom-color: #92a4b5; }
    #RegionResourceNav > .resource-tab.on::after {
      display: block;
      border-bottom-color: #323E49; }
    #RegionResourceNav > .resource-tab .count-bubble {
      border-radius: 4px;
      padding: 2px 6px;
      background: #F0F0F0;
      color: #148BE6;
      top: 8px;
      left: 50%;
      margin-left: 15px;
      position: absolute;
      font-size: 14px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0px rgba(255, 255, 255, 0.8);
      border: 1px solid #ccc;
      text-shadow: 0 1px 0 #fff; }

#RegionViewWrap {
  margin-top: 18px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #bbb;
  background: #edf1f3; }

/* Region view */
.blank-widget {
  margin-top: 14px;
  text-align: center;
  padding: 70px 0;
  color: #999; }

#RegionResourceData {
  min-height: 460px; }
  #RegionResourceData .table-app-link {
    cursor: pointer;
    color: #148BE6;
    max-width: 200px;
    float: left; }
    #RegionResourceData .table-app-link:hover {
      text-decoration: underline; }
  #RegionResourceData .table-app-link-wrap:after {
    content: " ";
    clear: both;
    display: block; }
  #RegionResourceData .icon-detail {
    color: #666;
    cursor: pointer; }
    #RegionResourceData .icon-detail:hover {
      color: #148BE6; }
  #RegionResourceData .bubble {
    text-decoration: underline;
    cursor: default; }
  #RegionResourceData .scroll-wrap {
    height: 420px; }
  #RegionResourceData .table td {
    vertical-align: middle; }
  #RegionResourceData .table-head th {
    padding: 10px 15px;
    font-size: 12px;
    background: #323e49;
    font-weight: 500;
    border: none; }
  #RegionResourceData th:hover {
    background: #55626e; }
  #RegionResourceData td {
    padding: 15px;
    background: #edf1f3;
    border: none;
    color: #666; }
  #RegionResourceData tr:nth-child(odd) > td {
    background: #e8ebed; }

.region-resource-list > li {
  float: left;
  margin-left: 1.6%;
  margin-top: 15px;
  display: block;
  width: 18%;
  position: relative;
  cursor: pointer;
  background: #323e49;
  border-radius: 5px; }
  .region-resource-list > li:hover {
    background: #28313a; }
  .region-resource-list > li.disabled {
    cursor: default;
    opacity: .8; }
    .region-resource-list > li.disabled:hover {
      background: #323e49; }
  .region-resource-list > li:last-child {
    margin-bottom: 15px; }
.region-resource-list .loading-spinner {
  width: 12px;
  height: 12px;
  position: static;
  float: left;
  margin: 5px 5px 0 0; }
.region-resource-list .thumbnail {
  height: 0;
  padding-bottom: 65%;
  background: #55626f url('/assets/images/ide/thumbnail-stack-placehoder@2x.png') center center no-repeat;
  background-size: 100% auto;
  overflow: hidden;
  border-radius: 5px 5px 0 0; }
  .region-resource-list .thumbnail.app-thumbnail {
    background-image: url('/assets/images/ide/thumbnail-app-placehoder@2x.png');
    background-size: 100% auto; }
  .region-resource-list .thumbnail img {
    width: 100%;
    height: auto;
    border: 1px solid #55626e;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.region-resource-list [class^="icon-app-type-"], .region-resource-list [class*=" icon-app-type-"] {
  position: absolute;
  top: 5px;
  right: 5px; }
@media (max-width: 1030px) {
  .region-resource-list > li {
    width: 22.5%;
    margin-left: 2%; }
  .region-resource-list .blank-widget {
    padding: 14.55% 0 27px 0; } }
.region-resource-list .blank-widget {
  margin: 15px 1.6%;
  padding: 11.7% 0 27px 0;
  position: relative; }
  .region-resource-list .blank-widget > div {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%); }
.region-resource-list .region-resource-progess {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 27px;
  z-index: -1;
  border-radius: 0 0 0 5px;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #ad77d7), color-stop(0.25, #9e62d4), color-stop(0.5, #9e62d4), color-stop(0.5, #ad77d7), color-stop(0.75, #ad77d7), color-stop(0.75, #9e62d4), to(#9e62d4));
  background-image: -webkit-linear-gradient(135deg, #ad77d7 25%, #9e62d4 25%, #9e62d4 50%, #ad77d7 50%, #ad77d7 75%, #9e62d4 75%, #9e62d4);
  background-image: -moz-linear-gradient(135deg, #ad77d7 25%, transparent 25%, transparent 50%, #ad77d7 50%, #ad77d7 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, #ad77d7 25%, #9e62d4 25%, #9e62d4 50%, #ad77d7 50%, #ad77d7 75%, #9e62d4 75%, #9e62d4);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-animation: progress-bar 2s linear infinite;
  -moz-animation: progress-bar 2s linear infinite;
  animation: progress-bar 2s linear infinite; }
.region-resource-list .region-resource-info {
  padding-left: 12px;
  position: relative;
  height: 27px;
  line-height: 27px;
  color: #eee;
  font-size: 12px;
  display: block; }
  .region-resource-list .region-resource-info:before {
    font-size: 12px;
    margin-right: 2px; }
  .region-resource-list .region-resource-info > i {
    float: right;
    border-left: 1px solid #2d2d2d;
    width: 30px;
    height: 27px;
    line-height: 30px;
    text-align: center;
    color: #ddd; }
    .region-resource-list .region-resource-info > i:hover {
      background: #2d2d2d;
      color: #fefefe; }
    .region-resource-list .region-resource-info > i:first-child {
      border-radius: 0 0 5px 0; }
  .region-resource-list .region-resource-info i.icon-terminate:hover, .region-resource-list .region-resource-info i.icon-delete:hover {
    color: #ec3c38; }
  .region-resource-list .region-resource-info > span {
    max-width: 120px; }
  .region-resource-list .region-resource-info > .icon-pending:before {
    font-size: 10px;
    line-height: 10px;
    height: 10px;
    color: #999;
    margin-right: 4px; }
  .region-resource-list .region-resource-info > .running, .region-resource-list .region-resource-info > .stopped {
    padding-left: 14px;
    background: url('/assets/images/ide/icon-app-running-16x16.png') left center no-repeat; }
  .region-resource-list .region-resource-info > .stopped {
    background-image: url('/assets/images/ide/icon-app-stopped-16x16.png'); }

#region-app-stack-wrap {
  position: relative; }
  #region-app-stack-wrap .scroll-wrap {
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #bbb;
    max-height: 370px; }

#region-resource-tab {
  position: absolute;
  right: 0;
  top: -49px;
  border-radius: 5px 5px 0 0;
  z-index: 5;
  box-shadow: 3px -2px 3px rgba(0, 0, 0, 0.05); }
  #region-resource-tab > li {
    float: left;
    width: 170px;
    height: 48px;
    line-height: 49px;
    position: relative;
    text-align: center;
    border: 1px solid #bbb;
    background: #F3F3F3;
    cursor: pointer;
    font-size: 21px;
    color: #666;
    background: #f3f3f3 url('/assets/images/ide/global-region-app-stack-m.png') 20px top no-repeat; }
    #region-resource-tab > li > small {
      font-size: 12px;
      color: #ccc; }
    #region-resource-tab > li:first-child {
      border-radius: 3px 0 0 0; }
    #region-resource-tab > li:last-child {
      border-left: none;
      border-radius: 0 3px 0 0; }
    #region-resource-tab > li.on {
      background-color: #fff;
      box-shadow: none;
      border-bottom: none;
      height: 49px; }
    #region-resource-tab > li.stack {
      background-position: 20px -50px; }

#btn-create-stack {
  border: none;
  background: none;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  color: #999;
  cursor: pointer; }
  #btn-create-stack:hover {
    color: #9C6DC0; }

#region-resource-stack-wrap .blank-widget:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 8px;
  width: 114px;
  height: 119px;
  background: url('/assets/images/ide/action-guide.png') top right no-repeat; }

#region-switch-list {
  position: absolute;
  background: #FFF;
  top: 40px;
  left: 0;
  z-index: 35;
  border: 1px solid #CCC;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  width: 163px; }
  #region-switch-list > li {
    display: block;
    padding: 15px 10px;
    font-size: 14px;
    color: #666;
    cursor: pointer; }
    #region-switch-list > li:hover {
      background-color: #eee;
      color: #148BE6; }

@-webkit-keyframes progress-bar {
  from {
    background-position: 0 0; }

  to {
    background-position: 40px 0; } }

@-moz-keyframes progress-bar {
  from {
    background-position: 0 0; }

  to {
    background-position: 40px 0; } }

@keyframes progress-bar {
  from {
    background-position: 0 0; }

  to {
    background-position: 40px 0; } }

/*unmanaged-VPC-modal*/
#VisualizeReload {
  display: block;
  margin: 20px auto; }

#VisualizeVpcDialog {
  position: relative;
  min-height: 100%; }
  #VisualizeVpcDialog .loading-spinner {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -21px; }
  #VisualizeVpcDialog .unmanaged-vpc-empty {
    padding: 160px 10px;
    text-align: center;
    color: #aaa; }
  #VisualizeVpcDialog .region-header {
    padding: 10px 15px;
    background: #131313;
    font-size: 12px; }
    #VisualizeVpcDialog .region-header .vpc-count {
      font-size: 13px;
      float: right;
      border-radius: 3px;
      background: #333;
      padding: 2px 4px;
      color: #ccc;
      margin-top: 3px; }
  #VisualizeVpcDialog .region-name {
    font-size: 20px;
    font-weight: 700;
    color: #ccc;
    margin-right: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05); }
  #VisualizeVpcDialog .visualize-vpc {
    float: left;
    color: #999;
    width: 100%;
    height: 120px;
    font-size: 12px;
    display: block;
    border-bottom: 1px solid #111;
    border-radius: 2px;
    position: relative; }
    #VisualizeVpcDialog .visualize-vpc:hover {
      background: rgba(0, 0, 0, 0.04); }
    #VisualizeVpcDialog .visualize-vpc h5 {
      font-size: 16px;
      color: #ccf;
      margin-bottom: 5px;
      padding: 15px; }
      #VisualizeVpcDialog .visualize-vpc h5 span {
        font-size: 12px;
        margin-left: 5px;
        color: #aaa; }
    #VisualizeVpcDialog .visualize-vpc.disabled {
      cursor: default;
      background: #e9e9e9;
      border: 1px solid #e0e0e0; }
      #VisualizeVpcDialog .visualize-vpc.disabled h5 {
        color: #999; }
      #VisualizeVpcDialog .visualize-vpc.disabled:hover {
        background: #e9e9e9;
        border: 1px solid #e0e0e0;
        box-shadow: none; }
    #VisualizeVpcDialog .visualize-vpc ol {
      width: 600px; }
    #VisualizeVpcDialog .visualize-vpc button {
      position: absolute;
      right: 20px;
      top: 44px; }
  #VisualizeVpcDialog .visualize-res {
    display: inline-block;
    text-align: left;
    float: left;
    padding: 0 15px;
    margin-bottom: 10px;
    width: 140px; }
  #VisualizeVpcDialog .vis-res-num {
    border-radius: 3px;
    color: #eee;
    background: #333;
    display: inline-block;
    margin-right: 5px;
    padding: 3px 5px; }
  #VisualizeVpcDialog .vis-res-name {
    font-size: 14px;
    font-variant: small-caps; }

/* demo And loading */
#DashboardDemo {
  display: none;
  margin-top: 15px; }
  #DashboardDemo .enter-credential {
    text-align: center;
    border: 1px solid #b4d5ed;
    background-color: #EDF9FF;
    border-radius: 3px;
    padding: 10px 0;
    margin-bottom: 10px;
    line-height: 1.5em;
    font-size: 16px; }
  #DashboardDemo .show-credential {
    color: #148BE6;
    cursor: pointer; }
    #DashboardDemo .show-credential:hover {
      text-decoration: underline; }

#dashboard-data-wrap.demo #GlobalView, #dashboard-data-wrap.demo #regionResourceNav, #dashboard-data-wrap.demo #RegionResourceData, #dashboard-data-wrap.demo #RegionViewWrap {
  display: none !important; }
#dashboard-data-wrap.demo #DashboardDemo {
  display: block; }
