.OEPanelLeft, .OEPanelRight {
  position: absolute;
  height: 100%;
  z-index: 3;
  background: #313131; }

.OEPanelLeft {
  width: 246px;
  background: #242424;
  left: 0;
  -webkit-transition: left 0.1s ease-out;
  -moz-transition: left 0.1s ease-out;
  -ms-transition: left 0.1s ease-out;
  -o-transition: left 0.1s ease-out;
  transition: left 0.1s ease-out; }
  .OEPanelLeft.force-hidden {
    display: none; }
  .OEPanelLeft.hidden {
    left: -246px; }
    .OEPanelLeft.hidden > .HideOEPanelLeft:before {
      content: "\F124"; }

.OEPanelRight {
  right: 0;
  width: 280px;
  z-index: 8;
  -webkit-transition: right 0.1s ease-out;
  -moz-transition: right 0.1s ease-out;
  -ms-transition: right 0.1s ease-out;
  -o-transition: right 0.1s ease-out;
  transition: right 0.1s ease-out; }
  .OEPanelRight.hidden {
    right: -280px; }
    .OEPanelRight.hidden .HideOEPanelRight:before {
      content: "\F125"; }
  .OEPanelRight.state.hidden {
    right: -654px; }
  .OEPanelRight.no-transition {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }

.OEMiddleWrap {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: width .1s ease-out, left .1s ease-out, right .1s ease-out;
  -moz-transition: width .1s ease-out, left .1s ease-out, right .1s ease-out;
  -ms-transition: width .1s ease-out, left .1s ease-out, right .1s ease-out;
  -o-transition: width .1s ease-out, left .1s ease-out, right .1s ease-out;
  transition: width .1s ease-out, left .1s ease-out, right .1s ease-out; }

.OEPanelTop {
  height: 40px;
  width: 100%;
  min-width: 610px;
  background: #313131; }

.OEPanelBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #505050;
  height: 24px;
  line-height: 24px;
  color: #999;
  font-size: 12px;
  z-index: 3;
  box-sizing: border-box;
  border-top: 1px solid #212121; }
  .OEPanelBottom ~ .OEPanelCenter {
    bottom: 24px; }

.OEPanelCenter {
  position: absolute !important;
  width: 100%;
  top: 40px;
  bottom: 0; }

.OEPanelRight:not(.hidden) ~ .OEMiddleWrap {
  right: 280px; }

.OEPanelRight:not(.hidden).state ~ .OEMiddleWrap {
  right: 654px; }

.OEPanelLeft:not(.hidden) ~ .OEMiddleWrap {
  left: 246px; }

.OEPanelLeft.force-hidden ~ .OEMiddleWrap {
  left: 0;
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -o-transition-property: right;
  transition-property: right; }

.sidebar-title {
  padding-left: 10px;
  height: 39px;
  font-size: 16px;
  line-height: 39px;
  color: #b0b0b0;
  text-shadow: 0 1px #333;
  background-color: #313131;
  border-bottom: 1px solid #202020;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05); }
  .sidebar-title.open .menu-manage-shard-res {
    color: #9F62D1;
    background-color: rgba(0, 0, 0, 0.3); }
  .sidebar-title i {
    width: 40px;
    height: 40px;
    float: right;
    cursor: pointer;
    text-align: center; }
    .sidebar-title i:hover {
      color: #9F62D1;
      background-color: rgba(0, 0, 0, 0.3); }
    .sidebar-title i.disabled {
      color: #666;
      cursor: default; }
      .sidebar-title i.disabled:hover {
        color: #666;
        background-color: transparent; }

.refresh-resource-panel {
  line-height: 37px;
  -webkit-transform-origin: 20px 20px;
  -moz-transform-origin: 20px 20px;
  transform-origin: 20px 20px; }
  .refresh-resource-panel.reloading:hover {
    background: none; }

.sidebar-hider {
  position: absolute;
  top: 50%;
  margin-top: -27px;
  padding: 18px 3px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3), inset 1px 1px 0 rgba(255, 255, 255, 0.1);
  border: 1px solid #676767;
  color: #fff;
  background: #666;
  cursor: pointer; }
  .sidebar-hider:before {
    font-size: 14px; }
  .sidebar-hider:hover {
    background: #777; }

.HideOEPanelLeft {
  left: 100%;
  border-left: none;
  border-radius: 0 3px 3px 0; }

.HideOEPanelRight {
  right: 100%;
  border-right: none;
  border-radius: 3px 0 0 3px; }

#OpsEditor .disabled-event-layout {
  z-index: 6; }

.dropdown-menu.resources-dropdown-wrapper {
  position: absolute;
  left: 206px;
  top: 39px;
  width: 90%;
  min-width: 160px;
  margin-top: 1px;
  z-index: 80;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #0f0f0f;
  color: #d0d0d0; }

.dropdown-menu.resources-dropdown-wrapper li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  position: relative;
  cursor: pointer;
  display: block;
  background-color: #232323; }

.resources-dropdown-wrapper li:hover {
  background-color: #000; }

.AmiTypeSelect {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 20px; }
  .AmiTypeSelect:hover .selection {
    background: #234F77; }

.resource-icon {
  position: relative;
  width: 60px;
  height: 60px;
  background: #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent; }

.resource-reuse {
  position: relative; }
  .resource-reuse .resource-icon {
    position: absolute;
    top: 5.5px;
    left: 5px;
    background-size: 72%; }
  .resource-reuse img {
    position: absolute;
    top: 17px;
    left: 14px;
    width: 32px; }

.elb-asg .resource-item {
  height: 5em; }

.resource-list-asg .resource-item {
  height: 5em; }

.resource-item {
  width: 70px;
  padding-top: 65px;
  margin: 0 5px 5px 0;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  font-size: 12px;
  text-align: center;
  height: 3em;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.2em;
  color: #eee;
  background: transparent center 5px no-repeat;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab; }
  .resource-item.deleted {
    opacity: .5; }
  .resource-item:hover {
    background-color: rgba(255, 255, 255, 0.2); }
  .resource-item.resource-disabled {
    cursor: default;
    opacity: .6;
    background-color: transparent; }
  .resource-item.instance {
    position: relative;
    padding-top: 5px;
    height: 132px; }

.resource-icon-az {
  background-image: url('/assets/images/ide/icon/az-resource.png'); }

.resource-icon-volume {
  background-image: url('/assets/images/ide/icon/volume-resource-1109.png'); }

.resource-icon-eni {
  background-image: url('/assets/images/ide/icon/eni-resource.png'); }

.resource-icon-subnet {
  background-image: url('/assets/images/ide/icon/subnet-resource.png'); }

.resource-icon-rt {
  background-image: url('/assets/images/ide/icon/rt-resource.png'); }

.resource-icon-igw {
  background-image: url('/assets/images/ide/icon/igw-resource.png'); }

.resource-icon-vgw {
  background-image: url('/assets/images/ide/icon/vgw-resource.png'); }

.resource-icon-cgw {
  background-image: url('/assets/images/ide/icon/cgw-resource.png'); }

.resource-icon-asg {
  background-image: url('/assets/images/ide/icon/asg-resource.png'); }

.resource-icon-elb {
  background-image: url('/assets/images/ide/icon/elb-resource.png'); }

.resource-icon-ebs-snapshot {
  background-image: url('/assets/images/ide/icon/ebs-snapshot-resource-1109.png'); }

.resource-icon-instance {
  padding-top: 12px;
  height: 48px;
  background: url('/assets/images/ide/icon/instance-resource.png') center no-repeat; }
  #ResourceDragItem .resource-icon-instance {
    padding-top: 17px;
    height: 53px; }
  #ResourceDragItem.resource-icon-asg .resource-icon-instance {
    top: 50%;
    background-size: 100%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    opacity: .6; }

.ebs-size {
  margin-top: -1.5em;
  font-size: 12px;
  color: #676767;
  height: 1.5em;
  line-height: 1.1em; }

.az-name {
  font-size: 16px;
  color: #999;
  height: 60px;
  line-height: 60px;
  margin-top: -60px;
  text-transform: uppercase; }

#ResourceDragItem {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0.8;
  z-index: 100;
  border-radius: 4px;
  color: transparent;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
  margin: 0;
  padding: 0;
  height: 70px;
  background-position: center;
  -webkit-transition: all ease-in 0.15s;
  -moz-transition: all ease-in 0.15s;
  transition: all ease-in 0.15s;
  -webkit-transition-property: line-height, padding-left, width, height, color;
  -moz-transition-property: line-height, padding-left, width, height, color;
  transition-property: line-height, padding-left, width, height, color; }
  #ResourceDragItem.add-to-dom {
    opacity: 1; }
  #ResourceDragItem.resource-icon-az {
    color: #eee;
    background-image: none;
    position: relative;
    line-height: 133px;
    text-align: left;
    padding-left: 7px;
    height: 90px;
    margin-top: 0; }
    #ResourceDragItem.resource-icon-az .az-name {
      position: absolute;
      left: 0;
      top: 4px;
      color: transparent;
      border: 3px dashed #f69300;
      border-radius: 4px;
      margin: 10px 14px;
      height: 34px;
      width: 30px;
      -webkit-transition: all ease-in 0.15s;
      -moz-transition: all ease-in 0.15s;
      transition: all ease-in 0.15s; }
    #ResourceDragItem.resource-icon-az.add-to-dom {
      color: #f69300;
      width: 220px;
      height: 240px;
      line-height: 50px;
      padding-left: 20px; }
      #ResourceDragItem.resource-icon-az.add-to-dom .az-name {
        width: 206px;
        height: 206px; }
  #ResourceDragItem.resource-icon-asg, #ResourceDragItem.resource-icon-subnet {
    background-image: none; }
    #ResourceDragItem.resource-icon-asg:before, #ResourceDragItem.resource-icon-subnet:before {
      content: " ";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      color: transparent;
      border: 3px dashed #76d6ff;
      border-radius: 4px;
      margin: 10px;
      height: 44px;
      width: 44px;
      -webkit-transition: all ease-in 0.15s;
      -moz-transition: all ease-in 0.15s;
      transition: all ease-in 0.15s; }
    #ResourceDragItem.resource-icon-asg.add-to-dom, #ResourceDragItem.resource-icon-subnet.add-to-dom {
      width: 150px;
      height: 150px; }
      #ResourceDragItem.resource-icon-asg.add-to-dom:before, #ResourceDragItem.resource-icon-subnet.add-to-dom:before {
        width: 124px;
        height: 124px; }
  #ResourceDragItem.resource-icon-subnet:before {
    border-color: #e0e0e0; }
  #ResourceDragItem.resource-icon-subnet.add-to-dom {
    width: 190px;
    height: 190px; }
    #ResourceDragItem.resource-icon-subnet.add-to-dom:before {
      width: 164px;
      height: 164px; }
  #ResourceDragItem.instance {
    margin-top: 0; }

.resource-select.selectbox .selection {
  background: #143553;
  color: #F3F3F3;
  height: 17px;
  border: none;
  border-left: 1px solid #161616;
  border-radius: 0;
  padding: 10px 20px 10px 10px;
  -webkit-transition: background .2s ease-in-out;
  -moz-transition: background .2s ease-in-out;
  -ms-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out; }

.resource-select.selectbox .selection:after {
  border-top-color: #fff; }

.resource-select.selectbox .dropdown {
  background: #4f4f4f;
  border: 1px solid #333; }

.resource-list > li:hover .btn-fav-ami {
  display: block; }

/* toggleicon */
.btn-fav-ami, .toggle-fav {
  width: 20px;
  height: 20px;
  background: url('/assets/images/ide/fav-btn-off.png') center no-repeat; }
  .btn-fav-ami:hover, .toggle-fav:hover {
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url('/assets/images/ide/fav-btn-off-hover.png'); }
  .btn-fav-ami.fav, .toggle-fav.fav {
    background-image: url('/assets/images/ide/fav-btn.png'); }
  .btn-fav-ami.fav:hover, .toggle-fav.fav:hover {
    background-image: url('/assets/images/ide/fav-btn-hover.png'); }

.btn-fav-ami {
  position: absolute;
  top: 0px;
  right: 0px; }

.BrowseCommunityAmi, .ManageSnapshot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
  border-radius: 0;
  z-index: 3; }
  .BrowseCommunityAmi + .scroll-content, .ManageSnapshot + .scroll-content {
    padding-bottom: 30px; }
    .BrowseCommunityAmi + .scroll-content:after, .ManageSnapshot + .scroll-content:after {
      display: block;
      content: " ";
      clear: both; }

.OEPanelRight .property-switcher {
  height: 30px;
  background: #313131;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #111;
  border-left: 1px solid #111;
  padding: 4px 0 5px;
  overflow: hidden; }
.OEPanelRight .property-switcher .btn-toolbar {
  width: 124px;
  padding: 0 4px;
  border-radius: 4px;
  margin-right: 5px; }
.OEPanelRight #btn-switch-property {
  background: rgba(0, 0, 0, 0.4);
  color: #FEFEFE; }
.OEPanelRight.no-state #btn-switch-state {
  display: none; }
.OEPanelRight.no-state #btn-switch-property {
  float: left;
  width: auto;
  background: none;
  text-align: left;
  padding-left: 10px;
  cursor: default; }
.OEPanelRight.state #btn-switch-property {
  background: #313131;
  color: #606060; }
  .OEPanelRight.state #btn-switch-property:hover {
    color: #9F62D1;
    background: rgba(0, 0, 0, 0.05); }
.OEPanelRight.state #btn-switch-state {
  background: rgba(0, 0, 0, 0.4);
  color: #FEFEFE; }

.property-sidebar-title {
  font-size: 16px;
  text-shadow: none;
  height: 32px;
  line-height: 32px;
  position: relative;
  z-index: 2;
  display: block !important;
  cursor: default; }

.property-panel-wrapper {
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  background: #313131;
  /* for zoomed out */ }
  .property-panel-wrapper .scroll-wrap {
    position: absolute;
    top: 33px;
    bottom: 0;
    width: 100%; }

.icon-ami-os:before {
  content: " ";
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background: url('/assets/images/ide/icon/icon-ami-os.png') left top no-repeat; }
.icon-ami-os.centos:before {
  background-position: -24px 0; }
.icon-ami-os.debian:before {
  background-position: -48px 0; }
.icon-ami-os.fedora:before {
  background-position: -72px 0; }
.icon-ami-os.gentoo:before {
  background-position: -96px 0; }
.icon-ami-os.opensuse:before {
  background-position: -120px 0; }
.icon-ami-os.ubuntu:before {
  background-position: -144px 0; }
.icon-ami-os.redhat:before {
  background-position: -168px 0; }
.icon-ami-os.windows:before {
  background-position: -192px 0; }
.icon-ami-os.linux-other:before {
  background-position: -216px 0; }
