.modal-box {
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}
.modal-box.slideIn {
  left: 50% !important;
}
.modal-box.fadeOut {
  left: -50% !important;
}
