#modal-option-group {
  padding: 20px; }
  #modal-option-group .header {
    padding: 20px 30px;
    background-color: #333; }
  #modal-option-group .left {
    width: 105px;
    margin-top: 6px; }
  #modal-option-group .container {
    padding: 20px; }
