#PaymentNav {
  background: #0c0c0c;
  height: 38px;
  border-bottom: 1px solid #000; }
  #PaymentNav > span {
    float: left;
    min-width: 100px;
    text-align: center;
    color: #148BE6;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
    position: relative;
    padding: 0 10px;
    font-size: 12px; }
    #PaymentNav > span.selected:before {
      position: absolute;
      left: 0;
      bottom: 0px;
      content: '';
      border-bottom: 2px solid #148BE6;
      width: 100%; }

#PaymentBody {
  padding: 20px 15px 30px;
  min-height: 150px; }
  #PaymentBody .dl-horizontal {
    margin: 0;
    line-height: 30px; }
    #PaymentBody .dl-horizontal dt, #PaymentBody .dl-horizontal dd {
      margin-top: 0; }
  #PaymentBody .link-style {
    color: #999;
    line-height: 30px;
    margin-left: 10px; }
  #PaymentBody .table-head {
    width: 100%; }
    #PaymentBody .table-head tr th {
      position: relative;
      padding: 6px 12px;
      font-size: 13px;
      font-weight: 500; }
  #PaymentBody .sortable {
    cursor: pointer; }
  #PaymentBody .t-m-content a.link-blue {
    margin: 0 10px; }
