.ops-process {
  width: 100%;
  padding-top: 10%;
  height: 90%;
  background: #0a0a0a;
  position: relative; }
  .ops-process header {
    text-align: center;
    font-size: 16px;
    color: #eee;
    margin-bottom: 30px; }
  .ops-process .process-info {
    margin-left: 10px; }
  .ops-process > div {
    width: 580px;
    margin: 0 auto; }
  .ops-process .error-info-block {
    text-align: left;
    max-width: 600px;
    margin: 20px auto; }
    .ops-process .error-info-block header {
      font-size: 16px;
      color: #eee;
      margin-bottom: 50px; }
  .ops-process .result-sub-title {
    font-size: 16px;
    color: #eee;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px; }
  .ops-process .result-error-info {
    padding: 10px;
    color: #ccc;
    background: rgba(40, 40, 40, 0.5);
    margin-bottom: 15px; }
    .ops-process .result-error-info .detail {
      color: #ec3c38; }
  .ops-process .result-error-notice {
    padding: 5px;
    color: #aaa; }
  .ops-process .rolling-back-content {
    display: none; }
  .ops-process .fail .result-error-info {
    margin-bottom: 15px; }
  .ops-process .sub-title {
    font-size: 14px;
    color: #999;
    text-align: center;
    margin: 0;
    padding: 10px; }
  .ops-process .title {
    color: #999;
    font-style: bold; }
  .ops-process .processing, .ops-process .success {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  .ops-process .fadeout {
    opacity: 0;
    margin-top: -20px; }
  .ops-process .success {
    opacity: 0;
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10%; }
    .ops-process .success .title {
      font-size: 18px;
      color: #676767;
      text-align: center; }
  .ops-process .fadein {
    opacity: 1;
    margin-top: 0; }
  .ops-process .rolling-back-content {
    display: none; }
  .ops-process.rolling-back .processing header {
    display: none; }
  .ops-process.rolling-back .processing .rolling-back-content {
    display: block; }

/* Progress bar */
.progress {
  border-radius: 9px;
  background: #2e2e2e;
  overflow: hidden;
  width: 350px;
  height: 18px;
  border: 1px solid #000;
  margin: 10px auto; }
  .progress .bar {
    border-radius: 9px;
    height: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #ad77d7), color-stop(0.25, #9e62d4), color-stop(0.5, #9e62d4), color-stop(0.5, #ad77d7), color-stop(0.75, #ad77d7), color-stop(0.75, #9e62d4), to(#9e62d4));
    background-image: -webkit-linear-gradient(135deg, #ad77d7 25%, #9e62d4 25%, #9e62d4 50%, #ad77d7 50%, #ad77d7 75%, #9e62d4 75%, #9e62d4);
    background-image: -moz-linear-gradient(135deg, #ad77d7 25%, transparent 25%, transparent 50%, #ad77d7 50%, #ad77d7 75%, transparent 75%, transparent);
    background-image: linear-gradient(135deg, #ad77d7 25%, #9e62d4 25%, #9e62d4 50%, #ad77d7 50%, #ad77d7 75%, #9e62d4 75%, #9e62d4);
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-animation: progress-bar 2s linear infinite;
    -moz-animation: progress-bar 2s linear infinite;
    animation: progress-bar 2s linear infinite; }

#OpsEditor .ops-process {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.8);
  text-align: center; }
  #OpsEditor .ops-process:not(.has-progess) .process-info, #OpsEditor .ops-process:not(.has-progess) .progress {
    display: none; }
  #OpsEditor .ops-process.has-progess ::selection {
    background: transparent; }
  #OpsEditor .ops-process.has-progess .loading-spinner {
    display: none; }
  #OpsEditor .ops-process.rolling-back .processing {
    display: none; }
  #OpsEditor .ops-process.rolling-back .rolling-back-content {
    display: block; }
