.property-dbinstance input.property-input-left {
  width: 184px; }
.property-dbinstance .property-label-right {
  margin-left: 10px; }
.property-dbinstance .property-input-row-head {
  display: inline-block;
  width: 220px;
  margin-bottom: 7px;
  margin-top: 10px; }
.property-dbinstance .property-input-row {
  float: left;
  width: 120px;
  margin-bottom: 10px; }
  .property-dbinstance .property-input-row label.left {
    display: block; }
  .property-dbinstance .property-input-row input.input {
    width: 80px; }
  .property-dbinstance .property-input-row div.selectbox {
    width: 115px;
    margin-top: 2px; }
.property-dbinstance .property-dbinstance-iops-value-section label.left {
  margin-top: 10px;
  margin-right: 5px; }
.property-dbinstance .property-dbinstance-iops-value-section #property-dbinstance-iops-value {
  width: 115px; }

.property-subnet-group .property-az-name {
  clear: both;
  padding: 8px 0; }
.property-subnet-group label.left + .property-az-name {
  padding-top: 0; }
