.property-panel-wrapper .property-dbinstance-status-icon-warning {
  color: #f00; }
  .property-panel-wrapper .property-dbinstance-status-icon-warning:hover {
    background-color: transparent; }
.property-panel-wrapper .db-status-loading {
  position: absolute;
  right: 5px;
  top: -44px; }
.property-panel-wrapper .property-dbinstance-not-available-info {
  color: #fff;
  background-color: #ff6600;
  padding: 10px; }

.property-dbinstance input.shorter-input {
  width: 37px;
  padding-right: 7px; }
.property-dbinstance .selectbox.shorter-dropdown {
  width: 90px; }
.property-dbinstance input.property-input-left {
  width: 184px; }
.property-dbinstance .property-label-right {
  margin-left: 10px; }
.property-dbinstance .property-input-row-head {
  display: inline-block;
  width: 220px;
  margin-bottom: 7px;
  margin-top: 10px; }
.property-dbinstance .property-input-row {
  float: left;
  width: 120px;
  margin-bottom: 10px; }
  .property-dbinstance .property-input-row label.left {
    display: block; }
  .property-dbinstance .property-input-row input.input {
    width: 80px; }
  .property-dbinstance .property-input-row div.selectbox {
    width: 115px;
    margin-top: 2px; }
.property-dbinstance .property-dbinstance-iops-value-section label.left {
  margin-top: 10px;
  margin-right: 5px; }
.property-dbinstance .property-dbinstance-iops-value-section #property-dbinstance-iops-value {
  width: 115px; }
.property-dbinstance .property-dbinstance-iops-info {
  margin-top: 15px; }
.property-dbinstance .property-dbinstance-optiongroup-placeholder .selectbox .selection .icon-edit {
  display: none; }
.property-dbinstance .property-dbinstance-optiongroup-placeholder .selectbox .selection .option-preview {
  display: none; }
.property-dbinstance .property-dbinstance-optiongroup-placeholder .item .icon-edit {
  float: right;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
  margin-right: 10px; }
.property-dbinstance .property-dbinstance-optiongroup-placeholder .option-preview {
  width: 208px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #aaa; }
.property-dbinstance #property-dbinstance-maintenance-window-group label, .property-dbinstance #property-dbinstance-backup-window-group label {
  width: 73px; }

.property-subnet-group .property-az-name {
  clear: both;
  padding: 5px 0 5px 12px;
  background: #515151;
  margin: 5px -10px 5px; }
.property-subnet-group .property-az-name:first-child {
  margin-top: -8px; }
.property-subnet-group .sb-cidr {
  padding-left: 23px; }
.property-subnet-group .property-control-group .checkbox {
  position: relative;
  top: 10px; }

.app-dbinstance .db-og-in-app {
  cursor: pointer; }
