.res_diff_tree {
  overflow: auto; }
  .res_diff_tree ::selection {
    background: transparent; }
  .res_diff_tree .scroll-wrap-res-diff {
    max-height: 581px;
    padding: 15px 15px 0 15px; }
    .res_diff_tree .scroll-wrap-res-diff .scroll-content > p {
      font-size: 16px;
      color: #ccc; }
  .res_diff_tree h5 {
    margin-bottom: 10px; }
  .res_diff_tree ul {
    list-style: none; }
  .res_diff_tree .title {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center; }
  .res_diff_tree .header .info {
    margin-bottom: 10px;
    font-size: 14px; }
  .res_diff_tree .group {
    padding-bottom: 6px;
    width: 100%;
    text-align: left;
    background: #1a1c1d;
    -webkit-transiti: all .2s;
    -moz-transiti: all .2s;
    -ms-transiti: all .2s;
    -o-transiti: all .2s;
    transiti: all .2s; }
    .res_diff_tree .group.closed .tree {
      display: none; }
    .res_diff_tree .group .head {
      position: relative;
      z-index: 2;
      padding: 10px 10px 6px 25px;
      color: #17a03a;
      font-size: 14px;
      background-color: #1a1c1d;
      width: 100%;
      box-sizing: border-box;
      cursor: pointer;
      opacity: 1;
      -webkit-transition: opacity .2s;
      -moz-transition: opacity .2s;
      -ms-transition: opacity .2s;
      -o-transition: opacity .2s;
      transition: opacity .2s; }
      .res_diff_tree .group .head .count {
        margin-left: 8px;
        color: #666;
        font-size: 12px; }
      .res_diff_tree .group .head:before {
        display: block;
        content: " ";
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-top-color: #999;
        position: absolute;
        left: 8px;
        top: 50%;
        margin-top: -1px; }
    .res_diff_tree .group.closed .head {
      opacity: .8; }
      .res_diff_tree .group.closed .head:hover {
        opacity: 1; }
      .res_diff_tree .group.closed .head:before {
        display: block;
        content: " ";
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-left-color: #999;
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -3px; }
    .res_diff_tree .group .content > .tree > .item > .meta > .type {
      background-color: #111; }
    .res_diff_tree .group.removed .content > .tree > .item > .meta > .name {
      color: #9e2622; }
    .res_diff_tree .group.added .content > .tree > .item > .meta > .name {
      color: #17a03a; }
    .res_diff_tree .group.modified .content > .tree > .item > .meta > .name {
      color: #c95100; }
  .res_diff_tree .removed .head {
    color: #9e2622; }
  .res_diff_tree .modified .head {
    color: #c95100; }
  .res_diff_tree .tree {
    padding: 10px 10px 0px 10px;
    font-size: 14px; }
    .res_diff_tree .tree .type {
      background-color: #2c2f46;
      border-radius: 2px;
      padding: 3px 7px;
      color: #999;
      position: relative;
      z-index: 1;
      font-size: 12px;
      float: left;
      margin-top: -2px;
      text-align: center;
      min-width: 35px;
      -webkit-transition: background-color .2s;
      -moz-transition: background-color .2s;
      -ms-transition: background-color .2s;
      -o-transition: background-color .2s;
      transition: background-color .2s; }
      .res_diff_tree .tree .type:hover {
        background-color: #363a56;
        color: #eee; }
    .res_diff_tree .tree .name {
      font-weight: bold;
      margin-left: 6px;
      line-height: 14px;
      height: 14px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
      display: inline-block;
      max-width: 297px;
      font-size: 12px;
      margin-top: 2px;
      min-width: 35px;
      padding: 0 4px; }
    .res_diff_tree .tree .old {
      text-decoration: line-through;
      color: #666 !important; }
    .res_diff_tree .tree .to {
      color: #666;
      min-width: initial; }
    .res_diff_tree .tree .new {
      display: inline-block;
      color: #c95100;
      font-style: italic;
      margin-left: 2px; }
    .res_diff_tree .tree .item {
      margin-bottom: 10px;
      padding-left: 18px;
      position: relative;
      border-left: 1px #444 solid; }
      .res_diff_tree .tree .item.removed .meta .name {
        color: #9e2622; }
      .res_diff_tree .tree .item.added .meta .name {
        color: #17a03a; }
      .res_diff_tree .tree .item.changed .meta .name {
        color: #c95100; }
      .res_diff_tree .tree .item::before {
        border-left: 1px #444 solid;
        border-bottom: 1px #444 solid;
        margin-top: -27px;
        content: "";
        display: block;
        width: 17px;
        height: 33px;
        position: absolute;
        margin-left: -19px;
        z-index: 0; }
      .res_diff_tree .tree .item::after {
        display: block;
        content: "";
        height: 8px;
        width: 8px;
        border: #148BE6 1px solid;
        border-radius: 50%;
        position: absolute;
        left: -5.5px;
        top: 2px;
        background: #1a1c1d;
        z-index: 1;
        -webkit-transition: background .2s;
        -moz-transition: background .2s;
        -ms-transition: background .2s;
        -o-transition: background .2s;
        transition: background .2s; }
      .res_diff_tree .tree .item .meta .type {
        cursor: pointer; }
      .res_diff_tree .tree .item.end .meta .type {
        cursor: auto; }
        .res_diff_tree .tree .item.end .meta .type:hover {
          background-color: #2c2f46;
          color: #999; }
      .res_diff_tree .tree .item.end::after {
        display: none; }
      .res_diff_tree .tree .item.closed::after {
        background: #148BE6; }
      .res_diff_tree .tree .item.closed > .tree {
        display: none; }
        .res_diff_tree .tree .item.closed > .tree li.item {
          display: none; }
      .res_diff_tree .tree .item:last-child {
        border-left: 1px solid transparent !important; }
  .res_diff_tree .group ul.tree {
    margin-left: 20px; }
    .res_diff_tree .group ul.tree > .item:last-child {
      border-left: 1px #444 solid; }
    .res_diff_tree .group ul.tree > li > ul.tree {
      margin-left: 15px;
      font-size: 12px; }
      .res_diff_tree .group ul.tree > li > ul.tree > .item:last-child {
        border-left: 1px #444 solid; }
      .res_diff_tree .group ul.tree > li > ul.tree > li > ul.tree {
        margin-left: 15px;
        font-size: 12px; }
        .res_diff_tree .group ul.tree > li > ul.tree > li > ul.tree .item {
          border-left: 1px #444 solid; }
