#SettingsNav {
  background: #0c0c0c;
  height: 45px;
  border-bottom: 1px solid #000; }
  #SettingsNav > span {
    float: left;
    min-width: 100px;
    text-align: center;
    color: #148BE6;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    position: relative;
    padding: 0 10px; }
    #SettingsNav > span.selected:before {
      position: absolute;
      left: 0;
      bottom: 0px;
      content: '';
      border-bottom: 2px solid #148BE6;
      width: 100%; }

#SettingsBody {
  width: 430px;
  padding: 20px 30px 30px;
  min-height: 150px; }
  #SettingsBody .dl-horizontal {
    margin: 0;
    line-height: 30px; }
    #SettingsBody .dl-horizontal dt, #SettingsBody .dl-horizontal dd {
      margin-top: 0; }
  #SettingsBody .link-style {
    color: #999;
    line-height: 30px;
    margin-left: 10px; }
  #SettingsBody #CredSetupRemove {
    font-size: 12px;
    color: #ec3c38;
    padding: 0;
    margin: 0; }
  #SettingsBody #AccountPwd {
    color: #148BE6;
    padding: 3px 0;
    margin-left: 0; }

#AccountPwdWrap {
  display: none;
  margin-top: 2px; }
  #AccountPwdWrap .input {
    width: 250px;
    padding: 5px; }

#AccountPwdWrap .dl-horizontal {
  line-height: 36px; }

#AccountInfo {
  width: 360px;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 3px;
  color: #200202;
  background: #ec3c38;
  height: 30px;
  line-height: 30px;
  margin: 10px 0; }

#account-passowrd-info a {
  color: #fff; }

#AccountPwdBtns {
  padding-left: 130px;
  margin: 10px 0; }

#AccountUpdatePwd {
  padding: 3px;
  min-width: 80px;
  font-size: 12px; }

#AccountCancelPwd {
  font-size: 12px;
  color: #999;
  padding: 3px;
  display: inline-block;
  vertical-align: middle; }

#CredentialTab {
  font-size: 14px;
  min-height: 150px; }
  #CredentialTab > div {
    display: none; }
  #CredentialTab h3 {
    font-size: 16px;
    line-height: 1.2em;
    margin-bottom: 1em; }
  #CredentialTab .btn {
    padding: 8px 10px; }

#CredDemoWrap h3 {
  font-size: 16px;
  color: #eee; }
  #CredDemoWrap h3 + p {
    color: #ffcb50; }
#CredDemoWrap .cred-setup {
  margin-top: 10px; }

#CredAwsWrap .cred-setup {
  position: absolute;
  color: #148BE6;
  top: 40px;
  right: 8px;
  font-size: 12px; }

.cred-setup-msg {
  padding: 15px;
  background-color: #111;
  border-radius: 4px;
  color: #ec3c38;
  margin-bottom: 20px; }

#CredSetupWrap .icon-label {
  float: right;
  margin-right: 0;
  color: #25a4f4;
  line-height: 20px; }
#CredSetupWrap label {
  display: block;
  font-size: 13px;
  margin-bottom: 6px;
  height: 1.2em;
  line-height: 1.2em; }
#CredSetupWrap .input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 36px;
  padding: 10px;
  font-size: 13px;
  margin-bottom: 6px; }

#WelcomeSettings {
  width: 600px; }
  #WelcomeSettings > header {
    background: #180622;
    padding: 40px 20px;
    text-align: center; }
    #WelcomeSettings > header h2 {
      color: #eee;
      font-size: 20px; }
      #WelcomeSettings > header h2 span {
        word-break: break-all;
        opacity: .8; }
    #WelcomeSettings > header p {
      color: #9F62D1; }
  #WelcomeSettings > #CredSetupWrap {
    padding: 20px 80px; }
  #WelcomeSettings .cred-btn-wrap {
    margin-top: 10px; }

#WelcomeDialog {
  width: 600px;
  min-height: 200px; }
  #WelcomeDialog .link-style {
    color: #148BE6;
    float: left;
    height: 26px;
    line-height: 26px; }

#WelcomeSkipWarning, #WelcomeDoneWrap {
  width: 430px;
  padding: 20px 80px;
  color: #ccc; }

#WelcomeSkipWarning,
#CredRemoveWrap,
#CredConfirmWrap {
  color: #ccc; }
  #WelcomeSkipWarning h3,
  #CredRemoveWrap h3,
  #CredConfirmWrap h3 {
    font-size: 18px;
    padding: 10px 0;
    color: #eee;
    border-bottom: 1px solid #000;
    margin-bottom: 20px; }
    #WelcomeSkipWarning h3 span,
    #CredRemoveWrap h3 span,
    #CredConfirmWrap h3 span {
      color: #ffcb50; }
  #WelcomeSkipWarning li,
  #CredRemoveWrap li,
  #CredConfirmWrap li {
    list-style-type: circle;
    margin-left: 20px;
    margin-bottom: 5px;
    color: #ffcb50; }
    #WelcomeSkipWarning li:last-child,
    #CredRemoveWrap li:last-child,
    #CredConfirmWrap li:last-child {
      margin-bottom: 0; }

#WelcomeDoneWrap > p {
  font-size: 16px;
  line-height: 24px;
  color: #eee;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
  margin-bottom: 20px; }
#WelcomeDoneWrap > p:before {
  content: "\F12D";
  font: 24px/1em "MCIcon";
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  margin-right: 10px;
  color: #17c249; }
#WelcomeDoneWrap h3 {
  font-size: 18px;
  padding: 10px 0;
  color: #eee;
  margin-bottom: 10px; }
#WelcomeDoneWrap li {
  list-style-type: circle;
  margin-left: 20px;
  margin-bottom: 5px; }
  #WelcomeDoneWrap li:last-child {
    margin-bottom: 0; }
#WelcomeDoneWrap a {
  color: #148BE6; }
#WelcomeDoneWrap a:hover {
  text-decoration: underline; }

#WelcomeCredUpdate,
#CredRemoving,
#CredUpdating {
  margin: 0 auto;
  width: 400px;
  position: relative;
  height: 200px; }
  #WelcomeCredUpdate p,
  #CredRemoving p,
  #CredUpdating p {
    top: 50%;
    position: absolute;
    margin-top: -20px;
    color: #ccc; }
  #WelcomeCredUpdate .loading-spinner,
  #CredRemoving .loading-spinner,
  #CredUpdating .loading-spinner {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    right: 40px; }

.token-table {
  position: relative;
  height: 200px;
  background: #111; }
  .token-table:empty:before {
    content: attr(data-empty);
    width: 100%;
    text-align: center;
    height: 20px;
    line-height: 20px;
    top: 50%;
    margin-top: -10px;
    left: 0;
    position: absolute; }
  .token-table > li {
    clear: both;
    height: 30px; }
  .token-table .tokenName, .token-table .tokenToken, .token-table .tokenControl {
    margin: 0 5px;
    line-height: 20px;
    padding: 5px;
    height: 20px;
    width: 90px;
    float: left; }
  .token-table .tokenToken {
    width: 180px; }
  .token-table input.tokenName {
    line-height: 18px;
    width: 98px; }
  .token-table input.tokenName[readonly] {
    border: none;
    background: none; }
  .token-table .tokenControl, .token-table .tokenDone {
    display: none; }
  .token-table .tokenDone {
    min-width: 80px;
    padding: 0;
    height: 20px;
    line-height: 20px; }
  .token-table > li:hover .tokenControl, .token-table > li.editing .tokenControl {
    display: block; }
  .token-table > li.editing .tooltip {
    display: none; }
  .token-table > li.editing .tokenDone {
    display: block; }
  .token-table .tokenControl .tooltip:before {
    cursor: pointer;
    color: #34A3F8; }

.cred-btn-wrap {
  margin-top: 20px; }
