<div class="option-group-head expand">
    Listener Details
</div>
<div class="option-group">
    <dl>
        <dt>Name</dt><dd>{{name}}</dd>
    </dl>
    <dl>
        <dt>ID</dt><dd>{{id}}</dd>
    </dl>
    <dl>
        <dt>Status</dt><dd>{{status}}</dd>
    </dl>
    <dl>
        <dt>Subnet ID</dt><dd>{{subnet_id}}</dd>
    </dl>
    <dl>
        <dt>Address</dt><dd>{{address}}</dd>
    </dl>
    <dl>
        <dt>Connection Limit</dt><dd>{{connection_limit}}</dd>
    </dl>
    <dl>
        <dt>Protocol</dt><dd>{{protocol}}</dd>
    </dl>
    <dl>
        <dt>Protocol Port</dt><dd>{{protocol_port}}</dd>
    </dl>
    <dl>
        <dt>Pool ID</dt><dd>{{pool_id}}</dd>
    </dl>
</div>

<div class="option-group-head expand">
    Port Details
</div>
<div class="option-group">

</div>