<div class="option-group-head expand">
    Listener Details
</div>
<div class="option-group">
    <dl class="dl-vertical">
        <dt>Name</dt><dd>{{name}}</dd>
        <dt>ID</dt><dd>{{id}}</dd>
        <dt>Status</dt><dd class="os-status os-status-{{status}}">{{status}}</dd>
        <dt>Subnet ID</dt><dd>{{subnet_id}}</dd>
        <dt>Address</dt><dd>{{address}}</dd>
        <dt>Connection Limit</dt><dd>{{connection_limit}}</dd>
        <dt>Protocol</dt><dd>{{protocol}}</dd>
        <dt>Protocol Port</dt><dd>{{protocol_port}}</dd>
        <dt>Pool ID</dt><dd>{{pool_id}}</dd>
    </dl>
</div>

<div class="option-group-head expand">
    Port Details
</div>
<div class="option-group">

</div>
