
.canvas-view {
  position   : relative;
  font-size  : 0; /* A hack to make sure #canvas_body.scrollHeight is correct. */
  min-height : 100%;
  background : #fff image-url('ide/grid_x1.png');

  &[data-scale="1.2"] { background-image : image-url('ide/grid_x1.2.png'); }
  &[data-scale="1.4"] { background-image : image-url('ide/grid_x1.4.png'); }
  &[data-scale="1.6"] { background-image : image-url('ide/grid_x1.6.png'); }

  @media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (min-device-pixel-ratio: 2) {
    & {
      background-image : image-url('ide/grid_x1@2x.png');
      background-size  : 80px 80px;
    }
    &[data-scale="1.2"] {
      background-image : image-url('ide/grid_x1.2@2x.png');
      background-size  : 64px 64px;
    }
    &[data-scale="1.4"] {
      background-image : image-url('ide/grid_x1.4@2x.png');
      background-size  : 48px 48px;
    }
    &[data-scale="1.6"] {
      background-image : image-url('ide/grid_x1.6@2x.png');
      background-size  : 32px 32px;
    }
  }
}

.svg_resizer {
  position : absolute;
  z-index  : 10;

  font-size : 16px;
  width     : 32px;
  height    : 32px;
  padding   : 0;

  background    : #f5f5f5;
  border        : 1px solid #ccc;
  border-radius : 3px;

  cursor      : pointer;
  line-height : 32px;
  text-align  : center;

  &:hover { color: #3781C9; }
  &.icon-resize-down  { left : 7px;  bottom : 7px; }
  &.icon-resize-up    { left : 47px; bottom : 7px; }
  &.icon-resize-right { top  : 5px;  right  : 10px; }
  &.icon-resize-left  { top  : 45px; right  : 10px; }
}

.group-label {
  font-size : 12px;
  cursor: pointer;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
  fill: #fff;
}

.node-label, .volume-number, .server-number {
  font-size: 12px;
  text-anchor: middle;
  fill: #333;
  cursor: default;
}

.node-sg-color-border {
  fill:   none;
  stroke: none;
}

.node-label-name-bg {
  fill: none;
}

.group, .node-background {
  fill:transparent;
}

.group-resizer {
  fill:transparent;
  &:hover {
    fill: rgba(200, 200, 200, 0.12);
  }

  &.topleft { cursor: nwse-resize; }
  &.top { cursor: ns-resize; }
  &.topright { cursor: nesw-resize; }
  &.left { cursor: ew-resize; }
  &.right { cursor: ew-resize; }
  &.bottomleft { cursor: nesw-resize; }
  &.bottom { cursor: ns-resize; }
  &.bottomright { cursor: nwse-resize; }
}

.selected {
  .node-background {
    fill: #F2F8FF;
    stroke-width: 2;
    stroke: #659FFF;
  }
  .node-label-name-bg {
    fill:#659FFF;
    ~ .node-label {
      fill:#fff;
    }
  }
}

.server-number-bg {
  stroke-width: 0;
  fill: #439beb;
}
.server-number {
  fill: #fff;
  font-size: 11px;
}
.volume-number {
  fill: #74B1FD;
  pointer-events:none;
}
.volume-image, .eip-status {
  cursor: pointer;
}

.group-asg {
  stroke-width: 2;
  // fill: rgba(118, 214, 255, 0.05);
  fill: #f6faf9;
  stroke: #76d6ff;
  stroke-linejoin: round;
  stroke-dasharray: 6, 4;
  stroke-width: 2;
}
.asg-title {
  fill: #83CBF9;
  stroke: none;
}

/* port style */
.port {
  stroke-width:0;
}
.port-blue {
  fill: #6DAEFE;
  stroke: #6DAEFE;
}

.port-green {
  fill: #12CD4F;
  stroke: #12CD4F;
}

.port-purple {
  fill: #bf7aa5;
  stroke: #b22f70;
}

.port-gray {
  fill: #d8d7d6;
  stroke: #bebebe;
}

.stack, .appedit {
  .port:hover {
    fill: #F2F8FF;
    stroke-width: 2;
    cursor  : pointer;
  }
}

.AWS-VPC-VPC {
  .group {
    stroke: #dcdcdc;
    stroke-linejoin: round;
    stroke-dasharray: none;
    stroke-width: 4;
  }

  &:hover {
    .group { stroke: #C6C4C4; }
  }

  .group-label {
    fill:#aaa;
  }
}

.AWS-EC2-AvailabilityZone {
  .group {
    fill: rgba(252, 190, 23, 0.02);
    stroke: #f9be76;
    stroke-linejoin: round;
    stroke-dasharray: 16, 6;
    stroke-width: 2;
  }

  &:hover {
    .group { stroke: #F69722; }
  }

  .group-label {
    fill: #F69722;
  }
}

.AWS-VPC-Subnet {
  .group {
    stroke: #dbd7d7;
    stroke-linejoin: round;
    stroke-dasharray: 16, 6;
    stroke-width: 2;
  }

  &:hover {
    .group { stroke: #C6C4C4; }
  }

  .group-label {
    fill: #999;
  }
}

.ExpandedAsg {
  opacity: 0.5;
}

.prompt_text {
  fill: #16B4F9;
  font-size: 12px;
  cursor: default;
}

.asg-resource-dragger {
  cursor: pointer;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.line {
  cursor: pointer;
  stroke-linejoin: round;
  fill: none;
  stroke-width: 2px;

  &:hover {
    opacity: .8;
    stroke-width: 4px;
  }
}

.EniAttachment {
  stroke: #12CD4F;
}

.RTB_Asso, .ElbSubnetAsso {
  stroke: #d8d7d6;
}

.AWS-VPC-VPNConnection {
  stroke: #bf7aa5;
}

.RTB_Route {
  stroke: #6DAEFE;
  .dash-line {
    stroke: #9FC9FD;
    stroke-dasharray: 10px 10px;
  }
}

.ElbAmiAsso {
  stroke: #0973f6;
}

.AWS-AutoScaling-LaunchConfiguration {
  + .prompt_text {
    display : none;
  }
}

.SgRuleLine {
  stroke: #6DAEFE;
  opacity: 0.2;
  stroke-dasharray: 10,5;
}

.fill-line {
  stroke: #fff;
  stroke-opacity: 0;
  stroke-width: 10px;
  stroke-dasharray: none;
}
