@import "compass";

$LeftPanelWidth       : 246px;
$RightPanelWidth      : 288px;
$RightStatePanelWidth : 654px;
$TopPanelHeight       : 40px;
$BottomPanelHeight    : 24px;

@mixin slide($direction :  left) {
  -webkit-transition: $direction .1s ease-out;
  -moz-transition: $direction .1s ease-out;
  -ms-transition: $direction .1s ease-out;
  -o-transition: $direction .1s ease-out;
  transition: $direction .1s ease-out;
}

@mixin width {
  -webkit-transition: width .1s ease-out;
  -moz-transition: width .1s ease-out;
  -ms-transition: width .1s ease-out;
  -o-transition: width .1s ease-out;
  transition: width .1s ease-out;
}

// Sidebar and Layout
.OEPanelLeft, .OEPanelRight {
  position   : absolute;
  z-index    : 3;
  background : $bg-p;
  top        : 0;
  bottom     : 0;
}

.OEPanelLeft {
  width : $LeftPanelWidth;
  left  : 0;

  @include slide(left);

  &.force-hidden {
    display : none;
  }

  &.hidden {
    left : -$LeftPanelWidth;
    > .HideOEPanelLeft:before {
      content : "\F124";
    }
  }

  & ::selection {
    background : transparent;
  }
}

.OEPanelRight {
  right   : 0;
  width   : $RightPanelWidth;
  z-index : 8;

  @include slide(right);

  &.hidden {
    right: -$RightPanelWidth;
    .HideOEPanelRight:before {
      content : "\F125";
    }
  }

  &.state.hidden {
    right: -$RightStatePanelWidth;
  }

  &.no-transition {
    @include transition( none );
  }

  &::selection {
    background: transparent;
  }

}

.OEMiddleWrap {
  position : absolute;
  z-index  : 2;
  top      : 0;
  left     : 0;
  bottom   : 0;
  right    : 0;

  -webkit-transition: width .1s ease-out, left .1s ease-out, right .1s ease-out;
  -moz-transition: width .1s ease-out, left .1s ease-out, right .1s ease-out;
  -ms-transition: width .1s ease-out, left .1s ease-out, right .1s ease-out;
  -o-transition: width .1s ease-out, left .1s ease-out, right .1s ease-out;
  transition: width .1s ease-out, left .1s ease-out, right .1s ease-out;
}

.OEPanelTop {
  height     : $TopPanelHeight;
  width      : 100%;
  min-width  : 610px;
  background : lighten($bg-p, 5%);

  position: absolute;
  z-index: 3;

  + .OEPanelRight {
    top : $TopPanelHeight;
  }
}

.OEPanelBottom {
  position : absolute;
  bottom   : 0;
  width    : 100%;

  background  : lighten($bg-p, 5%);
  height      : $BottomPanelHeight;
  line-height : $BottomPanelHeight;

  color     : #999;
  font-size : 12px;
  z-index   : 3;

  box-sizing    : border-box;
  border-top    : 1px solid darken($bg-p, 5%);
  border-right  : 1px solid darken($bg-p, 5%);

  ~ .OEPanelCenter {
    bottom : $BottomPanelHeight;
  }
}

.OEPanelCenter {
  position : absolute !important;
  width    : 100%;
  top      : 40px;
  bottom   : 0;
  height   : auto;

  .nano-pane {
    display    : block;
    opacity    : 1;
    background : none;
  }
}

.OEPanelRight:not(.state):not(.hidden) ~ .OEMiddleWrap { right : $RightPanelWidth; }
.OEPanelRight:not(.hidden).state ~ .OEMiddleWrap { right : $RightStatePanelWidth; }
.OEPanelLeft:not(.hidden)  ~ .OEMiddleWrap { left  : $LeftPanelWidth; }
.OEPanelLeft.force-hidden  ~ .OEMiddleWrap {
  left  : 0;
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
}

.sidebar-title {
  padding-left : 10px;
  height  : 39px;

  font-size   : 16px;
  line-height : 39px;
  color       : #b0b0b0;

  background-color : lighten($bg-p, 5%);
  border-bottom    : 1px solid darken($bg-p, 5%);
  box-shadow       : inset 0 1px 0 rgba(255,255,255,.05);

  &.open .menu-manage-shard-res {
      color            : lighten($base-p,20%);
      background-color : rgba(0, 0, 0, 0.3);
  }

  i {
    width      : 40px;
    height     : 40px;
    float      : right;
    cursor     : pointer;
    text-align : center;

    &:hover {
      color            : lighten($base-p,20%);
      background-color : rgba(0, 0, 0, 0.3);
    }

    &.disabled {
      color  : #666;
      cursor : default;

      &:hover {
        color: #666;
        background-color: transparent;
      }
    }
  }
}

.refresh-resource-panel {
  line-height: 37px;
  -webkit-transform-origin : 20px 20px;
     -moz-transform-origin : 20px 20px;
          transform-origin : 20px 20px;

  &.reloading:hover { background : none; }
}

.sidebar-hider {
  position   : absolute;
  top        : 50%;
  margin-top : -27px;
  padding    : 18px 3px;
  box-shadow : 0 0 6px rgba(0, 0, 0, 0.3), inset 1px 1px 0 rgba(255,255,255,.1);
  border     : 1px solid #676767;
  color      : #fff;
  background : #666;
  cursor     : pointer;

  &:before { font-size : 14px; }

  &:hover {
    background : #777;
  }
}

.HideOEPanelLeft {
  left          : 100%;
  border-left   : none;
  border-radius : 0 3px 3px 0;
}

.HideOEPanelRight {
  right         : 100%;
  border-right  : none;
  border-radius : 3px 0 0 3px;
}


#OpsEditor {
  .disabled-event-layout {
    z-index : 6;
  }
}

.ops-apppm-wrapper {
  position      : absolute;
  width         : 300px;
  min-height    : 300px;
  right         : 20px;
  background    : rgb(28, 28, 31);
  z-index       : 9;
  top           : 20px;
  border-radius : 4px;
  padding       : 20px;
  box-shadow    : 0 3px 10px rgba(22, 21, 27, 0.2);

  &:hover {
    top: 22px;
    box-shadow: 0 0 5px rgba(22, 21, 27, 0.6);
  }
}
