/*
    IDE Core Editor 

    - Layout
    - Side Panel Show and Hide
    - App View - Failed to Pay Limitation
*/

$LeftPanelWidth       : 246px;
$RightPanelWidth      : 288px;
$RightStatePanelWidth : 654px;
$TopPanelHeight       : 40px;
$BottomPanelHeight    : 24px;

/* Side Panel Layout */

.OEPanelLeft, .OEPanelRight {
  position   : absolute;
  z-index    : 3;
  background : $bg-p;
  top        : 0;
  bottom     : 0;

  &::selection {
    background: transparent;
  }

}

.OEPanelLeft {
  width : $LeftPanelWidth;
  left  : 0;

  @include transit($method:left, $dur:.1s);

  &.force-hidden {
    display : none;
  }

  &.hidden {
    left : -$LeftPanelWidth;
    > .HideOEPanelLeft:before {
      content : "\F124";
    }
  }
}

.OEPanelRight {
  right   : 0;
  width   : $RightPanelWidth;
  z-index : 8;

  @include transit($method:right, $dur:.1s);

  &.hidden {
    right: -$RightPanelWidth;
    .HideOEPanelRight:before {
      content : "\F125";
    }
  }

  &.state.hidden {
    right: -$RightStatePanelWidth;
  }

  &.no-transition {
    @include transition( none );
  }
}

.sidebar-title {
  padding : 0 10px;
  height  : 39px;

  font-size   : 16px;
  line-height : 40px;
  color       : #b0b0b0;

  background-color : lighten($bg-p, 5%);
  border-bottom    : 1px solid darken($bg-p, 5%);
  box-shadow       : inset 0 1px 0 rgba(255,255,255,.05);

  button {
      margin         : 0;
      padding-top    : 10px;
      padding-bottom : 9px;
      width          : 50%;
      text-align     : center;
      float          : left;
      cursor         : pointer;
      color          : #b0b0b0;

      &:hover { color: #fff; }

      &.selected {
        border-bottom : 2px solid $base-b;
        color         : $base-b;
      }
  }
}

@mixin activedPanelTab {
    border-bottom: 2px solid $base-b;
    color: $base-b;
}

.openstack .OEPanelTop .sidebar-title {

  width        : 280px;
  padding-left : 0;
  float        : right;
  border-bottom: none;
  box-sizing   : border-box;
  box-shadow   : none;

  &.resource .resource { @include activedPanelTab; }
  &.property .property { @include activedPanelTab; }
  &.state    .state    { @include activedPanelTab; }
  &.config   .config   { @include activedPanelTab; }

  a {
    width      : 25%;
    float      : left;
    cursor     : pointer;
    height     : 100%;
    box-sizing : border-box;

    color      : $light-p-1;
    text-align : center;

    &::selection { background: transparent; }

    &.state span {
        font-size      : 12px;
        display        : inline-block;
        color          : #000;
        position       : absolute;
        max-width      : 22px;
        min-width      : 12px;
        height         : 14px;
        line-height    : 14px;
        overflow       : hidden;
        text-overflow  : ellipsis;
        background     : rgba(255,255,255,.2);
        top            : 11px;
        right          : 6px;
        padding        : 2px;
        border-radius  : 4px;
        letter-spacing : -1px;
        text-align     : center;
    }

  }

  a:hover {
    color: #fff;
  }

  &[data-mode="app"] a {
    width: 33%;
    &.resource { display: none; }
  }

}

.sidebar-hider {
  position   : absolute;
  top        : 50%;
  margin-top : -27px;
  padding    : 18px 3px;
  box-shadow : 0 0 6px rgba(0, 0, 0, 0.3), inset 1px 1px 0 rgba(255,255,255,.1);
  border     : 1px solid #676767;
  color      : #fff;
  background : #666;
  cursor     : pointer;

  &:before { font-size : 14px; }

  &:hover {
    background : #777;
  }
}

.HideOEPanelLeft {
  left          : 100%;
  border-left   : none;
  border-radius : 0 3px 3px 0;
}

.HideOEPanelRight {
  right         : 100%;
  border-right  : none;
  border-radius : 3px 0 0 3px;
}

/* Middle Panel Layout */

.OEMiddleWrap {
  position : absolute;
  z-index  : 2;
  top      : 0;
  left     : 0;
  bottom   : 0;
  right    : 0;

  -webkit-transition : width .1s ease-in-out, left .1s ease-in-out, right .1s ease-in-out;
  -moz-transition    : width .1s ease-in-out, left .1s ease-in-out, right .1s ease-in-out;
  -ms-transition     : width .1s ease-in-out, left .1s ease-in-out, right .1s ease-in-out;
  -o-transition      : width .1s ease-in-out, left .1s ease-in-out, right .1s ease-in-out;
  transition         : width .1s ease-in-out, left .1s ease-in-out, right .1s ease-in-out;
}

.OEPanelTop {
  height     : $TopPanelHeight;
  width      : 100%;
  min-width  : 610px;
  background : lighten($bg-p, 5%);

  position: absolute;
  z-index: 3;

  + .OEPanelRight {
    top : $TopPanelHeight;
  }
}

.OEPanelBottom {
  position : absolute;
  bottom   : 0;
  width    : 100%;

  background  : lighten($bg-p, 5%);
  height      : $BottomPanelHeight;
  line-height : $BottomPanelHeight;

  color     : #999;
  font-size : 12px;
  z-index   : 3;

  box-sizing    : border-box;
  border-top    : 1px solid darken($bg-p, 5%);
  border-right  : 1px solid darken($bg-p, 5%);

  ~ .OEPanelCenter {
    bottom : $BottomPanelHeight;
  }
}

.OEPanelCenter {
  position : absolute !important;
  width    : 100%;
  top      : 40px;
  bottom   : 0;
  height   : auto;

  .nano-pane {
    display    : block;
    opacity    : 1;
    background : none;
  }
}

.OEPanelRight:not(.state):not(.hidden) ~ .OEMiddleWrap { right : $RightPanelWidth; }
.OEPanelRight:not(.hidden).state ~ .OEMiddleWrap { right : $RightStatePanelWidth; }
.OEPanelLeft:not(.hidden)  ~ .OEMiddleWrap { left  : $LeftPanelWidth; }
.OEPanelLeft.force-hidden  ~ .OEMiddleWrap {
  left  : 0;
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
}


/* App View Failed to Pay */
.ops-apppm-wrapper {
  position      : absolute;
  width         : 300px;
  min-height    : 300px;
  right         : 20px;
  background    : rgb(28, 28, 31);
  z-index       : 9;
  top           : 20px;
  border-radius : 4px;
  padding       : 20px;
  box-shadow    : 0 3px 10px rgba(22, 21, 27, 0.2);

  &:hover {
    top: 22px;
    box-shadow: 0 0 5px rgba(22, 21, 27, 0.6);
  }

  .payment-no-card-wrapper {
    width: 260px;
  }
}

@import "resource_panel";
@import "property_panel";
@import "canvas";
@import "tool_status_bar";