.fullpage-settings {
    a { cursor: pointer; }
    a.active:not(.btn), a:hover:not(.btn) { color: #5da4e5; }

    nav#settings-nav {
        width: 220px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 50px 15px 15px 15px;

        .back-settings { font-size: 18px; }

        & > section {
            header {
                font-size: 18px;
                color: white;
                padding: 8px 0;
            }
            a {
                display: block;
                padding: 5px 0;
            }
        }

    }
    section.setting-content {
        min-width: 600px;
        margin-left: 300px;
        padding: 50px 0 0 0;

        header {
            color: white;
            padding-bottom: 5px;
            font-size: 22px;
            border-bottom: 1px solid #4d4e8c;
        }

        & > article {
            color: white;
            h3 { color: #999; font-size: 20px; }


        }

        dl {
            line-height: 36px;
            dt, dd { margin-top: 0; }
            dt { float: left; }
            dd { padding-left: 77px; min-height: 36px; }
        }

        .avatar img { width: 80px; height: 80px; }
        .change-photo {
            height: 91px;
            #change-photo { margin: 49px 0 0 0; }
        }

        #AccountEmail, #AccountFullName {
            color : #148BE6;
        }

        #AccountPwd {
            color       : #148BE6;
            padding     : 3px 0;
            margin-left : 0;
        }

        .icon-edit {
            color: #909091;
            cursor: pointer;
            &:hover { color: #148BE6; }
        }

        .member-setting {
            #mail {
                width: 370px;
            }
            .invite {
                float: left;
            }
            .table th, .table td {
                overflow: inherit;
            }
            .checkbox-row {
                width: 30px;
            }
            .memlist-item {
                .avatar {
                    float: left;
                }
                .info {
                    float: left;
                }
                .memlist-edit-mode {
                    display: none;
                }
                &.edit {
                    .memlist-view-mode {
                        display: none;
                    }
                    .memlist-edit-mode {
                        display: block;
                    }
                }
                #memtype {
                    width: 165px;
                }
                .selectbox {
                    .selection {
                        .desc {
                            display: none;
                        }
                    }
                    li {
                        overflow: hidden;
                    }
                }
            }
            #delete {
                float: right;
            }
        }

        .accountEditWrap {
            display    : none;
            .input {
              width   : 250px;
              padding : 5px;
            }
            .dl-horizontal {
              line-height : 36px;
            }
        }

        #AccountInfo, #AccountEmailInfo {
            width         : 360px;
            font-size     : 12px;
            border-radius : 3px;
            color         : #ec3c38;
            height        : 30px;
            line-height   : 30px;
            margin        : 10px 0;
        }

        .accountPwdBtns {
            padding-left : 130px;
        }

        #AccountUpdatePwd, #AccountUpdateEmail, #AccountUpdateFullName{
            padding   : 5px;
            min-width : 80px;
            font-size : 12px;
        }

        #AccountCancelPwd, #AccountCancelEmail, #AccountCancelFullName {
            font-size      : 12px;
            color          : #999;
            padding        : 3px;
            display        : inline-block;
            vertical-align : middle;
        }

    }

    .token-table {
        position   : relative;
        height     : 200px;
        background : rgba(0,0,0,.1);
        font-size  : 12px;

        &.empty {
            > header { display : none; }
        }

        .tokenName, .tokenToken, .tokenControl {
            margin      : 0 5px;
            line-height : 20px;
            padding     : 5px;
            height      : 20px;
            width       : 90px;
            float       : left;
        }

        .tokenToken {
            width : 230px;
        }

        .tokenControl {
            width      : 60px;
            padding    : 0;
            margin-top : 3px;

            button.tooltip {
                cursor  : pointer;
                padding : 0;
                color   : #666;

                &.icon-edit {
                    margin-right: 12px;
                }

                &.icon-edit:hover {
                    color: #148BE6;
                }
                &.icon-delete:hover {
                    color: #ec3c38;
                }
            }
        }

        input.tokenName {
            line-height : 18px;
        }

        input.tokenName[readonly] {
            border : none;
            background : none;
        }

        .tokenDone { display:none; }
        .tokenDone {
            min-width   : 80px;
            padding     : 4px 0;
            line-height : 20px;
        }

        // .tokenControl .tooltip:before {
        //   cursor : pointer;
        //   color  : #34A3F8;
        // }

        > .scroll-wrap {
            height : 168px;
        }
    }

    #TokenList {
        &:empty {
            height : 100%;
            &:before {
                content     : attr(data-empty);
                width       : 100%;
                text-align  : center;
                height      : 20px;
                line-height : 20px;
                top         : 50%;
                left        : 0;
                position    : absolute;
            }
        }

        > li {
            clear  : both;
            height : 30px;
        }

        > li {
            &:hover, &.editing {
                .tokenControl { display:block; }
            }

            &.editing {
                .tooltip { display:none; }
                .tokenDone { display:block; }
            }
        }

        .tokenToken {
            color: #eee;
        }

        .tokenName.input {
            font-size: 12px;
        }

    }

    #TokenRmConfirm {
        h3 {
            font-size     : 18px;
            padding       : 10px 0;
            color         : #eee;
            margin-bottom : 10px;
        }

        p {
            color : #ccc;
        }

    }

    .cred-btn-wrap {
        margin-top: 20px;
    }

}
