#tabbar-wrapper {

  padding     : 10px 0 0 45px;
  width       : 10000px;
  white-space : nowrap;
  position    : relative;
  height      : 39px;
  background  : #36343C;

  > ul {
    float : left;
  }

  > ul > li {
    float       : left;
    height      : 39px;
    line-height : 39px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    color : #8b8b8b;
    background-color : #404040;
    background-position : 4px 9px;

    padding    : 0 0 0 32px;

    border        : 1px solid #010101;
    border-bottom : none;
    border-left   : none;
    cursor        : pointer;

    -webkit-transition: background-color .2s, box-shadow .2s;
    -moz-transition:    background-color .2s, box-shadow .2s;
    -ms-transition:     background-color .2s, box-shadow .2s;
    -o-transition:      background-color .2s, box-shadow .2s;
    transition:         background-color .2s, box-shadow .2s;

    &.active,
    &.active:hover {
      background-color : #202020;
      color            : #fff;
      font-weight      : bold;
      box-shadow       : inset 0 3px 0 #9F62D1;
    }

    &.active, &:hover {
      .icon-close { visibility: inherit; }
    }

    &:hover {
      background-color: #494949;
    }

    .icon-close {
      position    : absolute;
      right       : 3px;
      top         : 12px;
      width       : 16px;
      height      : 16px;
      line-height : 16px;
      float       : right;
      visibility  : hidden;
      color       : #999;
      cursor      : pointer;

      &:hover {
        color : #F09595;
      }
    }

    &[data-placeholder] {
      background : none;
      border     : none;
    }
  }

  .truncate {
    margin-right : 12px;
  }
}

#ws-fixed-tabs {
  border-left : 1px solid #010101;
}

#ws-tabs > li {
  position : relative;
  cursor   : pointer !important;

  .truncate {
    display : block;
    margin-right : 22px;
  }
}

#header {
  height     : 49px;
  z-index    : 10;
  position   : absolute;
  right      : 0;
  top        : 0;
  max-width  : 500px;
  background : #36343C;

  .dropdown, #support {
    position:    relative;
    float:       left;
    height:      50px;
    line-height: 49px;

    border-left        : 1px solid #222;

    -webkit-transition : background-color 0.2s;
    -moz-transition    : background-color 0.2s;
    -ms-transition     : background-color 0.2s;
    -o-transition      : background-color 0.2s;
    transition         : background-color 0.2s;
  }

  #support {
    padding  : 0 20px;

    &:before { margin-right: 5px; }
    &:hover {
      color : #9C6DC0;
      background : rgba(0,0,0,.2);
    }
  }

  .dropdown {
    &:hover,
    &.open {
      background : rgba(0,0,0,.2);
    }

    .js-toggle-dropdown {
      display : block;
      padding : 0 20px;
      color   : #ddd;
      cursor  : pointer;
      height  : 50px;
      line-height: 49px;

      &:hover {
        color: #9C6DC0;
      }
    }
  }

  .voquota {
    float: left;
    display: none;
    text-align: center;
    vertical-align: top;
    padding: 16px 10px;
    width: 18px;
    height: 18px;
    &:hover {
      background : rgba(0,0,0,.2);
      cursor: pointer;
    }
    &.show{
      display: block;
    }
    .payment-exclamation{
      display: block;
      width: 18px;
      height: 18px;
      background: #F00;
      top: -5px;
      left: -5px;
      border-radius: 50%;
      line-height: 18px;
      text-align: center;
      color: #ffffff;
      border: 1px solid #000000;
    }
  }
}

.payment-header-tooltip {
  font-size: 14px;
  margin-top: 5px;
}

.payment-header-tooltip strong {
  color:  #fff;
}

.payment-header-tooltip span {
  display: block;
  font-size: 12px;
  text-align: center;
  margin: 5px 0;
  color: #b0b0b0;
}

#HeaderUser + .dropdown-menu > li {
  width         : 140px;
  line-height   : 39px;
  height        : 40px;
  padding       : 0 20px;
  color         : #ddd;
  cursor        : pointer;
  border-bottom : 1px solid #202020;
}

.dropdown-menu {
  display          : none;
  line-height      : normal;
  font-size        : 12px;
  position         : absolute;
  top              : 50px;
  right            : 0;
  z-index          : 3;
  box-shadow       : 0 2px 5px rgba(0, 0, 0, 0.5);
  border           : 1px solid #202020;
  border-top       : none;
  background-color : #36343C;

  li:hover {
    background-color: rgba(0,0,0,.2);
  }

}

.open > .dropdown-menu {
  display: block;
}


/* Notification Dropdown */

#NotificationCounter {
  top           : 5px;
  right         : 4px;
  position      : absolute;
  padding       : 0 4px;
  border-radius : 8px;
  background    : #ec3c38;
  font-size     : 12px;
  font-weight   : bold;
  color         : #FFF;
  text-align    : center;
  height        : 16px;
  line-height   : 16px;
  min-width     : 8px;

  &:empty { display : none; }
}

#notification-panel-wrapper {
  width            : 400px;
  line-height      : normal;
  background-color : #353535;

  .notification-item {
    border-bottom: 1px solid #222;
    padding: 13px 15px 10px;

    &:hover {
      background: #020202;
    }

    &:last-child {
      border-bottom : none;
    }

    &.unread {
      background-color: #252327;
    }

    .content {
      padding-left : 24px;
      font-size    : 13px;
      color        : #999;
      line-height  : 18px;
    }

    .notification-details {
      margin-top       : 15px;
      margin-left      : 20px;
      padding          : 10px;
      border-radius    : 2px;
      font-size        : 12px;
      color            : #fff;
      background-color : #ec3c38;
    }

    .notification-duration {
      margin-top  : 6px;
      color       : #aaa;
      margin-left : 23px;
    }

    .timestamp {
      text-align: right;
      padding-top: 5px;
    }
  }
}


#notification-panel-wrapper [class^="icon-"],
#notification-panel-wrapper [class*=" icon-"] {
  width   : 16px;
  height  : 16px;
  display : block;
  float   : left;
}

#notification-panel-wrapper {
  .icon-pending {
    color: #ccc;
  }

  .icon-error {
    color: #ec3c38;
  }

  .icon-success {
    color: #17c249;
  }
}

.notification-empty {
  padding      : 10px 15px;
  text-align   : center;
  display      : none;
  border-bottom: none;
  width        : 370px;

  .title {
    font-size      : 16px;
    color          : #ccc;
    padding-bottom : 10px;
  }

  .description {
    color: rgb(153, 153, 153);
  }
}

#notification-panel-wrapper .scroll-content:empty ~ .notification-empty {
  display : block;
}
