@import "compass";

#import-cf-form {
  position: relative;

  .modal-footer { padding: 0 13px; }

  .loader {
    position      : absolute;
    width         : 100%;
    height        : 100%;
    border-bottom : none;
    background    : rgba(0,0,0,0.8);
    padding       : 0;
    left          : 0;
    top           : 0;
    display       : none;

    .loading-spinner {
      margin: 30% auto;
    }
  }

  .modal-control-group label {
    width: 187px;
  }

  section h5 {
    font-size     : 14px;
    color         : #ccc;
    margin-bottom : 5px;
  }
}

.cf-params-wrap {
  border-radius : 2px;
  background    : #333;
  height        : 300px;
}

.cf-params {

  > li {
    padding       : 10px;
    border-bottom : 1px solid #111;
    display       : flex;
    align-items   : stretch;

    &:after {
      content : "";
      display : block;
      height  : 0;
      clear   : both;
    }
  }

  .cf-left {
    width        : 34%;
    margin-right : 2%;
  }

  .cf-name, .cf-type {
    height        : 30px;
    box-sizing    : border-box;
    word-break    : break-all;
    display       : block;
    margin-bottom : 6px;
  }

  .cf-right {
    width: 60%;
  }

  .cf-input-wrap, .cf-desc {
    display : block;
    box-sizing : border-box;
  }

  .cf-type, .cf-desc {
    font-size: 12px;
    color: #666;
  }

  .cf-desc p {
    margin-bottom: -4px;
  }

  .cf-input {
    width       : 300px;
    line-height : 18px;
  }

  > li.error {
    box-shadow: inset 4px 0 0 $base-r;

    .cf-error { display : block; }
  }

  .cf-error { 
    display   : none; 
    font-size : 12px;
    color     : $base-r;
    margin-top: 4px;
  }
}

.param-error {
    color     : $base-r;
    float     : left;
}

.cf-input.select2-container {
  padding : 0;
  border : none;
  width : 314px;
}
