/* Edit Subnet Group Modal */

.dbsgppp-subnet-list {
  position     : relative;
  padding-left : 32px;

  label {
    cursor: pointer;
  }

  .checkbox {
    position   : absolute;
    top        : 50%;
    left       : 8px;
    margin-top : -8px;
  }
}

.dbsgppp-cidr {
  font-size   : 12px;
  color       : #666;
}


.modal-db-replica-promote-confirm {
  ul {
    padding       : 10px 20px;
    color         : #ddd;
    background    : rgba(0,0,0,.3);
    border-radius : 3px;
  }
  li {
    list-style-type     : decimal;
    list-style-position : inside;
  }
  p {
    padding : 0 20px;
    color   : $orange;
  }
  a {
    color     : $base-b;
    font-size : 12px;
    margin    : 0 20px;
    
    &:hover {
      text-decoration: underline;
    }
  }
}