@import "compass";
$navHeight : 38px;
@mixin retina {
  @media (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2/1), (min-device-pixel-ratio: 2) {
    & { @content; }
  }
}
#PaymentNav {
  background:    #0c0c0c;
  height:        $navHeight;
  border-bottom: 1px solid #000;

  > span {
    float       : left;
    min-width   : 100px;
    text-align  : center;
    color       : #148BE6;
    height      : $navHeight;
    line-height : $navHeight;
    cursor      : pointer;
    position    : relative;
    padding     : 0 10px;
    font-size   : 12px;

    &.selected:before {
      position:      absolute;
      left:          0;
      bottom:        0px;
      content:       '';
      border-bottom: 2px solid #148BE6;
      width:         100%;
    }
  }
}

.warning-red {
  text-align    : center;
  color         : #eee;
  background    : #a42b2b;;
  padding       : 5px;
  line-height   : 24px;
  border-radius : 3px;
  font-size     : 14px;

    a {
      text-decoration : underline;
      font-weight     : 700;
      color           : #7eace1;

      &:hover {
        color: #fff;
      }
    }
  }


#PaymentBody {
  min-height: 150px;

  .dl-horizontal {
    margin: 0;
    line-height: 30px;

    dt, dd {
      margin-top: 0;
    }
  }

  .link-style {
    color: #999;
    line-height: 30px;
    margin-left: 10px;
  }
  .table-head{
    width: 100%;
    background: #363636;
    tr th{
      position: relative;
      padding: 6px 12px;
      font-size: 13px;
      font-weight: 500;

    }
  }
  .sortable{
    cursor: pointer;
  }
  .t-m-content a.link-blue{
    margin:0 10px;
  }
  .t-m-content tr.item{
    font-size: 12px;
  }
  
}

.no-payment-card-info{
  width: 400px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.payment-hint{
  margin-top: 20px;
}
.payment-card{
  height: 100px;
  width: 100%;
}
.payment-credit-middle{
  width           : 80px;
  height          : 44px;
  background      : url("../images/ide/creditcard-normal.png") left center no-repeat;
  background-size : 60px auto;

  @include retina() {
      & {
        background-image : url("../images/ide/creditcard-normal@2x.png");
      }
    }
}

.billing_start_from{
  position: absolute;
  top: 3px;
  right: 0;
  font-size: 12px;
  color: #99A;
}

.used-points{
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;

  .usage-number{
    font-size : 36px;
    color     : #be4444;
    display   : inline-block;
  }
  span{
    margin-left: 10px;
    display: inline-block;
  }
}
.used-points .usage-number{
  color: #33c317;
}

.used-points.error .usage-number{
  color: #fd0d00;
}

.renew-points{
  margin-top: 10px;
  font-size: 12px;
}


.table.payment-table {
    color : lighten($base-p,40%);

  tbody tr td.align-right {
    text-align : right;
    color      : lighten($base-b,30%);
  }
} 

.link-blue {
  font-size : 12px;
  color     : $base-b;
  &:hover {
    text-decoration : underline;
  }
}
.payment-no-card-wrapper{
  width: 450px;
  margin: 0 auto;
}
.payment-modal-wrap, .provide-payment-info {
  text-align: center;
  padding-top: 30px;

  .btn-xlarge {
    padding       : 10px 20px;
    font-size     : 17px;
    margin-bottom : 10px;
  }

  p {
    font-size : 12px;
    color     : #888;
  }
}

.payment-credit-card {
  width  : 100%;
  height : 100px;

  background: url("../images/ide/creditcard-normal.png") center center no-repeat;

  @include retina() {
      & {
        background-image : url("../images/ide/creditcard-normal@2x.png");
        @include background-size( image-width("../images/ide/creditcard-normal.png") auto ); 
      }
    }

  &.payment-failed {
    background: url("../images/ide/creditcard-failed.png") center center no-repeat;

    @include retina() {
      & {
        background-image : url("../images/ide/creditcard-failed@2x.png");
        @include background-size( image-width("../images/ide/creditcard-failed.png") auto ); 
      }
    }
  }
}

#modal-run-stack, #app-apply-update {
  @include displayflex;
  flex-direction : row;
  @include vo-flex-wrap(wrap);
}

.payment-wrapper{
  width   : 434px;
  padding : 10px;
}

.payment-text {
  letter-spacing : .4px;
  line-height    : 20px;
  margin         : 10px 0;
  color          : #eee;
}

.members-only {
  display               : none;
  border                : 1px solid $yellow;
  padding               : 10px;
  margin                : 10px;
  margin-bottom         : 0;
  color                 : $yellow;
  -webkit-border-radius : 3px;
  -moz-border-radius    : 3px;
  border-radius         : 3px;
}

// .payment-wrapper > .scroll-wrap > .scroll-content{
//   padding: 12px 15px;
// }
.payment-wrapper-right{
  width            : 210px;
  border-left      : 1px solid #000000;
  background-color : #212121;
}
.payment-warning{
  display: block;
  border: 1px solid #f9b42d;
  color: #f9b42d;
  font-size: 12px;
  padding: 3px;
  margin: 0 10px;
  background-color: #393939;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.payment-warning a{
  color: #f9b42d;
  text-decoration: underline;
}

/* Billing Modal */

#PaymentBillingTab {
  h5 {
    color         : #eee;
    line-height   : 32px;
    margin-bottom : 4px;
  }

  div + h5 {
    margin-top : 8px;
  }

  .left p {
    margin-bottom : 4px;
  }

  .payment-next-billing {
    float      : right;
    margin-top : 5px;

    font-size      : 12px;
    vertical-align : bottom;
    line-height    : 2em;
    color          : #99a;
  }

}
