
// SG ACL Property

#security-group-select {
	position: absolute;
	top: 0;
	right: 0;
}

#security-group-select .dropdown-toggle {
	width: 36px;
	height: 36px;
	background-color: #EEE;
	display: inline-block;
}

#security-group-select .dropdown-menu {
	top: 38px;
	left: -120px;
}

#security-group-select .dropdown-menu li a div.truncate {
	width: 120px;
}

.sg-info-list-tab {
	color         : #999;
	background    : rgba(0,0,0,.2);
	padding       : 5px;
	height        : 30px;
	box-shadow    : 0 2px 5px 0 rgba(0,0,0,.1);
	border-bottom : 1px solid #2a2a2a;

	li {
		width : 130px;
		float : left;

		height      : 30px;
		line-height : 30px;
		text-align  : center;

		cursor : pointer;

		border-radius: 4px;

		-webkit-transition: background .2s;
		-moz-transition: background .2s;
		-ms-transition: background .2s;
		-o-transition: background .2s;
		transition: background .2s;

		&:last-child {
			margin-left: 10px;
		}

		&.active,
		&:hover {
			color: #eee;
			background: #000;
		}
	}
}

.acl-sg-info-list.property-list > li {
	height  : 52px;
	padding : 8px 0 16px 10px;
	width   : auto;
	position: relative;
}

.acl-sg-info-list.property-list {
	border-top: none;
}

.acl-sg-info-list.property-list li:last-child {
	border-bottom: none;
}

.acl-info-list.property-list > li {
	height  : 38px;
}

.acl-sg-info-list .col1 {
	margin-right: 15px;
	width       : 15px;
	float       : left;
	margin-top  : 13px;
}

.acl-sg-info-list .col1.checkbox-wrap {
	margin-top  : 20px;
}

.acl-sg-info-list .col2 {
	width     : 170px;
	float     : left;
	word-wrap : break-word;
}

.acl-sg-info-list .col2 > div {
	width: 210px;
}

.acl-sg-info-list .col2 .col2-1 {
	color: #e0e0e0;
	margin-bottom: 8px;
}
.acl-sg-info-list .col2 .col2-2 {
	color: #bbb;
	font-size: 12px;
}
.acl-sg-info-list .col2 .col2-3 {
	color: #999;
	font-size: 12px;
}
.acl-sg-info-list .col3 {
	float        : right;
	margin-top   : -8px;
	position     : relative;

	text-align : center;

	cursor      : pointer;
	width       : 40px;
	height      : 76px;
	line-height : 76px;


	-webkit-transition : background .2s;
	-moz-transition    : background .2s;
	-ms-transition     : background .2s;
	-o-transition      : background .2s;
	transition         : background .2s;
}

.acl-info-list .col3 {
	height      : 62px;
	line-height : 62px;
}

.acl-sg-info-list .col3:hover {
	background-color: rgba(0,0,0,.2);
}

.acl-sg-info-list .sg-list-association-check {
	float: left;
	margin-right: 10px;
}

.acl-sg-info-list .sg-list-association-check.hide {
	display: none;
}

.acl-sg-info-list .sg-list-delete-btn {
	cursor       : pointer;

}

.icon-btn-details {
	width  : 16px;
	height : 16px;
	color  : #606060;

	&:hover {
		color: $base-b;
	}
}

/* property-newtwork-acl */

.acl-rule-list.property-list li {
	width: 280px;
	padding: 0;

	.acl-rule-number {
		width       : 100%;
		height      : 20px;
		line-height : 20px;
		font-size   : 12px;

		background : $bg-p;
		padding    : 0 10px;

		border-top    : 1px solid darken($bg-p,5%);
		border-bottom : 1px solid darken($bg-p,5%);
		// box-shadow    : inset 0 1px 0 rgba(255,255,255,.05), 0 2px 2px rgba(0,0,0,.1);
	}
}

.acl-rule-details {
	padding  : 10px;
	position : relative;
	width    : 260px;
}

.acl-rule-allow-cb {
	width      : 16px;
	height     : 16px;
	display    : inline-block;
}

.acl-rule-allow-cb.icon-allow {
	color: #17c249;
}

.acl-rule-allow-cb.icon-deny {
	color: #F74A48;
}

#modal-acl-rule .sg-protocol-option-input.show {
	display: block;
}

#modal-acl-rule .sg-protocol-option-input {
	display: none;
}

#modal-acl-rule .simple-protocol-select {
	list-style: none;
	margin-left: 95px;
	margin-top: 20px;
	border: 1px dashed;
	padding: 5px;
	width: 325px;
}

#modal-acl-rule .simple-protocol-select li {
	cursor: pointer;
	color: #148BE6;
	font-size: 12px;
	padding: 5px 0;
	display: inline-block;
	text-align: center;
	width: 79px;
}

#modal-acl-rule .simple-protocol-select li:hover {
	text-decoration: underline;
}

// RDS Instance Property

.property-panel-wrapper {
	.property-dbinstance-status-icon-warning {
		float        : right;
		color        : #f00;
		margin-right : 10px;
	}
	.db-status-loading {
		position: absolute;
		right: 5px;
		top: -44px;
	}
	.property-dbinstance-not-available-info {
		color: #fff;
		background-color: #ff6600;
		padding: 10px;
	}
}

.property-dbinstance {
	#property-dbinstance-class-select .dropdown {
		top: 49px;
	}
	#property-dbinstance-name {
		text-transform: lowercase;
	}
	#property-dbinstance-engine-version-select.combo-dd.selectbox .scroll-wrap {
		width: 178px;
	}
	input.shorter-input {
		width: 37px;
		padding-right: 7px;
	}
	.selectbox.shorter-dropdown {
		width: 90px;
	}
	input.property-input-left {
		width: 184px;
	}
	.property-label-right {
		margin-left: 10px;
	}
	.property-input-row-head {
		display: inline-block;
		width: 220px;
		margin-bottom: 7px;
		margin-top: 10px;
	}
	.property-input-row {
		float: left;
		width: 120px;
		margin-bottom: 10px;
		label.left {
			display: block;
		}
		input.input {
			width: 80px;
		}
		div.selectbox {
			width: 115px;
			margin-top: 2px;
		}
	}
	.property-dbinstance-iops-value-section {
		label.left {
			margin-top: 10px;
			margin-right: 5px;
		}
		#property-dbinstance-iops-value {
			width: 115px;
		}
	}

	.property-dbinstance-iops-info {
		margin-top: 15px;
	}

	.property-dbinstance-optiongroup-placeholder {
		.selectbox .selection {
			.icon-edit { display: none; }
			.option-preview { display: none; }
		}
	}

	.property-dbinstance-optiongroup-placeholder {
		.item .icon-edit {
			float: right;
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -8px;
			margin-right: 10px;
		}
		.option-preview {
			width: 208px;
			overflow: hidden;
			text-overflow: ellipsis;
			color: #aaa;
		}
	}
	#property-dbinstance-maintenance-window-group
	, #property-dbinstance-backup-window-group {
		label {
			width: 73px;
		}
	}

}

.property-subnet-group {
	.property-az-name {
		clear: both;
		padding: 5px 0 5px 12px;
		background: #515151;
		margin: 5px -10px 5px;
	}
	.property-az-name:first-child {
		margin-top: -8px;
	}

	.sb-cidr {
		padding-left: 23px;
	}

	.property-control-group .checkbox {
		position: relative;
		top: 10px;
	}
}

.app-dbinstance {
	.db-og-in-app {
		cursor: pointer;
	}
}


/* General Style for Property Panel List */


.property-list li {
	width         : 260px;
	padding       : 10px;
	border-bottom : 1px solid $bg-p;
	background    : lighten($bg-p, 5%);

	-webkit-transition : background .2s;
	-moz-transition    : background .2s;
	-ms-transition     : background .2s;
	-o-transition      : background .2s;
	transition         : background .2s;
}


.property-list li:hover {
	background : lighten($bg-p, 10%);
}

.property-list-no-padding {
	border: none;
}

.property-list.property-list-no-padding li {
	width   : 280px;
	padding : 0;
}
