

.new-project-modal  {

  .modal-footer { padding: 24px 0 5px 0; }

  .new-project-name-wrap {
    padding: 20px 10px;
    border-bottom: 1px solid #40446C;
    border-radius: 0;
  }

  label {
    color        : #eee;
    width        : 140px;
    margin-right : 10px;
    display      : inline-block;
  }

  #new-project-name {
    width: 288px;
  }

  #new-project-name:valid + .new-project-billing-wrap {
    max-height    : 500px;
    padding       : 10px 0;
    margin-top    : 20px;
    border-top    : 1px solid #000;
    border-bottom : 1px solid #000;
    height        : auto;
    opacity       : 1;
  }

  .new-project-billing-wrap {
    position   : relative;
    padding    : 0;
    margin-top : 0;
    max-height : 0;
    overflow   : hidden;
    opacity    : 0;

    @include transit($method:max-height,$dur:.3s);

    h4 {
      font-size   : 14px;
      color       : lighten($light-p-2,20%);
      line-height : 28px;

    }

  }

  .new-project-info {
    font-size      : 13px;
    color          : $base-grey;
    line-height    : 18px;
    font-weight    : 100;
    letter-spacing : .2px;
    background     : $base-p;
    padding        : 4px 6px;
    border-radius  : 4px;
    margin         : 6px 0;
  }
}




