$navHeight : 38px;

#SettingsNav {
  background:    #0c0c0c;
  height:        $navHeight;
  border-bottom: 1px solid #000;

  > span {
    float       : left;
    min-width   : 100px;
    text-align  : center;
    color       : #999;
    height      : $navHeight;
    line-height : $navHeight;
    cursor      : pointer;
    position    : relative;
    padding     : 0 10px;
    font-size   : 12px;

    &.selected {
      color: $base-b;
    }

    &:hover,
    &.selected:hover {
      color: lighten($base-b, 5%);
    }

    &.selected:before {
      position:      absolute;
      left:          0;
      bottom:        0px;
      content:       '';
      border-bottom: 2px solid $base-b;
      width:         100%;
    }
  }
}

#SettingsBody {
  width      : 430px;
  padding    : 20px 30px 30px;
  min-height : 150px;

  a {
    color: #148BE6;
  }

  a:hover {
    text-decoration: underline;
  }

  .dl-horizontal {
    margin : 0;
    line-height : 30px;

    dt, dd { margin-top : 0; }
  }

  .link-style {
    color       : #999;
    line-height : 30px;
    margin-left : 10px;
  }

  #CredSetupRemove {
    font-size : 12px;
    color     : #ec3c38;
    padding   : 0;
    margin    : 0;
  }

  #AccountPwd {
    color       : #148BE6;
    padding     : 3px 0;
    margin-left : 0;
  }

  #AccountEmail {
    color : #148BE6;
  }
}

.accountEditWrap {
  display    : none;
  margin-top : 2px;
  .input {
    width   : 250px;
    padding : 5px;
  }
  .dl-horizontal {
    line-height : 36px;
  }
}

#AccountInfo, #AccountEmailInfo {
  width         : 360px;
  font-size     : 12px;
  border-radius : 3px;
  color         : #ec3c38;
  height        : 30px;
  line-height   : 30px;
  margin        : 10px 0;
}

.accountPwdBtns {
  padding-left : 130px;
}

#AccountUpdatePwd, #AccountUpdateEmail{
  padding   : 5px;
  min-width : 80px;
  font-size : 12px;
}

#AccountCancelPwd, #AccountCancelEmail {
  font-size      : 12px;
  color          : #999;
  padding        : 3px;
  display        : inline-block;
  vertical-align : middle;
}

#CredentialTab {
  font-size  : 14px;
  min-height : 150px;

  > div { display : none; }

  h3 {
    font-size     : 16px;
    line-height   : 1.2em;
    margin-bottom : 1em;
  }

  .btn { padding : 8px 10px; }

  // .cred-btn-wrap { margin-top : 20px; }
}

#CredDemoWrap {

  h3 {
    font-size: 16px;
    color:     #eee;

    + p {
      color: #ffcb50;
    }
  }

  .cred-setup {
    margin-top: 10px;
  }
}

#CredAwsWrap .cred-setup {
  position  : absolute;
  color     : #148BE6;
  top       : 40px;
  right     : 8px;
  font-size : 12px;
}

.cred-setup-msg {
  padding          : 15px;
  background-color : #111;
  border-radius    : 4px;
  // color         : #55626e;
  color            : #ec3c38;
  margin-bottom    : 20px;
}

#CredSetupWrap {
  .icon-label {
    float        : right;
    margin-right : 0;
    color        : #25a4f4;
    line-height  : 20px;
  }

  label {
    display       : block;
    font-size     : 13px;
    margin-bottom : 6px;
    height        : 1.2em;
    line-height   : 1.2em;
  }

  .input {
    width              : 100%;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
    height             : 36px;
    padding            : 10px;
    font-size          : 13px;
    margin-bottom      : 6px;
  }
}

$welcome-dialog-width: 600px;

#WelcomeSettings {
  width : $welcome-dialog-width;

  > header {
    background: #180622;
    padding:    40px 20px;
    text-align: center;

    h2 {
      color:  #eee;
      font-size: 20px;

      span {
        word-break: break-all;
        // font-style: italic;
        opacity:    .8;
      }

    }

    p {
      color: #9F62D1;
    }

  }

  > #CredSetupWrap {
    padding : 20px 80px;
  }

  .cred-btn-wrap {
    margin-top : 10px;
  }
}

#WelcomeDialog {
  width      : $welcome-dialog-width;
  min-height : 200px;

  .link-style {
    color       : #148BE6;
    float       : left;
    height      : 26px;
    line-height : 26px;
  }
}

#WelcomeSkipWarning, #WelcomeDoneWrap {
  width:   $welcome-dialog-width - 170px;
  padding: 20px 80px;
  color:   #ccc;
}

#WelcomeSkipWarning,
#CredRemoveWrap,
#CredConfirmWrap {

    color: #ccc;

    h3 {
      font-size     : 18px;
      padding       : 10px 0;
      color         : #eee;
      border-bottom : 1px solid #000;
      margin-bottom : 20px;

      span {
        color: #ffcb50;
      }
    }

    li {
      list-style-type : circle;
      margin-left     : 20px;
      margin-bottom   : 5px;
      color           : #ffcb50;

      &:last-child {
        margin-bottom: 0;
    }
  }
}

#WelcomeDoneWrap {
  > p {
    font-size      : 16px;
    line-height    : 24px;
    color          : #eee;
    padding-bottom : 20px;
    border-bottom  : 1px solid #000;
    margin-bottom  : 20px;
  }

  > p:before {
    content                : "\F12D";
    font                   : 24px/1em "MCIcon";
    font-weight            : normal;
    -webkit-font-smoothing : antialiased;

    margin-right : 10px;
    color        : #17c249;
  }

  h3 {
    font-size     : 18px;
    padding       : 10px 0;
    color         : #eee;
    margin-bottom : 10px;
  }

  li {
    list-style-type: circle;
    margin-left:     20px;
    margin-bottom:   5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: #148BE6;
  }

  a:hover {
    text-decoration: underline;
  }
}

#WelcomeCredUpdate,
#CredRemoving,
#CredUpdating  {
  margin   : 0 auto;
  width    : 400px;
  position : relative;
  height   : 200px;

  p {
    top        : 50%;
    position   : absolute;
    margin-top : -20px;
    color      : #ccc;
  }

  .loading-spinner {
    position   : absolute;
    top        : 50%;
    margin-top : -30px;
    right      : 40px;
  }
}

.token-table {
  position   : relative;
  height     : 200px;
  background : rgba(0,0,0,.1);
  font-size  : 12px;

  &.empty {
    > header { display : none; }
  }

  .tokenName, .tokenToken, .tokenControl {
    margin      : 0 5px;
    line-height : 20px;
    padding     : 5px;
    height      : 20px;
    width       : 90px;
    float       : left;
  }

  .tokenToken {
    width : 230px;
  }

  .tokenControl {
    width      : 60px;
    padding    : 0;
    margin-top : 3px;

    button.tooltip {
      cursor  : pointer;
      padding : 0;
      color   : #666;

      &.icon-edit {
        margin-right: 12px;
      }

      &.icon-edit:hover {
        color: #148BE6;
      }
      &.icon-delete:hover {
        color: #ec3c38;
      }
    }
  }

  input.tokenName {
    line-height : 18px;
  }

  input.tokenName[readonly] {
    border : none;
    background : none;
  }

  .tokenDone { display:none; }
  .tokenDone {
    min-width   : 80px;
    padding     : 4px 0;
    line-height : 20px;
  }

  // .tokenControl .tooltip:before {
  //   cursor : pointer;
  //   color  : #34A3F8;
  // }

  > .scroll-wrap {
    height : 168px;
  }
}

#TokenList {
  &:empty {
    height : 100%;
    &:before {
      content     : attr(data-empty);
      width       : 100%;
      text-align  : center;
      height      : 20px;
      line-height : 20px;
      top         : 50%;
      left        : 0;
      position    : absolute;
    }
  }

  > li {
    clear  : both;
    height : 30px;
  }

  > li {
    &:hover, &.editing {
      .tokenControl { display:block; }
    }

    &.editing {
      .tooltip { display:none; }
      .tokenDone { display:block; }
    }
  }

  .tokenToken {
    color: #eee;
  }

  .tokenName.input {
    font-size: 12px;
  }

}

#TokenRmConfirm {
  h3 {
      font-size     : 18px;
      padding       : 10px 0;
      color         : #eee;
      margin-bottom : 10px;
  }

  p {
    color : #ccc;
  }

}

.cred-btn-wrap {
  margin-top: 20px;
}
