#modal-option-group {
    padding: 20px;
    .header {
        padding: 20px 30px;
        background-color: #333;
    }
    .left {
        width: 105px;
        margin-top: 6px;
    }
    .container {
        padding: 20px;
    }
}