$navHeight : 38px;

#PaymentNav {
  background:    #0c0c0c;
  height:        $navHeight;
  border-bottom: 1px solid #000;

  > span {
    float       : left;
    min-width   : 100px;
    text-align  : center;
    color       : #148BE6;
    height      : $navHeight;
    line-height : $navHeight;
    cursor      : pointer;
    position    : relative;
    padding     : 0 10px;
    font-size   : 12px;

    &.selected:before {
      position:      absolute;
      left:          0;
      bottom:        0px;
      content:       '';
      border-bottom: 2px solid #148BE6;
      width:         100%;
    }
  }
}

#PaymentBody {
  padding: 20px 15px 30px;
  min-height: 150px;

  .dl-horizontal {
    margin: 0;
    line-height: 30px;

    dt, dd {
      margin-top: 0;
    }
  }

  .link-style {
    color: #999;
    line-height: 30px;
    margin-left: 10px;
  }
  .table-head{
    width: 100%;
    background: #363636;
    tr th{
      position: relative;
      padding: 6px 12px;
      font-size: 13px;
      font-weight: 500;

    }
  }
  .sortable{
    cursor: pointer;
  }
  .t-m-content a.link-blue{
    margin:0 10px;
  }
  .t-m-content tr.item{
    font-size: 12px;
  }
  .table-head-fix{
    height: 234px;
    background: #131313;
    .full-space{
      height: 234px;
      display: inline-block;
      line-height: 234px;
      text-align: center;
      width: 100%;
    }
  }
}
.no-payment-card-info{
  width: 400px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.payment-hint{
  margin-top: 20px;
}
.payment-card{
  height: 100px;
  width: 100%;
}
.payment-credit-middle{
  width: 120px;
  height: 60px;
}

.usage-wrapper {
  width: 300px;
  height: 300px;
  overflow: visible;
  margin: 0 auto;
  position: relative;
}
.usage-wrapper .rotate {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 10;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotateZ(225deg);
  -ms-transform: rotateZ(225deg);
  -o-transform: rotateZ(225deg);
  transform: rotateZ(225deg);
}
.usage-wrapper .rotate .loader {
  position: absolute;
  top: 0;
  left: 0;
}
.usage-wrapper .dots {
  width: 240px;
  height: 240px;
  position: absolute;
  z-index: 15;
  top: 30px;
  left: 30px;
  background: #252525;
  border-radius: 50%;
}
#usage_num{
  font-size: 60px;
  position: absolute;
  top: 100px;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
  color: #4b4f8c;
}
.usage-num-label{
  position: absolute;
  top: 70px;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #CCCCCC;
}
.usage-num-free, .usage-num-total{
  display: block;
  position: absolute;
  top: 240px;
  font-size: 13px;
}
.usage-num-free span, .usage-num-total span{
  color: #CCCCCC;
  font-size: 14px;
}
.usage-num-free span.num, .usage-num-total span.num{
  display: block;
  font-size: 20px;
}
.usage-num-free span.num{
  color: #30bc00;
}
.usage-num-total span.num{
  color: #4b4f8c;
}
.usage-num-free{
  text-align: right;
  left: -160px;
}
.usage-num-total{
  text-align: left;
  right: -160px;
}
span.payment-next-billing{
  position: absolute;
  right: 20px;
  font-size: 12px;
  vertical-align: bottom;
  line-height: 2em;
}