$navHeight : 38px;

#PaymentNav {
  background:    #0c0c0c;
  height:        $navHeight;
  border-bottom: 1px solid #000;

  > span {
    float       : left;
    min-width   : 100px;
    text-align  : center;
    color       : #148BE6;
    height      : $navHeight;
    line-height : $navHeight;
    cursor      : pointer;
    position    : relative;
    padding     : 0 10px;
    font-size   : 12px;

    &.selected:before {
      position:      absolute;
      left:          0;
      bottom:        0px;
      content:       '';
      border-bottom: 2px solid #148BE6;
      width:         100%;
    }
  }
}

#PaymentBody {
  padding: 20px 15px 30px;
  min-height: 150px;

  .dl-horizontal {
    margin: 0;
    line-height: 30px;

    dt, dd {
      margin-top: 0;
    }
  }

  .link-style {
    color: #999;
    line-height: 30px;
    margin-left: 10px;
  }
  .table-head{
    width: 100%;
    background: #363636;
    tr th{
      position: relative;
      padding: 6px 12px;
      font-size: 13px;
      font-weight: 500;

    }
  }
  .sortable{
    cursor: pointer;
  }
  .t-m-content a.link-blue{
    margin:0 10px;
  }
  .t-m-content tr.item{
    font-size: 12px;
  }
  .table-head-fix{
    height: 234px;
    background: #131313;
    .full-space{
      height: 234px;
      display: inline-block;
      line-height: 234px;
      text-align: center;
      width: 100%;
    }
  }
}
.no-payment-card-info{
  width: 400px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.payment-hint{
  margin-top: 20px;
}
.payment-card{
  height: 100px;
  width: 100%;
}
.payment-credit-middle{
  width: 120px;
  height: 60px;
}

.usage-wrapper {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.usage-wrapper .rotate {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 10;
}
.usage-wrapper .rotate #loader {
  fill: #ff6d69;
}
.usage-wrapper .dots {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
}
.usage-wrapper .dots .time {
  height: 100%;
  width: 6%;
  display: block;
  background-image: -moz-linear-gradient(#ffc8c6, #ffc8c6 16%, rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0) 84%, #ffc8c6 84%, #ffc8c6);
  background-image: -webkit-linear-gradient(#ffc8c6, #ffc8c6 16%, rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0) 84%, #ffc8c6 84%, #ffc8c6);
  background-image: linear-gradient(#ffc8c6, #ffc8c6 16%, rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0) 84%, #ffc8c6 84%, #ffc8c6);
  margin-left: -3%;
  left: 50%;
  position: absolute;
}
.usage-wrapper .dots .time.deg45 {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.usage-wrapper .dots .time.deg90 {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.usage-wrapper .dots .time.deg135 {
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}