@mixin tierline($side: left) {
	border-#{$side}: 1px #ddd solid;
}

$bg_body : #fff;

.res_diff_tree {
	overflow: auto;
	background-color: $bg_body;
	height: 681px;

	ul {
		list-style: none;
	}
	.title {
		font-size: 24px;
		margin-bottom: 30px;
		text-align: center;
	}
	.header .info {
		margin-bottom: 10px;
		font-size: 14px;
	}
	.group {
		margin-bottom: 26px;
		width: 100%;
		text-align: left;

		.head {
			position: relative;
			z-index: 2;
			padding: 10px;
			color: #009800;
			font-size: 16px;
			background-color: #f2f2f2;
			border-left: 3px #009800 solid;
			width: 100%;
			box-sizing: border-box;
		}
		.deleted-head {
			color: #c40000;
			border-left: 3px #c40000 solid;
		}
		.modified-head {
			color: #ff7901;
			border-left: 3px #ff7901 solid;
		}
		.count {
			color: #aaa;
		}

	}

	.tree {
		padding: 20px 10px 0px 10px;
		padding-left: 10px;
		font-size: 14px;

		.type {
			background-color: #ff8400;
			border-radius: 2px;
			padding: 3px 7px;
			color: $bg_body;
			position: relative;
			z-index: 1;
			font-size: 12px;
			float: left;
			margin-top: -4px;
		}
		.name {
			font-weight: bold;
			margin-left: 10px;
			line-height: 11px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			display: inline-block;
			max-width: 297px;
			height: 12px;
			font-size: 12px;
			float: left;
			margin-top: 2px;

			.old {
				color: #4a90e2;
				font-style: italic;
			}
			.new {
				color: #4a90e2;
				font-style: italic;
			}
		}
		.id {
			color: #888;
			margin-left: 4px;
			font-size: 12px;
		}
		.item {
			margin-bottom: 25px;
			padding-left: 18px;
			position: relative;
			@include tierline;

			&::before {
				@include tierline;
				@include tierline(bottom);
				margin-top: -27px;
				content: "";
				display: block;
				width: 17px;
				height: 33px;
				position: absolute;
				margin-left: -19px;
				z-index: 0;
			}

			&::after {
				display: block;
				content: "";
				height: 8px;
				width: 8px;
				border: #69b0ff 1px solid;
				border-radius: 50%;
				position: absolute;
				left: -5.5px;
				top: 2px;
				background: $bg_body;
			}

			.meta .type {
				cursor: pointer;
			}

			&.end .meta .type {
				cursor: auto;
			}

			&.end::after {
				display: none;
			}

			&.closed::after {
				background: #69b0ff;
			}

			&.closed {
				& > .tree {
					display: none;
				}
			}

			&:last-child {
				border-left: 1px solid transparent !important;
			}

		}


	}

	// tree-1
	.group > ul.tree {
		margin-left: 20px;
		& > .item:last-child {
			@include tierline;
		}
		// tree-2
		& > li > ul.tree {
			margin-left: 15px;
			font-size: 12px;

			.type {
				background-color: #4a90e2;
			}

			& > .item:last-child {
				@include tierline;
			}

			// tree-3
			& > li >ul.tree {
				margin-left: 15px;
				font-size: 12px;

				.type {
					background-color: #69b0ff;
				}

				.item {
					@include tierline;
				}
			}
		}
	}

}