<article>
    <div class="option-group-head expand">Group Details</div>
    <div class="option-group" data-bind="true">
        <section class="property-control-group clearfix">
            <label class="left" for="property-mesos-group-id">ID</label>
            <span class="required-input right">{{ i18n "PROP.LBL_REQUIRED" }}</span>
            <input class="input" type="text" value="{{name}}" id="property-mesos-group-id" maxlength="255" data-ignore="true" data-required-rollback="true"/>
        </section>
    </div>
</article>
