#canvas_container {
	overflow: auto;
	/*width: 1900px;*/
	padding: 5px;
	background: rgb(237, 237, 237);
	/*height: 1430px;*/
	/*position: relative;*/
}



#canvas_body {
	margin: 20px;
	border: 1px solid #ccc;
	background: #fff url('../images/ide/grid.png');
/*	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;*/
}

#screenshot_canvas_body {
	padding: 10px;
	background: #FFF url('../images/ide/grid.png');
}

#canvas_copy {
	width: 100%;
	height: 100%;
}

#svg_canvas {
	position: relative;
	z-index: 1;
}

.attachable {
	cursor: alias;
}

.port.highlight {
	border: 1px red dotted;
}

.node_icon {
	left: 38px;
	top: 30px;
	width: 39px;
	height: 27px;
	background: url('../images/ide/ami/ubuntu.64.ebs.png') no-repeat;
	position: absolute;
}

#canvas_select_ranger {
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	border: 1px solid #aaa;
	z-index: 99;
}

#component_drag_shadow {
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(100, 100, 100, 0.5);
	position: absolute;
	border-radius: 3px;
	z-index: 99;
	width: 80px;
	height: 80px;
}

#drag_shadow {
	width: 100px;
	height: 100px;
	background: #E5F1F5;
	position: absolute;
	opacity: 0.8;
	z-index: 100;
	border: 1px solid #f3f3f3;
	display: none;
}

#drag_shadow .resource-icon {
	top: 15px;
	position: relative;
	margin: 0 auto;
}

#drag_shadow.AWS-VPC-VPC {
	background: rgba(250, 250, 250, 0.05);
	border: 6px solid #dcdcdc;
}

#drag_shadow.AWS-EC2-AvailabilityZone {
	background: rgba(254, 170, 45, 0.05);
	border: 4px dashed #fbd396;
}

#drag_shadow.AWS-VPC-Subnet {
	background: rgba(250, 250, 250, 0.05);
	border: 3px dashed #dbd7d7;
}

#drag_shadow.AWS-EC2-EBS-Volume {
	background: none;
	opacity: 1;
	border: none;
}

/* Canvas */
.shadow {
	opacity: 0.6;
}

.zone {
	fill: rgba(254, 170, 45, 0.05);
	stroke: rgb(250, 210, 150);
	stroke-linejoin: round;
	stroke-dasharray: 15,5;
	stroke-width: 4;
}

/*.component-highlight {
	fill: rgba(254, 170, 45, 0.05);
	stroke: rgb(250, 210, 150);
	stroke-linejoin: round;
	stroke-dasharray: 15,5;
	stroke-width: 4;
	points: 10, 10 20, 10, 20, 20, 10, 20 10, 10;
}*/


/* port style */
/*
.port {
	stroke: #6d6d6d;
	stroke-width: 2;
	fill-opacity: 0.5;
	fill: url(#gradient_port);
	opacity: 1;
}
*/

/** new port style **/
.port-blue {
	fill: #6DAEFE;
	stroke: #6DAEFE;
	stroke-width: 1;
}

.port-green {
	fill: #12CD4F;
	stroke: #12CD4F;
	stroke-width: 1;
}

.port-purple {
	fill: #bf7aa5;
	stroke: #b22f70;
	stroke-width: 1;
}

.port-gray {
	fill: #d8d7d6;
	stroke: #bebebe;
	stroke-width: 1;
}

.port:hover {
	fill: #F2F8FF;
	stroke-width: 2;
	cursor  : pointer;
	/*opacity : 0.7;*/
}

/* highlight connnectable*/
.connectable-port {
	display: inline;
	fill: red;
}

/* highlight connnectable node */
.dragging .node-background {
	fill-opacity: 0.7;
	fill: #E5F1F5;
}

.connectable .node-background {
	fill-opacity: 0.3;
	fill: #97bf7d;
}

.attachable .node-background {
	fill-opacity: 0.5;
	fill: #F2F8FF;
	stroke-width: 1;
	stroke: #59b;
}

.selected .node-background {
	fill-opacity: 0.8;
	fill: #F2F8FF;
	stroke-width: 1;
	stroke: #659FFF;
	/*filter: url(#dropshadow_selected);*/
}

.line {
	cursor: pointer;
	stroke-linejoin: round;
}

.webkit .line {
	filter : url(#dropshadow); /*only support chrome*/
}

.instance-volume {
	cursor: pointer;
	fill: rgba(255, 255, 255, 0);
}

/* line connection */
.line.selected {
	stroke: black !important;
}

/* node label */
.node-label {
	font-size: 12px;
	text-anchor: middle;
	fill: #333;
	cursor: default;
}

.volume-number {
	font-size: 11px;
	fill: #74B1FD;
}

.node-background {
	fill-opacity: 0;
}

/* group */
.group-label {
	font-size: 12px;
	cursor: default;
}

.az-name {
	fill: #F19812;
}

.group-vpc {
	fill: rgba(250, 250, 250, 0.05);
	stroke: #dcdcdc;
	stroke-linejoin: round;
	stroke-dasharray: none;
	stroke-width: 4;
}

.AWS-VPC-VPC:hover .group-vpc,
.dropable-group .group-vpc {
	stroke: #C6C4C4;
}

.AWS-VPC-VPC .group-label {
	fill: #aaa;
}

.group-az {
	fill: rgba(252,190,23,0.02);
	stroke: #f9be76;
	stroke-linejoin: round;
	stroke-dasharray: 15, 10;
	stroke-width: 2;
}

.AWS-EC2-AvailabilityZone:hover .group-az,
.dropable-group .group-az {
	stroke: #F69722;
}

.AWS-EC2-AvailabilityZone .group-label {
	fill: #F69722;
}

.group-subnet {
	fill: rgba(250, 250, 250, 0.05);
	stroke: #dbd7d7;
	stroke-linejoin: round;
	stroke-dasharray: 15, 10;
	stroke-width: 2;
}

.AWS-VPC-Subnet:hover .group-subnet,
.dropable-group .group-subnet {
	stroke: #C6C4C4;
}

.AWS-VPC-Subnet .group-label {
	fill: #aaa;
}

/*scale area style*/
.group-resizer {
	fill-opacity: 0;
	/*position: absolute;*/
}

.dropable-group .group-resizer {
	fill-opacity: 1;
	fill: rgba(252, 190, 23, 0.15);
}

.dropable-group .group-resizer {
	fill-opacity: 1;
	fill: rgba(238, 238, 238, 0.5);
}

.dropable-group .group-resizer {
	fill-opacity: 1;
	fill: rgba(238, 238, 238, 0.5);
}

.resizer-topleft {
	/*fill:blue;*/
	cursor: nwse-resize;
}

.resizer-top {
	/*fill:red;*/
	cursor: ns-resize;
}

.resizer-topright {
	/*fill:blue;*/
	cursor: nesw-resize;
}

.resizer-left {
	/*fill:red;*/
	cursor: ew-resize;
}

.resizer-right {
	/*fill:red;*/
	cursor: ew-resize;
}

.resizer-bottomleft {
	/*fill:blue;*/
	cursor: nesw-resize;
}

.resizer-bottom {
	/*fill:red;*/
	cursor: ns-resize;
}

.resizer-bottomright {
	/*fill:blue;*/
	cursor: nwse-resize;
}

#instance_volume_list {
	padding: 10px;
	width: 235px;
}

#instance_volume_list li {
	float: left;
	margin: 0 6px 10px 0;
}

.volume_item {
	border: 2px solid #fff;
	position: relative;
	display: block;
	width: 48px;
	height: 56px;
	background: url('../images/ide/volume-resource.png') no-repeat;
}

#drag_shadow .volume_item {
	border: none;
}

.volume_name {
	font-size: 9px;
	display: block;
	margin-top: 14px;
	color: #333;
	text-align: center;
	width: 100%;
}

.volume_size {
	font-size: 9px;
	display: block;
	margin-top: 12px;
	color: #333;
	text-align: center;
}

#instance_volume_list .selected {
	border: 2px solid #59b;
}

#volume-bubble-box {
	background: #fff;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	border: 1px solid #d4d4d4;
	color: #999;
	font-size: 12px;
	position: absolute;
	border-radius: 4px;
	z-index: 60;
	min-width: 250px;
	max-width: 400px;
}

#volume-bubble-content {
	padding: 5px 10px;
}

.bubble-content {
	font-size: 12px;
}