#canvas_body {
	border: 1px solid #ccc;
	background: #fff url('../images/ide/grid_x1.png');
}

#screenshot_canvas_body {
	padding: 10px;
	background: #FFF url('../images/ide/grid_x1.png');
	min-width: 800px;
	min-height: 600px;
}

#screenshot_canvas_header {
	border-top: 4px solid #B25B91;
	background-color: #272127;
	height: 50px;
	padding: 0 10px;
	position: relative;
	min-width: 800px;
}

#screenshot_canvas_header img {
	margin: 8px 10px 0 0;
	height: 30px;
	position: absolute;
	left: 10px;
}

#screenshot_info {
	position: absolute;
	right: 10px;
	top: 8px;
	color: #f3f3f3;
	font-size: 12px;
	text-align: right;
}

.node_icon {
	left: 38px;
	top: 30px;
	width: 39px;
	height: 27px;
	background: url('../images/ide/ami/ubuntu.64.ebs.png') no-repeat;
	position: absolute;
}

/* port style */
.port-blue {
	fill: #6DAEFE;
	stroke: #6DAEFE;
	stroke-width: 0;
}

.port-green {
	fill: #12CD4F;
	stroke: #12CD4F;
	stroke-width: 0;
}

.port-purple {
	fill: #bf7aa5;
	stroke: #b22f70;
	stroke-width: 0;
}

.port-gray {
	fill: #d8d7d6;
	stroke: #bebebe;
	stroke-width: 0;
}

.connectable-port {
	display: inline;
	fill: #fff;
	stroke: #6DAEFE;
	stroke-width: 2;
}

.connectable .node-background {
	fill-opacity: 1;
	fill: #fff;
	stroke-width: 1;
	stroke: #659FFF;
}

.node-dragging .attachable .node-background {
	fill-opacity: 1;
	fill: #fff;
	stroke-width: 1;
	stroke: #659FFF;
}

.instance-volume {
	fill: rgba(255, 255, 255, 0);
}

.line {
	stroke-linejoin: round;
	fill: none;
	stroke-width: 2px;
}

.line-attachment {
	stroke: #12CD4F;
}

.line-elb-sg {
	stroke: #0973f6;
}

.line-rtb-target {
	stroke: #6DAEFE;
}

.line-rtb-target .dash-line {
	stroke: #9FC9FD;
	stroke-dasharray: 10px 10px;
}

.line-association {
	stroke: #d8d7d6;
}

.line-vpn {
	stroke: #bf7aa5;
}

.line-sg {
	stroke: #6DAEFE;
	opacity: 0.2;
	stroke-dasharray: 10,5;
}

.line-sg.view-hover,
.line-sg.view-keephover {
	stroke-width: 3px;
	visibility: visible !important;
	opacity: 1 !important;
}

.line-sg.view-show {
	visibility: visible !important;
	opacity: 1 !important;
}

.fill-line {
	stroke: rgba(255, 255, 255, 0);
	stroke-width: 10px;
}

/* draw line */
.draw-line-wrap {
	fill: none;
	opacity: 1 !important;
}

.draw-line {
	stroke-width: 5px;
}

.draw-line-arrow {
	stroke-width: 3px;
}

/* node label */
.node-label {
	font-size: 12px;
	text-anchor: middle;
	fill: #333;
	font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}

/* launchconfiguration label of node in app */
.node-launchconfiguration-label {
	font-size: 12px;
	text-anchor: middle;
	fill: #368bf5;
	font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}

.volume-number {
	font-size: 12px;
	fill: #74B1FD;
}

.volume-number[value="0"] {
	opacity: 0.5;
}

.node-background {
	fill-opacity: 0;
}

.deleted .node-background {
	fill-opacity: 0.2;
	fill: red;
}

.deleted .eni-number-bg,
.deleted .instance-number-bg {
	fill: red;
}

/* group */
.group-label {
	font-size: 12px;
	font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}

.az-name {
	fill: #F19812;
}

.group-vpc {
	fill: rgba(250, 250, 250, 0.05);
	stroke: #dcdcdc;
	stroke-linejoin: round;
	stroke-dasharray: none;
	stroke-width: 4;
}

.AWS-VPC-VPC-group-label {
	fill: #aaa;
}

.group-az {
	fill: rgba(252, 190, 23, 0.02);
	stroke: #f9be76;
	stroke-linejoin: round;
	stroke-dasharray: 16, 6;
	stroke-width: 2;
}

.AWS-EC2-AvailabilityZone-group-label {
	fill: #F69722;
}

.group-subnet {
	fill: rgba(224, 224, 224, 0.05);
	stroke: #dbd7d7;
	stroke-linejoin: round;
	stroke-dasharray: 16, 6;
	stroke-width: 2;
}

.AWS-VPC-Subnet-group-label {
	fill: #999;
}

.group-asg {
	fill: rgba(118, 214, 255, 0.05);
	stroke: #76d6ff;
	stroke-linejoin: round;
	stroke-dasharray: 6, 4;
	stroke-width: 2;
}

.asg-title {
	fill: #83CBF9;
	stroke: #83CBF9;
}

.AWS-AutoScaling-Group-group-label {
	fill: #ffffff;
	font-size: 13px;
}

.asg-expand {
	opacity: 0.5;
}

.asg-resource-dragger {
	fill: rgba(118, 214, 255, 1);
}

.prompt_text {
	fill: #16B4F9;
	font-size: 12px;
}

.canvas_state_appedit .instance-number-bg,
.canvas_state_appedit .eni-number-bg {
	fill: #C4C4C4;
}

.canvas_state_appedit .instance-number {
	font-weight: normal;
}

.canvas_state_app .instance-number,
.canvas_state_app .eni-number {
	text-decoration: underline;
}


.node-sg-color-border {
	stroke: white;
	stroke-width: 0px;
}

.node-label-rtb-name {
	fill: white;
	font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}

.node-label-name {
	fill: black;
	font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}

.node-label-name-bg {
	fill: none;
}

.instance-number-bg {
	stroke-width:0;
	fill:#439beb;
	opacity: 1;
}

.instance-number {
	font-weight:bold;
	fill:white;
	font-size: 12px;
}

.eni-number-bg {
	stroke-width:0;
	fill:#439beb;
	opacity: 1;
}

.eni-number {
	font-weight: bold;
	fill: white;
	font-size: 12px;
}

/* instance state */
.instance-state {
	stroke-width:1;
	stroke:white;
	opacity: 0.8;
	display: block;
}

.instance-state-stack {
	display: none;
}

.instance-state-unknown {
	fill:gray;
}
.instance-state-running {
	fill:green;
}
.instance-state-pending {
	fill:yellow;
}
.instance-state-shuttingdown {
	fill:yellow;
}
.instance-state-stopping {
	fill:yellow;
}
.instance-state-stopped {
	fill:red;
}
.instance-state-terminated {
	fill:red;
}

.volume-status {
	stroke-width:1;
	stroke:white;
	opacity: 0.8;
}

.volume-status-creating {
	fill:orange;
}
.volume-status-available {
	fill:blue;
}
.volume-status-in-use {
	fill:red;
}
.volume-status-deleting {
	fill:red;
}
.volume-status-deleted {
	fill:red;
}
.volume-status-error{
	fill:red;
}
