/* Canvas */
#canvas {
	background : rgb(237, 237, 237);
	z-index    : 1;
	position   : absolute;
	left       : 0;
	right      : 0;
	top        : 40px;
	bottom     : 24px;
}

#canvas ::selection {
	background: transparent;
}

#canvas_body {
	font-size  : 0; /* A hack to make sure #canvas_body.scrollHeight is correct. */
	min-height : 100%;
	background : #fff url('../images/ide/grid_x1.png');
}

#canvas_body.zoomlevel_1_2 { background-image : url('../images/ide/grid_x1.2.png'); }
#canvas_body.zoomlevel_1_4 { background-image : url('../images/ide/grid_x1.4.png'); }
#canvas_body.zoomlevel_1_6 { background-image : url('../images/ide/grid_x1.6.png'); }


@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (min-device-pixel-ratio: 2) {
	#canvas_body {
		background-image : url('../images/ide/grid_x1@2x.png');
		background-size  : 80px 80px;
	}
	#canvas_body.zoomlevel_1_2 {
		background-image : url('../images/ide/grid_x1.2@2x.png');
		background-size  : 64px 64px;
	}
	#canvas_body.zoomlevel_1_4 {
		background-image : url('../images/ide/grid_x1.4@2x.png');
		background-size  : 48px 48px;
	}
	#canvas_body.zoomlevel_1_6 {
		background-image : url('../images/ide/grid_x1.6@2x.png');
		background-size  : 32px 32px;
	}
}

#svg_canvas .selected .port {
	visibility: visible !important;
}

.node-dragging .node,
.node-dragging .group-label,
.node-dragging .asg-resource-dragger {
	cursor: -webkit-grabbing !important;
	cursor: -moz-grabbing !important;
	cursor: grabbing !important;
}

.svg_resizer {
	position : absolute;
	z-index  : 10;

	font-size : 16px;
	width     : 32px;
	height    : 32px;
	padding   : 0;

	background    : #f5f5f5;
	border        : 1px solid #ccc;
	border-radius : 3px;

	cursor      : pointer;
	line-height : 32px;
	text-align  : center;
}

.svg_resizer:hover {
	color: #3781C9;
}

.svg_resizer.icon-resize-down  { left : 7px;  bottom : 7px; }
.svg_resizer.icon-resize-up    { left : 47px; bottom : 7px; }
.svg_resizer.icon-resize-right { top  : 5px;  right  : 10px; }
.svg_resizer.icon-resize-left  { top  : 45px; right  : 10px; }

.attachable {
	cursor: alias;
}

.port.highlight {
	border: 1px red dotted;
}

.node_icon {
	left: 38px;
	top: 30px;
	width: 39px;
	height: 27px;
	background: url('../images/ide/ami/ubuntu.64.ebs.png') no-repeat;
	position: absolute;
}

.shadow {
	opacity: 0.6;
}

.shadow .node-background {
	fill: #F2F8FF !important;
	fill-opacity: 1;
	stroke-width: 2;
	stroke: #659FFF;
}

.clone-icon {
	display: none;
}

.cloning .clone-icon {
	display: block;
}

#canvas_select_ranger {
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	border: 1px solid #aaa;
	z-index: 99;
}

#component_drag_shadow {
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(100, 100, 100, 0.5);
	position: absolute;
	border-radius: 3px;
	z-index: 99;
	width: 80px;
	height: 80px;
}

#drag_shadow {
	width: 100px;
	height: 100px;
	background: #E5F1F5;
	position: absolute;
	opacity: 0.8;
	z-index: 100;
	border: 1px solid #f3f3f3;
	display: none;

	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

#drag_shadow .resource-icon {
	top: 15px;
	position: relative;
	margin: 0 auto;
}

#drag_shadow.AWS-VPC-VPC {
	background: rgba(250, 250, 250, 0.05);
	border: 4px solid #dcdcdc;
}

#drag_shadow.AWS-EC2-AvailabilityZone {
	background: rgba(252, 190, 23, 0.02);
	border: 2px dashed #f9be76;
}

#drag_shadow.AWS-VPC-Subnet {
	background: rgba(250, 250, 250, 0.05);
	border: 2px dashed #dbd7d7;
}

#drag_shadow.AWS-EC2-EBS-Volume {
	background: none;
	opacity: 1;
	border: none;
}

#drag_shadow.AWS-AutoScaling-Group {
	background: rgba(118, 214, 255, 0.05);
	border: 2px dashed #76d6ff;
}

/* port style */
.port-blue {
	fill: #6DAEFE;
	stroke: #6DAEFE;
	stroke-width: 0;
}

.port-green {
	fill: #12CD4F;
	stroke: #12CD4F;
	stroke-width: 0;
}

.port-purple {
	fill: #bf7aa5;
	stroke: #b22f70;
	stroke-width: 0;
}

.port-gray {
	fill: #d8d7d6;
	stroke: #bebebe;
	stroke-width: 0;
}

.canvas_state_stack .port:hover,
.canvas_state_appedit .port:hover {
	fill: #F2F8FF;
	stroke-width: 2;
	cursor  : pointer;
}



/* highlight connnectable*/
.connectable-port {
	display: inline;
	fill: #fff;
	stroke: #6DAEFE;
	stroke-width: 2;
}

/* highlight connnectable node */
.dragging .node-background {
	fill-opacity: 0.7;
	fill: #E5F1F5;
}

.connectable .node-background {
	fill-opacity: 1;
	fill: #fff;
	stroke-width: 1;
	stroke: #659FFF;
}

.node-dragging .attachable .node-background {
	fill-opacity: 1;
	fill: #fff;
	stroke-width: 1;
	stroke: #659FFF;
}

#svg_canvas .selected .node-background {
	fill-opacity: 0.6;
	fill: #F2F8FF;
	stroke-width: 1;
	stroke: #659FFF;
	/*filter: url(#dropshadow_selected);*/
}

/*.deleted.selected .node-background {
	fill-opacity: 0.6;
	fill: #FF0000;
	stroke-width: 1;
	stroke: #FF0000;
	filter: url(#dropshadow_selected);
}*/

.node:hover .node-background {
	fill-opacity: 0.5;
	fill: #F2F8FF;
}

.instance-volume {
	cursor: pointer;
	fill: rgba(255, 255, 255, 0);
}

/* line connection */
.line {
	cursor: pointer;
	stroke-linejoin: round;
	fill: none;
	stroke-width: 2px;
}

.line-attachment {
	stroke: #12CD4F;
}

.line-elb-sg {
	-webkit-transform: translate(0,0);
	-moz-transform: translate(0,0);
	transform: translate(0,0);
	stroke: #0973f6;
}

.line-elb-sg.view-hover {
	-webkit-transform: translate(0.5px,0.5px);
	-moz-transform: translate(0.5px,0.5px);
	transform: translate(0.5px,0.5px);
	stroke-width: 3px;
}

.line-elb-sg.selected {
	-webkit-transform: translate(0,0);
	-moz-transform: translate(0,0);
	transform: translate(0,0);
}

.line-rtb-target {
	stroke: #6DAEFE;
}

.line-rtb-target .dash-line {
	stroke: #9FC9FD;
	stroke-dasharray: 10px 10px;
}

.line-association {
	stroke: #d8d7d6;
}

.line-vpn {
	stroke: #bf7aa5;
}

.line-sg {
	stroke: #6DAEFE;
	opacity: 0.2;
	stroke-dasharray: 10,5;
}

.hide-sg .line-sg {
	display: none;
}

.line-sg.view-hover,
.line-sg.view-keephover {
	stroke-width: 3px;
	visibility: visible !important;
	opacity: 1 !important;
}

.line-sg.view-show {
	visibility: visible !important;
	opacity: 1 !important;
}

.webkit .line {
	/* filter : url(#dropshadow); only support chrome*/
}

#svg_canvas .line.selected {
	display: block !important;
	opacity: 1 !important;
	stroke-width: 4px !important;
}

.line:hover {
	opacity: .8 !important;
	stroke-width: 4px !important;
}

.fill-line {
	stroke: #fff;
	stroke-opacity : 0;
	stroke-width: 10px;
}

/* draw line */
.draw-line-wrap {
	fill: none;
	opacity: 1 !important;
}

.draw-line {
	stroke-width: 5px;
}

.draw-line-arrow {
	stroke-width: 3px;
}

/* node label */
.node-label {
	font-size: 12px;
	text-anchor: middle;
	fill: #333;
	cursor: default;
}

/* launchconfiguration label of node in app */
.node-launchconfiguration-label {
	font-size: 12px;
	text-anchor: middle;
	fill: #368bf5;
	cursor: default;
}

.volume-number {
	font-size: 12px;
	fill: #74B1FD;
}

.volume-number[value="0"] {
	opacity: 0.5;
}

.node-background {
	fill-opacity: 0;
}

.deleted .node-background {
	fill-opacity: 0.2;
	fill: red;
}

.deleted:hover .node-background {
	fill-opacity: 0.3;
	fill: red;
}

#svg_canvas .deleted.selected .node-background {
	stroke: rgb(243, 98, 98);
}

#svg_canvas .deleted.selected .node-label-name-bg {
	fill: rgb(243, 98, 98);
	fill-opacity: 0.3;
}

.deleted .server-number-bg {
	fill: red;
}

/* group */
.group-label {
	font-size: 12px;
	cursor: pointer;

	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
}

/*.group {
	shape-rendering:crispEdges;
}*/

.AWS-VPC-VPC .group {
	fill:rgba(250, 250, 250, 0.05);
	stroke:#dcdcdc;
	stroke-linejoin:round;
	stroke-dasharray:none;
	stroke-width:4;
}

.webkit .AWS-VPC-VPC .group,
.webkit .AWS-EC2-AvailabilityZone .group,
.webkit .AWS-VPC-Subnet .group {
	-webkit-transform: translate(0,0);
	        transform: translate(0,0);
}

#svg_canvas .AWS-VPC-VPC.selected .group,
#svg_canvas .AWS-EC2-AvailabilityZone.selected .group,
#svg_canvas .AWS-VPC-Subnet.selected .group {
	shape-rendering:crispEdges;
}

.firefox .AWS-VPC-VPC .group,
.firefox .AWS-EC2-AvailabilityZone .group,
.firefox .AWS-VPC-Subnet .group {
	-webkit-transform: translate(0,0);
	        transform: translate(0,0);
}

.firefox #svg_canvas .AWS-VPC-VPC.selected .group,
.firefox #svg_canvas .AWS-EC2-AvailabilityZone.selected .group,
.firefox #svg_canvas .AWS-VPC-Subnet.selected .group {
	shape-rendering:auto;
}

.webkit #svg_canvas .AWS-VPC-VPC.selected .group,
.webkit #svg_canvas .AWS-EC2-AvailabilityZone.selected .group,
.webkit #svg_canvas .AWS-VPC-Subnet.selected .group {
	shape-rendering:auto;
	-webkit-transform: translate(0.5px, 0.5px);
	        transform: translate(0.5px, 0.5px);
}

.AWS-VPC-VPC:hover .group,
.node-dragging .dropable-group .AWS-VPC-VPC .group {
	stroke: #C6C4C4;
}

.node-dragging .match-dropable-group.AWS-VPC-VPC .group {
	stroke-width: 6;
}

#svg_canvas .AWS-VPC-VPC.selected .group {
	stroke: #C6C4C4;
	fill: rgba(255, 255, 255, 0);
	stroke-width: 5;
}

.AWS-VPC-VPC .group-label {
	fill: #aaa;
}

.AWS-EC2-AvailabilityZone .group {
	fill: rgba(252, 190, 23, 0.02);
	stroke: #f9be76;
	stroke-linejoin: round;
	stroke-dasharray: 16, 6;
	stroke-width: 2;
}

.AWS-EC2-AvailabilityZone:hover .group,
.node-dragging .dropable-group .AWS-EC2-AvailabilityZone .group {
	stroke: #F69722;
}

.node-dragging .match-dropable-group.AWS-EC2-AvailabilityZone .group {
	/*stroke: #659FFF;*/
	stroke-width: 4;
}

#svg_canvas .AWS-EC2-AvailabilityZone.selected .group {
	stroke: #f7941d;
	/*fill: rgba(255, 255, 255, 0);*/
	stroke-width: 3;
}

.AWS-EC2-AvailabilityZone .group-label {
	fill: #F69722;
}

.AWS-VPC-Subnet .group {
	fill: rgba(224, 224, 224, 0.05);
	stroke: #dbd7d7;
	stroke-linejoin: round;
	stroke-dasharray: 16, 6;
	stroke-width: 2;
}

.AWS-VPC-Subnet:hover .group,
.node-dragging .dropable-group .AWS-VPC-Subnet .group {
	stroke: #C6C4C4;
}

.node-dragging .match-dropable-group.AWS-VPC-Subnet .group {
	/*stroke: #659FFF;*/
	stroke-width: 4;
}

#svg_canvas .AWS-VPC-Subnet.selected .group {
	stroke: #C6C4C4;
	fill: rgba(255, 255, 255, 0);
	stroke-width: 3;
}

.AWS-VPC-Subnet .group-label {
	fill: #999;
}

.group-asg {
	fill: rgba(118, 214, 255, 0.05);
	stroke: #76d6ff;
	stroke-linejoin: round;
	stroke-dasharray: 6, 4;
	stroke-width: 2;
}

.asg-title {
	fill   : #83CBF9;
	stroke : none;
}

/*.asg-title:hover {
	fill: #5dc2f6;
	stroke: #5dc2f6;
}*/

.AWS-AutoScaling-Group:hover .group-asg,
.node-dragging .dropable-group .group-asg {
	stroke: #83CBF9;
}

.node-dragging .match-dropable-group .group-asg {
	/*stroke: #659FFF;*/
	stroke-width: 4;
	stroke-dasharray: 0;
}

#svg_canvas .AWS-AutoScaling-Group.selected .group-asg {
	stroke: #049CDD;
	fill: rgba(255, 255, 255, 0);
}

#svg_canvas .AWS-AutoScaling-Group.selected .asg-title {
	fill: #049CDD;
}

.AWS-AutoScaling-Group .group-label {
	fill: #ffffff;
	font-size: 13px;
}

.asg-expand,
.lc-expand {
	opacity: 0.5;
}

#svg_canvas .asg-expand.selected {
	opacity: 0.8;
}

.asg-resource-dragger {
	fill: rgba(118, 214, 255, 1);
	cursor: pointer;

	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
}

.canvas_state_app .asg-resource-dragger {
	display : none;
}

/*when no LaunchConfiguration in asg*/
.prompt_text {
	fill: #16B4F9;
	font-size: 12px;
	cursor: default;
}

/*scale area style*/

.match-dropable-group .resizer-wrap {
	display: none;
}

.resizer-wrap {
	fill-opacity:0;
}

.node-dragging .dropable-group .resizer-wrap {
	fill: rgba(238, 238, 238, 0.5);
}

.resizer-topleft {
	/*fill:blue;*/
	cursor: nwse-resize;
}

.resizer-top {
	cursor: ns-resize;
}

.resizer-topright {
	cursor: nesw-resize;
}

.resizer-left {
	cursor: ew-resize;
}

.resizer-right {
	cursor: ew-resize;
}

.resizer-bottomleft {
	cursor: nesw-resize;
}

.resizer-bottom {
	cursor: ns-resize;
}

.resizer-bottomright {
	cursor: nwse-resize;
}

.resizer-top:hover,
.resizer-topleft:hover,
.resizer-topright:hover,
.resizer-left:hover,
.resizer-right:hover,
.resizer-bottom:hover,
.resizer-bottomleft:hover,
.resizer-bottomright:hover {
	fill-opacity:1;
	fill: rgba(200, 200, 200, 0.12);
}

.eip-status {
	cursor: pointer;
}

.canvas_state_app .canvas-view-normal .eip-status {
	cursor: default;
}

#instance_volume_list {
	padding: 10px;
	width: 265px;
}

#instance_volume_list li {
	float: left;
	margin: 0 2px 8px 0;
}

.volume_item,
.snapshot_item {
	border: 2px solid #fff;
	border-radius: 5px;
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	background-position: center;
	background-repeat: no-repeat;
}

.volume_item {
	background-image: url('../images/ide/icon/volume-volume-bubble.png');
}

.volume_item.deleted {
	background-image: url('../images/ide/icon/volume-volume-bubble-deleted.png');
}

.snapshot_item {
	background-image: url('../images/ide/icon/ebs-snapshot-volume-bubble.png');
}

.snapshot_item.deleted {
	background-image: url('../images/ide/icon/ebs-snapshot-volume-bubble-deleted.png');
}

.volume_item:hover,
.snapshot_item:hover {
	background-color: #F3F9FF;
}

.volume_item.deleted:hover,
.snapshot_item.deleted:hover {
	background-color: rgba(255, 0, 0, 0.05);
}

#drag_shadow .volume_item,
#drag_shadow .snapshot_item {
	border: none;
}

#instance_volume_wrap {
	max-height: 175px;
}

#instance_volume_list .selected {
	border: 2px solid rgba(101, 159, 255, 0.6);
	background-color: rgba(242, 248, 255, 0.6);
}

#instance_volume_list .selected.deleted {
	border: 2px solid rgb(243, 98, 98);
	background-color: rgba(255, 0, 0, 0.2);
}

.volume_name {
	position: absolute;
	font-size: 9px;
	display: block;
	top: 11px;
	color: #333;
	text-align: center;
	width: 100%;
}

.volume_size {
	width: 100%;
	font-size: 9px;
	display: block;
	top: 38px;
	color: #333;
	text-align: center;
	position: absolute;
}

#volume-bubble-box {
	background: #fff;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	border: 1px solid #d4d4d4;
	color: #999;
	font-size: 12px;
	position: absolute;
	border-radius: 4px;
	z-index: 60;
	min-width: 250px;
	max-width: 400px;
}

#volume-bubble-content {
	padding: 5px 10px;
}

.bubble-content {
	font-size: 12px;
}

/*special style for app update state and zoomed state*/
.canvas_state_app .resizer-wrap {
	display: none;
}

.canvas_state_app .server-number-bg {
	cursor: pointer;
}

.canvas_state_appedit .server-number-bg {
	fill: #C4C4C4;
}

.canvas_state_appedit .server-number {
	font-weight: normal;
}

.canvas_state_app .server-number{
	text-decoration: underline;
	cursor: pointer;
}

.canvas_zoomed .resizer-wrap {
	/*display: none;*/
}

/* asgList & instanceList & eniList */
#asgList-wrap,
#eniList-wrap,
#instanceList-wrap {
	position: absolute;
	border: 2px solid #83CBF9;
	width: 376px;
	z-index: 30;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 4px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

#asgList-header,
#eniList-header,
#instanceList-header {
	background-color: #83CBF9;
	color: #fff;
	padding: 0 3px 3px;
}

#asgList-close,
#eniList-close,
#instanceList-close {
	position: absolute;
	right: 5px;
	top: -2px;
	font-style: normal;
	cursor: pointer;
	font-size: 18px;
	color: #fff;
}

#asgList,
#eniList,
#instanceList {
	padding: 8px 20px 3px;
	min-height: 110px;
}

#asgList li,
#eniList li,
#instanceList li {
	float: left;
	margin: 0 10px 10px 0;
	position: relative;
}

#asgList .status,
#eniList .status,
#instanceList .status {
	position: absolute;
	right: 27px;
	top: 16px;
	width: 6px;
	height: 6px;
}

.asgList-item,
.instanceList-item {
	border-radius: 5px;
	display: block;
	border: 2px solid rgba(255, 255, 255, 0);
	width: 98px;
	height: 98px;
	background: url('../images/ide/icon/instance-canvas.png') 18px 10px no-repeat;
}

.deleted.instanceList-item {
	background: url('../images/ide/icon/instance-canvas-deleted.png') 18px 10px no-repeat;
}

.eniList-item {
	border-radius: 5px;
	display: block;
	border: 2px solid rgba(255, 255, 255, 0);
	width: 98px;
	height: 98px;
	background: url('../images/ide/icon/eni-canvas-attached.png') 20px 20px no-repeat;
}

.deleted.eniList-item {
	background: url('../images/ide/icon/eni-canvas-deleted.png') 20px 20px no-repeat;
}

.eniList-item-eip-status {
	left: 48px;
	top: 43px;
	position: absolute;
	width: 12px;
	height: 14px;
	display: block;
	/*background: url('../images/ide/icon/eip-off.png') 0px 0px no-repeat;*/
}

.eniList-item-eip-status.on {
	/*background: url('../images/ide/icon/eip-on.png') 0px 0px no-repeat;*/
}

.asgList-item.selected,
.eniList-item.selected,
.instanceList-item.selected {
	border: 2px solid rgba(101, 159, 255, 0.6);
	background-color: rgba(242, 248, 255, 0.6);
}

.asgList-item.selected.deleted,
.eniList-item.selected.deleted,
.instanceList-item.selected.deleted {
	border: 2px solid rgb(243, 98, 98);
	background-color: rgba(255, 0, 0, 0.2);
}

.asgList-item-icon,
.eniList-item-icon,
.instanceList-item-icon {
	position: absolute;
	top: 15px;
	left: 32px;
	width: 39px;
	height: 27px;
}

.asgList-item-volume,
.eniList-item-volume,
.instanceList-item-volume {
	position: absolute;
	top: 48px;
	left: 37px;
	width: 29px;
	height: 24px;
	background: url('../images/ide/icon/instance-volume-not-attached.png') no-repeat;
	text-align: center;
}

.asgList-item-number,
.eniList-item-number,
.instanceList-item-number {
	font-size: 12px;
	color: #74B1FD;
}

.asgList-item-label,
.eniList-item-label,
.instanceList-item-label {
	color: #333;
	width: 100px;
	overflow: hidden;
	font-size: 12px;
	position: absolute;
	top: 80px;
	text-align: center;
}

.node-sg-color-border {
	fill:none;
	stroke: white;
	stroke-width: 0px;
}

.node-label-rtb-name {
	/*fill: white;*/
}


.node-label-name {
	fill: black;
}

.node-label-name-bg {
	fill: none;
}

#svg_canvas .selected .node-label-name {
	fill: white;
}

#svg_canvas .selected .node-label-name-bg {
	fill: #008ae3;
}


.server-number-bg {
	stroke-width:0;
	fill:#439beb;
	opacity: 1;
}

.server-number {
	font-weight: bold;
	fill: white;
	font-size: 12px;
}

.sg-color {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	float: left;
	width: 10px;
	height: 10px;
	margin-top: 4px;
	margin-right: 5px;
}

.property-second-title > .sg-color {
	margin-top : 12px;
}

/* instance state */
.instance-state {
	stroke-width:1;
	stroke:white;
	opacity: 0.8;
	display: block;
}

.instance-state-stack {
	display: none;
}

.instance-state-unknown {
	fill: gray;
}
.instance-state-running {
	fill: green;
}
.instance-state-pending {
	fill: yellow;
}
.instance-state-shuttingdown {
	fill: yellow;
}
.instance-state-stopping {
	fill: yellow;
}
.instance-state-stopped {
	fill: red;
}
.instance-state-terminated {
	fill: red;
}

/* volume status */
.volume-status {
	stroke-width:1;
	stroke:white;
	opacity: 0.8;
}

.volume-status-creating {
	fill: orange;
}
.volume-status-available {
	fill: blue;
}
.volume-status-in-use {
	fill: red;
}
.volume-status-deleting {
	fill: red;
}
.volume-status-deleted {
	fill: red;
}
.volume-status-error{
	fill: red;
}

/* node action */
#node-action-wrap {
	position: absolute;
	z-index: 60;
/*	overflow: hidden;*/
}

.node-action-tooltip {

	display: none;
	background: #333;
	color: #fff;
	position: absolute;
	right: -35px;
	top: 0;
	padding: 5px 7px;
	font-size: 12px;
	border-radius: 2px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	opacity: 0;

	-webkit-transition: right .2s, opacity .2s;
	-moz-transition: right .2s, opacity .2s;
	-ms-transition: right .2s, opacity .2s;
	-o-transition: right .2s, opacity .2s;
	transition: right .2s, opacity .2s;
}

.node-action-tooltip:before {
	content:"";
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 4px solid rgba(0,0,0, 0.8);
	left: -4px;
	top: 8px;
	position: absolute;
}

#node-action-state-btn {
	background: rgba(0,0,0,.7);
	-webkit-transition: background .2s, width .2s;
	-moz-transition: background .2s, width .2s;
	-ms-transition: background .2s, width .2s;
	-o-transition: background .2s, width .2s;
	transition: background .2s, width .2s;

	border-radius: 2px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

	height: 26px;
	width: 26px;
	cursor: pointer;
	overflow: hidden;
}

#node-action-state {
	max-width: 200px;
	padding-right: 70px;
}

#node-action-state:hover #node-action-state-btn {
	background: rgba(0,0,0,.9);

	/* Hack for transition */
	width: 47px;
}

#node-action-state:hover .node-action-tooltip {
	opacity: 1;
	right: 0;
}

#node-state-icon {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #fff;
	position: relative;
	display: inline-block;
	top:6px;
	left: 6px;
}

#node-state-icon:before {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: 2px;
	left: 2px;
}

#node-state-number {
	margin-left: 8px;
	color: #fff;
	font-size: 12px;
	float: right;
	height: 14px;
	line-height: 27px;
	display: inline-block;
	padding-right: 6px;
}
