@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/Lato-regular.woff') format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/Lato-Bold.woff') format('woff');
}

.font-mono {
	font-family: "Monaco","Consolas", monospace;
	/*font-family: "Lucida Console", "Monaco", monospace;*/
}

.font-normal {
	font-family  : 'Lato', 'Helvetica Neue', Arial, sans-serif;
}

/* CSS reset */
article,
footer,
header,
nav {
	display: block;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

a {
	text-decoration: none;
	outline: none;
	border: 0;
}

a:hover,
a:active {
	outline: 0;
}

img {
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
	font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}

button,
input {
	*overflow: visible;
	line-height: normal;
}

button:focus {
	outline : none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 500;
	text-rendering: optimizelegibility;
}

h1,
h2,
h3 {
	line-height: 40px;
}

h1 {
	font-size: 38.5px;
}

h2 {
	font-size: 31.5px;
}

h3 {
	font-size: 24.5px;
}

h4 {
	font-size: 17.5px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 11.9px;
}

ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	outline: none;
}

p {
	margin: 0 0 10px;
	padding: 2px;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}

.clearfix:after {
	clear: both;
}

.hide {
	display: none;
}

.link-style {
	cursor : pointer;
}

.link-style:hover {
	text-decoration : underline;
}

.empty-hide:empty {
	display : none;
}

.disable-event {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	/*pointer-events: none;*/
}

.disable-pointer-event {
	pointer-events: none;
}

.grabbing {
	cursor: -webkit-grabbing !important;
	cursor: -moz-grabbing !important;
	cursor: grabbing !important;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

pre {
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	display: block;
	padding: 9.5px;
	margin: 10px 0;
	font-size: 13px;
	line-height: 20px;
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

code {
	padding: 3px 4px;
	color: #D14;
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	font-family: Menlo,Monaco,"Courier New",monospace;
	font-size: 12px;
	border-radius: 3px;
}

abbr {
	cursor: help;
	border-bottom: 1px dotted #999;
}

body {
	margin: 0;
	font-size: 14px;
	font-family: Arial, sans-serif;
}

/* Hack custom fonts loading */
@media (min-width: 1px) {
	body {
		font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
	}

	.locale-en {
		font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
	}

	.locale-zh {
		font-family: 'Lato', 'Helvetica Neue', 'Microsoft Yahei', Arial, sans-serif;
	}

	.locale-zh button,
	.locale-zh input,
	.locale-zh select,
	.locale-zh textarea {
		font-family: 'Lato', 'Helvetica Neue', 'Microsoft Yahei', Arial, sans-serif;
	}
}

/* Hide Selection */
::selection {
	/*background: transparent;*/
}
