@font-face {
  font-family: 'MCIcon';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/icon.eot');
  src: url('/assets/fonts/../fonts/icon.eot?#iefix') format("embedded-opentype"), url("../fonts/icon.woff") format("woff"), url("../fonts/icon.ttf") format("truetype"); }
.icon-eip:before,
.icon-play:before,
.icon-stop:before,
.icon-save:before,
.icon-undo:before,
.icon-redo:before,
.icon-zoom-out:before,
.icon-zoom-in:before,
.icon-send:before,
.icon-add:before,
.icon-duplicate:before,
.icon-delete:before,
.icon-new-stack:before,
.icon-btn-details:before,
.icon-btn-back:before,
.icon-export-png:before,
.icon-export-json:before,
.icon-caret-down:before,
.icon-terminate:before,
.icon-forget-app:before,
.icon-close:before,
.icon-caret-right:before,
.icon-caret-left:before,
.icon-close-circle:before,
.icon-info:before,
.icon-user:before,
.icon-password:before,
.icon-notification:before,
.icon-message:before,
.icon-remove:before,
.icon-allow:before,
.icon-deny:before,
.icon-outbound:before,
.icon-inbound:before,
.icon-refresh:before,
.icon-edit:before,
.icon-resize-right:before,
.icon-resize-left:before,
.icon-resize-down:before,
.icon-resize-up:before,
.icon-pending:before,
.icon-warning:before,
.icon-error:before,
.icon-success:before,
.icon-time:before,
.icon-sort:before,
.icon-detail:before,
.icon-del:before,
.icon-line-shape:before,
.icon-copy:before,
.icon-straight:before,
.icon-elbow:before,
.icon-bezier-q:before,
.icon-bezier-qt:before,
.icon-toolbar-cloudformation:before,
.icon-update-app:before,
.icon-cancel-update-app:before,
.icon-apply-app:before,
.icon-visualize:before,
.icon-toolbar-diff:before,
.icon-desc:before,
.icon-log:before,
.icon-syslog:before,
.icon-import:before,
.icon-drag-copy:before,
.icon-gear:before,
.icon-menu:before,
.icon-expand:before,
.icon-save-app:before,
.icon-support:before,
.icon-reload:before,
.icon-resources:before,
.icon-hide-sg:before,
.icon-kp:before,
.icon-ebs-snap:before,
.icon-sns:before,
.icon-cert:before,
.icon-dhcp:before,
.icon-pg:before,
.icon-rds-snap:before,
.icon-rds-restore:before,
.icon-resource:before,
.icon-config:before,
.icon-property:before {
  font: 16px/1em "MCIcon";
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

.icon-eip:before {
  content: "\f109"; }

.icon-play:before {
  content: "\f110"; }

.icon-stop:before {
  content: "\f111"; }

.icon-save:before {
  content: "\f112"; }

.icon-undo:before {
  content: "\f114"; }

.icon-redo:before {
  content: "\f115"; }

.icon-zoom-in:before {
  content: "\f116"; }

.icon-zoom-out:before {
  content: "\f117"; }

.icon-send:before {
  content: "\f118"; }

.icon-add:before {
  content: "\f119"; }

.icon-duplicate:before {
  content: "\f11B"; }

.icon-duplicate:before {
  content: "\f11B"; }

.icon-delete:before {
  content: "\f11C"; }

.icon-new-stack:before {
  content: "\f11A"; }

.icon-btn-details:before {
  content: "\f11F"; }

.icon-btn-back:before {
  content: "\f120"; }

.icon-export-png:before {
  content: "\f11D"; }

.icon-export-json:before {
  content: "\f11E"; }

.icon-caret-down:before {
  content: "\f121"; }

.icon-close:before {
  content: "\f122"; }

.icon-terminate:before {
  content: "\f154"; }

.icon-forget-app:before {
  content: "\f11C"; }

.icon-caret-right:before {
  content: "\f124"; }

.icon-caret-left:before {
  content: "\f125"; }

.icon-close-circle:before {
  content: "\f126"; }

.icon-info:before {
  content: "\f127"; }

.icon-password:before {
  content: "\f128"; }

.icon-user:before {
  content: "\f129"; }

.icon-notification:before {
  content: "\f12A"; }

.icon-message:before {
  content: "\f12B"; }

.icon-remove:before {
  content: "\f12C"; }

.icon-allow:before {
  content: "\f12D"; }

.icon-deny:before {
  content: "\f12E"; }

.icon-outbound:before {
  content: "\f12F"; }

.icon-inbound:before {
  content: "\f130"; }

.icon-refresh:before {
  content: "\f131"; }

.icon-edit:before {
  content: "\f132"; }

.icon-resize-right:before {
  content: "\f133"; }

.icon-resize-left:before {
  content: "\f134"; }

.icon-resize-down:before {
  content: "\f135"; }

.icon-resize-up:before {
  content: "\f136"; }

.icon-pending:before {
  content: "\f137"; }

.icon-warning:before {
  content: "\f138"; }

.icon-error:before {
  content: "\f139"; }

.icon-success:before, .icon-apply-app:before {
  content: "\f13A"; }

.icon-time:before {
  content: "\f13B"; }

.icon-sort:before {
  content: "\f13C"; }

.ipt-controls > .icon-add:before {
  content: "\f13D"; }

.icon-del:before, .icon-cancel-update-app:before {
  content: "\f13E"; }

.icon-detail:before {
  content: "\f140"; }

.icon-line-shape:before {
  content: "\f141"; }

.icon-copy:before {
  content: "\f142"; }

.icon-straight:before {
  content: "\f143"; }

.icon-elbow:before {
  content: "\f144"; }

.icon-bezier-qt:before {
  content: "\f145"; }

.icon-bezier-q:before {
  content: "\f146"; }

.icon-toolbar-cloudformation:before {
  content: "\f147"; }

.icon-update-app:before {
  content: "\f148"; }

.icon-visualize:before {
  content: "\f149"; }

.icon-log:before {
  content: "\f14A"; }

.icon-desc:before {
  content: "\f14B"; }

.icon-syslog:before {
  content: "\f14C"; }

.icon-toolbar-diff:before {
  content: "\f14D"; }

.icon-import:before {
  content: "\f14E"; }

.icon-drag-copy:before {
  content: "\f14F"; }

.icon-gear:before {
  content: "\f150"; }

.icon-menu:before {
  content: "\f151"; }

.icon-expand:before {
  content: "\f152"; }

.icon-save-app:before {
  content: "\f153"; }

.icon-support:before {
  content: "\f155"; }

.icon-reload:before {
  content: "\f156"; }

.icon-resources:before {
  content: "\f157"; }

.icon-hide-sg:before {
  content: "\f160"; }

.icon-kp:before {
  content: "\f161"; }

.icon-ebs-snap:before {
  content: "\f162"; }

.icon-sns:before {
  content: "\f163"; }

.icon-cert:before {
  content: "\f164"; }

.icon-dhcp:before {
  content: "\f165"; }

.icon-pg:before {
  content: "\f166"; }

.icon-rds-snap:before {
  content: "\f167"; }

.icon-rds-restore:before {
  content: "\f168"; }

.icon-resource:before {
  content: "\f170"; }

.icon-config:before {
  content: "\f171"; }

.icon-property:before {
  content: "\f172"; }
