@font-face {

	font-family : 'MCIcon';
	font-weight : normal;
	font-style  : normal;

	src:url('../fonts/icon.eot');
	src:url('../fonts/icon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icon.woff') format('woff'),
		url('../fonts/icon.ttf') format('truetype');
}

.icon-play,
.icon-stop,
.icon-save,
.icon-stack,
.icon-undo,
.icon-redo,
.icon-zoom-out,
.icon-zoom-in,
.icon-send,
.icon-add,
.icon-duplicate,
.icon-toolbar-delete,
.icon-new-stack,
.icon-btn-details,
.icon-btn-back,
.icon-export-png {
	font : 16px/1em "MCIcon";
	font-weight : normal;
	-webkit-font-smoothing: antialiased;
}

.icon-play:before  { content : "\F110"; }
.icon-stop:before  { content : "\F111"; }
.icon-save:before  { content : "\F112"; }
.icon-stack:before { content : "\F113"; }
.icon-undo:before  { content : "\F114"; }
.icon-redo:before  { content : "\F115"; }
.icon-zoom-in:before   { content : "\F116"; }
.icon-zoom-out:before  { content : "\F117"; }
.icon-send:before      { content : "\F118"; }
.icon-add:before       { content : "\F119"; }
.icon-duplicate:before { content : "\F11B"; }
.icon-duplicate:before { content : "\F11B"; }
.icon-toolbar-delete:before { content : "\F11C"; }
.icon-new-stack:before   { content : "\F11A"; }
.icon-btn-details:before { content : "\F11F"; }
.icon-btn-back:before    { content : "\F120"; }
.icon-export-png:before  { content : "\F11D"; }
