@font-face {

	font-family : 'MCIcon';
	font-weight : normal;
	font-style  : normal;

	src:url('../fonts/icon.eot');
	src:url('../fonts/icon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icon.woff') format('woff'),
		url('../fonts/icon.ttf') format('truetype');
}

.icon-play,
.icon-stop,
.icon-save,
.icon-stack,
.icon-undo,
.icon-redo,
.icon-zoom-out,
.icon-zoom-in,
.icon-send,
.icon-add,
.icon-duplicate,
.icon-delete,
.icon-new-stack,
.icon-btn-details,
.icon-btn-back,
.icon-export-png,
.icon-export-json,
.icon-caret-down,
.icon-terminate,
.icon-close,
.icon-caret-right,
.icon-caret-left,
.icon-close-circle,
.icon-info,
.icon-user,
.icon-password,
.icon-notification,
.icon-message,
.icon-remove,
.icon-allow,
.icon-deny,
.icon-outbound,
.icon-inbound,
.icon-refresh,
.icon-edit,
.icon-resize-right,
.icon-resize-left,
.icon-resize-down,
.icon-resize-up,
.icon-pending,
.icon-warning,
.icon-error,
.icon-success,
.icon-time,
.icon-sort,
.icon-detail, 
.ipt-controls > .icon-del:before,
.ipt-controls > .icon-add:before,
.icon-line-shape,
.icon-clip
{
	font : 16px/1em "MCIcon";
	font-weight : normal;
	-webkit-font-smoothing: antialiased;
}

.icon-play:before  { content : "\F110"; }
.icon-stop:before  { content : "\F111"; }
.icon-save:before  { content : "\F112"; }
.icon-stack:before { content : "\F113"; }
.icon-undo:before  { content : "\F114"; }
.icon-redo:before  { content : "\F115"; }
.icon-zoom-in:before   { content : "\F116"; }
.icon-zoom-out:before  { content : "\F117"; }
.icon-send:before      { content : "\F118"; }
.icon-add:before       { content : "\F119"; }
.icon-duplicate:before { content : "\F11B"; }
.icon-duplicate:before { content : "\F11B"; }
.icon-delete:before { content : "\F11C"; }
.icon-new-stack:before   { content : "\F11A"; }
.icon-btn-details:before { content : "\F11F"; }
.icon-btn-back:before    { content : "\F120"; }
.icon-export-png:before  { content : "\F11D"; }
.icon-export-json:before { content : "\F11E"; }
.icon-caret-down:before { content : "\F121"; }
.icon-close:before { content : "\F122"; }
.icon-terminate:before { content : "\F123"; }
.icon-caret-right:before { content : "\F124"; }
.icon-caret-left:before { content : "\F125"; }
.icon-close-circle:before { content : "\F126"; }
.icon-info:before { content : "\F127"; }
.icon-password:before { content : "\F128"; }
.icon-user:before { content : "\F129"; }
.icon-notification:before { content : "\F12A"; }
.icon-message:before { content : "\F12B"; }
.icon-remove:before { content : "\F12C"; }
.icon-allow:before { content : "\F12D"; }
.icon-deny:before { content : "\F12E"; }
.icon-outbound:before { content : "\F12F"; }
.icon-inbound:before { content : "\F130"; }
.icon-refresh:before { content : "\F131"; }
.icon-edit:before {content: "\F132";}
.icon-resize-right:before { content : "\F133"; }
.icon-resize-left:before {content: "\F134";}
.icon-resize-down:before { content : "\F135"; }
.icon-resize-up:before {content: "\F136";}
.icon-pending:before { content : "\F137"; }
.icon-warning:before {content: "\F138";}
.icon-error:before { content : "\F139"; }
.icon-success:before {content: "\F13A";}
.icon-time:before { content : "\F13B"; }
.icon-sort:before {content: "\F13C";}
.ipt-controls > .icon-add:before {content: "\F13D";}
.ipt-controls > .icon-del:before {content: "\F13E";}
.icon-detail:before {content: "\F140";}
.icon-line-shape:before {content: "\F141";}
.icon-clip:before {content: "\F142";}
