body {
	font-size: 14px;
	min-height: 100%;
	min-width: 1024px;
	color: #666;
}

a {
	color: #ccc;
}

.icon-label {
	margin-right: 8px;
}

.icon-caret-down {
	margin-left: 2px;
}

#body {
	background: #4c494c;
}

.truncate {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	display: inline-block;
}

/* Header */
#header {
	background: #312d31;
	height: 50px;
}

#view-toggle-navigation {
	display: inline-block;
	text-align: center;
	float: left;
	border-right: 1px solid #252225;
	/*margin-right: 0;*/
}

#view-toggle-navigation a {
	display: block;
	width: 45px;
	line-height: 50px;
}

#view-toggle-navigation:hover, #view-toggle-navigation.active {
	background-color: #171517; 
	color: #fff;
}

#region-selector {
	float: left;
	display: inline-block;
	z-index: 100;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	border-bottom: 1px solid #333;
	height: 50px;
}

#region-selector a {
	display: block;
	margin-left: 15px;
}

#region-selector .dropdown-toggle {
	width: 120px;
	line-height: 50px;
}

#region-selector .dropdown-menu {
	color: #ccc;
	font-size: 12px;
	background: #3F3A3F;
	position: absolute;
	left: 45px;
	width: 180px;
}

#region-selector .dropdown-menu li {
	padding: 8px 13px;
}

#region-selector .dropdown-menu li:first-child {
	border-bottom: 1px solid #333;
}

.logo {
	margin-left: 10px;
/*	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: 5px;*/
	margin-top: 5px;
}

.header-menu {
	float: right;
	margin: 0;
}

.header-menu .dropdown {	
	position: relative;
	float: left;
	line-height: 50px;
	border-left: 1px solid #252225;
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	-ms-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.header-menu .dropdown a {
	display: block;
	padding: 0 20px;
}

.dropdown:hover,
.dropdown.open {
	background-color: #171517; 
	color: fff;
}

.notification-counter {
	display: inline-block;
	line-height: 1;
	padding: 4px 3px;
	border-radius: 12px;
	background-color: #ff6151;
	box-shadow: 0 1px rgba(0,0,0,.75);
	border: 1px solid #711212;
	background-image: -webkit-linear-gradient(bottom, #e81414, #fa4a2d);
	background-image: -moz-linear-gradient(bottom, #e81414, #fa4a2d);
	background-image: -o-linear-gradient(bottom, #e81414, #fa4a2d);
	background-image: -ms-linear-gradient(bottom, #e81414, #fa4a2d);
	background-image: linear-gradient(to top, #e81414, #fa4a2d);
	font-size: 11px;
	font-weight: 700;
	color: #fff;
	text-align: center;
}

.avatar {
	display: inline-block;
	border-radius: 15px;
	background-color: #ccc;
	border: 1px solid #eee;
	vertical-align: middle;
	margin-right: 8px;
}

.dropdown-menu {
	display: none;
}

.open > .dropdown-menu {
	display: block;
}

#header .dropdown-menu {
	font-size: 12px;
	position: absolute;
	top: 51px;
	right: 0;
	z-index: 3;
	box-shadow: 0 8px 10px rgba(0,0,0,.3);
}

#header .dropdown-menu ul {
	width: 167px;
}

#header .dropdown-menu li:hover {
	background-color: #171517; 
}

#notification-panel-wrapper {
	width: 680px;
}

#notification-panel-wrapper tbody tr td:first-child {
	text-align: center;
}

#alert-panel-wrapper {
	width: 680px;
}

#user-dropdown-wrapper {
	background-color: #3F3A3F;
}

#user-dropdown-wrapper li {
	border-bottom: 1px solid #333;
	line-height: 36px;
	width: 100%;
}

#user-dropdown-wrapper a {
	display: block;
}

/* Wrapper */
#wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50px;
	min-height: 600px;
}

/* Left Nav */
#navigation {
	overflow: hidden;
	width: 180px;
	height: 100%;
	background-color: #4c494c;
	box-shadow: 1px 0 0 rgba(0,0,0,.15);
	border: solid 1px #2d292d;
	border-left: none;
	position: fixed;
	z-index: 3;
	-webkit-transition: left 0.1s;
	-moz-transition: left 0.1s;
	-ms-transition: left 0.1s;
	-o-transition: left 0.1s;
	transition: left 0.1s;
}

.nav-scroll-wrap {
	/*margin-top: 35px;*/
}

#firs-level-nav {
	position: relative;
	overflow: visible;
	height: 1000px;
}

#first-level-nav > li > a {
	height: 18px;
	padding: 14px 13px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	border-top: 1px solid #333;
	font-size: 18px;
	line-height: 18px;
	display: block;
}

#first-level-nav > li:first-child > a {
	border-top: none;
}

#first-level-nav ul li > a {
	padding: 8px 17px;
	display: block;
}

#nav-dashboard-region li a {
	font-size: 13px;
}

.nav-head .accordion-head:hover {
	color: #fff;
}

.nav-head-note {
	font-size: 11px;
	color: #999;
	display: block;
	margin-left: 29px;
}

.icon-nav-label {
	margin-right: 15px;
}

.icon-nav-status {
	margin: 0 20px 2px 3px;
}

.status.icon-nav-status {
	width: 6px;
	height: 6px;
}

.icon-nav-accordion {
	position: absolute;
	right: 10px;
	transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out; 
    -moz-transition: all .1s ease-in-out; 
    -o-transition: all .1s ease-in-out;
}

.expanded .icon-nav-accordion {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.nav-region-list li > a {
	font-size: 12px;
	color: #999;
}

.nav-region-list > li {
	margin-top: 6px;
	position: relative;
}

.nav-region-list > li:first-child {
	margin-top: 0;
}

#nav-dashboard-region li > a, .nav-region-list-items li > a {
	font-size: 13px;
	color: #ccc;
	width: 146px;
	/*background: #4c494c;*/
}

#nav-dashboard-region li a:hover, .nav-region-list-items li a:hover {
	background-color: #0066C3;
	color: #fff;
}

.nav-region-list-items li span {
	width: 0;
	position: absolute;
	/*overflow: hidden;*/
	top: 31px;
	left: 0;
	-webkit-transition: left 0.1s;
	-moz-transition: left 0.1s;
	-ms-transition: left 0.1s;
	-o-transition: left 0.1s;
	transition: left 0.1s;
	z-index: -10;
	width: 64px;
}

.nav-region-list-items li:hover span {
	left: 180px;
}

.nav-action {
	display: inline-block;
	background: #23B6FF;
	color: #fff;
	width: 14px;
	height: 19px;
	padding: 8px 8px 5px 10px;
}

.show-unused-region a {
	padding: 3px 0;
	font-size: 11px;
	color: #999;
	text-align: center;
	display: block;
}

.show-unused-region a:hover {
	color:#eee;
}

.nav-new-stack {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px 8px;
	color: #fff;
	font-size: 16px;
}

.nav-stack-region-title:hover {
	color: #fff;
}

.nav-stack-region-title:hover .nav-new-stack {
	display: block;
}

/* Left Nav Collpased */

#navigation.collapsed .sub-menu-wrapper, #navigation.collapsed .show-unused-region, #navigation.collapsed .first-level-nav-label {
	display: none;
}

#navigation.collapsed {
	border-right: none;
	width: 45px;
	overflow: visible;
}

#navigation.collapsed .nav-scroll-wrap {
	overflow: visible;
}

#navigation.collapsed #region-selector {
	display: none;
	overflow: visible;
}

#navigation.collapsed #first-level-nav > li:hover {
	background-color: #0066C3;
	color: #fff;
}

#navigation.collapsed li.nav-head.collapsed-show .first-level-nav-label {
	display: block;
	position: absolute;
	left: 44px;
	z-index: 300;
	background: #4c494c;
	width: 154px;
	height: 18px;
	top: 0;
	border: solid 1px #434343;
	padding: 14px 13px;
	color: #fff;
}

#navigation.collapsed li.nav-head.collapsed-show #nav-app .first-level-nav-label {
	top: 46px;
}

#navigation.collapsed li.nav-head.collapsed-show #nav-stack .first-level-nav-label {
	top: 93px;
}

#navigation.collapsed li.nav-head.collapsed-show .first-level-nav-label .icon-nav-accordion {
	display: none;
}

#navigation.collapsed li.nav-head.collapsed-show .sub-menu-wrapper {
	position: absolute;
	display: block;
	width: 180px;
	left: 44px;
	z-index: 200;
	background: #505050;
	border: solid 1px #434343;
}

#navigation.collapsed li.nav-head.collapsed-show .show-unused-region {
	display: block;
}


/* Menu Accordion */


/* Main */
#main {
	position: relative;
	margin-left: 181px;
	/*margin-left: 45px;*/
	height: 100%;
	min-width: 800px;
	-webkit-transition: margin-left 0.1s;
	-moz-transition: margin-left 0.1s;
	-ms-transition: margin-left 0.1s;
	-o-transition: margin-left 0.1s;
	transition: margin-left 0.1s;
	z-index: 1;
}

#main.wide {
	/*margin-left: 0;*/
	margin-left: 44px;
	border-left: solid 1px #2d292d;
}

/* Main Tab Bar */
#tab-bar {
	height: 30px;
	overflow: hidden;
	background-color: #4c494c;
	padding: 5px 20px 0 20px;
	border-top: 1px solid #2D292D;
}

#tab-bar li {
	float: left;
	width: 180px;
	border-radius: 2px 2px 0 0;
	border-bottom: 1px solid #999;
	background-color: #c9c9c9;
	box-shadow: inset 0 1px #e4e4e4, inset 0 -4px 10px rgba(0,0,0,.1);
	position: relative;
	margin-right: 2px;
	-webkit-transition: width .2s;
	-moz-transition: width .2s;
	-ms-transition: width .2s;
	-o-transition: width .2s;
	transition: width .2s;
}

#tab-bar li.active {
	background-color: #e9e9e9;
	box-shadow: inset 0 1px #fff;
	border-bottom: 1px solid #e9e9e9;
}

#tab-bar li.active a {
	color:#007dce;
}

.tab-bar-truncate {
	width: auto;
	display: block;
	color: #666;
	padding: 6px 12px 6px 5px;
}

.close-tab {
	color: #666;
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 10px;
	height: 10px;
}

.tab-bar-truncate.unsaved i:after {
	content: "*";
	font-size: 18px;
}

#tab-bar li.active a.close-tab {
	color: #999;
}

/* Main Content */

.main-content {
	display: none;
	background: #e9e9e9;
	height: 100%;
	width: 100%;
	/*overflow: hidden;*/
	position: absolute;
}

.main-content.active {
	display: block;
}

/* Dashboard Main Content */
#tab-content-dashboard {
}


#dashboard-create-stack {
	display: inline-block;
	position: absolute;
	right: 0;
}

.btn.btn-dashboard-header {
	box-shadow: none;
	border: none;
	width: 140px;
	padding: 14px 12px;
	/*background: #BF3FB1;*/
	text-shadow: none;
	float: right;
	color: #BF3FB1;
	line-height: 14px;
	border-radius: 0px;
	border-left: 1px solid #ddd;
}

.btn.btn-dashboard-header:hover {
	/*background: #D266C6;*/
	color: #E70FD0;
}

.create-new-stack-dropdown {
	position: absolute;
	text-shadow: none;
	right: 0;
	background: #fff;
	top: 45px;
	z-index: 99;
	border-radius: 2px;
	padding: 5px 10px;
	width: 300px;
	border: 1px solid #ccc;
	box-shadow: 0 2px 6px rgba(0,0,0,.1);
}

.create-new-stack-dropdown p {
	color: #999;
	line-height: 14px;
}

.create-new-stack-dropdown a {
	display: block;
	padding: 8px 0;
	line-height: 14px;
}

.create-new-stack-dropdown a:hover {
	color: #3892E3;
}

.region-platform-wrap {
	float: right;
}

.region-platform-wrap span {
	margin-right: 5px;
	cursor: default;
	display: inline-block;
	border-radius: 2px;
	font-size: 9px;
	padding: 1px 2px;
}

.region-platform-vpc {
	color: #3892E3;
	border: 1px solid #3892E3;
}

.region-platform-classic {
	color: #FBA617;
	border: 1px solid #FBA617;
}


.dashboard-content-wrap {
	padding: 10px;
}

.dashboard-widget {
	border-radius: 4px;
	border: 1px solid #D4D4D4;
	margin-bottom: 10px;
	background: #fff;
}

.dashboard-widget:hover {
	box-shadow: 2px 2px 5px #ddd, -2px -2px 5px #ddd;
}

.dashboard-widget-body a, .dashboard-header a {
	color: #666;
}

.dashboard-widget-body a:hover, .dashboard-header a:hover {
	color: #3892E3;
}

.refresh {
	font-size: 12px;
	position: absolute;
	right: 20px;
	text-align: right;
	top: 2px;
}

.dashboard-widget-title-wrap {
	/*width: 100%;*/
	line-height: 40px;
	padding-left: 10px;
	position: relative;
	background: #f3f3f3;
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 #ddd;
	border-radius: 2px 2px 0 0;
}

.dashboard-widget-title {
	color: #9b9b9b;
	text-shadow: 0 1px 0 #fff;
	display: inline-block;
}

.dashboard-widget-body {
	padding: 10px 10px 10px 10px;
}

#dashboard-map-text-wrap {
	min-width: 1034px;
	height: 360px;
	overflow: hidden;
}

#dashboard-map {
	background: url("../images/ide/world.jpg") center 80% no-repeat;
	background-size: auto 480px;
	background-color: #f8f8f8;
	min-height: 360px;
	border-right: 1px solid #ccc;
	overflow: hidden;
}

#map-region-spot-list {
	width: 620px;
	height: 350px;
	margin: 0 auto;
	position: relative;
}

#map-region-spot-list li {
	position: absolute;
	width: 20px;
	height: 20px;
}

#map-region-spot-list li a {
	width: 100%;
	height: 100%;
	display: block;
}

.icon-map-spot {
	border-radius: 5px;
	width: 10px;
	height: 10px;
	background: #FF8B00;
	display: block;
}

.map-tooltip {
	background: #333;
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	color: #ccc;
	font-size: 12px;
	position: absolute;
	padding: 5px 10px;
	border-radius: 3px;
	z-index: 99;
	/*width: 100px;*/
	opacity: 0.4;
	cursor: default;

}

#map-region-spot-list li:hover .map-tooltip, #map-region-spot-list li.hover .map-tooltip {
	opacity: 1;
}

.map-tooltip .status {
	margin-right: 5px;
}

.map-tooltip-pointer {
	/*background: #fff;*/
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -3px;
}

.map-tooltip-pointer-reverse {
	/*background: #fff;*/
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -3px;
}


.map-tooltip-body {
	/*padding: 0 5px;*/
	max-width: 80px;
}

#map-region-spot-list li:hover .icon-map-spot, #map-region-spot-list li.hover .icon-map-spot {
	background: #FFBF72;
	box-shadow: 0 0 6px #FFBF72;
}

#map-region-spot-list li .map-tooltip {
	-webkit-transition: margin-top 0.2s;
	-moz-transition: margin-top 0.2s;
	-ms-transition: margin-top 0.2s;
	-o-transition: margin-top 0.2s;
	transition: margin-top 0.2s;
}

#map-region-spot-list li:hover .map-tooltip, #map-region-spot-list li.hover .map-tooltip {
	margin-top: -2px;
}

li .map-tooltip {
	left: -47px;
}

#us-east-1 {
	top: 144px;
	left: 132px;
}

#us-east-1 .map-tooltip {
	top: -36px;
}

#us-west-1 {
	top: 122px;
	left: 47px;
}

#us-west-1 .map-tooltip {
	top: -40px;
}

#us-west-2 {
	top: 135px;
	left: 51px;
}

#us-west-2 .map-tooltip {
	top: 22px;
}

#eu-west-1 {
	top: 94px;
	left: 270px;
}

#eu-west-1 .map-tooltip {
	top: -36px;
}

#sa-east-1 {
	top: 265px;
	left: 185px;
}

#sa-east-1 .map-tooltip {
	top: -36px;
}

#ap-southeast-1 {
	top: 214px;
	left: 485px;
}

#ap-southeast-1 .map-tooltip {
	top: -36px;
}

#ap-southeast-2 {
	top: 285px;
	left: 575px;
}

#ap-southeast-2 .map-tooltip {
	top: -36px;
}

#ap-northeast-1 {
	top: 143px;
	left: 555px;
}

#ap-northeast-1 .map-tooltip {
	top: -36px;
}

#dashboard-map-text {
	min-height: 350px;
	/*padding: 10px;*/
}

#dashboard-widget-regions {
	margin-left: -5px;
}

#dashboard-widget-regions > li {
	display: inline-block;
}

#dashboard-widget-regions > li a {
	color: #666;
	display: block;
	padding: 13px 5px 18px 10px;
	border-radius: 4px;
	background: #F2FAFF;
	margin: 0 0 5px 5px;
	height: 40px;
}

#dashboard-widget-regions > li.unused-region a {
	color: #ccc;
	background: #fafafa;
}

#dashboard-widget-regions > li a:hover, #dashboard-widget-regions > li a.hover {
	background: #E1F0FB;
	color: #3892E3;
}

#dashboard-widget-regions > li.unused-region a:hover, #dashboard-widget-regions > li.unused-region a.hover  {
	background: #f3f3f3;
}

.dashboard-widget-regions-stat {
	margin-top: 5px;
}

.dashboard-widget-regions-stat li {
	display: inline-block;
	margin-left: 15px;
	font-size: 16px;
	width: 45px;
}

.dashboard-widget-regions-stat li:first-child {
	margin-left: 0;
	color: #34E093;
}

.dashboard-widget-regions-stat li:nth-child(2) {
	color: #9b9b9b;
}

.dashboard-widget-regions-stat li:last-child {
	color: #D08CDD;
}

#dashboard-widget-regions > li.unused-region .dashboard-widget-regions-stat li {
	color: #ccc;
}

.dashboard-widget-regions-stat li i {
	font-size: 25px;
	margin-right: 4px;
}

.widget-small {
	margin-left: 20px;
	/*width: 98%;*/
}

.widget-small-first {
	margin-left: 0;
}

.widget-small .dashboard-widget-body {
	height: 200px;
	/*overflow: auto;*/
}

.dashboard-recent-list li {
	padding: 3px 0;
	position: relative;
}

.dashboard-recent-list-meta {
	font-size: 12px;
	color: #ccc;
}

.timestamp {
	font-size: 12px;
	color: #ccc;
	position: absolute;
	right: 0;
	top: 9px;
	font-style: italic;
}

.blank-widget {
	text-align: center;
	padding: 80px 0;
	color: #d8d8d8;
}

#dashboard-scheduled-action .dashboard-widget-body {
	padding: 0;
}

#dashboard-scheduled-action-table .past.error {
	color: #FF5B59;
}

#dashboard-scheduled-action-table .past.normal {
	color: #ccc;
}

#dashboard-scheduled-action-table .prepare {
	color: #23B6FF;
}

.dashboard-link-list li {
	margin-top: 15px;
	font-size: 16px;
}

.dashboard-link-list li:first-child {
	margin-top: 0;
}

.dashboard-link-list li:after {
	content: "î€›";
	font-family: "MC-ide";
	font-size: 12px;
	color: #ccc;
	margin-left: 4px;
}

/* App/Stack Toolbar */
#main-toolbar {
	position: relative;
	top: 0;
	background: #696569;
	/*width: 100%;*/
	height: 30px;
	border-bottom: 1px solid #555;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	border-top: 1px solid #463e44;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.08);
}

.btn-toolbar {
	display: inline-block;
	height: 30px;
	color: #e0e0e0;
	font-size: 20px;
	padding: 0 18px;
}

.btn-toolbar:hover {
	background-color:#aaa; 
	color:#fff;
}

.toolbar-btn-left {
	display: inline-block;
}

.toolbar-btn-right {
	float: right;
}

/* Sidebars, including Resource Panle and Property Panel */
.sidebar {
	position: absolute;
	width: 280px;
	height: 100%;
	background: #d9d9d9;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0,0,0,.15);
	overflow: visible;
}

.sidebar-title {
	background: #696569;
	height: 30px;
	border-bottom: 1px solid #555;
	border-top: 1px solid #463e44;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.08), inset 1px 0 0 rgba(255,255,255,.08), inset -1px 0 0 rgba(255,255,255,.08);
	color: #e0e0e0;
	padding: 0 10px;
	line-height: 30px;
}

.sidebar-hider {
	position: absolute;
	top: 40%;
	z-index: 1000;
	padding: 5px 8px;
	background: #999;
}

a.sidebar-hider {
	color: #eee;
}

/* Resource Panel */
#resource-panel {
	left: 0;
	margin-left: 0;
	-webkit-transition: margin-left 0.1s;
	-moz-transition: margin-left 0.1s;
	-ms-transition: margin-left 0.1s;
	-o-transition: margin-left 0.1s;
	transition: margin-left 0.1s;
	border-right: 1px solid #d1d1d1;
}

#resource-panel.hiden {
	margin-left: -281px;
}

#resource-search {
	float: right;
}

#hide-resource-panel {
	left: 281px;
}

.resource-type-tab li {
	font-size:16px;
	width: 132px;
	float: left;
	background: #d0d0d0;
	padding: 8px 4px;
}

.resource-type-tab li a {
	color:#666;
}

.resource-type-tab li.active {
	background: #0a99eb;
	font-weight: 700;
}

.resource-type-tab li.active a {
	color: #fff;
	text-shadow: 0 1px #7c7c7c;
}

/* Property Panel */
#property-panel {
	right: 0;
	top: 0;
	margin-right: 0;
	-webkit-transition: margin-right 0.1s;
	-moz-transition: margin-right 0.1s;
	-ms-transition: margin-right 0.1s;
	-o-transition: margin-right 0.1s;
	transition: margin-right 0.1s;
	border-left: 1px solid #d1d1d1;
}

#property-panel.hiden {
	margin-right: -280px;
}

#hide-property-panel {
	right: 280px;
}

/* Canvas and Toolbar Wrapper */
#canvas-panel {
    -webkit-transition: margin, width 0s linear;
    -moz-transition: margin, widht 0s linear;
    -ms-transition: margin, width 0s linear;
    -o-transition: margin, width 0s linear;
    transition: margin, width 0s linear;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 280px;
    margin-right: 280px;
}

#canvas-panel.left-hiden {
	margin-left: 0;
}

#canvas-panel.right-hiden {
	margin-right: 0;
}

/* Canvas */
#canvas {
	background-color: #fff;
	background: url('../images/ide/grid.png');
	width: 100%;
	height: 100%;
	position: relative;
}