html,
body {
	height: 100%;
}

body {
	font-size: 14px;
/*	min-height: 100%;*/
	min-width: 1024px;
	color: #666;
}

a {
	color: #ccc;
}

.icon-caret-down {
	margin-left: 2px;
}

#body {
	background: #4c494c;
}

.truncate {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	display: inline-block;
}

.table-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	/*display: inline-block;*/
}

/* Header */
#header {
	background: #312d31;
	border-top: 4px solid #B25B91;
	height: 52px;
}

#view-toggle-navigation {
	display: inline-block;
	text-align: center;
	float: left;
	border-right: 1px solid #252225;
}

#view-toggle-navigation a {
	display: block;
	width: 45px;
	line-height: 52px;
}

#view-toggle-navigation:hover, #view-toggle-navigation.active {
	background-color: #171517;
	color: #fff;
}

#region-selector {
	float: left;
	display: inline-block;
	z-index: 100;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	border-bottom: 1px solid #333;
	height: 50px;
}

#region-selector a {
	display: block;
	margin-left: 15px;
}

#region-selector .dropdown-toggle {
	width: 120px;
	line-height: 50px;
}

#region-selector .dropdown-menu {
	color: #ccc;
	font-size: 12px;
	background: #3F3A3F;
	position: absolute;
	left: 45px;
	width: 180px;
}

#region-selector .dropdown-menu li {
	padding: 8px 13px;
}

#region-selector .dropdown-menu li:first-child {
	border-bottom: 1px solid #333;
}

.logo {
	margin-left: 10px;
/*	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: 5px;*/
	margin-top: 5px;
}

.header-menu {
	float: right;
	margin: 0;
}

.header-menu .dropdown {
	position: relative;
	float: left;
	line-height: 52px;
	border-left: 1px solid #252225;
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	-ms-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

#header .header-menu .dropdown a {
	display: block;
	padding: 0 20px;
}

#header .dropdown:hover,
#header .dropdown.open {
	background-color: #171517;
	color: fff;
}

.notification-counter,
.unread_counter {
	display: inline-block;
	line-height: 1;
	padding: 4px 3px;
	min-width: 12px;
	border-radius: 12px;
	background-color: #ff6151;
	box-shadow: 0 1px rgba(0,0,0,.75);
	border: 1px solid #711212;
	background-image: -webkit-linear-gradient(bottom, #e81414, #fa4a2d);
	background-image: -moz-linear-gradient(bottom, #e81414, #fa4a2d);
	background-image: -o-linear-gradient(bottom, #e81414, #fa4a2d);
	background-image: -ms-linear-gradient(bottom, #e81414, #fa4a2d);
	background-image: linear-gradient(to top, #e81414, #fa4a2d);
	font-size: 11px;
	font-weight: 700;
	color: #fff;
	text-align: center;
}

.avatar {
	display: inline-block;
	border-radius: 15px;
	background-color: #ccc;
	border: 1px solid #eee;
	vertical-align: middle;
	margin-right: 8px;
}

.dropdown-menu {
	display: none;
}

.open > .dropdown-menu {
	display: block;
}

#header .dropdown-menu {
	font-size: 12px;
	position: absolute;
	top: 52px;
	right: 0;
	z-index: 3;
	box-shadow: 0 8px 10px rgba(0,0,0,.3);
}

#header .dropdown-menu ul {
	width: 167px;
}

#header .dropdown-menu li:hover {
	background-color: #171517;
}

#notification-panel-wrapper {
	width: 680px;
}

#notification-panel-wrapper tbody tr td:first-child {
	text-align: center;
}

#alert-panel-wrapper {
	width: 680px;
}

#user-dropdown-wrapper {
	background-color: #3F3A3F;
}

#user-dropdown-wrapper li {
	border-bottom: 1px solid #333;
	line-height: 36px;
	width: 100%;
}

#user-dropdown-wrapper a {
	display: block;
}

/* Wrapper */
#wrapper {
	position: fixed;
	width: 100%;
	/*height: 100%;*/
	top: 56px;
	min-height: 600px;
}

/* Left Nav */
#navigation {
	overflow: hidden;
	width: 180px;
	height: 100%;
	background-color: #4c494c;
	box-shadow: 1px 0 0 rgba(0,0,0,.15);
	border: solid 1px #2d292d;
	border-left: none;
	position: fixed;
	z-index: 3;
	-webkit-transition: left 0.1s;
	-moz-transition: left 0.1s;
	-ms-transition: left 0.1s;
	-o-transition: left 0.1s;
	transition: left 0.1s;
}

.nav-scroll-wrap {
	/*margin-top: 35px;*/
}

#firs-level-nav {
	position: relative;
	overflow: visible;
	height: 1000px;
}

#first-level-nav > li > a {
	padding: 14px 13px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	border-top: 1px solid #333;
	font-size: 16px;
	display: block;
}

#first-level-nav > li:first-child > a {
	border-top: none;
}

#first-level-nav ul li > a {
	padding: 8px 17px;
	display: block;
}

#nav-dashboard-region li a {
	font-size: 13px;
}

.nav-head .accordion-head:hover {
	color: #fff;
}

.nav-head-note {
	font-size: 11px;
	color: #999;
	display: block;
	margin-left: 29px;
}

.icon-nav-label {
	margin-right: 15px;
}

.icon-nav-status {
	margin: 0 20px 2px 3px;
}

.status.icon-nav-status {
	width: 6px;
	height: 6px;
}

.icon-nav-accordion {
	position: absolute;
	right: 10px;
	transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}

.expanded .icon-nav-accordion {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.nav-region-list li > a {
	font-size: 12px;
	color: #999;
}

.nav-region-list > li {
	margin-top: 6px;
	position: relative;
}

.nav-region-list > li:first-child {
	margin-top: 0;
}

#nav-dashboard-region li > a,
.nav-region-list-items li > a {
	font-size: 13px;
	color: #ccc;
	width: 146px;
	/*background: #4c494c;*/
}

#nav-dashboard-region li a:hover,
.nav-region-list-items li a:hover {
	background-color: #0066C3;
	color: #fff;
}

.nav-region-list-items li span {
	width: 0;
	position: absolute;
	/*overflow: hidden;*/
	top: 31px;
	left: 0;
	-webkit-transition: left 0.1s;
	-moz-transition: left 0.1s;
	-ms-transition: left 0.1s;
	-o-transition: left 0.1s;
	transition: left 0.1s;
	z-index: -10;
	width: 64px;
}

.nav-region-list-items li:hover span {
	left: 180px;
}

.nav-action {
	display: inline-block;
	background: #23B6FF;
	color: #fff;
	width: 14px;
	height: 19px;
	padding: 8px 8px 5px 10px;
}

.show-unused-region a {
	padding: 3px 0;
	font-size: 11px;
	color: #999;
	text-align: center;
	display: block;
}

.show-unused-region a:hover {
	color:#eee;
}

.nav-new-stack {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px 8px;
	color: #fff;
	font-size: 16px;
}

.nav-stack-region-title:hover {
	color: #fff;
}

.nav-stack-region-title:hover .nav-new-stack {
	display: block;
}

/* Left Nav Collpased */
#navigation.collapsed .sub-menu-wrapper,
#navigation.collapsed .show-unused-region,
#navigation.collapsed .first-level-nav-label {
	display: none;
}

#navigation.collapsed {
	border-right: none;
	width: 45px;
	overflow: visible;
}

#navigation.collapsed .nav-scroll-wrap {
	overflow: visible;
}

#navigation.collapsed #region-selector {
	display: none;
	overflow: visible;
}

#navigation.collapsed #first-level-nav > li:hover {
	background-color: #0066C3;
	color: #fff;
}

#navigation.collapsed li.nav-head.collapsed-show .first-level-nav-label {
	display: block;
	position: absolute;
	left: 44px;
	z-index: 300;
	background: #4c494c;
	width: 154px;
	height: 18px;
	top: 0;
	border: solid 1px #434343;
	padding: 14px 13px;
	color: #fff;
}

#navigation.collapsed li.nav-head.collapsed-show .first-level-nav-label .icon-nav-accordion {
	display: none;
}

#navigation.collapsed li.nav-head.collapsed-show .sub-menu-wrapper {
	position: absolute;
	display: block;
	width: 180px;
	left: 44px;
	z-index: 200;
	background: #505050;
	border: solid 1px #434343;
}

#navigation.collapsed li.nav-head.collapsed-show .show-unused-region {
	display: block;
}


/* Menu Accordion */


/* Main */
#main {
	position: relative;
	margin-left: 181px;
	/*margin-left: 45px;*/
	/*height: 100%;*/
	min-width: 800px;
	-webkit-transition: margin-left 0.1s;
	-moz-transition: margin-left 0.1s;
	-ms-transition: margin-left 0.1s;
	-o-transition: margin-left 0.1s;
	transition: margin-left 0.1s;
	z-index: 1;
}

#main.wide {
	/*margin-left: 0;*/
	margin-left: 44px;
	border-left: solid 1px #2d292d;
}

/* Main Tab Bar */
#tab-bar {
	position: relative;
	font-size: 13px;
	background-color: #4c494c;
	padding: 5px 20px 0 20px;
	border-top: 1px solid #2D292D;
}

#tab-bar li {
	float: left;
	border-radius: 2px 2px 0 0;
	background-color: #c9c9c9;
	box-shadow: inset 0 1px #e4e4e4, inset 0 -4px 10px rgba(0,0,0,.1);
	position: relative;
	margin-right: 2px;
	-webkit-transition: width .2s;
	-moz-transition: width .2s;
	-ms-transition: width .2s;
	-o-transition: width .2s;
	transition: width .2s;
}

.tab-bar-truncate {
	display: block;
	width: 180px;
	height: 16px;
	padding: 7px 12px 7px 5px;
	color: #666;
}

#tab-bar li.active {
	background-color: #e9e9e9;
	box-shadow: inset 0 1px #fff;
}

#tab-bar li.active a {
	color: #007dce;
}

.close-tab {
	color: #666;
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 10px;
	height: 10px;
}

.tab-bar-truncate.unsaved i:after {
	content: "*";
	font-size: 18px;
}

#tab-bar li.active a.close-tab {
	color: #999;
}

/* Main Content */
.main-content {
	display: none;
	background: #e9e9e9;
	height: 100%;
	width: 100%;
	/*overflow: hidden;*/
	/*position: absolute;*/
	/*top: 0;*/
}

.main-content.active {
	display: block;
}

/* Dashboard Main Content */
#tab-content-dashboard {
}

.dashboard-header {
	margin-bottom: 10px;
}

#dashboard-create-stack {
	position: relative;
	width: 400px;
	height: 56px;
	margin: 0px auto;
}

.btn.btn-dashboard-feature {
	font-size: 18px;
	box-shadow: none;
	border: none;
	width: 180px;
	height: 16px;
	padding: 14px 12px;
	text-shadow: none;
	line-height: 16px;
	position: absolute;
	left: 50%;
	margin-left: -102px;
	color: #f0f0f0;
}

.btn.btn-dashboard-feature:hover {
	box-shadow: none;
	border: none;
	color: #fff;
}

.create-new-stack-dropdown {
	position: absolute;
	text-shadow: none;
	right: 98px;
	background: #fff;
	top: 50px;
	z-index: 99;
	border-radius: 2px;
	padding: 5px 10px;
	width: 300px;
	border: 1px solid #ccc;
	box-shadow: 0 2px 6px rgba(0,0,0,.1);
}

.create-new-stack-dropdown p {
	color: #999;
	line-height: 14px;
}

.create-new-stack-dropdown a {
	color: #666;
	display: block;
	padding: 8px 0;
	line-height: 14px;
}

.create-new-stack-dropdown a:hover {
	color: #3892E3;
}

.region-platform-wrap {
	float: right;
}

.region-platform-wrap span {
	margin-right: 5px;
	cursor: default;
	display: inline-block;
	border-radius: 2px;
	font-size: 9px;
	padding: 1px 2px;
}

.region-platform-vpc {
	color: #3892E3;
	border: 1px solid #3892E3;
}

.region-platform-classic {
	color: #FBA617;
	border: 1px solid #FBA617;
}


.dashboard-content-wrap {
	padding: 15px;
}

.dashboard-widget {
	border-radius: 4px;
	border: 1px solid #D4D4D4;
	background: #fff;
}

.dashboard-widget:hover {
	box-shadow: 2px 2px 5px #ddd, -2px -2px 5px #ddd;
}

.dashboard-widget-body a,
.dashboard-header a {
	color: #666;
}

.dashboard-widget-body a:hover,
.dashboard-header a:hover {
	color: #3892E3;
}

.dashboard-header-right {
	float: right;
	display: inline-block;
}

.dashboard-header-right .region-platform-wrap {
	margin-right: 10px;
	float: left;
	margin-top: 2px;
}

.aws-region-status {
	margin-right: 10px;
	display: inline-block;
	border-radius: 4px;
	border: 1px solid #ccc;
	background: #fff;
	padding: 2px 6px;
}

.aws-region-status i {
	margin-left: 5px;
	margin-right: 2px;
	color: #2E9BFC;
}

.refresh {
	font-size: 12px;
	display: inline-block;
}

.refresh a {
	color: #9b9b9b;
}

.dashboard-widget-title-wrap {
	line-height: 40px;
	padding-left: 10px;
	position: relative;
	background: #f3f3f3;
	box-shadow: inset 0 1px 0 #fff;
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid #cfcfcf;
}

.dashboard-widget-title {
	color: #9b9b9b;
	text-shadow: 0 1px 0 #fff;
	display: inline-block;
}

.dashboard-widget-body {
	padding: 10px 10px 10px 10px;
	height: 236px;
}

#dashboard-feature-wrap {
	min-width: 1034px;
	height: 360px;
	/*overflow: hidden;*/
}

#dashboard-map {
	background: url("../images/ide/world.jpg") center 80% no-repeat;
	background-size: auto 480px;
	background-color: #f8f8f8;
	min-height: 360px;
	border-right: 1px solid #ccc;
	overflow: hidden;
	border-radius: 4px 0 0 4px;
}

#map-region-spot-list {
	width: 660px;
	height: 350px;
	margin: 0 auto;
	position: relative;
}

#map-region-spot-list > li {
	display: block;
	position: absolute;
	/*width: auto;*/
	/*height: 20px;*/
}

#map-region-spot-list > li > a {
	/*width: 100%;*/
	/*height: 100%;*/
	display: block;
	color: #666;
	font-size: 12px;
	/*position: relative;*/
}

.icon-map-spot {
	border-radius: 5px;
	width: 10px;
	height: 10px;
	background: #FF8B00;
	display: inline-block;
	margin-right: 5px;
}

#map-region-spot-list li:hover .icon-map-spot,
#map-region-spot-list li.hover .icon-map-spot {
	background: #FFBF72;
	box-shadow: 0 0 6px #FFBF72;
}

#map-region-spot-list > li.unused i.icon-map-spot {
	background: #ccc;
	box-shadow: none;
}

.map-tooltip {
	background: #333;
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	color: #ccc;
	font-size: 12px;
	position: absolute;
	padding: 5px;
	border-radius: 3px;
	/*z-index: 99;*/
	/*width: 100px;*/
	opacity: 0.6;
	cursor: pointer;
	/*margin-left: 50%;*/
}

#map-region-spot-list li:hover .map-tooltip,
#map-region-spot-list li.hover .map-tooltip {
	opacity: 1;
}

.map-tooltip .status,
.map-tooltip .icon-info-sign {
	margin-right: 3px;
}

.map-aws-status {
	margin-right: 5px;
}

.map-tooltip-pointer {
	/*background: #fff;*/
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -3px;
}

.map-tooltip-pointer-up {
	/*background: #fff;*/
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -3px;
}

.map-tooltip-pointer-left {
	position: absolute;
	top: 50%;
	left: -5px;
	margin-top: -4px;
}

.map-tooltip-body {
	width: auto;
}

#map-region-spot-list li .map-tooltip {
/*	-webkit-transition: margin-top 0.2s;
	-moz-transition: margin-top 0.2s;
	-ms-transition: margin-top 0.2s;
	-o-transition: margin-top 0.2s;
	transition: margin-top 0.2s;*/
/*	left: -75px;
	top: -45px;*/
}

/*#map-region-spot-list li:hover .map-tooltip,
#map-region-spot-list li.hover .map-tooltip {
	margin-top: -2px;
}*/

#us-east-1 {
	top: 155px;
	left: 161px;
}

#us-east-1 .map-tooltip {
	left: 90px;
	top: -10px;
}

#us-west-1 {
	top: 131px;
	left: 74px;
}

#us-west-1 .map-tooltip {
	top: -42px;
	left: -71px;
}

#us-west-2 {
	top: 145px;
	left: 81px;
}

#us-west-2 .map-tooltip {
	top: 20px;
	left: -71px;
}

#eu-west-1 {
	top: 103px;
	left: 299px;
}

#eu-west-1 .map-tooltip {
	top: -42px;
	left: -71px;
}

#sa-east-1 {
	top: 273px;
	left: 218px;
}

#ap-southeast-1 {
	top: 214px;
	left: 505px;
}

#sa-east-1 .map-tooltip,
#ap-southeast-1 .map-tooltip,
#ap-southeast-2 .map-tooltip,
#ap-northeast-1 .map-tooltip {
	top: -41px;
	left: -71px;
}

#ap-southeast-2 {
	top: 294px;
	left: 604px;
}

#ap-northeast-1 {
	top: 150px;
	left: 588px;
}

#dashboard-feature-text {
	height: 350px;
	/*padding: 10px;*/
}

.dashboard-global-stat-wrap {
	background: #fafafa;
	height: 245px;
	padding: 20px;
	font-size: 18px;
	color: #9b9b9b;
}

.dashboard-global-stat-wrap p {
	margin-top: 20px;
}

.dashboard-global-stat {
	color: #ccc;
}

.global-stat-counter {
	font-size: 64px;
	margin-right: 10px;
}

.dashboard-global-stat-app {
	margin-right: 20%;
}

.dashboard-global-stat-app .global-stat-counter {
	color: #2E9BFC;
}

.dashboard-global-stat-stack .global-stat-counter {
	color: #CF8CDD;
}

.dashboard-global-stat-region-counter {
	color: #FBA617;
}

.dashboard-widget-regions-stat li {
	display: inline-block;
	margin-left: 5px;
	font-size: 16px;
	/*width: 45px;*/
}

.dashboard-widget-regions-stat li:first-child {
	margin-left: 0;
	color: #34E093;
}

.dashboard-widget-regions-stat li:nth-child(2) {
	color: #9b9b9b;
}

.dashboard-widget-regions-stat li:last-child {
	color: #D08CDD;
}

.dashboard-widget-regions-stat li i {
	font-size: 25px;
	margin-right: 4px;
}

.widget-small .dashboard-widget-body {
	height: 200px;
}

.dashboard-recent-list li {
	padding: 3px 0;
	position: relative;
}

.dashboard-recent-list-meta {
	font-size: 12px;
	color: #ccc;
	padding: 2px 0;
}

.timestamp {
	font-size: 12px;
	color: #ccc;
	position: absolute;
	right: 0;
	top: 9px;
	font-style: italic;
}

.blank-widget {
	text-align: center;
	padding: 80px 0;
	color: #999;
	background: #fff;
}

.dashboard-widget-body-table.blank-widget {
	background: #fff;
}

.dashboard-widget-body-table.blank-widget p{
	padding-top: 90px;
}

#dashboard-scheduled-action .dashboard-widget-body {
	padding: 0 0 20px 0;
}

#dashboard-scheduled-action-table .past.error {
	color: #FF5B59;
}

#dashboard-scheduled-action-table .past.normal {
	color: #ccc;
}

#dashboard-scheduled-action-table .prepare {
	color: #23B6FF;
}

.dashboard-link-list li {
	margin-top: 15px;
	font-size: 16px;
}

.dashboard-link-list li:first-child {
	margin-top: 0;
}

.dashboard-link-list li:after {
	content: "";
	font-family: "MC-ide";
	font-size: 12px;
	color: #ccc;
	margin-left: 4px;
}

.dashboard-widget-body-table{
	padding: 0;
	height: 253px;
	background: #f0f0f0;
	border-radius: 0 0 4px 4px;
}

.dashboard-widget-body-table.table-tall {
	height: 400px;
}


.dashboard-region-stat-tab-head {
	height: 46px;
	background: #f3f3f3;
	box-shadow: inset 0 1px 0 #fff;
	border-radius: 4px 4px 0 0;
	overflow: hidden;
}

.dashboard-region-stat-tab-head li {
	padding: 8px 0 0 10px;
	font-size: 14px;
	position: relative;
	height: 100%;
}

.dashboard-region-stat-tab-head > li > a {
	width: 100%;
	display: inline-block;
	color: #666;
	font-size: 14px;
}

.dashboard-region-stat-tab-head > li > a > i {
	font-size: 24px;
}

.dashboard-region-stat-tab-head > li > a .counter {
	font-size: 24px;
	/*color: #666;*/
}

.dashboard-region-stat-tab-head > li.app-stat > a .counter {
	color: #2E9BFC;
}

.dashboard-region-stat-tab-head > li.stack-stat > a .counter {
	color: #CF8CDD;
}

.dashboard-region-stat-tab-head li.active {
	background: #fff;
}

.btn.btn-region-dashboard {
	font-size: 18px;
	float: right;
	box-shadow: none;
	/*border: none;*/
	padding: 8px 0;
	width: 40px;
	height: 36px;
	/*margin: auto 5px;*/
	text-shadow: none;
	line-height: 12px;
	position: absolute;
	right: 4px;
	top: 4px;
	color: #f0f0f0;
}

.thumbnail-container {
	position: relative;
	margin-left: -10px;
	margin-top: 0;
	display: none;
}

.thumbnail-container.active {
	display: block;
}

.action-guide {
	position: absolute;
	top: 10px;
	right: 10px;
}

.item-thumbnail-wrap {
	display: inline-block;
	width: 22.5%;
	height: 0;
	padding-bottom: 18.75%;
	border-radius: 2px;
	border: 1px solid #D4D4D4;
	position: relative;
	margin: 8px 0 0 5px;
	opacity: .6;
	/*background: url('../images/ide/dummy/app-thumbnail.png') 0 0;*/
}

.thumbnail-body {
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.item-thumbnail-wrap:hover {
	opacity: 1;
	box-shadow: 2px 2px 5px rgba(0,0,0,.05), -2px -2px 5px rgba(0,0,0,.05);
}

.action-thumbnail {
	padding: 2px 10px;
	height: 20px;
	border-radius: 12px;
	background: rgba(0,0,0,.6);
	width: 50px;
	text-align: center;
	font-size: 14px;
	overflow: hidden;
	display: none;
	position: absolute;
	left: 50%;
	margin: -10px 0 0 -34px;
}

.action-thumbnail a {
	display: inline-block;
	width: 12px;
	height: 20px;
	border: none;
	background: none;
	margin: 0 5px;
	padding: 0;
	color: #fff;
	/*width: 10px;*/
}

.action-thumbnail i.icon-play,
.thumbnail-name i.icon-play,
.bubble-head i.icon-play {
	color: #34E093;
}

.action-thumbnail i.icon-stop,
.thumbnail-name i.icon-stop,
.bubble-head i.icon-stop {
	color: #55C7FF;
}

.action-thumbnail i.icon-close {
	color: #FF5B59;
}

.item-thumbnail-wrap:hover .action-thumbnail {
	display: block;
}

.thumbnail-name {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2px 4px;
	background: #e2e2e2;
	border-top: 1px solid #ccc;
	width: 100%;
	color: #333;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.thumbnail-name i {
	margin-right: 5px;
}

.dashboard-widget-body a .bubble-title {
	color: #666;
	font-size: 14px;
}

.dashboard-widget-body a:hover .bubble {
	display: block;
}

.bubble-app-info {
	left: 102%;
	top: 30px;
}

#dashboard-region-stat-unmanaged .dashboard-widget-title-wrap {
	line-height: 46px;
}

.dashboard-widget-title-wrap .icon-question-sign {
	color: #3892E3;
	margin-left: 10px;
	font-size: 16px;
}

.widget-region-counter {
	position: relative;
}

.region-stat-block-wrap {
	height: 110px;
	padding: 25px 10px;
	text-align: center;
	font-size: 32px;
	color: #666;
	position: relative;
	border-radius: 4px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 4px;
}

.region-stat-block-wrap:hover,
.active > .widget-region-counter .region-stat-block-wrap {
	background: #F0F3F7;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.region-stat-block-wrap .label {
	font-size: 12px;
	display: block;
	color: #ccc;
	margin-top: 5px;
}

.warning-counter {
	display: inline-block;
	line-height: 1;
	padding: 4px 3px;
	min-width: 12px;
	border-radius: 12px;
	background-color: #ff6151;
	/*box-shadow: 0 1px rgba(0,0,0,.75);*/
	/*border: 1px solid #fff;*/
	background-image: -webkit-linear-gradient(bottom, #e81414, #fa4a2d);
	background-image: -moz-linear-gradient(bottom, #e81414, #fa4a2d);
	background-image: -o-linear-gradient(bottom, #e81414, #fa4a2d);
	background-image: -ms-linear-gradient(bottom, #e81414, #fa4a2d);
	background-image: linear-gradient(to top, #e81414, #fa4a2d);
	font-size: 10px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -10px;
}

.suggest-counter {
	background-image: -o-linear-gradient(-90deg, #239AE0 0%, #2482C8 100%);
	background-image: -moz-linear-gradient(-90deg, #239AE0 0%, #2482C8 100%);
	background-image: -webkit-linear-gradient(-90deg, #239AE0 0%, #2482C8 100%);
	background-image: -ms-linear-gradient(-90deg, #239AE0 0%, #2482C8 100%);
	background-image: linear-gradient(-180deg, #239AE0 0%, #2482C8 100%);
}

.table-app-link {
	margin-right: 5px;
	display: inline-block;
	width: 120px;
}

.table-app-link-unmanaged {
	color: #bbb;
}

.table.table-region-stat td.table-action {
	text-align: center;
}

td.table-action a.btn {
	width: 18px;
	height: 10px;
	padding: 4px;
	line-height: 12px;
	font-size: 12px;

}

.resource-id {
	color: #aaa;
	margin-left: 2px;
	font-size: 12px;
}

.stat-table {
	border-top: 1px solid #ccc;
	display: none;
}

.stat-table.active {
	display: block;
}

/* Resource Search Panel */

.search-panel {
	 position: absolute;
	 top: 32px;
	 background-color: #fff;
	 height: 432px;
	 width: 246px;
}

/* Browse Community AMI Modal */

#modal-browse-community-ami .modal-body {
	padding: 0;
}

#modal-browse-community-ami .content-wrap {
	height: 450px;
	position: relative;
	width: 100%;
}

.ami-left-col {
	height: 100%;
	width: 239px;
	float: left;
	background-color: #eee;
	font-size: 12px;
	border-right: 1px solid #ccc;
}

.ami-left-col > div {
	width: 220px;
	padding: 10px;
	border-top: 1px #ccc solid;
}

.ami-left-col > div:first-child {
    border-top: none;
}

.ami-left-col > div.filter-radio-group {
	padding: 5px 10px 10px 10px;
}

.filter-radio-label {
	margin-bottom: 5px;
}

#community-ami-input {
	width: 194px;
}

#modal-browse-community-ami .radiobuttons button {
	width: 88px;
}

#modal-browse-community-ami .radiobuttons button:first-child {
	width: 44px;
}

#selectbox-ami-platform a.dropdown-toggle {
	border: 1px solid #ccc;
	padding: 4px 8px;
	background-color: #fff;
	display: inline-block;
	width: 202px;
	/*position: relative;*/
}

#selectbox-ami-platform a.dropdown-toggle .caret {
	/*position: absolute;*/
	border-top: 4px solid #999;
	float: right;
	margin-top: 5px;

}

#selectbox-ami-platform a.dropdown-toggle span a,
#selectbox-ami-platform a.dropdown-toggle span {
	color: #666;
}

#selectbox-ami-platform .dropdown-menu {
	left: 10px;
	top: 34px;
	border: 1px solid #ccc;
}

#selectbox-ami-platform .dropdown-menu li a {
	line-height: 30px;
	padding: 0 8px;
	width: 202px;
}

#selectbox-ami-platform .dropdown-menu li a:hover {
	background-color: #23B6FF;
	color: #fff;
}

#ami-count {
	text-align: center;
}

#community-ami-filter tr td {
	position: relative;
}

#community-ami-filter tr td .toggle-fav {
	top: 50%;
	left: 50%;
	margin-left: -8px;
	margin-top: -10px;
}

.ami-meta {
	font-size: 12px;
	color: #999;
}

.icon-ami-os {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: #ccc;
}

#community-ami-page {
	position: fixed;
	bottom: 0
}

/* App/Stack Toolbar */
#main-toolbar {
	position: relative;
	top: 0;
	background: #fff;
	/*width: 100%;*/
	/*height: 30px;*/
	border: 1px solid #E0E0E0;
	/*box-shadow: inset 0 1px 0 rgba(255,255,255,.08);*/
}

.toolbar-btn-group > li {
	float: left;
	border-right: 1px solid #E0E0E0;
}

.toolbar-btn-group > li > a {
	display: block;
	min-width: 40px;
	height: 40px;
}

.toolbar-btn-group .dropdown-menu {
	top: 40px !important;
	left: -1px !important;
	border: 1px solid #E0E0E0;
}

.toolbar-btn-group .dropdown-menu li {
	display: block;
	border-bottom: 1px solid #E0E0E0;
	cursor: pointer !important;
	position: relative;
}

.toolbar-btn-group .dropdown-menu li:last-child {
	border-bottom: none;
}

.toolbar-btn-group .dropdown-menu a {
	display: block;
	padding: 10px 5px 10px 40px;
}

.toolbar-btn-group .dropdown-menu i {
	position: absolute;
	top: 5px;
	left: 0px;
	font-size: 20px;
	width: 40px;
	text-align: center;
}

.toolbar-btn-group .dropdown-menu > li:hover {
	background-color: #eee;
}



/* Icons Placeholder */

[class*='icon-toolbar-'] {
	display: inline-block;
	width: 30px;
	height: 30px;
}

.icon-toolbar-run {
	background: url('../images/ide/icon-run.png') center center no-repeat;
}

.icon-toolbar-save {
	background: url('../images/ide/icon-save.png') center center no-repeat;
}

.icon-toolbar-more-action {
	background: url('../images/ide/icon-more-action.png') center center no-repeat;
}

.icon-toolbar-duplicate {
	background: url('../images/ide/icon-duplicate.png') center center no-repeat;
}

.icon-toolbar-delete {
	background: url('../images/ide/icon-delete.png') center center no-repeat;
}

.icon-toolbar-new-stack {
	background: url('../images/ide/icon-new-stack.png') center center no-repeat;
}

.icon-toolbar-undo {
	background: url('../images/ide/icon-undo.png') center center no-repeat;
}

.icon-toolbar-redo {
	background: url('../images/ide/icon-redo.png') center center no-repeat;
}

.icon-toolbar-zoom-in {
	background: url('../images/ide/icon-zoom-in.png') center center no-repeat;
}

.icon-toolbar-zoom-out {
	background: url('../images/ide/icon-zoom-out.png') center center no-repeat;
}

.icon-toolbar-export {
	background: url('../images/ide/icon-export.png') center center no-repeat;
}

.icon-toolbar-export-png {
	background: url('../images/ide/icon-export-png.png') center center no-repeat;
}

.icon-toolbar-export-json {
	background: url('../images/ide/icon-export-json.png') center center no-repeat;
}

/* Sidebars, including Resource Panle and Property Panel */
.sidebar {
	position: absolute;
	width: 280px;
	height: 100%;
	background: #fefefe;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0,0,0,.15);
	overflow: visible;
	z-index: 3;
}

.sidebar-title {
	/*background: #696569;*/
	background: #eee;
	height: 30px;
	border-bottom: 1px solid #555;
	border-top: 1px solid #463e44;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.08), inset 1px 0 0 rgba(255,255,255,.08), inset -1px 0 0 rgba(255,255,255,.08);
	/*color: #e0e0e0;*/
	color: #666;
	padding: 0 10px;
	line-height: 30px;
}

.sidebar-hider {
	position: absolute;
	top: 40%;
	z-index: 1000;
	padding: 5px 8px;
	background: #999;
}

a.sidebar-hider {
	color: #eee;
}

/* Resource Panel */
#resource-panel {
	width: 246px;
	left: 0;
	margin-left: 0;
	-webkit-transition: margin-left 0.1s;
	-moz-transition: margin-left 0.1s;
	-ms-transition: margin-left 0.1s;
	-o-transition: margin-left 0.1s;
	transition: margin-left 0.1s;
	border-right: 1px solid #d1d1d1;
	/*border-right: 1px solid #666;*/
}

#resource-panel.hiden {
	margin-left: -247px;
}

#resource-search {
	float: right;
}

.fixedaccordion-head {
	border-bottom: 1px solid #ccc;
	background-color: #ddd;
}

.expanded .fixedaccordion-head {

}

#hide-resource-panel {
	left: 247px;
}

.resource-list {
	width: 100%;
	padding: 0 0 10px 0;
}

.resource-list > li {
	display: inline-block;
	position: relative;
	float: left;
}

.resource-item {
	width: 70px;
	margin: 0 8px 8px 0;
	border-radius: 4px;
	cursor: move;
	padding: 5px;
	box-sizing: border-box;
}

.resource-item:hover {
	background: #eff2f3;
}
.resource-item:active {
	background: #fff;
	border: 1px solid #55C7FF;
	padding: 4px;
}

.resource-list > li:nth-child(3n) > .resource-item {
	margin-right: 0px;
}

.resource-item.resource-disabled {
	cursor: default;
	opacity: .6;
}

.resource-list .resource-item.resource-disabled:hover {
	background: none;
}

.resource-list .resource-item.resource-disabled:active {
	border: none;
	background: none;
	padding: 5px;
}

.resource-icon {
	position: relative;
	width: 60px;
	height: 60px;
	background: #ccc;
}

.resource-icon-az {
	background: url('../images/ide/az-resource.png') center center no-repeat;
}


.resource-icon-az-label {
	/*cursor: pointer;*/
	font-size: 16px;
	color: #999;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 55px;
}

.resource-icon-instance {
	background: url('../images/ide/instance-resource.png') center center no-repeat;
}

.resource-icon-volume {
	background: url('../images/ide/volume-resource.png') center center no-repeat;
}

.resource-icon-ebs-snapshot {
	background: url('../images/ide/ebs-snapshot-resource.png') center center no-repeat;
}

.ebs-size {
	font-size: 10px;
	position: absolute;
	top: 42px;
	left: 14px;
}

.resource-icon-elb{
	background: url('../images/ide/elb-resource.png') center center no-repeat;
}

.resource-label {
	font-size: 11px;
	text-align: center;
	padding-bottom: 5px;
	margin-left: -5px;
	width: 70px;
	height: 26px;
	word-wrap: break-word;
	overflow: hidden;
	line-height: 14px;
}

.resource-item:hover .resource-label {

}

.instance-label {
	/*font-size: 11px;*/
	height: 64px;
}

#resource-select {
	position: absolute;
	top: 0;
	right: 0;
}

#resource-select .dropdown-toggle {
	padding: 0 10px;
	display: inline-block;
	height: 37px;
	width: 100px;
	line-height: 37px;
	background-color: #eee;
	color: #666;
}

#resource-select.open .dropdown-toggle {
	border-bottom: 1px solid #d1d1d1;
}

#resource-select .dropdown-toggle .caret {
	/*float: right;*/
	position: absolute;
	top: 18px;
	right: 10px;
	border-top: 4px solid #999;
}
#resource-select .dropdown-menu {
	top: 37px;
}

#resource-select .dropdown-menu li a {
	height: 37px;
	line-height: 37px;
	padding: 0 10px;
}

#resource-select .dropdown-menu li.selected a {
	background: #23B6FF;
	color: #fff;
}

.resource-list > li:hover .btn-fav-ami {
	display: block;
}

.btn-fav-ami {
	position: absolute;
	top: -2px;
	right: 5px;
	display: none;
	width: 16px;
	height: 16px;
	background: url('../images/ide/btn-fav-ami-unfaved-normal.png');
}

.btn-fav-ami:hover {
	top: -3px;
	right: 3px;
	width: 20px;
	height: 20px;
	background: url('../images/ide/btn-fav-ami-unfaved-hover.png');
}

.btn-fav-ami.faved {
	background: url('../images/ide/btn-fav-ami-faved-normal.png');
}

.btn-fav-ami.faved:hover {
	background: url('../images/ide/btn-fav-ami-faved-hover.png');
}

#btn-browse-community-ami {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border: none;
	border-radius: 0;
}

/* Property Panel */
#property-panel {
	right: 0;
	margin-right: 0;
	-webkit-transition: margin-right 0.1s;
	-moz-transition: margin-right 0.1s;
	-ms-transition: margin-right 0.1s;
	-o-transition: margin-right 0.1s;
	transition: margin-right 0.1s;
	border-left: 1px solid #d1d1d1;
}

#property-panel.hiden {
	margin-right: -280px;
}

#hide-property-panel {
	right: 280px;
}

/* Canvas and Toolbar Wrapper */
#canvas-panel {
    -webkit-transition: margin, width 0s linear;
    -moz-transition: margin, widht 0s linear;
    -ms-transition: margin, width 0s linear;
    -o-transition: margin, width 0s linear;
    transition: margin, width 0s linear;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 246px;
    margin-right: 280px;
    background: #fff;
}

#canvas-panel.left-hiden {
	margin-left: 0;
}

#canvas-panel.right-hiden {
	margin-right: 0;
}

/* Canvas */
#canvas_container {
	overflow: hidden;
	width: 1900px;
	padding: 5px;
	background: rgb(237, 237, 237);
	height: 1430px;
	position: relative;
}

#canvas_body {
	margin: 20px;
	border: 1px solid #ccc;
	background: #fff url('../images/ide/grid.png');
/*	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;*/
}

#svg_canvas {
	position: relative;
	z-index: 1;
}
/* Property Panel */

.ami-wrap{
	width: 248px;
	margin-top: 8px;
	/*margin: 0 auto;*/
	border: 1px #ccc solid;
	cursor: pointer;
	padding: 5px;
	font-size: 13px;
}

.property-control-group .editableoption .input {
	width: 150px;
	padding: 4px 20px 4px 4px;
}

.icon-property-instance-ami {
	float: left;
	margin-right: 5px;
}

.property-icon {
	width: 15px;
	height: 15px;
	background-color: #eee;
	float: left;
}

.property-check{
	position: relative;
	width: 100%;
	height: 30px;
	overflow: hidden;
}

.property-check .checkbox{
	position: absolute;
	width: 100%;
	left: -15px;
}

.property-check .checkbox span{
	position: absolute;
	left:35px;
}

#security-group-select {
	position: absolute;
	top: 0;
	right: 0;
}
#security-group-select .dropdown-toggle {
	width: 38px;
	height: 38px;
	background-color: #EEE;
	display: inline-block;
}
#security-group-select .dropdown-menu {
	top: 38px;
	left: -120px;
}

.sg-info-list li {
	width: 250px;
	padding: 10px;
	border-bottom: #eee 1px solid;
}

.sg-info-list .col1{
	margin-right: 15px;
	background-color: #eee;
	width: 15px;
	height: 15px;
	float: left;
}
.sg-info-list .col2{
	width: 180px;
	float: left;
	word-wrap:break-word;
}
.sg-info-list .col2 .col2-1 {
	color: #000;
	font-size: 14px;
}
.sg-info-list .col2 .col2-2 {
	color: #999;
	font-size: 12px;
}
.sg-info-list .col2 .col2-3 {
	color: #00f;
	font-size: 12px;
}
.sg-info-list .col3{
	margin-left: 15px;
	background-color: #eee;
	width: 15px;
	height: 15px;
	float: left;
}


/* Secondary Panel */
#secondary-panel-wrap {
	background-color: #fff;
}
#secondary-panel-wrap .context-wrap {
	padding: 10px;
	font-size: 13px;
}
#secondary-panel-wrap .title {
	width: 105px;
	color: #999;
	display: inline-block;
}
#secondary-panel-wrap .context {
	width: 115px;
	color: #666;
	display: inline-block;
}
#secondary-panel-wrap .context-wrap a {
	color: #00F;
	word-wrap:break-word;
}
.sg-title, .sg-description {
	margin: 10px;
}
.sg-header {
	height: 20px;
	line-height: 20px;
	background-color: #eee;
	padding: 10px;
	position: relative;
}
.sg-header .count {
	font-size: 12px;
	color: #999;
}
.sg-header .sg-icon-add {
	width: 40px;
	height: 40px;
	background-color: #CCC;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}

.sg-rule-list li {
	width: 260px;
	padding: 5px;
	height: 40px;
	border-bottom: #eee 1px solid;
	position: relative;
	font-size: 12px;
}

/*#property-panel li:hover {
	background-color: #C6E2F2;
}*/

.sg-context-wrap {
	height: 443px;
}

.sg-rule-list .rule-direction-icon {
	width: 15px;
	height: 15px;
	background-color: #eee;
	position: absolute;
	top: 5px;
	left: 5px;
}
.sg-rule-list .rule-edit-icon {
	width: 15px;
	height: 15px;
	background-color: #eee;
	position: absolute;
	top: 5px;
	right: 5px;
}
.sg-rule-list .rule-remove-icon {
	width: 15px;
	height: 15px;
	background-color: #eee;
	position: absolute;
	top: 25px;
	right: 5px;
}
.sg-rule-list .rule-protocol {
	line-height: 15px;
	position: absolute;
	top: 25px;
	left: 5px;
}
.sg-rule-list .rule-source {
	line-height: 15px;
	position: absolute;
	top: 5px;
	left: 55px;
}
.sg-rule-list .rule-port {
	line-height: 15px;
	position: absolute;
	top: 25px;
	left: 55px;
}
.sg-member-list li {
	clear: both;
	padding: 10px;
}
.sg-member-list .sg-member-icon {
	margin-right: 10px;
	width: 15px;
	height: 15px;
	background-color: #eee;
	display: inline-block;
}
.sg-member-list .sg-member-name {
	display: inline-block;
	width: 230px;
	word-wrap:break-word;
}

.network-list-header {
	background: #ccc;
	height: 20px;
	line-height: 20px;
	padding: 14px 8px;
}

.network-list-header .btn-small {
	line-height: 20px;
	margin-top: -2px;
}

.network-list {
	background: #f0f0f0;
	border: 1px solid #ccc;
}

.network-list li {
	position: relative;
	padding: 5px;
	height: 20px;
}

.network-list li:nth-child(2n+1) {
	background: #fcfcfc;
}

.network-list li:hover {
	background: #e0e0e0;
}

.network-list li .name{
	width: 150px;
	float: left;
}

.network-list li .input-ip {
	width: 10px;
	height: 10px;
	padding: 5px;
	background-color: #f0f0f0;
	font-size: 12px;
}

.toggle-eip {
	cursor: pointer;
	width: 22px;
	height: 16px;
	background: url('../images/ide/instance-eip-off.png');
}

.toggle-eip.associated {
	background: url('../images/ide/instance-eip-on.png');
}

.network-remove-icon {
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url('../images/ide/icon-remove.png');
}

.network-list li .toggle-eip {
	position: absolute;
	right: 30px;
	top: 50%;
	margin-top: -8px;
}

.network-list li .network-remove-icon {
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -8px;
}

.sg-rule-filter h5 {
	width: 80px;
	display: inline-block;
	line-height: 30px;
}
.sg-rule-filter .selectbox {
	width: 160px;
	line-height: 30px;
	display: inline-block;
}
.sg-rule-filter .selectbox .dropdown-menu {
	top: 30px;
}
/* SG Rule Modal */
#modal-sg-rule .wrap {
	padding: 5px 0;
	width: 450px;
}
#modal-sg-rule .title {
	width: 100px;
	display: inline-block;
	color: #999;
	line-height: 30px;
}
#modal-sg-rule .context {
	display: inline-block;
	color: #999;
}
#modal-sg-rule .radio span {
	margin-left: 25px;
}
#modal-sg-rule .input {
	width: 300px;
}
#modal-sg-rule .modal-protocol-select {
	width: 80px;
	display: inline-block;
}
#modal-sg-rule #sg-protocol-select-result input{
	width: 150px;
	display: inline-block;
}
.sg-protocol-option-input {
	display: none;
}
.sg-protocol-option-input.show {
	display: block;
}

/* Status Bar */

#status-bar {
	background: #fff;
	height: 20px;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 2;
	border-top: 1px solid #ccc;
	padding: 5px 10px;
	color: #aaa;
	font-size: 12px;
}

#status-bar > div {
	display: inline-block;
}

.status-saved-time {

}

.status-stack-validation {
	cursor: pointer;
	float: right;
	margin-right: 20px;
}

.status-validation-error {
	color: #F74A48;
}

.status-validation-warning {
	color: #FA6300;
}

.status-validation-notice {
	color: #3892E3;
}

/* Modal Stack Validator */
#modal-stack-validation-run {
	width: 600px;
}

#modal-stack-validation-run ol li {
	padding: 5px 0;
	/*list-style-type: decimal;*/
}

/* Create new stack */
#createNewStack_wrap {
	padding: 20px 0;
}

#createNewStack_wrap li {
	float: left;
	width: 260px;
	padding: 20px;
	background: #F9F9F9;
	cursor: pointer;
}

#createNewStack_wrap li:first-child {
	margin-right: 10px;
}

#createNewStack_wrap li:hover {
	background: #F1F1F1;
}

#createNewStack_wrap h4 {
	color: #666;
}

/*Responsive Style*/
@media (min-width: 1280px) and (max-width: 1680px)  {

}

@media (min-width: 1680px) and (max-width: 2200px)  {
	.item-thumbnail-wrap {
		width: 18%;
		padding-bottom: 13.5%;
	}
}

@media (min-width: 480px) and (max-width: 1280px)  {
	.item-thumbnail-wrap {
		width: 30%;
		padding-bottom: 22.5%;
	}
}
