html,
body {
	height: 100%;
	min-width: 960px;
}

#body {
	background: #f0f0f0;
	color: #212021;
}

a {
	color: #5685D3;
}

a:hover {
	text-decoration: underline;
}

header {
	background: #242224;
	position: absolute;
	z-index: 100;
	width: 100%;
	top: 0;
	border-top: 4px solid #b25b91;
	border-bottom: 1px solid #181818;
	padding: 5px 0 9px 0;
}

#logo-link {
	background: url('../images/login/top_logo.png') center no-repeat;
	height: 41px;
	width: 192px;
	opacity: 0.8;
	margin: 0 auto;
	display: block;
	text-indent: -9999px;
}

#logo-link:hover {
	opacity: 1;
}

#container {
	min-height: 100%;
}

#main-body {
	overflow: auto;
	padding-bottom: 150px;
}

#login-box {
	position: relative;
	margin: 250px auto 0;
	width: 370px;
	padding: 20px;
}

#login-title {
	position: relative;
}

#login-title h2 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	color: #333;
	font-family: arial;
	font-weight: 700;
}

#login-register {
	position: absolute;
	right: 0;
	top: 20px;
	color: #666;
}

.error-msg {
	color: #f8f8f8;
	border-radius: 4px;
	background: #bc5b51;
	-moz-box-shadow:    0px 2px 2px 0px rgba(0,0,0,0.10);
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.10);
	box-shadow:         0px 2px 2px 0px rgba(0,0,0,0.10);
	padding: 10px;
	margin: 10px 0 -5px 0;
	display: none;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.error-msg.show{
	display: block;
}

.control-group {
	position: relative;
}

.login-input {
	display: block;
	margin: 20px 0;
	padding: 14px 5px 14px 55px;
	border: 1px solid #ccc;
	width: 306px;
	font-size: 16px;
	border-radius: 4px;
	background: #f8f8f8;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	outline: none;
}

.login-input:focus {
	border: 1px solid #aaa;
	background: #fff;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
}

.control-group.error label {
	color: #bc5b51;
}

.control-group.error .login-input {
	border: 2px solid #bc5b51;
}

#login-user {
	/*background-image: url('../images/login_user.png');*/
}

#login-password {
	/*background-image: url('../images/login_password.png');*/
}

.icon-user.login-label,
.icon-password.login-label {
	color: #9B9B9B;
	font-size: 32px;
	position: absolute;
	top: 10px;
	left: 12px;
	text-shadow: none;
}

.login-input:focus + .login-label {
	color: #666;
}

#login-footer {
	position: relative;
	height: 50px;
	margin-top: 0px;
}

#login-btn {
	font-size: 16px;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
}

#footer-push {
	height: 80px;
	clear: both;
	text-align: center;
	color: #999;
}

.demo-only {
	border-radius: 5px;
	position: fixed;
	top:40%;
	right:0;
	background-color: #666;
	width: 300px;
	padding: 10px;
}

/* Selection */

::selection {
	background: #a45686;
	color: #f8f8f8;
	text-shadow: none;
}
