#state-editor {
	/*font-family: "Lucida Console", "Monaco", monospace !important;*/
	font-size: 12px !important;
}

#state-editor .parameter-value {
	/*font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace  !important;*/
	font-size: 12px !important;
	color: #ff6a38;
}

#state-editor .parameter-item:hover .parameter-container {
	background: rgba(255,255,255,.05);
}

#state-editor-wrap, #state-editor-body, #state-editor {
	height: 100%;
	width: 645px;
	position: absolute;
	right: 0;
}

.ace_scroller.ace_scroll-left:after {
	content: " ";
	width: 20px;
	height: 21px;
	display: inline-block;
	position: absolute;
	/*left: -20px;*/
	z-index: 2;
	color: #eee;
	background: rgba(39, 41, 44,1);
	background: -moz-linear-gradient(left, rgba(39, 41, 44,1) 0%, rgba(39, 41, 44,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39, 41, 44,1)), color-stop(100%, rgba(39, 41, 44,0)));
	background: -webkit-linear-gradient(left,rgba(39, 41, 44,1) 0%, rgba(39, 41, 44,0) 100%);
	background: -o-linear-gradient(left, rgba(39, 41, 44,1) 0%, rgba(39, 41, 44,0) 100%);
	background: -ms-linear-gradient(left, rgba(39, 41, 44,1) 0%, rgba(39, 41, 44,0) 100%);
	background: linear-gradient(to right, rgba(39, 41, 44,1) 0%, rgba(39, 41, 44,0) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#27292C', endColorstr='#27292C', GradientType=1 );
}

#state-editor .editable-area .ace_marker-layer .ace_bracket {
	display: none;
}

#state-editor .checkbox > label {
	background: #333;
	border: 1px solid #9E9E9E;
}

#state-editor .checkbox > input:checked + label:after {
	content: "\F13A";
	position: absolute;
	width: 13px;
	height: 13px;
	top: 3px;
	left: 3px;
	font: 10px/1em "MCIcon";
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	color: #fff;
}
/* *************************************** state editor */

#state-editor, .ace_autocomplete_tip {
	overflow-y: auto;
	width: 654px;
	background: #27292C;
	font-size: 13px;
	position: absolute;
	right: 0;
}

#state-editor, .ace_autocomplete {
	font-family: "Monaco","Consolas","Ubuntu Mono", monospace !important;
}

#state-editor.full {
	/*width: auto;*/
	float: none;
}

#state-editor .state-edit {
	border-bottom: 1px solid rgba(0,0,0,.2);
	padding-left: 34px;
}

.state-sidebar {
	position: absolute;
	right   : 0;
	z-index : -1;
/*	display : none;*/

	max-height   : 96%;
	width        : 400px;

	box-shadow   : 0 0 20px rgba(0,0,0,.4);
	border       : 1px solid #222;
	border-radius: 4px 0 0 4px;

	background: #30343A;
	color: #ccc;

	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px 0;
	font-size: 13px;

	-webkit-transition: right .2s ease-in-out;
	-moz-transition: right .2s ease-in-out;
	-ms-transition: right .2s ease-in-out;
	-o-transition: right .2s ease-in-out;
	transition: right .2s ease-in-out;
}

.state-sidebar.show {
	/*display: block;*/
	right: 653px;
}

#state-log {
/*	display: none;*/
	padding: 0;
}

#state-editor-model *::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	background-color: transparent;
	/*background-color: #F5F5F5;*/
}
#state-editor-model *::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: transparent;
	/*background-color: #F5F5F5;*/
}
#state-editor-model *::-webkit-scrollbar-thumb {
	background-color: #555;
	border-radius: 8px;
}
#state-editor-model *::-webkit-scrollbar-thumb:hover {
	background-color: #777;
}

#state-editor::selection {
	background: rgba(0, 6, 141, 0.4);
	color: #fcfcfc;
}

#state-log *::selection {
	background: #148BE6;
	color: #fcfcfc;
}

#state-editor-body {
	padding: 0;
}

#state-editor-model .state-close {
	display: none;
}

#state-editor-model .modal-sidebar-toggle {
	list-style: none;
	position: absolute;
	margin-top: -49px;
	left: 655px;
}

.modal-sidebar-toggle li {
	height: 49px;
	/*background: rgba(0,0,0,.2);*/
	width: 50px;
	float: left;
	cursor: pointer;
	transition: background .2s;
	-webkit-transition: background .2s;
	color: #ddd;

}

.modal-sidebar-toggle li  {
	border-left: 1px solid #303030;
	line-height: 52px;
	text-align: center;
}

.modal-sidebar-toggle li:last-child {
	border-right: 1px solid #303030;
}

.modal-sidebar-toggle li.active,
.modal-sidebar-toggle li.active:hover {
	background: #333;
	color: #fff;
}

.modal-sidebar-toggle li:hover {
	background: rgba(0,0,0,.1);
	color: #eee;
}

.state-have-state-container {
	position: relative;
	height: 100%;
	overflow: hidden;
}

#state-list-wrap {
	height            : 100%;
	/*top               : 37px;*/
	-webkit-box-sizing: content-box;
	-moz-box-sizing   : content-box;
	box-sizing        : content-box;
	box-shadow        : inset 34px 0 0 rgba(0,0,0,.2);
}

#state-list-wrap .scroll-wrap {
	top: 37px;
}


/* *************************************** state item */

#state-editor .state-list {
	/*width: 99%;*/
	position: absolute;
	top: 37px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

#state-editor .state-warning {
	background-color: #ff0;
	height: 20px;
	padding: 5px;
	font-size: 14px;
	padding-left: 12px;
	line-height: 19px;
	border-bottom: 1px #ddd solid;
}

.state-list {
	/*height: 464px;*/
	position: relative;
	counter-reset: list-counter;
}

.state-list li:before {
	content: counter(list-counter);
	counter-increment: list-counter;
	position: absolute;
	z-index: 80;
	display: block;
	border-left: 2px solid transparent;
	background: rgba(0,0,0,.2);
	line-height: 35px;
	text-align: center;
	color: #666;
	width: 32px;
	height: 100%;
}

.state-list .selected:before {
	border-left: 2px solid  #25a4f4 !important;
}

.state-list .focused:before {
	/*border-left: 2px solid #F47625;*/
}

.state-list .state-placeholder:before {
	display: none;
}

/* *************************************** ace editor */
@-webkit-keyframes cursor-blink {
	from, to {
		border-color: transparent;
	}
	50% {
		border-color: black;
	}
}

@-moz-keyframes cursor-blink {
	from, to {
		border-color: transparent;
	}
	50% {
		border-color: black;
	}
}

@-ms-keyframes cursor-blink {
	from, to {
		border-color: transparent;
	}
	50% {
		border-color: black;
	}
}

@keyframes cursor-blink {
	from, to {
		border-color: transparent;
	}
	50% {
		border-color: black;
	}
}

/*.ace_cursor {
	border-left: 10px solid black;
	-webkit-animation: 1s cursor-blink step-end infinite;
	-moz-animation: 1s cursor-blink step-end infinite;
	-ms-animation: 1s cursor-blink step-end infinite;
	animation: 1s cursor-blink step-end infinite;
}*/

#state-editor .ace_hidden-cursors {
    opacity: 0;
}

#state-editor .ace_content {
    padding-top: 3px;
}
#state-editor .ace_autocomplete .ace_scroller {
    margin-top: 0px;
}

/* *************************************** editable-area */

#state-editor .editable-area.parameter-value {
	width: 440px;
}

#state-editor .editable-area.parameter-value.ace_editor {
	width: 100%;
}

#state-editor .editable-area {
	/*background-color: #fff;*/
	/*border-bottom: 1px solid #ccc;*/
	width: 100%;
	outline: 0px solid transparent;
	padding: 5px 0;
	margin-bottom: 6px;
	margin-right: 5px;
}

#state-editor .editable-area.ace_focus,
#state-editor .editable-area.ace_focus:hover,
#state-editor .comment .editable-area.ace_focus {
	/*background-color: rgba(0,0,0,.01);*/
	color: #fff;
	/*border-bottom: 1px solid #34A3F8;*/
}

#state-editor .editable-area.disabled {
	opacity: 0.5 !important;
}

#state-editor .editable-area.line {
	white-space: nowrap !important;
	display: inline !important;
	height: 14px !important;
	line-height: 14px !important;
	padding-top: 0px !important;
	overflow: hidden !important;
	cursor: text !important;
	opacity: 1.0 !important;
}

#state-editor .line {
	cursor: pointer !important;
}

#state-editor .editable-area.line:hover {
	opacity: 1.0 !important;
}

/*#state-editor .editable-area.line br {
	display: none !important;
}

#state-editor .editable-area.line * {
	display: inline !important;
	white-space: nowrap !important;
}*/

#state-editor .editable-area.text {
	height: 150px !important;
	line-height: 20px;
	overflow: auto;
}

#state-editor .editable-area.text.ace_focus {
	background: rgba(0,0,0,.01);
}

/* *************************************** parameter */
#state-shadow-item {
	width: 100%;
	height: 30px;
	/*border-top: 1px solid #ccc;*/
	/*border-bottom: 1px solid #ccc;*/
	background: rgba(60,60,60,.8);
	position: absolute;
	z-index: 80;
}

.drag-hide {
	border-bottom: 1px solid #555;
}

.drag-hide:before {
	visibility: hidden;
}

.drag-hide .state-toolbar,
.drag-hide .state-edit {
	visibility: hidden;
}

.state-editor-toolbar {
	border-bottom: 1px solid #0B0B0C;
	z-index:       85;
	background:    #222427;
	position:      absolute;
	left:          0;
	right:         0;
	top:           0;
	height:        36px;
}

.state-editor-toolbar a {
	padding:      10px 8px 10px 9px;
	border-right: 1px solid #131313;
	font-size:    14px;
	line-height:  16px;
	color:        #999;
	float:        left;
	cursor:       pointer;

	-webkit-transition: background .2s;
	-moz-transition:    background .2s;
	-ms-transition:     background .2s;
	-o-transition:      background .2s;
	transition:         background .2s;
}

.state-editor-toolbar a.active,
.state-editor-toolbar a:hover {
	background: #161616;
	color     : #9C6DC0;
	box-shadow: inset 0 -1px 0 #0B0B0C;
}

#state-toolbar-selectAll {
	position: absolute;
	right: 9px;
	top: 12px;
}

#state-toolbar-copy,
#state-toolbar-delete {
	display: none;
}

/* stack view */
#state-editor-model.se-model-stack .state-log-refresh {
	display: none;
}

#state-editor-model.se-model-stack .state-sys-log-btn {
	display: none;
}

.state-editor-toolbar .disabled {
	pointer-events: none;
	color: #555;
}

#state-editor .command-value {
	float        : left;
	width        : 150px;
	margin-left  : 28px;
	margin-top   : -28px;
	color        : #999;
}

#state-editor .parameter-list {
	overflow: auto;
}

#state-editor .parameter-list .parameter-item {
	overflow        : auto;
	padding         : 4px 6px 0 27px;
	position        : relative;
}

#state-editor .parameter-list .parameter-item.disabled {
	opacity: 0.7;
}

#state-editor .parameter-list .parameter-item.disabled:hover {
	opacity: 1.0 !important;
}

#state-editor .parameter-list .parameter-name {
	float     : left;
	padding   : 1px 5px;
	margin-top: 2px;
	cursor    : default;
	position  : relative;
	color     : #B17FDD;
	width     : 92px;
	cursor    : pointer;
}

#state-editor .parameter-list .required .parameter-name:before {
	content : "*";
	position: absolute;
	left    : -10px;
	color   : #8E5CBB;
}

#state-editor .parameter-list .parameter-value {
	float: left;
	overflow: hidden;
	margin: 0;
}

#state-editor .parameter-list .parameter-container {
	float: left;
	margin-left: 30px;
	min-width : 435px;
	overflow  : auto;
	padding: 4px 0 0 0;
	max-width: 440px;
}

#state-editor .parameter-list .parameter-item.dict .parameter-value {
	width: 147px;
	margin-right: 5px;
	position: relative;
}

#state-editor .parameter-list .parameter-item.dict .parameter-value.value {
	width: 265px;
}

#state-editor .parameter-list .parameter-item.dict .parameter-value:last-child {
	padding-left: 10px;
}

#state-editor .parameter-list .parameter-item.dict .parameter-dict-item {
	position: relative;
	height: 22px;
}

#state-editor .parameter-list .parameter-item.dict .parameter-dict-item:after {
	content: ":";
	position: absolute;
	left: 153px;
	top: 0px;
	color: #ccc;
}

#state-editor .parameter-remove {
	float: left;
	background-color: #f00;
	width: 14px;
	text-align: center;
	height: 14px;
	margin-right: 10px;
	border-radius: 15px;
	color: #fff;
	line-height: 14px;
	cursor: pointer;
	font-size: 16px;
	display: none;
}

#state-editor .parameter-remove:hover {
	background-color: #f44;
}

#state-editor .parameter-item.disabled .parameter-remove {
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
}

/*#state-editor .parameter-item.disabled {
	opacity: 0.3;
}*/

/*#state-editor .state-edit .parameter-item.dict .parameter-dict-item:last-of-type:not(:only-of-type) {
	opacity: 0.4;
}

#state-editor .state-edit .parameter-item.dict .parameter-dict-item:last-of-type:not(:only-of-type) > .parameter-value:focus {
	opacity: 1.0;
}

#state-editor .state-edit .parameter-item.array .parameter-value:last-of-type:not(:only-of-type) {
	opacity: 0.4;
}

#state-editor .state-edit .parameter-item.array .parameter-value:focus:last-of-type:not(:only-of-type) {
	opacity: 1.0;
}*/

/* *************************************** state view/edit */

#state-editor .state-item {
	overflow: auto;
	position: relative;
	background: #171D25;
}

#state-editor .state-item.view {
	background: #252A31;
}


#state-editor .state-item.view .state-edit {
	display: none;
}

#state-editor .state-view {
	display: none;
}

#state-editor .state-item.view .state-view {
	display     : block;
	font-size   : 12px;
	position    : relative;
	left        : 66px;
	margin-right: 40px;
	margin-top  : 2px;
}

#state-editor .command-view-value {
	float: left;
	display: inline;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 10px;
	color: #999;
	margin-top: 2px;
	/*background: rgb(59, 127, 250);*/
	/*background: #999;*/
	/*border-radius: 4px;*/
	border-right: 1px solid rgba(255,255,255,.1);
	padding: 4px 0;
	/*width: 80px;*/
	width: 114px;
}

#state-editor .command-value,
#state-editor .command-view-value {
	color: #999;
}

#state-editor .command-view-value:empty {
	display: none;
}

#state-editor .comment .command-view-value {
	border: none;
}

#state-editor .comment .command-view-value {
	border: none;
	width : 8px;
	margin-right: 3px;
}

#state-editor .comment .command-view-value,
#state-editor .comment .parameter-view-list .parameter-value {
	color: #505050;
}

#state-editor .comment .command-value {
	color: ;
}

#state-editor .comment .parameter-view-list .parameter-value {
	padding-left: 0;
}


#state-editor .comment .status {
	display: none;
}


#state-editor .parameter-view-list {
	margin-right: 45px;
	overflow: hidden;
	line-height: 20px;
	margin-top: -5px;
}

#state-editor .parameter-view-list .parameter-item {
	float: left;
	margin-top: 4px;
}

#state-editor .parameter-view-list .parameter-value {
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	/*max-width: 100px;*/
	display: inline;
	min-width: 30px;
	height: 20px;
	line-height: 20px;

	margin-right: 10px;

	float: left;
	color: #ff6a38;

	/*background: rgba(0,0,0,.03);*/
	padding: 0 4px;
	border-radius: 0 4px 4px 0;
	margin-left: 0;
}

#state-editor .parameter-list .parameter-value.ace_editor .ace_scroller {
	margin-left: -4px;
	margin-top: -3px;
}

#state-editor .parameter-list .parameter-value.value .ace_scroller {
	margin-left: 6px;
}

#state-editor .parameter-view-list .parameter-name {
	float: left;
	width: auto;
	background: rgb(228, 228, 228);
	border-radius: 4px 0 0 4px;
	padding: 0 4px;
	display: none;
}

#state-editor .parameter-view-list .parameter-item.no-visible {
	display: none;
}

/* *************************************** state toolbar */

#state-editor .state-toolbar {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	/*background: rgba(0,0,0,.01);*/
	/*border-bottom: 1px solid #eee;*/
	min-height: 23px;
	padding: 6px 0;
}


#state-editor .state-item.selected {
	background: rgba(26, 44, 100, 0.7) !important;
}

#state-editor .state-item.focused,
#state-editor .state-item:hover {
	background: rgba(250, 240, 255, 0.1);
}

#state-editor .state-item.focused.selected {
	background: rgba(184, 197, 236, 0.1) !important;
}


.state-item.selected .state-toolbar .state-view .command-view-value,
.state-item.selected .state-toolbar .state-view .parameter-value {
	color: #fff !important;
}



/*#state-editor .state-item:first-child .state-remove {
	display: none;
}*/

#state-editor .state-item:first-child .state-add {

}

#state-editor .state-item-add {
	cursor: pointer;
	line-height: 45px;
	height: 45px;
	text-align: center;
}

#state-editor .state-item-add:hover {
	color: #666;
	text-decoration: underline;
}

#state-editor .state-id {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 100%;
	text-align: center;
	/*line-height: 26px;*/
	color: #999;
	background: #eee;
	cursor: pointer;
	float: left;
}

/*#state-editor .state-id:hover {
	background-color: #77f;
}*/

#state-editor .state-drag {
	left    : 0px;
	top     : 0px;
	width   : 32px;
	height  : 32px;
	cursor  : move;
	color   : #555;
	position: absolute;
	z-index : 85;
}

#state-editor .state-drag:hover {
	color: #aaa;
}

.state-dragging .state-item {
	height: 35px;
	overflow: hidden !important;
}

#state-editor .state-action-wrap {
	position  : absolute;
	right     : -70px;
	top       : 0;
	width     : 56px;
	height    : 17px;
	background: rgba(0,0,0,.6);
	z-index   : 100;
	padding   : 10px 0 8px 8px;
}

.se-model-app #state-editor .state-action-wrap {
	display: none;
}

#state-editor .state-action-wrap div {
	display: inline-block;
}

#state-editor .state-action-wrap > div {
	float: left;
}

#state-editor .state-action-wrap .state-remove {
	width:        15px;
	line-height:  16px;
	height:       16px;
	text-align:   center;
	cursor:       pointer;
	color:        #aaa;
	z-index:      80;
	display:      none;
	margin-right: 5px;
}

#state-editor .state-check {
	width: 16px;
	height: 16px;
}

#state-editor .state-action-wrap .state-check {
	margin-left: 6px;
}

#state-editor .state-item:hover .state-action-wrap,
#state-editor .state-item.selected:hover .state-action-wrap {
	right: 0;
}

#state-editor .state-item.selected .state-action-wrap {
	right: -20px;
}

#state-editor .state-item:hover .state-action-wrap .state-remove {
	display: inline-block;
}

#state-editor .state-remove:hover {
	color: #ec3c38;
}

#state-editor .state-item.selected .state-check {
	display: inline-block !important;
}

#state-editor .state-view .parsley-error {
	height: 28px;
	min-width: 20px;
}

/* *************************************** state sortable */

#state-editor .state-placeholder {
	border: 1px dashed #aaa;
	border-left: none;
	border-right: none;
	width: 100px;
	height: 100px;
	background: none;
}

/* *************************************** state log */
#state-log .state-log-item .state-log-item-header {
	background-color: #444;
	padding: 10px;
}

#state-log .state-log-item.state-log .state-log-item-header {
	cursor: pointer;
}

#state-log .state-log-item.state-log .state-log-item-header:hover {
	background-color: #555;
}

#state-log .state-log-item.view .state-log-item-content {
	display: none;
}

#state-log .state-log-item-name {
	color: #fff;
	margin-bottom: 3px;
	padding-left: 10px;
}

/*#state-log .state-log-item .state-log-item-header {
	box-shadow: inset 2px 0 0 #333;
}

#state-log .state-log-item[data-state-id="Agent"] .state-log-item-header {
	box-shadow: none !important;
}

#state-log .state-log-item.view .state-log-item-header {
	box-shadow: inset 2px 0 0 blue;
}*/

#state-log .state-log-item.state-log .state-log-item-name:before {
	display: block;
	content: " ";
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top-color: #999;
	position: absolute;
	left: 8px;
	top: 18px;
	margin-top: -1px;
}

#state-log .state-log-item.state-log.view .state-log-item-name:before {
	display: block;
	content: " ";
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-left-color: #999;
	position: absolute;
	left: 10px;
	margin-top: -4px;
}

#state-log .state-log-item-time {
	color: #aaa;
	font-size: 12px;
}

#state-log .state-log-item-status {
	color: #aaa;
	position: absolute;
	font-size: 12px;
	top: 12px;
	right: 6px;
	font-style: italic;
	font-variant: small-caps;
}

#state-log .success .state-log-item-status,
#state-log .success .state-log-item-detail.comment {
	color: #17c249;
}

#state-log .failure .state-log-item-status,
#state-log .failure .state-log-item-detail.comment {
	color: #ec3c38;
}

#state-log .state-log-item-detail {
	background-color: #000;
	line-height     : 16px;
	padding         : 14px;
	font-family     : "Monaco","Consolas", monospace;
	color           : #999;
	word-wrap       : break-word;
}

#modal-state-log-detail .state-log-detail-content {
	height: 500px;
	width: 880px;
	background-color: #000;
	border: none;
	border-radius: 0px;
	padding: 10px;
	margin: 0;
}

#state-log .state-log-item-detail br {
	line-height: 10px;
}

#state-log .state-log-item-detail.comment {
	/*border-bottom: 1px #444 solid;*/
	color: rgb(80, 226, 77);
}

#state-log .state-log-item .state-log-item-view-detail {
	/*text-align: center;*/
	padding: 10px 15px;
	width: 100%;
	display: block;
	cursor: pointer;
	background: #000;
	color: #999;
}

#state-log .state-log-item .state-log-item-view-detail:hover {
	color: #ccc;
}

#state-log .state-log-info {
	padding   : 10px;
	margin-top: -36px;
	position  : absolute;
	top       : 50%;
	text-align: center;
	display   : none;
}

#state-log .state-log-loading {
	text-align: center;
	display: none;
	float: right;
	font-style: italic;
	color: #aaa;
}

#state-log .state-log-title {
	font-weight: bold;
}

#state-log .state-log-list li {
	border-bottom: 1px #333 solid;
	position     : relative;
}

.state-bottom {
	border-top: 1px solid #cfcfcf;
	background: #eee;
}

/* *************************************** statebar state status */

.state-status-list {
	display: table;
	width  : 424px;
	background-color: #555;
}

.state-status-item {
	display         : table-row;
	color           : #fff;
	height          : 40px;
	line-height     : 20px;
	padding         : 4px 0;
}

.state-status-item > div {
	display       : table-cell;
	vertical-align: middle;
}

.state-status-item:nth-child(odd) {
	background-color: rgba(255,255,255,.05);
}

.state-status-item-icon {
	width     : 30px;
	text-align: center;
}

.state-status-item-info {
	/*padding-top: 6px;*/
	/*float: left;*/
	/*height: 34px;*/
}

.state-status-item-desc {
	width  : 356px;
	display: block;
}

.state-status-content .timestamp {
	/*color: #bbb;*/
}

.state-status-item-detail {
	width     : 38px;
	cursor    : pointer;
	color     : #ccc;
	text-align: center;
}

.state-status-item-detail:hover {
	color: #fff;
}

.state-status-content .state-status-pedding-main {
	margin-top: 65px;
	color     : #fff;
	text-align: center;
}

.state-status-content .state-status-pedding-sub {
	margin-top: 5px;
	color: #aaa;
	text-align: center;
}

.state-status-content .state-status-all-pedding {
	display: none;
}

/*.statusbar-btn [class^="icon-state-"]
, .statusbar-btn [class*=" icon-state-"]
, #status-bar-modal [class^="icon-state-"]
, #status-bar-modal [class*=" icon-state-"]
 {
	width: 9px;
	height: 9px;
	border-radius: 50%;
	display: inline-block;
}
*/
.statusbar-btn .state-success {
	border-right: 1px solid #353535;
	margin-right: 10px;
	padding-right: 10px;
}

.statusbar-btn b {
	font-weight: normal;
}

.state-status-pending {
	text-align: center;
	padding-top: 54px;
}

.state-status-pending dt {
	color: #D3D6D6;
	padding-bottom: 25px;
}

.state-status-pending dd {
	color: #a9a9a9;
	padding-bottom: 25px;
}

#status-bar-modal .modal-header h3 {
	cursor: default;
}

#status-bar-modal .state-status-update {
	color: #5D5D5D;
	background-color: #FFED00;
	text-align: center;
	padding-top: 5px;
	height: 20px;
	cursor: pointer;
}

.modal-state-statusbar .no-item {
	padding-top: 79px;
	color: #D3D6D6;
	text-align: center;
}

/* state resource select */
#state-editor-model .state-editor-res-select {
	color: #ccc;
	right: 307px;
	width: 120px;
	top: 12px;
	position: absolute;
}

/* source highlight */
#state-editor-model .editable-area span.ace_res_ref {
	color: #f00;
}

#state-editor-model .editable-area span.ace_res_ref_correct {
	color: #3790DE;
	background: rgba(124, 194, 255, 0.2);
}

#state-editor-model .state-status-icon {
	position: absolute;
	top     : 12px;
	left    : 42px;
}

#state-editor-model.se-model-stack .state-status-icon {
	display: none !important;
}

#state-editor-model.se-model-appedit .state-status-icon {
	/*left: 34px;*/
}

#state-editor-model .state-status-icon.success {

}

#state-editor-model .state-status-icon.failure {

}

#state-editor-model.se-model-app #state-editor .parameter-item.disabled,
#state-editor-model.se-model-app .state-editor-toolbar .state-operate,
#state-editor-model.se-model-app .checkbox {
	display: none;
}

#state-editor-model.se-model-app .state-list {
	height: auto;
	overflow-y: auto;
}

/*#state-editor-model.se-model-app #state-editor .parameter-item .text {
	height: 35px !important;
}*/

#state-editor-model.se-model-app #state-editor .ace_cursor-layer {
	display: none;
}

#state-editor-model .ace-tm .ace_indent-guide {
	opacity: 0.1;
}

#state-editor-model.se-model-app .ace_content {
	cursor: default !important;
}

#state-description a {
	color: #25a4f4 !important;
}

#state-description > ul > li {
	border-bottom: 1px solid #272727;
	padding: 10px 0;
}

#state-description > ul > li ul {
	padding: 0 20px;
}

#state-description > ul > li ul > li {
	list-style-type: circle;
	list-style-position: inside;
	margin-bottom: 4px;
}

#state-description p, #state-description h3 {
	padding: 2px 10px;
}

#state-description li>p {
	font-size: 14px;
}

#state-description code {
	padding: 2px;
	background: none;
	border: none;
	color: #fff;
	font-size: 14px;
}

#state-description pre code {
	display          : block;
	background-color : #252525;
	border           : 1px solid #131313;
	color            : rgb(58, 194, 58);
	font-size        : 12px;
	word-break       : break-word;
}

#state-description pre {
	margin: 0;
}

#state-description blockquote {
	margin: 0;
	color: #999;
	font-style: italic;
}

#state-description .highlight  {
	color: #eee;
	background: rgba(0,0,0,.2);
	box-shadow: inset 3px 0 #25a4f4;
}

#state-description .state-log-refresh {
	background-color: #f00;
}

.ace_autocomplete_tip {
	width: 265px;
	height: 17px;
	position: absolute;
	z-index: 99999;
	display: none;
	padding-left: 5px;
	background-color: #fff;
	border: 1px #999 solid;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}

.ace_autocomplete_disable_select {
	opacity: 0.4;
}

.ace_rightAlignedText {
	font-style: italic;
	opacity: 0.3;
	padding-right: 4px;
}

#state-editor .state-no-data-tip {
	margin-top: 140px;
	text-align: center;
	font-size: 16px;
}

#state-editor .state-item-add-btn {
	margin-top: 35px;
	margin-left: -56px;
	position: absolute;
	left: 50%;
}

#state-editor .state-have-state-container {
	display: none;
}

#state-editor .state-no-state-container {
	display: none;
	/*font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif; */
}

#state-gist-paste-area {
	opacity: 0;
	position: absolute;
	width: 0px;
	height: 0px;
}

#property-panel.state:not(.hidden) + #canvas-panel {
	margin-right: 654px;
}

/*#property-panel.state-wide:not(.hidden) + #canvas-panel {
	margin-right: 900px;
}*/

/* switch button style */
.switch {
	position         : relative;
	display          : inline-block;
	vertical-align   : top;
	width            : 56px;
	height           : 20px;
	border-radius    : 18px;
	cursor           : pointer;
	-webkit-transition: 0.15s ease-out;
	-moz-transition: 0.15s ease-out;
	-o-transition: 0.15s ease-out;
	transition: 0.15s ease-out;
	-webkit-transition-property: opacity background;
	-moz-transition-property: opacity background;
	-o-transition-property: opacity background;
	transition-property: opacity background;
}

.toolbar-visual-ops-switch {
	margin-right : 8px;
	float        : right;
	margin-top   : 6px;
	width        : 120px;
	height       : 27px;
	border       : 1px solid #ccc;
	background   : #dadada;
	font-size    : 12px;
}

.toolbar-visual-ops-switch.on {
	border-color : #0E8F38;
	background   : #4fb845;
}

.toolbar-visual-ops-switch .switch-handle {
	width: 21px;
	height: 21px;
}

.switch-input {
	position: absolute;
	top: 0;
	left: 0;
}

.switch-label {
	position: relative;
	display: block;
	height: 100%;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
}
.switch-label:before {
	content     : attr(data-off);
	right       : 6px;
	color       : #aaa;
	font-variant: small-caps;
}

.switch-label:after {
	content     : attr(data-on);
	left        : 6px;
	color       : white;
	opacity     : 0;
	font-variant: small-caps;
}

.switch.on .switch-label:before { opacity: 0; }
.switch.on .switch-label:after  { opacity: 1; }

.switch-handle {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 18px;
	height: 18px;
	background: white;
	border-radius: 10px;
	-webkit-transition: left 0.15s ease-out;
	-moz-transition: left 0.15s ease-out;
	-o-transition: left 0.15s ease-out;
	transition: left 0.15s ease-out;
}
.switch.on .switch-handle {
	left: 96px;
}

#modal-ssl-cert-setting .modal-ssl-cert-item {
	width: 200px;
	margin-top: 10px;
}

#modal-ssl-cert-setting .input {
	width: 275px;
	float: left;
	margin-top: 5px;
}


#modal-state-log-detail .modal-body {
	padding: 0;
}

#state-log .state-log-header {
	padding: 9px;
}
