body {
	margin: 0;
	padding: 0;
	font-family : 'Lato', 'Helvetica Neue', Arial, sans-serif;
	color: #313131;
	font-size: 62.5%;
	line-height: 1;
	background-color: #f0f0f0;
}

/* *************************************** atwho */

.atwho-view {
	background: #fff;
	border: 1px solid #DDD;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	display: none;
	left: 0;
	margin-top: 18px;
	min-width: 120px;
	position: absolute;
	top: 0;
	z-index: 100;
}
.atwho-view .cur {
	background: #36F;
	color: #fff;
}
.atwho-view .cur small {
	color: #fff;
}
.atwho-view strong {
	color: #36F;
}
.atwho-view .cur strong {
	color: #fff;
	font: bold;
}
.atwho-view ul {
	list-style: none;
	margin: auto;
	padding: 0;
	max-height: 150px;
	height: 100%;
	overflow: auto;
}
.atwho-view ul::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	background-color: #F5F5F5;
}
.atwho-view ul::-webkit-scrollbar {
	width: 4px;
	background-color: #F5F5F5;
}
.atwho-view ul::-webkit-scrollbar-thumb {
	background-color: #a4a4a4;
}
.atwho-view ul li {
	border-bottom: 1px solid #DDD;
	cursor: pointer;
	display: block;
	padding: 5px 10px;
}
.atwho-view small {
	color: #777;
	font-size: smaller;
	font-weight: 400;
}

/* *************************************** state editor */

#state-editor {
	/*padding: 20px;*/
	height: 460px;
	overflow-y: scroll;
	border-bottom: 1px #000 solid;
	width: 655px;
	float: left;
	height: 500px;
	background: #fff;
}

#state-editor.full {
	width: auto;
	float: none;
}


#state-description, #state-log {
	width: 225px;
	height: 480px;
	float: left;
	border-bottom: 1px #000 solid;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 10px;
}

#state-log {
	display: none;
	width: 245px;
	height: 500px;
	padding: 0;
	background-color: #000;
}

#state-editor::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	background-color: #F5F5F5;
}
#state-editor::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}
#state-editor::-webkit-scrollbar-thumb {
	background-color: #a4a4a4;
}

#state-editor ::selection {
	background: #4495d3;
	color: #fcfcfc;
}

#state-description::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	background-color: #F5F5F5;
}
#state-description::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}
#state-description::-webkit-scrollbar-thumb {
	background-color: #a4a4a4;
}

#state-log::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	background-color: #F5F5F5;
}
#state-log::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}
#state-log::-webkit-scrollbar-thumb {
	background-color: #a4a4a4;
}

#state-editor-body {
	padding: 0;
}

#state-editor-model .state-save, .state-cancel, .state-close {
	margin-right: 14px;
	margin-top: 14px;
}

#state-editor-model .state-close{
	display: none;
}

#state-editor-model .modal-sidebar-toggle {
	list-style: none;
	position: absolute;
	margin-top: -49px;
	right: 195px;
}

.modal-sidebar-toggle li {
	height: 49px;
	/*background: rgba(0,0,0,.2);*/
	width: 50px;
	float: left;
	cursor: pointer;
	transition: background .2s;
	-webkit-transition: background .2s;
	color: #ddd;

}

.modal-sidebar-toggle li {
	border-left: 1px solid #303030;
}

.modal-sidebar-toggle li.active,
.modal-sidebar-toggle li.active:hover {
	background: #333;
	color: #f0f0f0;
}

.modal-sidebar-toggle li:hover {
	background: rgba(0,0,0,.1);
	color: #eee;
}

.state-desc-toggle.icon-info {
	font-size: 24px;
	line-height: 52px;
	text-align: center;
}

/*#state-editor-model .modal-toolbar li {
	width: 30px;
	height: 30px;
	background-color: #eee;
	float: left;
	margin-left: 5px;
	cursor: pointer;
}

#state-editor-model .modal-toolbar li:hover {
	background-color: #ccc;
}*/

/* *************************************** state item */

#state-editor .state-list {
	/*width: 99%;*/
}

#state-editor .state-item {
	overflow: auto;
	float: none;
	/*margin-bottom: 30px;*/
}

#state-editor .state-warning {
	background-color: #ff0;
	height: 20px;
	padding: 15px;
	font-size: 15px;
	line-height: 19px;
}

/* *************************************** ace editor */

#state-editor .ace_hidden-cursors {
    opacity: 0;
}
#state-editor .ace_content {
    padding-top: 3px;
}
#state-editor .ace_autocomplete .ace_scroller {
    margin-top: 0px;
}

/* *************************************** editable-area */

#state-editor .editable-area {
	background-color: #fff;
	border: 1px solid #bbb;
	width: 100%;
	outline: 0px solid transparent;
	padding: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

#state-editor .editable-area.disabled {
	opacity: 0.5 !important;
}

/*#state-editor .editable-area *:not(.Apple-tab-span) {
	padding: 0;
	margin: 0;
	line-height: 14px;
	font-weight: normal;
	font-size: 14px;
	background-color: transparent;
	color: #000;
	border: 0;
}*/

#state-editor .editable-area.line {
	white-space: nowrap !important;
	display: inline !important;
	height: 15px !important;
	line-height: 17px !important;
	padding-top: 3px !important;
	overflow: hidden !important;
	cursor: text !important;
	opacity: 1.0 !important;
}

#state-editor .line:hover {
	opacity: 1.0 !important;
}

#state-editor .line {
	cursor: pointer !important;
}

#state-editor .editable-area.line:hover {
	opacity: 1.0 !important;
}

/*#state-editor .editable-area.line br {
	display: none !important;
}

#state-editor .editable-area.line * {
	display: inline !important;
	white-space: nowrap !important;
}*/

#state-editor .editable-area.text {
	height: 150px !important;
	line-height: 20px;
	overflow: auto;
}

/* *************************************** parameter */

#state-editor .command-value {
	float: left;
	width: 150px;
	margin-left: 40px;
	margin-top: -39px;
	margin-left: 69px;
}

#state-editor .parameter-list {
	float: left;
	overflow: auto;
	width: 100%;
	max-width: 500px;
	display: inline;
	margin-left: 69px;
}

#state-editor .parameter-list .parameter-item {
	width: 100%;
	overflow: auto;
	margin-top: 4px;
}

#state-editor .parameter-list .parameter-name {
	float: left;
	padding: 5px;
	max-width: 100px;
	/*background-color: #ddd;*/
	margin-top: 2px;
	width: 100%;
}

#state-editor .parameter-list .parameter-value {
	float: left;
	width: 100%;
	max-width: 309px;
}

#state-editor .parameter-list .parameter-container {
	float: left;
	width: 100%;
	max-width: 350px;
	overflow: auto;
	margin-left: 10px;
}

#state-editor .parameter-list .parameter-item.dict .parameter-value {
	width: 147px;
	margin-right: 5px;
}

#state-editor .parameter-remove {
	float: left;
	background-color: #f00;
	width: 15px;
	text-align: center;
	height: 15px;
	margin-right: 10px;
	border-radius: 15px;
	color: #fff;
	line-height: 11px;
	cursor: pointer;
	font-size: 24px;
}

#state-editor .parameter-remove:hover {
	background-color: #f44;
}

#state-editor .parameter-item.disabled .parameter-remove {
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
}

/*#state-editor .parameter-item.disabled {
	opacity: 0.3;
}*/

/*#state-editor .state-edit .parameter-item.dict .parameter-dict-item:last-of-type:not(:only-of-type) {
	opacity: 0.4;
}

#state-editor .state-edit .parameter-item.dict .parameter-dict-item:last-of-type:not(:only-of-type) > .parameter-value:focus {
	opacity: 1.0;
}

#state-editor .state-edit .parameter-item.array .parameter-value:last-of-type:not(:only-of-type) {
	opacity: 0.4;
}

#state-editor .state-edit .parameter-item.array .parameter-value:focus:last-of-type:not(:only-of-type) {
	opacity: 1.0;
}*/

/* *************************************** state view/edit */

#state-editor .state-item.view .state-edit {
	display: none;
}

#state-editor .state-view {
	display: none;
}

#state-editor .state-item.view .state-view {
	display: block;
}

#state-editor .command-view-value {
	float: left;
	max-width: 100px;
	min-width: 100px;
	min-height: 12px;
	display: inline;
	overflow: hidden;
	white-space: nowrap;
	border: 1px #444 solid;
	padding: 4px;
	background-color: #ddd;
	margin-right: 10px;
	margin-top: 4px;
}

#state-editor .parameter-view-list {
	margin-right: 45px;
	overflow: auto;
}

#state-editor .parameter-view-list .parameter-item {
	float: left;
}

#state-editor .parameter-view-list .parameter-value {
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	max-width: 100px;
	min-height: 12px;
	display: inline;
	overflow: hidden;
	white-space: nowrap;
	border: 1px #444 solid;
	padding: 4px;
	background-color: #ddd;
	margin-right: 10px;
	min-width: 100px;

	float: left;
}

#state-editor .parameter-view-list .parameter-name {
	float: left;
	padding: 5px;
	/*max-width: 100px;*/
	background-color: #ddd;
	margin-top: 2px;
	width: auto;
}

#state-editor .parameter-view-list .parameter-item.disabled {
	display: none;
}

/* *************************************** state toolbar */

#state-editor .state-toolbar {
	float: none;
	/*width: 95%;*/
	overflow: auto;
	background-color: #ccc;
	padding: 5px;
	margin-bottom: 10px;
	cursor: pointer;
}

#state-editor .state-toolbar:hover {
	background-color: #ddd;
}

/*#state-editor .state-item:first-child .state-remove {
	display: none;
}*/

#state-editor .state-item:first-child .state-add {

}

#state-editor .state-item-add {
	cursor: pointer;
	background-color: #eee;
	line-height: 45px;
	height: 45px;
	text-align: center;
}

#state-editor .state-item-add:hover {
	background-color: #ddd;
}

#state-editor .state-id {
	float: left;
	margin-top: 3px;
	margin-right: 15px;
	background-color: #ddd;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border-radius: 20px;
	background-color: #66f;
	color: #fff;
	cursor: pointer;
}

#state-editor .state-drag {
	float: left;
	margin-top: 5px;
	margin-right: 15px;
	/*background-color: #ddd;*/
	width: 20px;
	height: 20px;
	cursor: pointer;
	color: #aaa;
}

#state-editor .state-id:hover {
	background-color: #77f;
}

#state-editor .state-add {
	float: left;
	margin-top: 6px;
	margin-right: 15px;
	background-color: #ddd;
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 13px;
	border-radius: 20px;
	background-color: #aaa;
	color: #fff;
	cursor: pointer;
	float: right;
}

#state-editor .state-add:hover {
	background-color: #ccc;
}

#state-editor .state-remove {
	float: left;
	margin-top: 6px;
	margin-right: 15px;
	background-color: #ddd;
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 13px;
	border-radius: 20px;
	background-color: #aaa;
	color: #fff;
	cursor: pointer;
	float: right;
}

#state-editor .state-remove:hover {
	background-color: #ccc;
}

/* *************************************** state sortable */

#state-editor .state-placeholder {
	border: 2px dashed #bbb;
	border-left: none;
	border-right: none;
	width: 100px;
	height: 100px;
	background: none;
}

.parsley-error {
	border: 1px solid #ec3c38 !important;
	background-color: #fad6cf !important;
}

/* *************************************** state log */

#state-log .state-log-item-header {
	background-color: #444;
	padding: 10px;
}

#state-log .state-log-item-name {
	color: #fff;
	margin-bottom: 3px;
}

#state-log .state-log-item-time {
	color: #aaa;
	font-size: 12px;
}

#state-log .state-log-item-status {
	color: #1b1;
	float: right;
	margin-top: -12px;
	right: 30px;
	font-size: 10px;
}

#state-log .state-log-item-detail {
	background-color: #000;
	line-height: 18px;
	padding: 14px;
}

#state-log .state-log-info {
	padding: 10px;
	margin-top: -36px;
	position: absolute;
	top: 50%;
	text-align: center;
	display: none;
}

#state-log .state-log-loading {
	text-align: center;
	margin-top: 235px;
	display: none;
}

#state-log .state-log-title {
	font-weight: bold;
}

.state-bottom {
	border-top: 1px solid #cfcfcf;
	background: #eee;
}

/* *************************************** statebar state status */
.state-status-content .state-status-item {
	color: #fff;
	background-color: #666;
	height: 40px;
}

.state-status-content .state-status-item:nth-child(odd) {
	background-color: #555;
}

.state-status-content .state-status-item-icon {
	width: 30px;
	text-align: center;
	padding-top: 10px;
	float: left;
}

.state-status-content .state-status-item-info {
	padding-top: 6px;
	float: left;
	height: 34px;
}

.state-status-content .state-status-item-time {
	color: #bbb;
}

.state-status-content .state-status-item-detail {
	width: 38px;
	height: 100%;
	float: right;
	background-color: green;
	cursor: pointer;
}

.state-status-content .state-status-item-detail:hover {
	background-color: #00f;
}

.state-status-content .state-status-pedding-main {
	margin-top: 65px;
	color: #fff;
	text-align: center;
}

.state-status-content .state-status-pedding-sub {
	margin-top: 5px;
	color: #aaa;
	text-align: center;
}

.state-status-content .state-status-all-pedding {
	display: none;
}

.statusbar-btn [class^="icon-state-"]
, .statusbar-btn [class*=" icon-state-"]
, #status-bar-modal [class^="icon-state-"]
, #status-bar-modal [class*=" icon-state-"]
 {
	width: 9px;
	height: 9px;
	border-radius: 50%;
	display: inline-block;
}

.statusbar-btn .icon-state-success
, #status-bar-modal .icon-state-success
 {
	background-color: green;
}

.statusbar-btn .icon-state-failed
, #status-bar-modal .icon-state-failed
{
	background-color: red;
}

.statusbar-btn b {
	font-weight: normal;
}

.state-status-pending {
	text-align: center;
	padding-top: 54px;
}

.state-status-pending dt {
	color: #D3D6D6;
	padding-bottom: 25px;
}

.state-status-pending dd {
	color: #a9a9a9;
	padding-bottom: 25px;
}

#status-bar-modal .modal-header h3 {
	cursor: default;
}

#status-bar-modal .state-status-update {
	color: #5D5D5D;
	background-color: #FFED00;
	text-align: center;
	padding-top: 5px;
	height: 20px;
	cursor: pointer;
}

/* state resource select */
#state-editor-model .state-editor-res-select {
	color: #ccc;
	right: 307px;
	width: 120px;
	top: 12px;
	position: absolute;
}

/* source highlight */
#state-editor-model .editable-area span.ace_string {
	color: #00f;
}
