/* Table */
.table {
	max-width: 100%;
	background-color: rgba(0, 0, 0, 0);
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	color: #C7CAC8;
}

.table th {
	font-weight: 700;
}

.table thead {
	background: #2b2b2b;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.table thead th {
	cursor: default;
	position: relative;
}

.table thead th:hover {
	background: #404040;
}

.table th,
.table td {
	word-break: break-all;
	overflow: hidden;
	padding: 6px 12px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border: 1px solid #151515;
}

.table tbody tr:hover th,
.table tbody tr:hover td {
	background: #464646;
}

.table tbody th,
.table tbody td {
	background: #1F1F1F;
}

.table td.editable {
	cursor: text;
}

.table-input {
	border: none;
	background: none;
	outline: none;
	resize: none;
	padding: 0;
	box-shadow: none;
}

.sortable:after,
.sortable .desc-sort:after {
	position: absolute;
	right: 5px;
	opacity: 0.5;
}

.sortable:after {
	content: "▾";
}

.sortable.desc-sort:after {
	content: "▴" !important;
}

.sortable.active:after {
	opacity: 1;
}

/* Dashboard Style Table */
.table.table-region-stat,
.table.table-light {
	background-color: #fff;
	color: #666;
	border-bottom: 1px solid #dfdfdf;
}

.table.table-region-stat thead,
.table.table-light thead {
	background-color: #eaedef;
	border-bottom: 1px solid #dfdfdf;
}

.table.table-region-stat thead th:hover,
.table.table-light thead th:hover {
	background-color: #dde0e2;
}

.table.table-region-stat th,
.table.table-region-stat td {
	font-weight: 400;
	border: none;
	border-right: 1px solid #dfdfdf;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

.table.table-light th,
.table.table-light td  {
	font-weight: 400;
	border: none;
	border-right: 1px solid #dfdfdf;
	position: relative;
}

.table.table-region-stat tbody tr:hover th,
.table.table-region-stat tbody tr:hover td,
.table.table-light tbody tr:hover th,
.table.table-light tbody tr:hover td {
	background: #f0f0f0;
}


.table.table-region-stat tbody th,
.table.table-region-stat tbody td,
.table.table-light tbody th,
.table.table-light tbody td {
	background: #fefefe;
}

.table.table-region-stat tbody tr td,
.table.table-light tbody tr td
 {
	line-height: 24px;
}

.table.table-region-stat tbody tr:nth-child(2n+1) td,
.table.table-light tbody tr:nth-child(2n+1) td {
	background: #F6F5F5;
}

.table.table-region-stat tbody tr:nth-child(2n+1):hover td,
.table.table-light tbody tr:nth-child(2n+1):hover td  {
	background: #eee;
}

a.table-link {
	color: #3892E3;
}

/* Button */
.btn {
	display: inline-block;
	padding: 8px 0;
	width: 115px;
	margin-bottom: 0;
	font-size: 14px;
	color: #eee;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.50);
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background: #44484a;
	background-image: -o-linear-gradient(-90deg, #515457 0%, #313436 100%);
	background-image: -moz-linear-gradient(-90deg, #515457 0%, #313436 100%);
	background-image: -webkit-linear-gradient(-90deg, #515457 0%, #313436 100%);
	background-image: -ms-linear-gradient(-90deg, #515457 0%, #313436 100%);
	background-image: linear-gradient(-180deg, #515457 0%, #313436 100%);
	border: 1px solid #293540;
	background-repeat: repeat-x;
	border-radius: 2px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(0, 0, 0, 0.25);
}

.btn:hover {
	color:#fff;
	background-image: -o-linear-gradient(-90deg, #5C6163 0%, #3C3F42 100%);
	background-image: -moz-linear-gradient(-90deg, #5C6163 0%, #3C3F42 100%);
	background-image: -webkit-linear-gradient(-90deg, #5C6163 0%, #3C3F42 100%);
	background-image: -ms-linear-gradient(-90deg, #5C6163 0%, #3C3F42 100%);
	background-image: linear-gradient(-180deg, #5C6163 0%, #3C3F42 100%);
}

.btn:active {
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary {
	background-image: -o-linear-gradient(-90deg, #BF51B0 0%, #B44DB2 100%);
	background-image: -moz-linear-gradient(-90deg, #BF51B0 0%, #B44DB2 100%);
	background-image: -webkit-linear-gradient(-90deg, #BF51B0 0%, #B44DB2 100%);
	background-image: -ms-linear-gradient(-90deg, #BF51B0 0%, #B44DB2 100%);
	background-image: linear-gradient(-180deg, #BF51B0 0%, #B44DB2 100%);
	border: 1px solid #572360;
}

.btn-primary:hover {
	background-image: -o-linear-gradient(-90deg, #C856B9 0%, #BB51B9 100%);
	background-image: -moz-linear-gradient(-90deg, #C856B9 0%, #BB51B9 100%);
	background-image: -webkit-linear-gradient(-90deg, #C856B9 0%, #BB51B9 100%);
	background-image: -ms-linear-gradient(-90deg, #C856B9 0%, #BB51B9 100%);
	background-image: linear-gradient(-180deg, #C856B9 0%, #BB51B9 100%);
	border: 1px solid #A54DB4;
}

.btn-blue {
	background-image: -o-linear-gradient(-90deg, #239AE0 0%, #2482C8 100%);
	background-image: -moz-linear-gradient(-90deg, #239AE0 0%, #2482C8 100%);
	background-image: -webkit-linear-gradient(-90deg, #239AE0 0%, #2482C8 100%);
	background-image: -ms-linear-gradient(-90deg, #239AE0 0%, #2482C8 100%);
	background-image: linear-gradient(-180deg, #239AE0 0%, #2482C8 100%);
	border: 1px solid #223A4F;
}

.btn-blue:hover {
	background-image: -o-linear-gradient(-90deg, #26A4EE 0%, #2588D1 100%);
	background-image: -moz-linear-gradient(-90deg, #26A4EE 0%, #2588D1 100%);
	background-image: -webkit-linear-gradient(-90deg, #26A4EE 0%, #2588D1 100%);
	background-image: -ms-linear-gradient(-90deg, #26A4EE 0%, #2588D1 100%);
	background-image: linear-gradient(-180deg, #26A4EE 0%, #2588D1 100%);
}

.btn-red {
	background-image: -o-linear-gradient(-90deg, #F34C51 0%, #E84448 100%);
	background-image: -moz-linear-gradient(-90deg, #F34C51 0%, #E84448 100%);
	background-image: -webkit-linear-gradient(-90deg, #F34C51 0%, #E84448 100%);
	background-image: -ms-linear-gradient(-90deg, #F34C51 0%, #E84448 100%);
	background-image: linear-gradient(-180deg, #F34C51 0%, #E84448 100%);
	border: 1px solid #4E1D21;
}

.btn-red:hover {
	background-image: -o-linear-gradient(-90deg, #FF5155 0%, #F5474C 100%);
	background-image: -moz-linear-gradient(-90deg, #FF5155 0%, #F5474C 100%);
	background-image: -webkit-linear-gradient(-90deg, #FF5155 0%, #F5474C 100%);
	background-image: -ms-linear-gradient(-90deg, #FF5155 0%, #F5474C 100%);
	background-image: linear-gradient(-180deg, #FF5155 0%, #F5474C 100%);
}

.btn-silver {
	color: #666;
	text-shadow: 0 1px 0 #fff;
	background-image: -o-linear-gradient(-90deg, #ECEFF1 0%, #E2E4E5 100%);
	background-image: -moz-linear-gradient(-90deg, #ECEFF1 0%, #E2E4E5 100%);
	background-image: -webkit-linear-gradient(-90deg, #ECEFF1 0%, #E2E4E5 100%);
	background-image: -ms-linear-gradient(-90deg, #ECEFF1 0%, #E2E4E5 100%);
	background-image: linear-gradient(-180deg, #ECEFF1 0%, #E2E4E5 100%);
	border: 1px solid #C3C3C3;
}

.btn-silver:hover {
	color: #333;
	background-image: -o-linear-gradient(-90deg, #F5F8FA 0%, #EBEDEE 100%);
	background-image: -moz-linear-gradient(-90deg, #F5F8FA 0%, #EBEDEE 100%);
	background-image: -webkit-linear-gradient(-90deg, #F5F8FA 0%, #EBEDEE 100%);
	background-image: -ms-linear-gradient(-90deg, #F5F8FA 0%, #EBEDEE 100%);
	background-image: linear-gradient(-180deg, #F5F8FA 0%, #EBEDEE 100%);
}


.btn.disabled:active,
.btn.disabled:hover,
.btn.disabled,
.btn[disabled] {
	cursor: default;
	background-image: none;
	text-shadow: none;
	color: #D4D4D4;
	background: #9C9FA2;
	border: 1px solid #A1A9B0;
	box-shadow: none;
}


.btn-large {
	padding: 10px 0;
	width: 140px;
	font-size: 18px;
}

.btn-small {
	padding: 2px 0;
	width: 50px;
	font-size: 12px;
}

/* Progress bar */
.progress {
	background-color: #F7F7F7;
	box-shadow: 1px 1px 5px rgba(200, 200, 200, 0.5);
	overflow: hidden;
	width: 240px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 10px 0;
}

.progress .bar {
	height: 10px;
	background-color: #4BB1CF;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1MDIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM1QkMwREUiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMzMzlCQjkiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c1MDIpIiAvPgo8L3N2Zz4=');
	background-repeat: repeat-x;
	box-shadow: 1px 1px 5px rgba(200, 200, 200, 0.3);
	-webkit-transition: width 0.6s;
	-moz-transition: width 0.6s;
	-o-transition: width 0.6s;
	transition: width 0.6s;
}

/* Input */
.input {
	width: 150px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	background-color: #fcfcfc;
	border: 1px solid #aaa;
	font-size: 14px;
	padding: 8px 20px 8px 8px;
	display: inline-block;
	outline: none;
	color: #333;
}

.input:focus,
textarea:focus {
	border: 1px solid #55C7FF;
	background-color: #fff;
	box-shadow: 1px 1px 5px rgba(78,155,252,.5);
}

.input.disabled,
.input[disabled] {
	box-shadow: none;
	border: 1px solid #ccc;
	background-color: #eee;
}

/* Textarea */
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
	width: 206px;
	height: 80px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #999;
	font-size: 14px;
	line-height: 20px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	color: #555;
	vertical-align: middle;
	overflow: auto;
	outline: none;
	resize: none;
}

/* Checkbox & Radio */
.checkbox input[type=checkbox],
.radio input[type=radio] {
	visibility: hidden;
}

.checkbox,
.radio {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin: 0 5px;
}

.checkbox label {
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 14px;
	height: 14px;
	border-radius: 2px;
	border: 1px solid #999;
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	background: #fcfff4;
}

.checkbox label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 13px;
	height: 13px;
	top: 1px;
	left: 1px;
	background: transparent;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAcklEQVQY02NgwA/YoJgoEA/Es4DYgJBCJSBeD8SboRinBiYg7kZS2IosyQ/Eakh8LySFq4FYHFlxGRBvBOJYqMRqJMU+yApNkSRAeC0Sux3dfSCTetE0wKyXxOWhMKhTYIr9CAUXyJMzgLgBagBBgDPGAI2LGdNt0T1AAAAAAElFTkSuQmCC');
	background-size: 100% 100%;
}

.radio label {
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 14px;
	height: 14px;
	border-radius: 100%;
	border: 1px solid #999;
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	background: #fcfff4;
}

.radio label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	top: 3px;
	left: 3px;
	background-color: #666;
	border-radius: 100%;
}

.checkbox input[type=checkbox]:checked + label:after,
.radio input[type=radio]:checked + label:after {
	opacity: 1;
}

/* Select */
.select {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAaUlEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEImJmZvwE1/UfHIHGQPNGGAbHCggULFrKxsf1ENgjEB4mD5EnxJoaByAZB5Yk3DNlAPj6+L8gGkWUYzMC3b982IRtEtmFQjaxYxDAwAGi4TwMYKNLfAAAAAElFTkSuQmCC');
	background-position: right center;
	background-repeat: no-repeat;
	width: 160px;
	height: 30px;
	display: inline-block;
	vertical-align: top;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	border: 1px solid #999;
}

.select select {
	text-align: left;
	width: 160px;
	font-size: 13px;
	padding: 5px 0;
	color: #666;
	-webkit-appearance: none;
	-webkit-padding-end: 20px;
	-webkit-padding-start: 6px;
	-moz-appearance: none;
	-moz-padding-end: 20px;
	-moz-padding-start: 6px;
	border: none;
	outline: none;
	background-color: transparent;
	overflow:hidden;
}

.firefox select {
	/* Firefix select hack */
	/* width + 30 to hide the select arrow */
	width: 200px;
}

.select option {
	background: #fcfcfc;
}

/* Scrollbar */
.scrollbar-veritical-wrap,
.scrollbar-horizontal-wrap {
	position: absolute;
	z-index: 30;
	background: rgba(100, 100, 100, 0.2);
	display: none;
}

.scrollbar-auto-hide > .scrollbar-veritical-wrap,
.scrollbar-auto-hide > .scrollbar-horizontal-wrap {
	-webkit-transition: opacity .25s;
	-moz-transition: opacity .25s;
	-ms-transition: opacity .25s;
	-o-transition: opacity .25s;
	transition: opacity .25s;
	opacity: 0;
}

.scrollbar-veritical-wrap {
	right: 0;
	top: 0;
	width: 8px;
	height: 100%;
}

.scrollbar-horizontal-wrap {
	left: 0;
	bottom: 0;
	height: 8px;
	width: 100%;
}

.scrolling {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
	pointer-events: none;
}

.scrolling.scrollbar-auto-hide > .scrollbar-veritical-wrap,
.scrolling.scrollbar-auto-hide > .scrollbar-horizontal-wrap,
.scrollbar-auto-hide.scroll-wrap:hover > .scrollbar-veritical-wrap,
.scrollbar-auto-hide.scroll-wrap:hover > .scrollbar-horizontal-wrap {
	opacity: 1;
}

.scrollbar-veritical-thumb,
.scrollbar-horizontal-thumb {
	position: relative;
	background-color: #999;
	border-radius: 4px;
}

.scrollbar-veritical-thumb {
	width: 8px;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	-o-transition: height 0.2s;
	transition: height 0.2s;
}

.scrollbar-horizontal-thumb {
	height: 8px;
	-webkit-transition: width 0.2s;
	-moz-transition: width 0.2s;
	-o-transition: width 0.2s;
	transition: width 0.2s;
}

.scroll-wrap {
	position: relative;
	overflow: hidden;
}

.scroll-content {
	position: relative;
}

/* webkit scrollbar */
/*.webkit .scroll-wrap {
	overflow: auto;
}

.webkit .scrollbar-auto-hide {
	overflow: hidden;
}

.webkit .scrollbar-auto-hide.scroll-wrap:hover {
	overflow: auto;
}

.scroll-wrap::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.scroll-wrap::-webkit-scrollbar-track {
	background: rgba(200, 200, 200, 0.2);
}

.scroll-wrap::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 4px;
}

.scroll-wrap::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, .55);
}

.scroll-wrap::-webkit-scrollbar-corner {
	background: rgba(200, 200, 200, 0.2);
}

.scrollbar-auto-hide::-webkit-scrollbar-track {
	opacity: 0;
}*/

/* Tooltip */
#tooltip_box {
	background: #333;
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	color: #ccc;
	font-size: 14px;
	position: absolute;
	padding: 5px 10px;
	border-radius: 3px;
	z-index: 90;
	max-width: 250px;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid rgba(0, 0, 0, 0.8);
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid rgba(0, 0, 0, 0.8);
}

.arrow-left {
	width: 0;
	height: 0;
	border-right: 5px solid rgba(0, 0, 0, 0.8);
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
}

.tooltip-pointer {
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -3px;
}

/* Status icons */
.status,
.status-small,
.status-big {
	display: inline-block;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .2);
	box-shadow: 1px 1px 1px rgba(0,0,0, .2);
}

.status {
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

.status-small {

}

.status-big {

}

.icon-label {
	margin-right: 8px;
}

/* Stauts size is decided by context */
.status-component {
	width: 12px;
	height: 12px;
	border-radius: 6px;
}

.status-green {
	background-color: #78d248;
	background-image: -webkit-linear-gradient(bottom, #11a64d, #05d013);
	background-image: -moz-linear-gradient(bottom, #11a64d, #05d013);
	background-image: -o-linear-gradient(bottom, #11a64d, #05d013);
	background-image: -ms-linear-gradient(bottom, #11a64d, #05d013);
	background-image: linear-gradient(to top, #11a64d, #05d013);
}

.status-red {
	background-color: #f34c39;
	background-image: -webkit-linear-gradient(bottom, #e72222, #ff8d6f);
	background-image: -moz-linear-gradient(bottom, #e72222, #ff8d6f);
	background-image: -o-linear-gradient(bottom, #e72222, #ff8d6f);
	background-image: -ms-linear-gradient(bottom, #e72222, #ff8d6f);
	background-image: linear-gradient(to top, #e72222, #ff8d6f);
}

.status-blue {
	background-color: #2eafef;
	background-image: -webkit-linear-gradient(bottom, #008dde, #58cdfe);
	background-image: -moz-linear-gradient(bottom, #008dde, #58cdfe);
	background-image: -o-linear-gradient(bottom, #008dde, #58cdfe);
	background-image: -ms-linear-gradient(bottom, #008dde, #58cdfe);
	background-image: linear-gradient(to top, #008dde, #58cdfe);
}

.status-yellow {
	background-color: #d2c748;
	background-image: -webkit-linear-gradient(bottom, #d3be5c, #fbf819);
	background-image: -moz-linear-gradient(bottom, #d3be5c, #fbf819);
	background-image: -o-linear-gradient(bottom, #d3be5c, #fbf819);
	background-image: -ms-linear-gradient(bottom, #d3be5c, #fbf819);
	background-image: linear-gradient(to top, #d3be5c, #fbf819);
}

.status-grey {
	background-color: #a0a0a0;
	background-image: -webkit-linear-gradient(bottom, #808080, #bababa);
	background-image: -moz-linear-gradient(bottom, #808080, #bababa);
	background-image: -o-linear-gradient(bottom, #808080, #bababa);
	background-image: -ms-linear-gradient(bottom, #808080, #bababa);
	background-image: linear-gradient(to top, #808080, #bababa);
}

.status-orange {
	background-color: #ff9c00;
	background-image: -webkit-linear-gradient(bottom, #ff6c00, #f4b13d);
	background-image: -moz-linear-gradient(bottom, #ff6c00, #f4b13d);
	background-image: -o-linear-gradient(bottom, #ff6c00, #f4b13d);
	background-image: -ms-linear-gradient(bottom, #ff6c00, #f4b13d);
	background-image: linear-gradient(to top, #ff6c00, #f4b13d);
}

/* Modal */
#modal-box {
	position: absolute;
	color: #999;
	border-radius: 4px;
	background: #f0f0f0;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
	z-index: 70;
}

#modal-box #bubble-box {
	z-index: 80;
}

.modal-header .modal-close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-style: normal;
	cursor: pointer;
	font-size: 20px;
	line-height: 20px;
}

.modal-header {
	position: relative;
	padding: 0px 10px;
	background: #f0f0f0;
	box-shadow: inset 0 1px 0 #fff;
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid #cfcfcf;
	color: #9b9b9b;
	text-shadow: 0 1px 0 #fff;
}

.modal-header h3 {
	font-size: 16px;
}

.modal-body {
	padding: 5px 15px 10px 15px;
	background: #fff;
	border-bottom: 1px solid #cfcfcf;
	min-height: 100px;
}

.modal-body .dl-horizontal dt,
.modal-body .dl-horizontal dd {
	margin-top: 10px;
}

.modal-body .dl-horizontal dt {
	width: 120px;
}

.modal-body .dl-horizontal dd {
	margin-left: 130px;
}

.modal-footer {
	padding: 5px;
	text-align: right;
}

#modal-wrap {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 70;
	background-color: rgba(0, 0, 0, 0.8);
}

/* Accordion */
.accordion-body {
	display: none;
	overflow: hidden;
}

.accordion-group {
	position: relative;
}

.accordion-group.expanded .accordion-body {
	display: block;
}

.accordion-head {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* Accordion default style */
.accordion-default .accordion-head {
	border: 1px solid #ccc;
	padding: 10px;
	font-weight: 700;
	color: #333;
}

.accordion-default .accordion-body {
	padding: 10px;
	color: #666;
}

/* Notification */
#notification_wrap {
    color: #FFF;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 100;
}

.notification_item {
    height: 35px;
    line-height: 35px;
    width: 850px;
    position: relative;
    margin: 0 auto;
}

#notification_wrap .error_item {
    background: #b94a48;
}

#notification_wrap .warning_item {
    background: #c09853;
}

#notification_wrap .info_item {
    background: #3a87ad;
}

.notification_item .notification_close {
    position: absolute;
    right: 10px;
    font-style: normal;
    cursor: pointer;
}

.notification_item a {
    text-decoration: underline;
    color: #FFF;
}

/* Horizontal Definition List */
.dl-horizontal {
	line-height: 20px;
}

.dl-horizontal dt {
	/*font-style: bold;*/
	color: #999;
}

.dl-horizontal:before,
.dl-horizontal:after {
	display: table;
	line-height: 0;
	content: "";
}

.dl-horizontal:after {
	clear: both;
}

.dl-horizontal dt {
	float: left;
	width: 110px;
	overflow: hidden;
	clear: left;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dl-horizontal dd {
	margin-left: 130px;
	color: #666;
}

/* Bubble */
#bubble-box {
	background: #fff;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	border: 1px solid #d4d4d4;
	color: #999;
	font-size: 12px;
	position: absolute;
	border-radius: 4px;
	z-index: 60;
	min-width: 250px;
	max-width: 400px;
}

.bubble-head {
	padding: 8px 10px;
	font-size: 14px;
	font-weight: normal;
	/*background-color: #F7F7F7;*/
	border-bottom: 1px solid #EBEBEB;
	border-radius: 5px 5px 0 0;
	color: #333;
}

.bubble-head.alert {
	color: #F74A48;
	border: none;
	padding-bottom: 0;
}

.bubble-head.suggest {
	color: #3892E3;
	border: none;
	padding-bottom: 0;
}

.bubble-content {
	padding: 5px 10px;
}

.bubble-content {
	font-size: 12px;
}

.arrow,
.arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: rgba(0, 0, 0, 0);
	border-style: solid;
}

.bubble-left .arrow {
	border-width: 11px;
	top: 50%;
	left: -11px;
	margin-top: -11px;
	border-right-color: #ccc;
	border-left-width: 0;
}

.bubble-left .arrow:after {
	border-width: 10px;
	content: "";
	bottom: -10px;
	left: 1px;
	border-right-color: #fff;
	border-left-width: 0;
}

.bubble-right .arrow {
	border-width: 11px;
	top: 50%;
	right: -11px;
	margin-top: -11px;
	border-left-color: #ccc;
	border-right-width: 0;
}

.bubble-right .arrow:after {
	border-width: 10px;
	content: "";
	bottom: -10px;
	right: 1px;
	border-left-color: #fff;
	border-right-width: 0;
}

/* Editable Label */
.editable-label {
	height: 20px;
	width: 200px;
	/*margin-top: 15px;*/
	cursor: pointer
}

.editable-label input {
	padding: 0;
	width: 100%;
	height: 100%;
}

/* Fixedaccordion */
.fixedaccordion-head {
	border-bottom: 1px solid #ccc;
	background-color: #ddd;
}

.accordion-body {
	/*border-bottom: 1px solid #ccc;*/
	position: relative;
}

.expanded .fixedaccordion-head {
/*	background: #0066C3;
	color: #fff;*/
}

.fixedaccordion .accordion-body {
	display: none;
	overflow: hidden;
}

.fixedaccordion .expanded .accordion-body {
	display: block;
}

.fixedaccordion-head {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
}

.expanded .fixedaccordion-head {
	cursor: default;
}

/* Fixedaccordion default style */
.accordion-default .fixedaccordion-head {
	/*border: 1px solid #ccc;*/
	height: 37px;
	line-height: 37px;
	font-weight: 700;
	padding: 0 10px;
	color: #333;
}

/* Selectbox */
.selectbox {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
}

.selectbox a {
	color: #666;
}

.selectbox .dropdown-toggle {
	border: 1px solid #ccc;
	position: relative;
}

.selectbox .cur-value{
	display: inline-block;
}

.selectbox .caret {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 4px solid #999;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	position: absolute;
	right: 4px;
	top: 50%;
	margin-top: -2px;
}

.selectbox .dropdown-menu {
	position: absolute;
	top: 34px;
	left: 0;
	display: none;
	min-width: 160px;
	background-color: #ffffff;
	z-index: 50;
}

.selectbox .dropdown-menu,
.selectbox-editable .scroll-wrap {
	border: 1px solid #ccc;
	box-shadow: 0 8px 10px rgba(0,0,0,.3);
}

.selectbox-editable .dropdown-menu {
	border: none;
}

.selectbox .dropdown-menu li a {
	padding: 8px 20px 8px 8px;
}

.selectbox.selectbox-editable .dropdown-menu {
	top: 0;
}

.selectbox .dropdown-menu li a {
	display: block;
	clear: both;
	line-height: 20px;
	color: #333333;
	white-space: nowrap;
}

.selectbox .dropdown-menu li a:hover,
.selectbox .dropdown-menu li a:focus,
.selectbox .dropdown-menu li.selected a,
.selectbox .dropdown-menu li.focused a {
	background-color: #eee;
}


.selectbox.open .dropdown-menu,
.selectbox.open .editableoption {
	display: block;
}

.selectbox-editable .editableoption {
	display: none;
	position: absolute;
	top: 153px;
	width: 212px;
	z-index: 51;
	padding: 8px;
	background: #eee;
	border: 1px solid #ccc;
	box-shadow: 0 8px 10px rgba(0,0,0,.3);
}

.editableoption .label {
	display: block;
	color: #0F7BFF;
}

.editableoption .edit {
	display: none;
}

.editableoption .input {
	width: 150px;
	padding: 4px 20px 4px 4px;
}

.editableoption .btn {
	width: 30px;
	height: 26px;
	line-height: 18px;
	font-size: 12px;
	padding: 0;
	margin-left: 5px;
}

.selectbox .scroll-wrap {
	display: none;
	position: absolute;
	top: 34px;
	left: 0;
}
.selectbox .scroll-wrap ul {
	position: relative;
}
.selectbox.open .scroll-wrap {
	display: block;
}

/* Radio Buttons */

.radiobuttons {
	font-size: 0;
}

.radiobuttons button {
	font-size: 12px;
	border-radius: 0;
	border-right: none;
	padding: 4px 0;
}

.radiobuttons button:first-child {
	border-radius: 4px 0 0 4px;
}

.radiobuttons button:last-child {
	border-radius: 0 4px 4px 0;
	border-right: 1px solid #C3C3C3;
}

.radiobuttons button.active {
	background-image: -o-linear-gradient(-90deg, #38B6FF 0%, #1F95ED 100%);
	background-image: -moz-linear-gradient(-90deg, #38B6FF 0%, #1F95ED 100%);
	background-image: -webkit-linear-gradient(-90deg, #38B6FF 0%, #1F95ED 100%);
	background-image: -ms-linear-gradient(-90deg, #38B6FF 0%, #1F95ED 100%);
	background-image: linear-gradient(-180deg, #38B6FF 0%, #1F95ED 100%);
	color: #fff;
	text-shadow: none;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #3177B5;

}

/* toggleicon */
.toggle-fav {
	position: absolute;
	top: -2px;
	right: 5px;
	width: 16px;
	height: 16px;
	background: url('../images/ide/btn-fav-ami-unfaved-normal.png');
}

.toggle-fav:hover {
	top: -3px;
	right: 3px;
	width: 20px;
	height: 20px;
	background: url('../images/ide/btn-fav-ami-unfaved-hover.png');
}

.toggle-fav.faved {
	background: url('../images/ide/btn-fav-ami-faved-normal.png');
}

.toggle-fav.faved:hover {
	background: url('../images/ide/btn-fav-ami-faved-hover.png');
}

/* searchbar */
.search-bar {
	position: absolute;
	right: 0;
	top: 0;
	height: 32px;
	width: 34px;
	overflow: hidden;
	float: right;
	background: #ccc;
}
.search-bar .icon-search {
	display: block;
	float: left;
	line-height: 30px;
	cursor: pointer;
	padding: 0 10px;
}
.search-bar.open .icon-search {
	cursor: default;
}
.search-bar input {
	display: block;
	float: left;
	position: absolute;
	left: 34px;
	width: 186px;
}
.search-bar .icon-cancel {
	display: block;
	float: left;
	line-height: 30px;
	cursor: pointer;
	position: absolute;
	left: 226px;
}

/* filter */
.hide {
	display: none;
}

/* Form Element */

.left {
	float: left;
}

.right {
	float: right;
}

.property-control-group {
	/*background: #ccc;*/
	padding: 10px 0;
	width: 260px;
	position: relative;
}

.required-input {
	color: #999;
	font-size: 12px;
	line-height: 20px;
}

.property-control-group label {
	cursor: pointer;
}

.property-control-group > label{
	margin-bottom: 8px;
	color: #666;
}

.property-control-group .input {
	width: 230px;
}

.property-control-group.error > label.left {
	color: #F74A48;
}

.property-control-group.error .input {
	border: 1px solid #F74A48;
	/*background: #FFD4D3;*/
	color: #F74A48;
}

.input-error-icon {
	color: #fff;
	position: absolute;
	right: 0;
	bottom: 10px;
	background: #F74A48;
	display: inline-block;
	width: 20px;
	height: 15px;
	padding: 10px 0;
	text-align: center;
}

.property-control-group .radio-group {
	/*width: 260px;*/
	float: left;
}

.property-control-group textarea {
	width: 250px;
}

.property-control-group .ranged-input {
	width: 210px;
}

.property-control-group .selectbox {
	width: 250px;
	margin-top: 10px;
}

.property-control-group .selectbox .dropdown-toggle {
	width: 200px;
	display: inline-block;
}

.property-control-group .selectbox .dropdown-toggle {
	padding: 8px 20px 8px 8px;
}

.property-control-group .selectbox.selectbox-mega .dropdown-toggle {
	padding: 8px 20px 8px 8px;
	width: 230px;
}

.property-control-group .selectbox.selectbox-mega .dropdown-menu {
	top: 48px;
}

.property-control-group .selectbox.selectbox-mega .main {
	width: 230px;
	font-size: 13px;
}

.property-control-group .selectbox.selectbox-mega .sub span {
	font-size: 12px;
	color: #999;
}

#secondary-panel-wrap {
	display: none;
	position: absolute;
	width: 0;
	top: 0;
	right: 0;
}
