/* Table */
.table {
	max-width: 100%;
	background-color: rgba(0, 0, 0, 0);
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	color: #C7CAC8;
}

.table th {
	font-weight: 700;
}

.table thead {
	background: #2b2b2b;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.table thead th {
	cursor: default;
	position: relative;
}

.table thead th:hover {
	background: #404040;
}

.table th,
.table td {
	word-break: break-all;
	overflow: hidden;
	padding: 6px 12px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border: 1px solid #151515;
}

.table tbody tr:hover th,
.table tbody tr:hover td {
	background: #464646;
}

.table tbody th,
.table tbody td {
	background: #1F1F1F;
}

.table td.editable {
	cursor: text;
}

.table-input {
	border: none;
	background: none;
	outline: none;
	resize: none;
	padding: 0;
	box-shadow: none;
}

.sortable:after,
.sortable .desc-sort:after {
	position: absolute;
	right: 5px;
	opacity: 0.5;
}

.sortable:after {
	content: "▾";
}

.sortable.desc-sort:after {
	content: "▴" !important;
}

.sortable.active:after {
	opacity: 1;
}

/* Dashboard Style Table */
.table.table-region-stat,
.table.table-light {
	background-color: #fff;
	color: #666;
	border-bottom: 1px solid #dfdfdf;
}

.table.table-region-stat thead,
.table.table-light thead {
	background-color: #eaedef;
	border-bottom: 1px solid #dfdfdf;
}

.table.table-region-stat thead th:hover,
.table.table-light thead th:hover {
	background-color: #dde0e2;
}

.table.table-region-stat th,
.table.table-region-stat td {
	font-weight: 400;
	border: none;
	border-right: 1px solid #dfdfdf;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

.table.table-region-stat th {
	white-space: nowrap;
}

.table.table-light th,
.table.table-light td  {
	font-weight: 400;
	border: none;
	border-right: 1px solid #dfdfdf;
	position: relative;
}

.table.table-region-stat tbody tr:hover th,
.table.table-region-stat tbody tr:hover td,
.table.table-light tbody tr:hover th,
.table.table-light tbody tr:hover td {
	background: #f0f0f0;
}


.table.table-region-stat tbody th,
.table.table-region-stat tbody td,
.table.table-light tbody th,
.table.table-light tbody td {
	background: #fefefe;
}

.table.table-region-stat tbody tr td,
.table.table-light tbody tr td
 {
	line-height: 24px;
}

.table.table-region-stat tbody tr:nth-child(2n+1) td,
.table.table-light tbody tr:nth-child(2n+1) td {
	background: #F6F5F5;
}

.table.table-region-stat tbody tr:nth-child(2n+1):hover td,
.table.table-light tbody tr:nth-child(2n+1):hover td  {
	background: #eee;
}

a.table-link {
	color: #3892E3;
}

/* Button */
.btn {
	display       : inline-block;
	padding       : 8px 0;
	width         : 115px;
	margin-bottom : 0;
	box-sizing    : border-box;

	font-size      : 14px;
	color          : #eee;
	/*text-shadow  : 0px 1px 2px rgba(0,0,0,0.50);*/
	text-align     : center;
	vertical-align : middle;

	cursor : pointer;

	background        : #44484a;
	background-repeat : repeat-x;
	border-radius     : 2px;
	border            : 1px solid transparent;
	/*box-shadow      : inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(0, 0, 0, 0.15);*/
}

.btn:hover {
	color:#fff;
	background-image: -o-linear-gradient(-90deg, #5C6163 0%, #3C3F42 100%);
	background-image: -moz-linear-gradient(-90deg, #5C6163 0%, #3C3F42 100%);
	background-image: -webkit-linear-gradient(-90deg, #5C6163 0%, #3C3F42 100%);
	background-image: -ms-linear-gradient(-90deg, #5C6163 0%, #3C3F42 100%);
	background-image: linear-gradient(-180deg, #5C6163 0%, #3C3F42 100%);
	text-shadow: none;
}

.btn:active {
	box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);
	color      : #ccc;
}

.btn-primary {
	background : #B25B91;
	/*border   : 1px solid #7E1958;*/
	box-shadow : 0 2 0 0 rgba(57,46,46,0.50);
}

.btn-primary:hover {
	background : #CB5FA2;
}

.btn-primary:active {
	background : #9C4F78;
	/*box-shadow : none;*/
}

.btn-blue {
    background: #3781C9;
}

.btn-blue:hover {
	background: #6C99D4;
}

.btn-blue:active {
	background: #3273B3;
}

.btn-red {
	background: #D64442;
}

.btn-red:hover {
	background: #F74A48;
}

.btn-silver {
	background: #EFEFEF;
	border: 1px solid #D4D4D4;
	color: #666;
}

.btn-silver:hover {
	background: #F8F8F8;
	color: #666;
}

.btn-silver:active {
	background: #DBDBDB;
	color: #4A4A4A;
}

.btn.disabled:active,
.btn.disabled:hover,
.btn.disabled,
.btn[disabled] {
	cursor: default;
	background-image: none;
	text-shadow: none;
	color: #D4D4D4;
	background: #9C9FA2;
	border: 1px solid #A1A9B0;
	box-shadow: none;
}


.btn-large {
	padding: 10px 0;
	width: 140px;
	font-size: 18px;
}

.btn-small {
	padding: 2px 0;
	width: 50px;
	font-size: 12px;
}

/* Progress bar */
.progress {
	background-color: #F7F7F7;
	box-shadow: 1px 1px 5px rgba(200, 200, 200, 0.5);
	overflow: hidden;
	width: 240px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 10px 0;
}

.progress .bar {
	height: 10px;
	background-color: #4BB1CF;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1MDIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM1QkMwREUiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMzMzlCQjkiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c1MDIpIiAvPgo8L3N2Zz4=');
	background-repeat: repeat-x;
	box-shadow: 1px 1px 5px rgba(200, 200, 200, 0.3);
	-webkit-transition: width 0.6s;
	-moz-transition: width 0.6s;
	-o-transition: width 0.6s;
	transition: width 0.6s;
}

/* Input */
.input {
	width: 150px;
	/*background-color: #fff;*/
	/*box-shadow: 0 1px rgba(255,255,255,.5), inset 0 2px 5px #cfd4dd;*/
	/*border: solid 1px #cfd7e3;*/
	font-size: 14px;
	padding: 8px 20px 8px 8px;
	display: inline-block;
	outline: none;
	/*border: 1px solid transparent;*/
	/*color: #666;*/

	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}

.input:focus,
textarea:focus {
/*	-webkit-box-shadow: 0 1px rgba(255,255,255,.5), inset 0 1px 5px #9ec8e8;
	-moz-box-shadow: 0 1px rgba(255,255,255,.5), inset 0 1px 5px #9ec8e8;
	box-shadow: 0 1px rgba(255,255,255,.5), inset 0 1px 5px #9ec8e8;
	border: solid 1px #96b9d4;*/
}

/*.input.disabled,
.input[disabled] {
	box-shadow: none;
	border: 1px solid #ccc;
	background-color: #eee;
}
*/


.property-content .input,
.property-content textarea {
	background-color : #464546;
	color            : #D0D0D0;
	border           : 1px solid #363536;
	box-shadow       : 0 1px 0 0 rgba(255,255,255,.05);
}

.property-content .input:hover,
.property-content textarea:hover {
	background-color : #414041;
	color            : #D0D0D0;
}

.property-content .input:focus,
.property-content textarea:focus {
	background-color : #353435;
	box-shadow       : inset 0 2px 0 0 rgba(0,0,0,.2), 0 1px 0 0 rgba(255,255,255,.05);
	color            : #EEE;
	border           : 1px solid #1e1e1e;
}

.property-content .input.disabled,
.proerty-content .input[disabled] {
	background-color: #383738;
	box-shadow: none;
	color: #666;
	border: 1px solid transparent;
}

.prefix-input {
	border: 1px solid #aaa;
	width: 200px;
	background: #f3f3f3;
	border-radius: 2px;
}

.prefix-input label {
	font-size: 12px;
	position: relative;
	top: 1px;
	left: 7px;
	margin: 0 12px 0 0;
	color: #999;
}

.prefix-input input {
	border: none;
	border-left: 1px solid #999;
	padding: 6px 0 6px 6px;
	width: 150px;
	font-size: 12px;
	outline: none;
	color: #666;
}

/* Placeholder-input */
.placeholder-input {
	position: relative;
	overflow: visible;
}

.placeholder {
	cursor: text;
	position: absolute;
	top: 4px;
	left: 6px;
	z-index: 1;
	height: 35px;
	padding: 4px;
	font-size: 12px;
	line-height: 20px;
	color: #999;
	white-space: nowrap;
}

.placeholder-hasContent .placeholder {
	font-size: 0 !important;
	z-index: -1;
	opacity: 0;
}

/* Textarea */
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
	width: 206px;
	/*height: 80px;*/
	padding: 5px;
	margin-bottom: 10px;
	/*border: 1px solid #999;*/
	font-size: 14px;
	line-height: 20px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	/*color: #555;*/
	vertical-align: middle;
	overflow: auto;
	outline: none;
	resize: none;
}

/* Checkbox & Radio */
.checkbox > input[type=checkbox],
.radio > input[type=radio] {
	visibility : hidden;
	position   : absolute;
	z-index    : -1;
}

.checkbox,
.radio {
	-webkit-user-select : none;
   	-moz-user-select : none;
	  -ms-user-select : none;

	position       : relative;
	display        : inline-block;
	vertical-align : middle;
	margin         : -2px 5px 0 0;
	width          : 16px;
	height         : 16px;
}

.checkbox > label,
.radio > label {
	display       : block;
	cursor        : pointer;
	width         : 14px;
	height        : 14px;
	border-radius : 2px;
	border        : 1px solid #999;
	/*box-shadow    : inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);*/
	background    : #fcfff4;
}

.checkbox > input:checked + label:after {
	content  : ' ';
	position : absolute;
	width    : 13px;
	height   : 13px;
	top      : 2px;
	left     : 2px;

	background : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAcklEQVQY02NgwA/YoJgoEA/Es4DYgJBCJSBeD8SboRinBiYg7kZS2IosyQ/Eakh8LySFq4FYHFlxGRBvBOJYqMRqJMU+yApNkSRAeC0Sux3dfSCTetE0wKyXxOWhMKhTYIr9CAUXyJMzgLgBagBBgDPGAI2LGdNt0T1AAAAAAElFTkSuQmCC');
	background-size: 100% 100%;
}

.radio > label {
	border-radius : 14px;
	/*box-shadow    : inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);*/
	background    : #fcfff4;
	display       : block;
}

.radio > input:checked + label:after {
	content       : ' ';
	position      : absolute;
	width         : 8px;
	height        : 8px;
	top           : 4px;
	left          : 4px;
	background    : #555;
	border-radius : 8px;
	opacity: 1;
}

.radio-wrap,
.checkbox-wrap {
	display: inline-block;
}

.property-content .radio label {
	/*border: 1px solid #171617;*/
	border-radius: 100%;
}

.property-content .radio label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	top: 4px;
	left: 4px;
	background-color: #474747;
	border-radius: 100%;
}

.property-content .disabled .radio label {
	background: #616161;
	border: 1px solid transparent;
}

.property-content .disabled .radio label:after {
	background: #484343;
}

.property-content .checkbox label {
	width: 14px;
	height: 14px;
	border-radius: 2px;
	/*border: 1px solid #343334;*/
}

.property-content .checkbox label,
.property-content .radio label {
	background: #d2d2d2;
	border: 1px solid transparent;
	box-shadow: none;
}

.property-content .checkbox:hover label,
.property-content .radio:hover label {
	background: #eee;
}

.property-content .checkbox label:after {
	width: 13px;
	height: 13px;
	top: 1px;
	left: 1px;
	background: transparent;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAcklEQVQY02NgwA/YoJgoEA/Es4DYgJBCJSBeD8SboRinBiYg7kZS2IosyQ/Eakh8LySFq4FYHFlxGRBvBOJYqMRqJMU+yApNkSRAeC0Sux3dfSCTetE0wKyXxOWhMKhTYIr9CAUXyJMzgLgBagBBgDPGAI2LGdNt0T1AAAAAAElFTkSuQmCC');
	background-size: 100% 100%;
}

.property-content .disabled .checkbox label {
	background: #616161;
}

.property-content .checkbox + label,
.property-content .radio + label {
	font-size: 14px;
	color: #d0d0d0;
}

/* Select */
.select {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAaUlEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEImJmZvwE1/UfHIHGQPNGGAbHCggULFrKxsf1ENgjEB4mD5EnxJoaByAZB5Yk3DNlAPj6+L8gGkWUYzMC3b982IRtEtmFQjaxYxDAwAGi4TwMYKNLfAAAAAElFTkSuQmCC');
	background-position: right center;
	background-repeat: no-repeat;
	width: 160px;
	height: 30px;
	display: inline-block;
	vertical-align: top;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	border: 1px solid #999;
}

.select select {
	text-align: left;
	width: 160px;
	font-size: 13px;
	padding: 5px 0;
	color: #666;
	-webkit-appearance: none;
	-webkit-padding-end: 20px;
	-webkit-padding-start: 6px;
	-moz-appearance: none;
	-moz-padding-end: 20px;
	-moz-padding-start: 6px;
	border: none;
	outline: none;
	background-color: transparent;
	overflow:hidden;
}

.firefox select {
	/* Firefix select hack */
	/* width + 30 to hide the select arrow */
	width: 200px;
}

.select option {
	background: #fcfcfc;
}

/* Scrollbar */
.scrollbar-veritical-wrap,
.scrollbar-horizontal-wrap {
	position: absolute;
	z-index: 30;
	background: rgba(100, 100, 100, 0.2);
	display: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.scrollbar-auto-hide > .scrollbar-veritical-wrap,
.scrollbar-auto-hide > .scrollbar-horizontal-wrap {
	-webkit-transition: opacity .25s;
	-moz-transition: opacity .25s;
	-ms-transition: opacity .25s;
	-o-transition: opacity .25s;
	transition: opacity .25s;
	opacity: 0;
}

.scrollbar-veritical-wrap {
	right: 0;
	top: 0;
	width: 8px;
	height: 100%;
}

.scrollbar-horizontal-wrap {
	left: 0;
	bottom: 0;
	height: 8px;
	width: 100%;
}

.scrolling {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
	pointer-events: none;
}

.scrolling.scrollbar-auto-hide > .scrollbar-veritical-wrap,
.scrolling.scrollbar-auto-hide > .scrollbar-horizontal-wrap,
.scrollbar-auto-hide.scroll-wrap:hover > .scrollbar-veritical-wrap,
.scrollbar-auto-hide.scroll-wrap:hover > .scrollbar-horizontal-wrap {
	opacity: 1;
}

.scrollbar-veritical-thumb,
.scrollbar-horizontal-thumb {
	position: relative;
	background-color: #999;
	border-radius: 4px;
}

.scrollbar-veritical-thumb {
	width: 8px;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	-o-transition: height 0.2s;
	transition: height 0.2s;
}

.scrollbar-horizontal-thumb {
	height: 8px;
	-webkit-transition: width 0.2s;
	-moz-transition: width 0.2s;
	-o-transition: width 0.2s;
	transition: width 0.2s;
}

.scroll-wrap {
	position: relative;
	overflow: hidden;
}

/* webkit scrollbar */
/*.webkit .scroll-wrap {
	overflow: auto;
}

.webkit .scrollbar-auto-hide {
	overflow: hidden;
}

.webkit .scrollbar-auto-hide.scroll-wrap:hover {
	overflow: auto;
}

.scroll-wrap::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.scroll-wrap::-webkit-scrollbar-track {
	background: rgba(200, 200, 200, 0.2);
}

.scroll-wrap::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 4px;
}

.scroll-wrap::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, .55);
}

.scroll-wrap::-webkit-scrollbar-corner {
	background: rgba(200, 200, 200, 0.2);
}

.scrollbar-auto-hide::-webkit-scrollbar-track {
	opacity: 0;
}*/

/* Tooltip */
#tooltip_box {
	background: #333;
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	color: #ccc;
	font-size: 14px;
	position: absolute;
	padding: 5px 10px;
	border-radius: 3px;
	z-index: 90;
	max-width: 250px;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid rgba(0, 0, 0, 0.8);
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid rgba(0, 0, 0, 0.8);
}

.arrow-left {
	width: 0;
	height: 0;
	border-right: 5px solid rgba(0, 0, 0, 0.8);
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
}

.tooltip-pointer {
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -3px;
}

/* Status icons */
.status,
.status-small,
.status-big {
	display: inline-block;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .2);
	box-shadow: 1px 1px 1px rgba(0,0,0, .2);
}

.status {
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

.status-small {

}

.status-big {

}

.icon-label {
	margin-right: 8px;
}

/* Stauts size is decided by context */
.status-component {
	width: 12px;
	height: 12px;
	border-radius: 6px;
}

.status-green {
	background-color: #78d248;
	background-image: -webkit-linear-gradient(bottom, #11a64d, #05d013);
	background-image: -moz-linear-gradient(bottom, #11a64d, #05d013);
	background-image: -o-linear-gradient(bottom, #11a64d, #05d013);
	background-image: -ms-linear-gradient(bottom, #11a64d, #05d013);
	background-image: linear-gradient(to top, #11a64d, #05d013);
}

.status-red {
	background-color: #f34c39;
	background-image: -webkit-linear-gradient(bottom, #e72222, #ff8d6f);
	background-image: -moz-linear-gradient(bottom, #e72222, #ff8d6f);
	background-image: -o-linear-gradient(bottom, #e72222, #ff8d6f);
	background-image: -ms-linear-gradient(bottom, #e72222, #ff8d6f);
	background-image: linear-gradient(to top, #e72222, #ff8d6f);
}

.status-blue {
	background-color: #2eafef;
	background-image: -webkit-linear-gradient(bottom, #008dde, #58cdfe);
	background-image: -moz-linear-gradient(bottom, #008dde, #58cdfe);
	background-image: -o-linear-gradient(bottom, #008dde, #58cdfe);
	background-image: -ms-linear-gradient(bottom, #008dde, #58cdfe);
	background-image: linear-gradient(to top, #008dde, #58cdfe);
}

.status-yellow {
	background-color: #d2c748;
	background-image: -webkit-linear-gradient(bottom, #d3be5c, #fbf819);
	background-image: -moz-linear-gradient(bottom, #d3be5c, #fbf819);
	background-image: -o-linear-gradient(bottom, #d3be5c, #fbf819);
	background-image: -ms-linear-gradient(bottom, #d3be5c, #fbf819);
	background-image: linear-gradient(to top, #d3be5c, #fbf819);
}

.status-grey {
	background-color: #a0a0a0;
	background-image: -webkit-linear-gradient(bottom, #808080, #bababa);
	background-image: -moz-linear-gradient(bottom, #808080, #bababa);
	background-image: -o-linear-gradient(bottom, #808080, #bababa);
	background-image: -ms-linear-gradient(bottom, #808080, #bababa);
	background-image: linear-gradient(to top, #808080, #bababa);
}

.status-orange {
	background-color: #ff9c00;
	background-image: -webkit-linear-gradient(bottom, #ff6c00, #f4b13d);
	background-image: -moz-linear-gradient(bottom, #ff6c00, #f4b13d);
	background-image: -o-linear-gradient(bottom, #ff6c00, #f4b13d);
	background-image: -ms-linear-gradient(bottom, #ff6c00, #f4b13d);
	background-image: linear-gradient(to top, #ff6c00, #f4b13d);
}

/* Modal */
#modal-box {
	position: absolute;
	color: #999;
	border-radius: 4px;
	background: #f0f0f0;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
	z-index: 70;
}

#modal-box #bubble-box {
	z-index: 80;
}

.modal-header .modal-close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-style: normal;
	cursor: pointer;
	font-size: 20px;
	line-height: 20px;
}

.modal-header {
	position: relative;
	padding: 0px 10px;
	background: #f0f0f0;
	box-shadow: inset 0 1px 0 #fff;
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid #cfcfcf;
	color: #9b9b9b;
	text-shadow: 0 1px 0 #fff;
}

.modal-header h3 {
	font-size: 16px;
}

.modal-body {
	padding: 5px 15px 10px 15px;
	background: #fff;
	border-bottom: 1px solid #cfcfcf;
	min-height: 100px;
}

.modal-text-wraper {
	display: table;
	height: 100px;
	width: 390px;
	position: absolute;
	overflow: hidden;
}
.modal-center-align-helper {
	display: table-cell;
	vertical-align: middle;
}

.modal-text {
	font-size: 16px;
	color: #666;
}

.modal-body .dl-horizontal dt,
.modal-body .dl-horizontal dd {
	margin-top: 10px;
}

.modal-body .dl-horizontal dt {
	width: 120px;
}

.modal-body .dl-horizontal dd {
	margin-left: 130px;
}

.modal-footer {
	padding: 5px;
	text-align: right;
}

#modal-wrap {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 70;
	background-color: rgba(0, 0, 0, 0.8);
}

/* tablist */
[data-tab-target] { cursor : pointer; }

/* Accordion */
.accordion-body {
	display: none;
	overflow: hidden;
}

.accordion-group {
	position: relative;
}

.accordion-group.expanded .accordion-body {
	display: block;
}

.accordion-head {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* Accordion default style */
.accordion-default .accordion-head {
	border: 1px solid #ccc;
	padding: 10px;
	font-weight: 700;
	color: #333;
}

.accordion-default .accordion-body {
	padding: 10px;
	/*color: #e0e0e0;*/
}

/* Option Group & Fixedaccordion */

.option-group-head:before {
	display          : block;
	content          : " ";
	width            : 0;
	height           : 0;
	border           : 4px solid transparent;
	border-left-color : #999;
	position         : absolute;
	left             : 10px;
	top              : 50%;
	margin-top       : -4px;
}

.option-group-head.expand:before {
	display          : block;
	content          : " ";
	width            : 0;
	height           : 0;
	border           : 4px solid transparent;
	border-top-color : #999;
	position         : absolute;
	left             : 8px;
	top              : 50%;
	margin-top       : -1px;
}

.option-group-head,
.fixedaccordion-head {
	background-color : #3c3c3c;
	border-bottom    : 1px solid #313131;
	color            : #c5c9c5;
	text-shadow      : 0 1px rgba(30,34,40,.75);
	box-shadow       : 0 2px 0 rgba(0,0,0,.1), inset 0 1px 0 0 rgba(255,255,255,.1);

	cursor              : pointer;
	-webkit-user-select : none;
	-moz-user-select    : none;
	-ms-user-select     : none;
	-o-user-select      : none;
	user-select         : none;
	overflow            : hidden;

	height      : 37px;
	line-height : 37px;
	padding     : 0 10px;

	-webkit-transition : background-color .2s ease-in-out;
	-moz-transition    : background-color .2s ease-in-out;
	-ms-transition     : background-color .2s ease-in-out;
	-o-transition      : background-color .2s ease-in-out;
	transition         : background-color .2s ease-in-out;
}

.option-group-head {
	position : relative;
	padding: 0 10px 0 24px;
}

.option-group,
.fixedaccordion .accordion-body {
	/*background-color : #545554;*/
	box-shadow       : inset 0 0 6px rgba(0,0,0,.2);
    border-bottom    : 1px solid #313131;
}

.option-group:last-child {
	border-bottom: none;
}

.fixedaccordion .accordion-body {
	position         : relative;
	display          : none;
	overflow         : hidden;
}

.fixedaccordion .expanded .accordion-body {
	display: block;
}


.expanded .fixedaccordion-head {
	cursor: default;
}

.option-group-head.expand,
.option-group-head:hover,
.expanded .fixedaccordion-head,
.fixedaccordion-head:hover {
	background-color: #383838;
	color: #f0f0f0;
}


/* Notification */
#notification_wrap {
    color: #FFF;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 100;
}

.notification_item {
    height: 35px;
    line-height: 35px;
    width: 850px;
    position: relative;
    margin: 0 auto;
}

#notification_wrap .error_item {
    background: #b94a48;
}

#notification_wrap .warning_item {
    background: #c09853;
}

#notification_wrap .info_item {
    background: #3a87ad;
}

.notification_item .notification_close {
    position: absolute;
    right: 10px;
    font-style: normal;
    cursor: pointer;
}

.notification_item a {
    text-decoration: underline;
    color: #FFF;
}

/* Vertical Definition List*/
.dl-vertical {
	line-height : 20px;
	margin      : 2px 0;
	color       : #758694;
	background  : #fefefe;
	padding     : 10px;
}

.dl-vertical > dt {
	font-size   : 14px;
	color       : #999;
}

.dl-vertical > dd {
	font-size : 12px;
	color     : #666;
	margin    : 5px 0 5px 10px;
}

.dl-vertical > dd > .status {
	margin-right : 5px;
}

.dl-vertical:nth-of-type(2n+1) {
	background : #f6f5f5;
}

.dl-vertical .truncate {
	width : 100%;
	margin-bottom : 0;
}

/* Horizontal Definition List */
.dl-horizontal {
	line-height: 20px;
}

.dl-horizontal dt {
	/*font-style: bold;*/
	color: #999;
}

.dl-horizontal:before,
.dl-horizontal:after {
	display: table;
	line-height: 0;
	content: "";
}

.dl-horizontal:after {
	clear: both;
}

.dl-horizontal dt {
	float: left;
	width: 110px;
	overflow: hidden;
	clear: left;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dl-horizontal dd {
	margin-left: 130px;
	color: #666;
}

/* Bubble */
#bubble-box {
	background: #fff;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	border: 1px solid #d4d4d4;
	color: #999;
	font-size: 12px;
	position: absolute;
	border-radius: 4px;
	z-index: 85;
	min-width: 250px;
	max-width: 400px;
}

.bubble-head {
	padding: 8px 10px;
	font-size: 14px;
	font-weight: normal;
	/*background-color: #F7F7F7;*/
	border-bottom: 1px solid #EBEBEB;
	border-radius: 5px 5px 0 0;
	color: #333;
}

.bubble-head.alert {
	color: #F74A48;
	border: none;
	padding-bottom: 0;
}

.bubble-head.suggest {
	color: #3892E3;
	border: none;
	padding-bottom: 0;
}

.bubble-content {
	padding: 5px 10px;
}

.bubble-content {
	font-size: 12px;
}

.arrow,
.arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: rgba(0, 0, 0, 0);
	border-style: solid;
}

.bubble-left .arrow {
	border-width: 11px;
	top: 50%;
	left: -11px;
	margin-top: -11px;
	border-right-color: #ccc;
	border-left-width: 0;
}

.bubble-left .arrow:after {
	border-width: 10px;
	content: "";
	bottom: -10px;
	left: 1px;
	border-right-color: #fff;
	border-left-width: 0;
}

.bubble-right .arrow {
	border-width: 11px;
	top: 50%;
	right: -11px;
	margin-top: -11px;
	border-left-color: #ccc;
	border-right-width: 0;
}

.bubble-right .arrow:after {
	border-width: 10px;
	content: "";
	bottom: -10px;
	right: 1px;
	border-left-color: #fff;
	border-right-width: 0;
}

/* Editable Label */
.editable-label {
	height: 20px;
	width: 200px;
	/*margin-top: 15px;*/
	cursor: pointer
}

.editable-label input {
	padding: 0;
	width: 100%;
	height: 100%;
}

/* Selectbox V2 */
.selectbox {
	position       : relative;
	display        : inline-block;
	white-space    : nowrap;
	vertical-align : middle;
	color          : #555;
}

.selectbox .selection {
	position      : relative;
	border        : 1px solid rgba(0, 0, 0, 0.2);
	/*box-shadow    : 1px 1px 1px rgba(0, 0, 0, 0.05);*/
	font-size     : 12px;
	cursor        : pointer;
	padding       : 5px;

	-webkit-user-select : none;
     -moz-user-select   : none;
	        user-select : none;
}

.selectbox .selection:after {

	display : block;
	content : " ";
	width   : 0;
	height  : 0;

	border           : 4px solid transparent;
	border-top-color : #999;

	position   : absolute;
	right      : 6px;
	top        : 50%;
	margin-top : -2px;
}

.selectbox .dropdown {
	display    : none;
	position   : absolute;
	left       : 0;
	width      : 100%;
	min-width  : 160px;
	background : #fff;
	margin-top : 1px;
	z-index    : 9999;
	border     : 1px solid #ccc;
	box-shadow : 0 8px 10px rgba(0,0,0,.3);
	box-sizing : border-box;
}

.selectbox .item {
	display     : block;
	clear       : both;
	line-height : 20px;
	color       : #333333;
	white-space : nowrap;
	cursor      : pointer;
	padding     : 5px;
}

.selectbox .dropdown .item:hover,
.selectbox .dropdown .item:focus,
.selectbox .dropdown .item.selected,
.selectbox .dropdown .item.focused {
	background : #eee;
}

.selectbox.open .dropdown,
.selectbox.open .editor {
	display: block;
}

/* Selectbox Legacy */
.selectbox.open .dropdown-menu,
.selectbox.open .editor {
	display: block;
	z-index: 50;
}

.selectbox > .editor {
	display: none;
	position: absolute;
	top: 153px;
	width: 212px;
	z-index: 51;
	padding: 8px;
	background: #eee;
	border: 1px solid #ccc;
	box-shadow: 0 8px 10px rgba(0,0,0,.3);
}

.editor > .editbtn {
	display: block;
	color: #0F7BFF;
}

.editor > .edit {
	display: none;
}

.selectbox .editor .input {
	width   : 100%;
	padding : 4px 20px 4px 4px;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.editor .btn {
	width       : 30px;
	height      : 26px;
	line-height : 18px;
	font-size   : 12px;
	padding     : 0;
	margin-left : 5px;
	float       : right;
}

.property-content .selectbox .selection {
	border        : 1px solid #363536;
	box-shadow    : inset 0 1px 0 0 rgba(255, 255, 255, 0.05);
	border-radius : 2px;

	padding: 8px;

	font-size     : 14px;
	color         : #d0d0d0;

	background : #464546;

	-webkit-transition: background .2s;
	-moz-transition: background .2s;
	-ms-transition: background .2s;
	-o-transition: background .2s;
	transition: background .2s;
}

.property-content .selectbox .selection:hover {
	background: #414041;
}


/* Radio Buttons */

.radiobuttons {
	font-size: 0;
}

.radiobuttons button {
	font-size: 12px;
	border-radius: 0;
	border-right: none;
	padding: 4px 0;
}

.radiobuttons button:first-child {
	border-radius: 4px 0 0 4px;
}

.radiobuttons button:last-child {
	border-radius: 0 4px 4px 0;
	border-right: 1px solid #C3C3C3;
}

.radiobuttons button.active {
	background-image: -o-linear-gradient(-90deg, #38B6FF 0%, #1F95ED 100%);
	background-image: -moz-linear-gradient(-90deg, #38B6FF 0%, #1F95ED 100%);
	background-image: -webkit-linear-gradient(-90deg, #38B6FF 0%, #1F95ED 100%);
	background-image: -ms-linear-gradient(-90deg, #38B6FF 0%, #1F95ED 100%);
	background-image: linear-gradient(-180deg, #38B6FF 0%, #1F95ED 100%);
	color: #fff;
	text-shadow: none;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #3177B5;

}

/* toggleicon */
.toggle-fav {
	position: absolute;
	top: -2px;
	right: 5px;
	width: 16px;
	height: 16px;
	background: url('../images/ide/btn-fav-ami-unfaved-normal.png');
}

.toggle-fav:hover {
	top: -3px;
	right: 3px;
	width: 20px;
	height: 20px;
	background: url('../images/ide/btn-fav-ami-unfaved-hover.png');
}

.toggle-fav.faved {
	background: url('../images/ide/btn-fav-ami-faved-normal.png');
}

.toggle-fav.faved:hover {
	background: url('../images/ide/btn-fav-ami-faved-hover.png');
}

/* searchbar */
.search-bar {
	position: absolute;
	right: 0;
	top: 0;
	height: 43px;
	width: 43px;
	overflow: hidden;
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(top, #FFF, #E6E6E6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, #FFF, #E6E6E6);
	background-image: -o-linear-gradient(top, #FFF, #E6E6E6);
	background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
	background-repeat: repeat-x;
	border-left: 1px solid #ccc;
}

.search-bar:hover {
	background-image: none;
	background-color: #E6E6E6;
}

.search-bar .icon-search {
	display: block;
	position: absolute;
	height: 43px;
	width: 43px;
	cursor: pointer;
	text-align: center;
	line-height: 43px;
}

.search-bar.open .icon-search {
	cursor: default;
}

.search-bar input {
	display: block;
	position: absolute;
	border: none;
	left: 43px;
	width: 193px;
	border: none;
	font-size: 12px;
	padding: 15px 8px;
}

.search-bar input:focus {
	border: none;
}

.search-bar .icon-cancel {
	display: block;
	line-height: 30px;
	cursor: pointer;
	position: absolute;
	left: 224px;
	top: 8px;
}

#secondary-panel-wrap {
	display: none;
	position: absolute;
	width: 0;
	top: 0;
	right: 0;
}

/* added by song */

/* Slider */

.slider {
	background-color: #fff;
	border-radius: 0px;
	height: 2px;
	width: 240px;
	border: 1px #bbb solid;
	border-left: 0;
	border-right: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: default;
}

.slider .slider-controll {
	background-color: #aaa;
	border-radius: 5px;
	height: 10px;
	width: 10px;
	border: 0;
	position: absolute;
	z-index: 99;
	margin-top: -5px;
	margin-left: -10px;
	border: 1px #bbb solid;
}

.slider-line {
	list-style: none;
	position: absolute;
	margin: 0;
	padding: 0;
	margin-top: -8px;
	margin-left: -5px;
	width: 500px;
}

.slider-line li {
	float: left;
	width: 29px;
	height: 20px;
	border-left: 1px #ccc solid;
	color: #888;
	line-height: 60px;
}

.slider-line li span {
	margin-left: -5px;
}

.slider-wrap {
	width: 10px;
	height: 2px;
	border: 1px #bbb solid;
	position: absolute;
	border-left: 0;
	border-right: 0;
	margin-top: -1px;
	margin-left: -7px;
}

.property-control-group-sub {
	padding-left : 20px;
}

.property-control-group-sub .property-control-group {
	width : auto;
}

.property-control-group-sub .property-control-group .input {
	width : 200px;
}

.property-control-group-sub .multi-ipt-row .input {
	width : 168px;
}

.property-control-group-sub .selectbox {
	width : 230px;
}

/* Multi Input Box */
.multi-ipt-row {
	margin-bottom : 5px;
}

.multi-ipt-row .ipt-controls {
	float : right;
	width : 36px;
	line-height : 38px;
}

.multi-ipt-row .ipt-wrapper {
	display  : block;
	overflow : hidden;
}

.multi-ipt-row .ipt-wrapper input {
	display : block;
	width   : 100% !important;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.multi-ipt-row:first-child:last-child .icon-del {
	display : none;
}

.multi-input .icon-del,
.multi-input .icon-add {
	display     : inline-block;
	width       : 16px;
	height      : 16px;
	margin-left : 2px;

	position : relative;
}

.multi-input .icon-add {
	display : none;
}
.multi-input.max .icon-add {
	display : none !important;
}
.multi-input :last-child .icon-add {
	display : inline-block;
}

.multi-input .icon-del:before,
.multi-input .icon-del:after,
.multi-input .icon-add:before,
.multi-input .icon-add:after {
	position   : absolute;
	width      : 10px;
	height     : 4px;
	background : #999;
	content    : " ";
	top        : 6px;
	left       : 3px;
}

.multi-input .icon-add:after {
	width  : 4px;
	height : 10px;
	top    : 3px;
	left   : 6px;
}

.multi-input .icon-del:before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.multi-input .icon-del:after {
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.multi-input .icon-del:hover:before,
.multi-input .icon-del:hover:after {
	background : red;
}

.multi-input .icon-add:hover:before,
.multi-input .icon-add:hover:after {
	background : #34E093;
}

/* TEMPARORY PROPERTY !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.icon-copy {
	position   : absolute;
	right      : -16px;
	top        : 2px;
	background : red;
	width      : 16px;
	height     : 16px;
	cursor     : pointer;
}

/* jqPagination */
.pagination {
	float: left;
	border: 1px solid #CDCDCD;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.pagination a {
	display: block;
	float: left;
	height: 20px;
	width: 20px;
	background-color: rgb(0,50,75);
	color: #555555;
	text-align: center;
	text-decoration: none;
	font-family: Times, 'Times New Roman', Georgia, Palatino; /* ATTN: need a better font stack */
	font-weight: bold;
	font-size: 16px;
	outline: none;
	vertical-align: middle;

	background: #F3F3F3; /* Old browsers */
	background: -moz-linear-gradient(top,  #F3F3F3 0%, #D3D3D3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3F3F3), color-stop(100%,#D3D3D3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* IE10+ */
	background: linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3F3F3', endColorstr='#D3D3D3',GradientType=0 ); /* IE6-9 */

}

.pagination a:hover, .pagination a:focus, .pagination a:active {

	background: #CECECE; /* Old browsers */
	background: -moz-linear-gradient(top,  #E4E4E4 0%, #CECECE 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E4E4E4), color-stop(100%,#CECECE)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #E4E4E4 0%,#CECECE 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #E4E4E4 0%,#CECECE 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #E4E4E4 0%,#CECECE 100%); /* IE10+ */
	background: linear-gradient(top,  #E4E4E4 0%,#CECECE 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E4E4E4', endColorstr='#CECECE',GradientType=0 ); /* IE6-9 */

}

.pagination a.disabled, .pagination a.disabled:hover, .pagination a.disabled:focus, .pagination a.disabled:active {

	background: #F3F3F3; /* Old browsers */
	background: -moz-linear-gradient(top,  #F3F3F3 0%, #D3D3D3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3F3F3), color-stop(100%,#D3D3D3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* IE10+ */
	background: linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3F3F3', endColorstr='#D3D3D3',GradientType=0 ); /* IE6-9 */

	color: #A8A8A8;

}

.pagination a:first-child {
	border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	-webkit-border-radius: 2px 0 0 2px;
}

.pagination a:last-child {
	border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	-webkit-border-radius: 0 2px 2px 0;
}

.pagination a {
	border-right: 1px solid #CDCDCD;
	border-left: 1px solid #CDCDCD;
}

.pagination a:first-child {
	border: none;
}

.pagination a:last-child {
	border: none;
}

.pagination input {
	border: none;
	float: left;
	text-align: center;
	height: 20px;
	outline: none;
	vertical-align: middle;
	width: 120px;
	padding: 0;
	margin: 0;
}

/* gigantic class for demo purposes */

.gigantic.pagination {
	margin: 30px 0;
}

.gigantic.pagination a {
	height: 60px;
	width: 60px;
	font-size: 50px;
	line-height: 50px;
}

.gigantic.pagination input {
	width: 300px;
	height: 60px;
	font-size: 30px;
}

/* log element for demo purposes */

.log {
	display: none;
	background-color: #EDEDED;
	border: 1px solid #B4B4B4;
	height: 300px;
	width: 524px;
	overflow: auto;
	margin-left: 0;
	list-style: none;
	padding: 10px;
}
