<article class="property-app">
  <div class="option-group-head expand">{{i18n "PROP_INSTANCE_DETAIL"}}
  <a href="#" class="icon-syslog tooltip property-btn-get-system-log action-link" data-tooltip="{{i18n 'PROP_INSTANCE_TIP_GET_SYSTEM_LOG'}}" ></a>
</div>
  <div class="option-group">
    <dl class="dl-vertical">
      <dt>{{i18n "PROP_INSTANCE_INSTANCE_ID"}}</dt>
      <dd>{{instanceId}}</dd>

      <dt>{{i18n "PROP_INSTANCE_STATE"}}</dt>
      <dd><i class="status status-{{state}}"></i>{{state}}</dd>

      <dt>{{i18n "PROP_INSTANCE_LAUNCH_TIME"}}</dt>
      <dd>{{timeStr launchTime}}</dd>
    </dl>

    <dl class="dl-vertical">
      <dt>{{i18n "PROP_INSTANCE_PRIMARY_PUBLIC_IP"}}</dt>
      <dd>{{emptyStr ipAddress}}</dd>

      <dt>{{i18n "PROP_INSTANCE_PUBLIC_DNS"}}</dt>
      <dd class="click-select tooltip" data-tooltip="{{i18n 'PROP_ELB_TIP_CLICK_TO_SELECT_ALL'}}">{{emptyStr dnsName}}</dd>

      <dt>{{i18n "PROP_INSTANCE_PRIMARY_PRIVATE_IP"}}</dt>
      <dd>{{emptyStr privateIpAddress}}</dd>

      <dt>{{i18n "PROP_INSTANCE_PRIVATE_DNS"}}</dt>
      <dd class="click-select tooltip" data-tooltip="{{i18n 'PROP_ELB_TIP_CLICK_TO_SELECT_ALL'}}">{{emptyStr privateDnsName}}</dd>
    </dl>

    <dl class="dl-vertical">
      <dt>{{i18n "PROP_INSTANCE_AMI"}}</dt>
      <dd><a href="#" data-uid="{{imageId}}" id="property-app-ami">{{imageId}}</a><dd>

      <dt>{{i18n "PROP_INSTANCE_TYPE"}}</dt>
      <dd>{{instanceType}}</dd>

      <dt>{{i18n "PROP_INSTANCE_KEY_PAIR"}}</dt>
      {{#if app_view}}
      <dd>{{#if keyName}}{{keyName}}{{else}}No Key Pair{{/if}}</dd>
      {{else}}
      <dd>
        {{#if keyName}}
          {{#if loginCmd}}
          <a href="#" class="icon-download" id="property-app-keypair">{{keyName}}</a>
          {{else}}
            {{#if windows}}
              <a href="#" class="icon-download" id="property-app-keypair">{{keyName}}</a>
            {{else}}
              {{keyName}}
            {{/if}}
          {{/if}}
        {{else}}
          No Key Pair
        {{/if}}
      </dd>
      {{/if}}

    </dl>

    <dl class="dl-vertical">
      <dt>{{i18n "PROP_INSTANCE_EBS_OPTIMIZED"}}</dt>
      <dd>{{emptyStr ebsOptimized}}<dd>

      <dt>{{i18n "PROP_INSTANCE_TENANCY"}}</dt>
      <dd>{{emptyStr placement.tenancy}}</dd>

      <dt>{{i18n "PROP_INSTANCE_ROOT_DEVICE_TYPE"}}</dt>
      <dd>{{emptyStr rootDeviceType}}</dd>

      <dt>{{i18n "PROP_INSTANCE_BLOCK_DEVICE"}}</dt>
      <dd>{{emptyStr blockDevice}}</dd>
    </dl>
  </div>

  {{#if rootDevice}}
  <div class="option-group-head">Root Device</div>
  <div class="option-group">
    <article class="property-app">
      <dl class="dl-vertical">
        <dt>{{i18n "PROP_VOLUME_ID"}}</dt>
        <dd>{{emptyStr rootDevice.volumeId}}</dd>
        <dt>{{i18n "PROP_VOLUME_DEVICE_NAME"}}</dt>
        <dd>{{emptyStr rootDevice.name}}</dd>
        <dt>{{i18n "PROP_VOLUME_STATE"}}</dt>
        <dd><i class="status status-{{rootDevice.status}}"></i>{{rootDevice.status}}</dd>
        <dt>{{i18n "PROP_VOLUME_CREATE_TIME"}}</dt>
        <dd>{{timeStr rootDevice.createTime}}</dd>
      </dl>
      <dl class="dl-vertical">
        <dt>{{i18n "PROP_VOLUME_TYPE"}}</dt>
        <dd>{{emptyStr rootDevice.volumeType}}</dd>
        {{#if rootDevice.snapshotId}}
        <dt>{{i18n "PROP_VOLUME_SNAPSHOT_ID"}}</dt>
        <dd>{{rootDevice.snapshotId}}</dd>
        {{/if}}
        <dt>{{i18n "PROP_VOLUME_SIZE"}}</dt>
        <dd>{{emptyStr rootDevice.size}} GB</dd>
        {{#if rootDevice.iops}}
        <dt>IOPS</dt>
        <dd>{{rootDevice.iops}}</dd>
        {{/if}}
      </dl>
      <dl class="dl-vertical">
        <dt>{{i18n "PROP_VOLUME_ATTACHMENT_STATE"}}</dt>
        <dd>{{emptyStr rootDevice.attachmentSet.item.0.status}}</dd>
        <dt>{{i18n "PROP_VOLUME_INSTANCE_ID"}}</dt>
        <dd>{{emptyStr rootDevice.attachmentSet.item.0.instanceId}}</dd>
        <dt>{{i18n "PROP_VOLUME_ATTACHMENT_TIME"}}</dt>
        <dd>{{timeStr rootDevice.attachmentSet.item.0.attachTime}}</dd>
      </dl>
    </article>
  </div>
  {{/if}}

  {{#if eni}}
  <div class="option-group-head">{{i18n "PROP_INSTANCE_ENI_DETAIL"}}</div>
  <div class="option-group">
    <dl class="dl-vertical">
      <dt>{{i18n "PROP_ENI_DEVICE_NAME"}}</dt>
      <dd>{{eni.name}}</dd>

      <dt>{{i18n "PROP_ENI_ID"}}</dt>
      <dd>{{eni.networkInterfaceId}}</dd>

      <dt>{{i18n "PROP_ENI_STATE"}}</dt>
      <dd><i class="status status-{{eni.status}}"></i>{{eni.status}}</dd>

      {{#if eni.description}}
      <dt>{{i18n "PROP_ENI_LBL_DESC"}}</dt>
      <dd>{{eni.description}}</dd>
      {{/if}}

      <dt>{{i18n "PROP_INSTANCE_ENI_SOURCE_DEST_CHECK_DISP"}}</dt>
      <dd>{{eni.sourceDestCheck}}</dd>
    </dl>

    <div class="hidden-details">
      <a href="#" class="toggle-details js-toggle-dropdown" data-toggle="self-only"><span class="details-off">+ {{ i18n "PROP_ENI_SHOW_DETAIL" }}</span><span class="details-on">- {{ i18n "PROP_ENI_HIDE_DETAIL" }}</span></a>

      <dl class="dl-vertical">
        <dt>{{ i18n "PROP_ENI_VPC_ID" }}</dt>
        <dd>{{eni.vpcId}}</dd>

        <dt>{{ i18n "PROP_ENI_SUBNET_ID" }}</dt>
        <dd>{{eni.subnetId}}</dd>

        {{#if eni.attachment}}
        <dt>{{ i18n "PROP_ENI_ATTACHMENT_ID" }}</dt>
        <dd>{{emptyStr eni.attachment.attachmentId}}</dd>

        <dt>{{ i18n "PROP_ENI_Attachment_OWNER" }}</dt>
        <dd>{{emptyStr eni.instanceOwnerId}}</dd>

        <dt>{{ i18n "PROP_ENI_Attachment_STATE" }}</dt>
        <dd>{{emptyStr eni.attachment.status}}</dd>
        {{/if}}
      </dl>
      <dl class="dl-vertical">
        <dt>{{ i18n "PROP_ENI_MAC_ADDRESS" }}</dt>
        <dd>{{emptyStr eni.macAddress}}</dd>

        {{#if eni.association.publicDnsName}}
        <dt>{{i18n "PROP_INSTANCE_PUBLIC_DNS"}}</dt>
        <dd>{{eni.association.publicDnsName}}</dd>
        {{/if}}
        {{#if eni.privateDnsName}}
        <dt>{{i18n "PROP_INSTANCE_PRIVATE_DNS"}}</dt>
        <dd>{{eni.privateDnsName}}</dd>
        {{/if}}
        {{#if eni.ownerId}}
        <dt>{{ i18n "PROP_ENI_IP_OWNER" }}</dt>
        <dd>{{eni.ownerId}}</dd>
        {{/if}}
      </dl>
    </div>
    <table class="table table-small">
      <tr>
        <th>{{i18n "PROP_INSTANCE_ENI_IP_ADDRESS"}}</th>
        <th>{{i18n "PROP_INSTANCE_PUBLIC_IP"}}</th>
      </tr>
      {{#each eni.privateIpAddressesSet.item}}
      <tr>
        <td>{{privateIpAddress}}{{#if primary}}<span>(Primary)</span>{{/if}}</td>
        <td>{{#if association.publicIp}}{{association.publicIp}}{{else}}-{{/if}}</td>
      </tr>
      {{/each}}
    </table>

  </div>
  {{/if}}

  <div class="option-group-head"> {{i18n "PROP_INSTANCE_SG_DETAIL"}}<span class="property-head-num-wrap">(<span id="property-head-sg-num"></span>)</span></div>
  <div class="option-group sg-group"></div>

</article>
