<li class="input-ip-item">
	<div class="name tooltip" data-tooltip={{#if customizable}}"{{i18n 'PROP_INSTANCE_IP_MSG_1'}}"{{else}}"{{i18n 'PROP_INSTANCE_IP_MSG_2'}}"{{/if}}>
		<label><span class="input-ip-prefix">{{prefix}}</span>
		<input type="text" class="input input-ip" {{#unless customizable}}disabled="disabled"{{/unless}} value="{{suffix}}" data-ignore="true" data-ignore-regexp="^[0-9.x]*$">
    </label>
	</div>

  {{#if has_eip}}
  <div class="input-ip-eip-btn toggle-icon tooltip toggle-eip associated" data-tooltip="{{i18n 'PROP_INSTANCE_IP_MSG_4'}}" data-toggletext="{{i18n 'PROP_INSTANCE_IP_MSG_3'}}" data-toggleactive="{{i18n 'PROP_INSTANCE_IP_MSG_4'}}" data-toggleclass="associated"></div>
  {{else}}
  <div class="input-ip-eip-btn toggle-icon tooltip toggle-eip" data-tooltip="{{i18n 'PROP_INSTANCE_IP_MSG_3'}}" data-toggletext="{{i18n 'PROP_INSTANCE_IP_MSG_3'}}" data-toggleactive="{{i18n 'PROP_INSTANCE_IP_MSG_4'}}" data-toggleclass="associated"></div>
  {{/if}}


	{{#if deletable}}<div class="icon-remove"></div>{{/if}}
</li>
