<article>

  {{#unless isStack}}
  <dl class="dl-horizontal dl-region-type property-control-group">
    <dt><label>{{ i18n "PROP_STACK_LBL_REGION" }}</label></dt>
    <dd>{{region}}</dd>
    <dt><label>{{ i18n "PROP_STACK_LBL_TYPE" }}</label></dt>
    <dd>{{type}}</dd>
    <dt><label>{{ i18n "PROP_APP_LBL_ID" }}</label></dt>
    <dd>{{id}}</dd>
    {{#if usage}}
    <dt><label>{{ i18n "PROP_STACK_LBL_USAGE" }}</label></dt>
    <dd style="text-transform: capitalize">{{usage}}</dd>
    {{/if}}
    <dt><label>{{ i18n "PROP_STACK_LBL_DESC"}}</label></dt>
    <dd>{{description}}</dd>
  </dl>
  {{else}}
	<section class="property-control-group" data-bind="true">
		<label class="left" for="property-stack-name">{{ i18n "PROP_STACK_LBL_NAME" }}</label>
		<input class="input" type="text" data-ignore="true" data-required-rollback="true" value="{{name}}" id="property-stack-name">
	</section>
    <section class="property-control-group" data-bind="true">
        <label for="property-stack-description">{{ i18n "PROP_STACK_LBL_DESCRIPTION"}}</label>
        <textarea name="" id="property-stack-description" cols="30" rows="7">{{description}}</textarea>
    </section>
	<dl class="dl-horizontal dl-region-type property-control-group">
		<dt><label>{{ i18n "PROP_STACK_LBL_REGION" }}</label></dt><dd>{{region}}</dd>
		<dt><label>{{ i18n "PROP_STACK_LBL_TYPE" }}</label></dt><dd>{{type}}</dd>
    <dt><label>{{ i18n "PROP_STACK_LBL_ID" }}</label></dt><dd>{{id}}</dd>
	</dl>
  {{/unless}}

	<!-- SG, ACL, COST -->
	<div class="option-group-head">{{ i18n "PROP_STACK_TIT_SG" }}<span class="property-head-num-wrap">(<span id="property-head-sg-num"></span>)</span></div>
  <div class="option-group sg-group"></div>


	{{#if networkAcls}}
	<div class="option-group-head pos-r">{{ i18n "PROP_STACK_TIT_ACL" }}<span class="property-head-num-wrap">({{networkAcls.length}})</span>
	</div>
	<div class="option-group">
    <ul class="acl-sg-info-list acl-info-list property-list" id="stack-property-acl-list"></ul>
    {{#unless isApp}}<a href="#" class="add-to-list action-link" id="stack-property-new-acl">{{ i18n "PROP_STACK_BTN_CREATE_NEW_ACL" }}</a>{{/unless}}
  </div>
	{{/if}}


  {{#if isApp}}
  <div class="option-group-head">{{ i18n "PROP_STACK_TIT_SNS" }}<span class="property-head-num-wrap">({{#if subscription}}{{subscription.length}}{{else}}0{{/if}})</span></div>
  <div class="option-group">
    {{#if subscription}}
    <div class="property-group-head">SNS Topic</div>
    <div class="property-control-group">
      <dl class="dl-vertical">
        <dt>SNS Topic Name</dt>
        <dd>{{snstopic.name}}</dd>
        <dt>SNS Topic ARN</dt>
        <dd class="click-select tooltip" data-tooltip="{{i18n 'PROP_ELB_TIP_CLICK_TO_SELECT_ALL'}}">{{snstopic.arn}}</dd>
      </dl>
    </div>
    <div class="property-group-head">Subscription</div>
    <ul class="property-list">
    {{#each subscription}}
      <li>
        <dl class="dl-horizontal dl-region-type">
          <dt><label>Protocol</label></dt><dd class="protocol">{{protocol}}</dd>
          <dt><label>Endpoint</label></dt><dd class="endpoint truncate">{{endpoint}}</dd>
          <dt><label>Confirmed</label></dt><dd class="">{{#if confirmed}}True{{else}}False{{/if}}</dd>
        </dl>
      </li>
    {{/each}}
    </ul>
    {{else}}
    <div class="property-control-group">
      <p class="property-info tac">{{ i18n "PROP_APP_SNS_NONE" }}</p>
    </div>
    {{/if}}
  </div>
  {{else}}
	<div class="option-group-head">{{ i18n "PROP_STACK_TIT_SNS" }}<span class="property-head-num-wrap">(<span id="property-stack-sns-num">{{subscription.length}}</span>)</span></div>
  <div class="option-group">

  	<ul id="property-sub-list" class="property-list">
      <li class="pos-r hide">
      	<dl class="dl-horizontal dl-region-type">
	        <dt><label>Protocol</label></dt><dd class="protocol"></dd>
	        <dt><label>Endpoint</label></dt><dd class="endpoint truncate"></dd>
        </dl>
        <div class="sns-action">
          {{#if isStack}}
            <i class="icon-del icon-remove"></i>
          {{else}}
            {{#if confirmed}}
              <i class="icon-del icon-remove"></i>
            {{else}}
              <i class="icon-pending tooltip" data-tooltip="{{i18n 'PROP_STACK_PENDING_CONFIRM'}}" ></i>
            {{/if}}
          {{/if}}
        </div>
      </li>
      {{#each subscription}}
      <li class="pos-r" data-uid="{{id}}">
        <dl class="dl-horizontal dl-region-type">
	        <dt><label>Protocol</label></dt><dd class="protocol">{{protocol}}</dd>
	        <dt><label>Endpoint</label></dt><dd class="endpoint truncate">{{endpoint}}</dd>
        </dl>
        <div class="sns-action">
          {{#if isStack}}
            <i class="icon-del icon-remove"></i>
          {{else}}
            {{#if confirmed}}
              <i class="icon-del icon-remove"></i>
            {{else}}
              <i class="icon-pending tooltip" data-tooltip="{{i18n 'PROP_STACK_PENDING_CONFIRM'}}" ></i>
            {{/if}}
          {{/if}}
        </div>
      </li>
      {{/each}}
  	</ul>

    <section class="property-sns-info property-control-group">
      <div id="property-sns-no-sub-no-asg" class="property-info" >
        <p>SNS is available for auto scaling group notification and scaling policy.</p>
        <p>You can enable auto scaling group to send notification via SNS Topic</p>
      </div>

      <div id="property-sns-no-asg" class="property-info"><p>There is no auto scaling group in this stack using notification. If there is no usage of SNS topic, the topic will not be created when the stack runs into an app.</p></div>

      <div id="property-sns-no-sub"><p class="property-warning">There is auto scaling group relay on SNS Topic to receive notification. Yet no subscription is set up. </p></div>
    </section>
	<div class="tac property-control-group"><button id="property-create-asg" class="btn btn-blue" style="width:180px">{{ i18n "PROP_STACK_BTN_ADD_SUB" }}</button></div>
  </div>
  {{/if}}


	<div class="option-group-head">
		{{ i18n "PROP_STACK_TIT_COST_ESTIMATION" }}
		<span class="cost-counter right">{{#if totalFee}}${{totalFee}}/{{{ i18n "PROP_STACK_LBL_COST_CYCLE" }}} {{/if}}</span>
	</div>
	<div class="option-group">
		<table class="table cost-estimation-table">
			<thead> <tr>
					<th>{{ i18n "PROP_STACK_COST_COL_RESOURCE" }}</th>
          <th style="min-width:70px;">{{ i18n "PROP_STACK_COST_COL_SIZE_TYPE" }}</th>
          <th style="min-width:60px;">{{ i18n "PROP_STACK_COST_COL_FEE" }}</th>
			</tr> </thead>
			<tbody> {{#each costList}}
        <tr> <td>{{resource}}</td> <td>{{type}}</td> <td>{{formatedFee}}</td> </tr>
      {{/each}} </tbody>

		</table>
		<div class="property-control-group tac">
			<a target="_blank" href="http://aws.amazon.com/ec2/pricing/" class="goto-outsite tac" target="_blank">AWS EC2 Pricing</a>
		</div>
	</div>

</article>


