<div style="width:855px;" id="modal-browse-community-ami">
	<div class="modal-header">
		<h3>{{i18n "AMI_LBL_COMMUNITY_AMIS"}}</h3>
		<i class="modal-close">×</i>
	</div>

	<div class="modal-body">
		<div class="content-wrap">
			<div id="ami-search-option">
				<div>
					<input id="community-ami-input" class="input" type="text" placeholder="{{{i18n "AMI_LBL_ALL_SEARCH_AMI_BY_NAME_OR_ID"}}}" />
				</div>

				<div id="selectbox-ami-platform" class="selectbox">
					<div class="selection">{{i18n "AMI_LBL_ALL_PLATFORMS"}}</div>
					<ul class="dropdown" tabindex="-1">
						<li class="item selected" data-id="">{{i18n "AMI_LBL_ALL_PLATFORMS"}}</li>
						<li class="item" data-id="amazonlinux">
							<i class="icon-amz-linux icon-ami-os"></i>
							<span>Amazon Linux</span>
						</li>
						<li class="item" data-id="centos">
							<i class="icon-centos icon-ami-os"></i>
							<span>Cent OS</span>
						</li>
						<li class="item" data-id="debian">
							<i class="icon-debian icon-ami-os"></i>
							<span>Debian</span>
						</li>
						<li class="item" data-id="fedora">
							<i class="icon-fedora icon-ami-os"></i>
							<span>Fedora</span>
						</li>
						<li class="item" data-id="gentoo">
							<i class="icon-gentoo icon-ami-os"></i>
							<span>Gentoo</span>
						</li>
						<li class="item" data-id="opensuse">
							<i class="icon-opensuse icon-ami-os"></i>
							<span>OpenSUSE</span>
						</li>
						<li class="item" data-id="ubuntu">
							<i class="icon-ubuntu icon-ami-os"></i>
							<span>Ubuntu</span>
						</li>
						<li class="item" data-id="redhat">
							<i class="icon-redhat icon-ami-os"></i>
							<span>Red Hat</span>
						</li>
						<li class="item" data-id="windows">
							<i class="icon-windows icon-ami-os"></i>
							<span>Windows</span>
						</li>
						<li class="item" data-id="otherlinux">
							<i class="icon-linux-other icon-ami-os"></i>
							<span>Other Linux</span>
						</li>
					</ul>
				</div>

				<div class="ami-option-group">
					<h5>{{i18n "AMI_LBL_VISIBILITY"}}</h5>
					<div class="ami-option-wrap" id="filter-ami-type">
						<button type="button" class="btn active">{{i18n "AMI_LBL_PUBLIC"}}</button>
						<button type="button" class="btn">{{i18n "AMI_LBL_PRIVATE"}}</button>
					</div>
				</div>

				<div class="ami-option-group">
					<h5>{{i18n "AMI_LBL_ARCHITECTURE"}}</h5>
					<div class="ami-option-wrap" id="filter-ami-32bit-64bit">
						<button type="button" class="btn active">{{i18n "AMI_LBL_32_BIT"}}</button>
						<button type="button" class="btn">{{i18n "AMI_LBL_64_BIT"}}</button>
					</div>
				</div>

				<div class="ami-option-group">
					<h5>{{i18n "AMI_LBL_ROOT_DEVICE_TYPE"}}</h5>
					<div class="ami-option-wrap" id="filter-ami-EBS-Instance">
						<button type="button" class="btn active">{{i18n "AMI_LBL_EBS"}}</button>
						<button type="button" class="btn">{{i18n "AMI_LBL_INSTANCE_STORE"}}</button>
					</div>
				</div>

				<!-- <div id="ami-count">Total: 0</div> -->

				<div id="btn-search-ami" class="btn btn-blue" disabled>{{i18n "AMI_LBL_SEARCHING"}}</div>
			</div>

			<div id="ami-data-wrap">
				<div id="ami-table-wrap" class="table-head-fix">
					<table class="table-head">
						<thead>
							<tr>
								<th style="width: 44px;"></th>
								<th style="width: 104px;">{{i18n "AMI_LBL_AMI_ID"}}</th>
								<th>{{i18n "AMI_LBL_AMI_NAME"}}</th>
								<th style="width: 62px;padding-left:4px;text-align:left;" class="sortable">{{i18n "AMI_LBL_SIZE"}}</th>
							</tr>
						</thead>
					</table>
					<div class="scroll-wrap">
						<div class="scrollbar-veritical-wrap" style="display: block;"><div class="scrollbar-veritical-thumb"></div></div>
						<div class="show-loading">
							<div class="loading-spinner"></div>
						</div>
						<div class="scroll-content" style="display:block;">
							<table class="table">
								<thead>
									<tr>
										<th style="width: 16px;"><div class="th-inner"></div></th>
										<th style="width: 80px;"><div class="th-inner"></div></th>
										<th><div class="th-inner"></div></th>
										<th style="width: 42px;"><div class="th-inner"></div></th>
									</tr>
								</thead>
								<tbody id="community_ami_table"></tbody>
							</table>
						</div>
					</div>
				</div>

				<div id="community-ami-page">
					<div class="page-tip" style="display: none;"></div>
					<div class="pagination" style="display: none;">
						<!-- <a href="#" class="first" data-action="first">&laquo;</a> -->
						<a href="#" class="previous" data-action="previous">&lsaquo;</a>
						<input type="text" readonly="readonly" data-max-page="40" />
						<a href="#" class="next" data-action="next">&rsaquo;</a>
						<!-- <a href="#" class="last" data-action="last">&raquo;</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
