
<p class="modal-text-major">{{i18n "PROP.POP_SELECT_SUBNET_FOR_SUBNET_GROUP_CONTENT"}}</p>

<div class="scroll-wrap" style="max-height:256px;">
	<div class="scrollbar-veritical-wrap"><div class="scrollbar-veritical-thumb"></div></div>
	<div class="scroll-content">
		{{#each this}}
		<header class="modal-list-header dbsgppp-az">{{@key}}</header>
		{{#each this}}
		<section class="modal-list-body dbsgppp-subnet-list">
		  <div class="checkbox">
		   <input id="dbsgppp-{{idx}}" class="dbsgppp-subnet" type="checkbox" data-id="{{id}}" {{#if checked}}checked="checked"{{/if}}>
		   <label for="dbsgppp-{{idx}}"></label>
		  </div>
		  <label class="dbsgppp-sbname" for="dbsgppp-{{idx}}">{{name}} 
		  	<div class="dbsgppp-cidr">({{cidr}})</div>
		  </label>
		  
		</section>
		{{/each}}
		{{/each}}
	</div>
</div>