<section>
    <div id="TokenManager">
        <p class="clearfix">
            {{#if isAdmin}}<button class="btn btn-blue right" id="TokenCreate">{{ i18n "SETTINGS_BTN_TOKEN_CREATE" }}</button>{{/if}}
            {{ i18n "SETTINGS_INFO_TOKEN" }}<a href="http://docs.visualops.io/app/reload_states.html" target="_blank">{{ i18n 'SETTINGS_INFO_TOKEN_LINK' }}</a> </p>
        <section class="token-table">
            <header class="clearfix">
                <span class="tokenName">{{ i18n 'SETTINGS_LABEL_TOKENTABLE_NAME' }}</span>
                <span class="tokenToken">{{ i18n 'SETTINGS_LABEL_TOKENTABLE_TOKEN' }}</span>
            </header>
            <div class="scroll-wrap">
                <div class="scrollbar-veritical-wrap"><div class="scrollbar-veritical-thumb"></div></div>
                <ul id="TokenList" class="scroll-content" data-empty="{{ i18n 'SETTINGS_INFO_TOKEN_EMPTY' }}"></ul>
            </div>
        </section>
    </div>
    <div id="TokenRmConfirm" class="hide">
        <h3 id="TokenRmTit"></h3>
        <p>{{ i18n 'SETTINGS_CONFIRM_TOKEN_RM' }}</p>
        <div class="cred-btn-wrap clearfix">
            <button class="right btn btn-modal-close btn-silver" id="TokenRmCancel">{{ i18n 'SETTINGS_LABEL_ACCOUNT_CANCEL' }}</button>
            <button id="TokenRemove" class="btn btn-red right">{{ i18n 'SETTINGS_BTN_TOKEN_REMOVE' }}</button>
        </div>
    </div>

</section>
