<div>
    <h3>Project Name <button class="icon-edit edit-name"></button></h3>
    <p>Paula’s Project</p>
</div>
<div>
    <h3>Project Email Notification <button class="icon-edit edit-notification"></button></h3>
    Do not send email notification for this project
</div>
<div>
    <h3>Delete Project</h3>

    <div>
        <p>Once the project is deleted, all stacks will be removed and all apps will be forgotten (Resources will be left as they are).</p>
        <p>You can export stacks to JSON before deleting the project.</p>

        <button class="btn btn-red icon-delete">Delete Project</button>
    </div>

</div>
