<div class="operate">
    <div class="invite">
        <input class="input" id="mail">
        <button class="btn btn-blue" id="confirm">Invite Member</button>
    </div>
    <button class="btn btn-blue" id="delete">Delete</button>
</div>
<div class="table-head-fix will-be-covered">
    <table class="table-head">
        <thead>
            <tr>
                {{#unless noCheckbox}}
                <th>
                    <div class="checkbox">
                        <input id="t-m-select-all" type="checkbox" value="None">
                        <label for="t-m-select-all"></label>
                    </div>
                </th>
                {{/unless}}
                {{#each columns}}
                <th class="{{#if sortable}}sortable{{/if}}" data-row-type="{{#if rowType}}{{rowType}}{{else}}string{{/if}}" style="{{#if width}}width:{{width}};{{/if}}">{{name}}</th>
                {{/each}}
            </tr>
        </thead>
    </table>
    {{#unless useCustomScroll}}
    <div style="overflow-y:auto;overflow-x:hidden;height: {{height}}px;">
        {{else}}
        <div class="scroll-wrap" {{#if height}}style="height: {{height}}px" {{/if}}>
            <div class="scrollbar-veritical-wrap" style="display: block;"><div class="scrollbar-veritical-thumb"></div></div>
            <div class="scroll-content" style="display:block;">
                {{/unless}}

                <table class="table">
                    <thead>
                        <tr>
                            {{#unless noCheckbox}}<th><div class="th-inner"></div></th>{{/unless}}
                            {{#each columns}}
                            <th style="{{#if width}}width:{{width}};{{/if}}"><div class="th-inner"></div></th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody class='t-m-content'>
                    </tbody>
                </table>
                {{#unless useCustomScroll}}
            </div>
            {{else}}
        </div>
    </div>
    {{/unless}}
</div>
