<nav id="settings-nav">
    <a class="back-settings">&lt; Back</a>
    <section class="function-list">
        <header>{{name}}</header>
        <a data-id="BasicSettings">Basic Settings</a>
        <a data-id="Member">Member</a>
        <a data-id="UsageReport">Usage Report</a>
        <a data-id="Billing">Billing</a>
        <a data-id="ProviderCredential">Provider Credential</a>
        <a data-id="AccessToken">Access Token</a>
    </section>
</nav>
<section class="setting-content">
    <header class="project-title">Paula's Project / Basic Settings</header>
    <article class="project-subview"></article>
</section>