<nav id="settings-nav">
    <a class="back-settings">&lt; Back</a>
    <section class="function-list">
        <header>{{name}}</header>
        <a data-id="basicsettings">Basic Settings</a>
        <a data-id="member">Member</a>
        <a data-id="usagereport">Usage Report</a>
        <a data-id="billing">Billing</a>
        <a data-id="credential">Provider Credential</a>
        <a data-id="accesstoken">Access Token</a>
    </section>
</nav>
<section class="setting-content">
    <header class="project-title">Paula's Project / Basic Settings</header>
    <article class="project-subview"></article>
</section>