<li>
	<i class="icon-info icon-label tooltip" data-tooltip={{ i18n "HEAD_TIP_AWS_ACCOUNT_ID" }}></i>
	<label>Account Number</label>
	<input autocomplete="off" class="input" id="aws-credential-account-id" type="text" />
</li>
<li>
	<i class="icon-info icon-label tooltip" data-tooltip={{ i18n "HEAD_TIP_ACCOUNT_ACCESS_KEY" }}></i>
	<label>Access Key ID</label>
	<input autocomplete="off" class="input" id="aws-credential-access-key" type="text" />
</li>
<li>
	<i class="icon-info icon-label tooltip" data-tooltip={{ i18n "HEAD_TIP_ACCOUNT_SECRET_KEY" }}></i>
	<label>Secret Key</label>
	<input autocomplete="off" class="input" id="aws-credential-secret-key" type="text" />
</li>