<li>
	<i class="icon-info icon-label tooltip" data-tooltip="Your AWS account number is shown in the upper-left area of your browser window when you're logged into your AWS Account. e.g., 123456789000"></i>
	<label>Account Number</label>
	<input autocomplete="off" class="input" id="aws-credential-account-id" type="text" />
</li>
<li>
	<i class="icon-info icon-label tooltip" data-tooltip="You will ﬁnd those keys in Account > Security Credentials menu under Access Keys tab in the box at the middle of the page. e.g., ABCDEFGHIJ1LMNOPQR2S"></i>
	<label>Access Key ID</label>
	<input autocomplete="off" class="input" id="aws-credential-access-key" type="text" />
</li>
<li>
	<i class="icon-info icon-label tooltip" data-tooltip="You will ﬁnd those keys in Account > Security Credentials menu under Access Keys tab in the box at the middle of the page. e.g., aBCDefgH/ Ijklmnopq1Rs2tUVWXY3AbcDeFGhijk"></i>
	<label>Secret Key</label>
	<input autocomplete="off" class="input" id="aws-credential-secret-key" type="text" />
</li>