<!-- AWSCredential -->
<div id="account-setting-wrap" style="width: 550px">
	<div class="modal-header">
		<h3>Account Settings</h3>
		<i class="modal-close">&times;</i>
	</div>

	<div class="modal-body">

		<div id="account-setting-tab">
			<ul class="clearfix">
				<li><a href="javascript:void(0)">Account</a></li>
				<li><a href="javascript:void(0)">AWS Credentials</a></li>
			</ul>
		</div>

		<div id="account-profile-setting" class="account-tab-content">
			<div id="account-profile-setting-body">
				<dl class="dl-horizontal" id="account-profile-setting-username">
					<dt>Username</dt>
					<dd id="account-profile-username">{{username}}</dd>
				</dl>
				<dl class="dl-horizontal" id="account-profile-setting-email">
					<dt>Email Address</dt>
					<dd id="account-email-change-wrap">
						<span id="account-profile-email">{{email}}</span>
						<a href="javascript:void(0)" id="account-update-email-link">Change</a>
					</dd>

					<dd id="account-email-input-wrap">
						<input id="account-email-input" type="text" class="input"/>
						<div id="email-verification-status" class="verification-status"></div>

						<div id="account-email-update-btns">
							<a href="javascript:void(0)" id="account-email-update" class="btn btn-blue">Update</a>
							<a href="javascript:void(0)" id="account-email-cancel">Cancel</a>
						</div>
					</dd>
				</dl>

				<a href="javascript:void(0)" id="account-change-password">Change Password</a>

				<div id="account-password-wrap">
					<div id="account-passowrd-info">
					</div>

					<dl class="dl-horizontal">
						<dt>Current Password</dt>
						<dd><input type="password" class="input" id="account-current-password" /></dd>

						<dt>New Password</dt>
						<dd><input type="password" class="input" id="account-new-password" /></dd>
					</dl>

					<div id="account-password-update-btns">
						<a href="javascript:void(0)" id="account-password-update" class="btn btn-blue">Update</a>
						<a href="javascript:void(0)" id="account-password-cancel">Cancel</a>
					</div>
				</div>
			</div>
		</div>

		<div id="AWSCredential-setting" class="account-tab-content">
			<div id="AWSCredential-form">
				<div id="AWSCredential-info" class="AWSCredential-wall">
					<p>To launch and manage AWS resources, please provide your AWS account credentials.</p>
				</div>
				<div id="AWSCredential-failed" class="AWSCredential-wall">
					<p>Authentication failed. Please check your AWS Credentials and try again.</p>
				</div>

				<ul>
					<li>
						<i class="icon-info icon-label tooltip" data-tooltip="Your AWS account number is shown in the upper-left area of your browser window when you're logged into your AWS Account. e.g., 123456789000"></i>
						<label>Account Number</label>
						<input class="input" id="aws-credential-account-id" type="text" />
					</li>
					<li>
						<i class="icon-info icon-label tooltip" data-tooltip="You will ﬁnd those keys in Account > Security Credentials menu under Access Keys tab in the box at the middle of the page. e.g., ABCDEFGHIJ1LMNOPQR2S"></i>
						<label>Access Key ID</label>
						<input class="input" id="aws-credential-access-key" type="text" />
					</li>
					<li>
						<i class="icon-info icon-label tooltip" data-tooltip="You will ﬁnd those keys in Account > Security Credentials menu under Access Keys tab in the box at the middle of the page. e.g., aBCDefgH/ Ijklmnopq1Rs2tUVWXY3AbcDeFGhijk"></i>
						<label>Secret Key</label>
						<input class="input" id="aws-credential-secret-key" type="text" />
					</li>
				</ul>

				<div id="AWSCredential-setting-btn-wrap">
					<!-- <a href="/help" id="AWSCredentials-link" target="_blank">Need help?</a> -->
					<button id="awsredentials-submit" class="btn btn-blue">Submit</button>
				</div>
			</div>

			<div id="AWSCredentials-submiting">
				<div id="AWSCredentials-submiting-body">
					<img id="AWSCredentials-loading" src="./assets/images/ide/loading-bar-w.gif" alt="loading"/>
					<span id="AWSCredentials-loading-text">Connecting to AWS account</span>
				</div>

<!-- 			<div class="modal-footer">
					<button class="btn btn-silver" disabled>Loading...</button>
				</div> -->
			</div>

			<div id="AWSCredentials-update">
				<div class="AWSCredentials-body-info">
					<h5>You have connected with following AWS account:</h5>
					<div class="AWSCredentials-account-info">
						<span id="aws-credential-update-account-id">{{account_id}}</span>
						<a class="AWSCredentials-account-update" href="javascript:void(0)">update</a>
					</div>
				</div>

<!-- 				<div class="modal-footer">
					<button class="btn btn-silver" id="awsredentials-update-done">Done</button>
				</div> -->
			</div>
		</div>

	</div>

	<div class="modal-footer">
		<button class="btn modal-close btn-silver">Close</button>
	</div>
</div>

