<!-- AWSCredential -->
<div id="account-setting-wrap" style="width: 550px">
	<div class="modal-header">
		<h3>{{ i18n "HEAD_LABEL_SETTING" }}</h3>
		<i id="account-setting-close">&times;</i>
	</div>

	<div class="modal-body">

		<div id="account-setting-tab">
			<ul class="clearfix">
				<li><a href="javascript:void(0)">{{ i18n "HEAD_LABEL_ACCOUNT" }}</a></li>
				<li><a href="javascript:void(0)">{{ i18n "HEAD_LABEL_CREDENTIAL" }}</a></li>
			</ul>
		</div>

		<div id="account-profile-setting" class="account-tab-content">
			<div id="account-profile-setting-body">
				<dl class="dl-horizontal" id="account-profile-setting-username">
					<dt>{{ i18n "HEAD_LABEL_ACCOUNT_USERNAME" }}</dt>
					<dd id="account-profile-username"></dd>
				</dl>
				<dl class="dl-horizontal" id="account-profile-setting-email">
					<dt>{{ i18n "HEAD_LABEL_ACCOUNT_EMAIL" }}</dt>
					<dd id="account-email-change-wrap">
						<span id="account-profile-email"></span>
					</dd>

					<dd id="account-email-input-wrap">
						<input id="account-email-input" type="text" class="input"/>
						<div id="email-verification-status" class="verification-status"></div>

						<div id="account-email-update-btns">
							<a href="javascript:void(0)" id="account-email-update" class="btn btn-blue">{{ i18n "HEAD_BTN_UPDATE" }}</a>
							<a href="javascript:void(0)" id="account-email-cancel">{{ i18n "HEAD_BTN_CANCEL" }}</a>
						</div>
					</dd>
				</dl>

				<a href="javascript:void(0)" id="account-change-password">{{ i18n "HEAD_LABEL_CHANGE_PASSWORD" }}</a>

				<div id="account-password-wrap">
					<div id="account-passowrd-info">
					</div>

					<dl class="dl-horizontal">
						<dt>{{ i18n "HEAD_LABEL_CURRENT_PASSWORD" }}</dt>
						<dd><input type="password" class="input" id="account-current-password" /></dd>

						<dt>{{ i18n "HAED_LABEL_NEW_PASSWORD" }}</dt>
						<dd><input type="password" class="input" id="account-new-password" /></dd>
					</dl>

					<div id="account-password-update-btns">
						<a href="javascript:void(0)" id="account-password-update" class="btn btn-blue">{{ i18n "HEAD_BTN_UPDATE" }}</a>
						<a href="javascript:void(0)" id="account-password-cancel">{{ i18n "HEAD_BTN_CANCEL" }}</a>
					</div>
				</div>
			</div>
		</div>

		<div id="AWSCredential-setting" class="account-tab-content">
			<div id="AWSCredential-info-wrap">
				<div id="AWSCredential-info" class="AWSCredential-wall">
					<p></p>
				</div>
				<!--div id="AWSCredential-failed" class="AWSCredential-wall">
					<p>Authentication failed. Please check your AWS Credentials and try again.</p>
				</div-->
				<div id="AWSCredentials-remove-wrap">
					<div id="AWSCredential-remove-head">
						<p class="modal-text-major"></p>
					</div>
					<div id="AWSCredential-remove-body">
						<p>
							{{ i18n "HEAD_INFO_REMOVE_CREDENTIAL1" }}<br />
							{{ i18n "HEAD_INFO_REMOVE_CREDENTIAL2" }}<br />
							{{ i18n "HEAD_INFO_REMOVE_CREDENTIAL3" }}
						</p>
					</div>
				</div>
			</div>

			<div id="AWSCredential-form">
				<ul>
					{{ i18n "HEAD_INFO_LOADING" }}
				</ul>

				<div id="AWSCredential-setting-btn-wrap">
					<!-- <a href="/help" id="AWSCredentials-link" target="_blank">Need help?</a> -->
					<a href="javascript:void(0)" id="awscredentials-remove">{{ i18n "HEAD_LABEL_REMOVE_CREDENTIAL" }}</a>
					<button id="awscredentials-submit" class="btn btn-blue">{{ i18n "HEAD_BTN_SUBMIT" }}</button>
					<a href="javascript:void(0)" id="awscredentials-cancel">{{ i18n "HEAD_LABEL_ACCOUNT_CANCEL" }}</a>
				</div>
			</div>

			<div id="AWSCredentials-submiting">
				{{ i18n "HEAD_INFO_LOADING" }}
			</div>

			<div id="AWSCredentials-update">
				<div class="AWSCredentials-body-info">
					<h5>{{ i18n "HEAD_INFO_ACCOUNT_LIST" }}</h5>
					<div class="AWSCredentials-account-info">
						<span id="aws-credential-update-account-id"></span>
						<a class="AWSCredentials-account-update" href="javascript:void(0)">{{ i18n "HEAD_LABEL_ACCOUNT_UPDATE" }}</a>
					</div>

					<div class="AWSCredentials-nochange-warn">{{ i18n "HEAD_WARN_UPDATE_CREDENTIAL" }}</div>
				</div>
			</div>

		</div>

	</div>

	<div class="modal-footer">
		<button id="close-awscredential" class="btn btn-silver">{{ i18n "HEAD_BTN_CLOSE" }}</button>
	</div>
</div>

