<!-- AWSCredential -->
<div id="account-setting-wrap" class="modal-welcome" style="width: 550px">
	<div class="modal-header">
		<h3>{{ i18n "HEAD_LABEL_WELCOME" }}</h3>
		<i id="account-setting-close">&times;</i>
	</div>

	<div class="modal-body">

		<div id="AWSCredential-setting">
			<div id="AWSCredential-info-wrap">
				<div id="AWSCredential-info" class="AWSCredential-wall">
					<h4 id="AWSCredential-welcome"></h4>
					<p></p>
				</div>
			</div>
			<img src="./assets/images/ide/welcome-img.png" id="AWSCredential-welcome-img" alt=""/>

			<div id="AWSCredential-form">
				<h4 class="modal-text-major">{{ i18n "HEAD_LABEL_PROVIDE_CREDENTIAL" }}</h4>
				<ul>
					loading...
				</ul>
			</div>

			<div id="AWSCredentials-submiting">
				{{ i18n "HEAD_INFO_LOADING" }}
			</div>

			<div id="AWSCredentials-update">
				<div class="AWSCredentials-body-info">
					<h5>{{ i18n "HEAD_INFO_ACCOUNT_LIST" }}</h5>
					<div class="AWSCredentials-account-info">
						<span id="aws-credential-update-account-id">{{account_id}}</span>
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="modal-footer">
		<div id="welcome-btn-wrap">
			<a id="awscredentials-skip" data-type="skip" href="javascript:void(0)">{{ i18n "HEAD_LABEL_ACCOUNT_SKIP" }}</a>
			<button id="awscredentials-submit" class="btn btn-blue">{{ i18n "HEAD_BTN_SUBMIT" }}</button>
		</div>
	</div>
</div>

