#OpsEditor .OEPanelRight.property {

    color: #ccc;
    // @include no-selection-bg;

    // width: 500px;

    .panel-body {
        @include font-mono;
        h1 {
          font-size: 20px;
          padding: 5px;
          text-align: center;
        }

        .selection.item-list .hm-item.item {
            position: relative;

            .item-name { float: none; }
            .item-remove {
                position: absolute;
                top: 16px;
                right: 20px;
            }
        }

    }

    .panel-float {
        h1 {
          font-size: 20px;
          padding: 5px;
          text-align: center;
        }
    }

    /* property component style */

    .os-property-default {
      padding: 20px 0 0 26px;
    }

    .os-property-message {
        padding: 20px 0 0 26px;
    }

    img.property-os-image-icon{
        display: inline-block;
        vertical-align: baseline;
        background: #FFF;
        padding: 5px 0;
        border-radius: 3px;
        margin: 0px 2px -4px -2px;
    }

    img.property-os-image-value{
      vertical-align: middle;
      margin: -2px 2px -2px 2px;
    }

    p.property-os-image-text {
        display: inline-block;
        color: #DEDEDE;
        margin: -5px 0;
        max-width: 220px;
        white-space: nowrap;
        margin-right: -20px;
        span.uid {
            display: block;
            font-size: 12px;
            color: #8D8D8D;
        }
    }

    .option-group-head {
        &:first-child { border-top: 1px solid #000000; }

        height      : 32px;
        line-height : 34px;
    }

    .option-group {
        header {
            padding: 8px 10px;
            background: $dark-p-2;
        }
    }

    .group {
        background-color : #27272b;
        font-size        : 12px;
        position         : relative;
        border-bottom    : 1px #000 solid;
        margin-bottom    : 0;

        &:last-child {
            border-bottom: none;
        }

        &.required:after {
            position     : absolute;
            z-index      : 1;
            content      : "";
            color        : #fff;
            text-align   : right;
            right        : 0;
            top          : 0;
            width        : 0;
            height       : 0;
            line-height  : 24px;
            border-style : solid;
            border-width : 0 20px 20px 0;
            margin-left  : -20px;
            border-color : transparent #0b8900 transparent transparent;
        }
        &.required:before {
            position: absolute;
            z-index: 2;
            content: "*";
            color: #fff;
            text-align: right;
            right: 0;
            top: 0;
            margin-top: 3px;
            margin-right: 3px;
        }
    }
    .name {
        width                : 100%;
        padding              : 8px 10px 2px 9px;
        display              : table-cell;
        vertical-align       : middle;
        color                : #777;
        line-height          : 14px;
        box-sizing           : border-box;
        -moz-box-sizing      : border-box;
        // &.tooltip         : after {
        //     content       : " ";
        //     width         : 103px;
        //     height        : 8px;
        //     position      : absolute;
        //     left          : 12px;
        //     margin-top    : 8px;
        //     border-bottom : 1px #555 dashed;
        // }
    }
    .ipgroup {
        display: inline-block;
        select.selection {
            float: left;
            width: 72px;
            font-size: 12px;
            display: inline-block;
        }
        .selectize-control {
            float: left;
            width: 62px;
            font-size: 12px;
            display: inline-block;
            text-align: center;
            .selectize-input:after {
                display: none;
            }
        }
        span {
            width: 10px;
            text-align: center;
            padding-top: 20px;
            float: left;
        }
    }

    .btn-group button {

        font-size: 12px;
        width: 50%;
        cursor:       pointer;
        color:        #999;
        border-right: 1px solid #131313;

        float       : left;
        display     : inline-block;
        padding     : 8px;
        position    : relative;

        &:before {
            margin-right : 5px;
            float        : left;
            display      : inline-block;
            margin-top   : 1px;
        }

        &.active {
            background: $dark-blue;
            color: #fff !important;

            &:after {
                content: "";
                position      : absolute;
                left          : 0;
                bottom        : 0px;
                content       : '';
                border-bottom : 2px solid #0D49CA;
                width         : 100%;
                z-index       : 1;
            }
        }

        &:hover {
            color      : #ccc;
            background : #161616;
            color      : #9C6DC0;
        }

        &.active:hover {
            background : $dark-blue;
            color      : #fff !important;
        }

        &.disabled,&[disabled] {
            pointer-events: none;
            color:          #555;
        }
    }
    .os-sg-rule-list-container {
        font-size: 12px;
        .head-list {
            li {
                float: left;
                text-align: center;
                width: 33%;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                padding: 15px;
            }
        }
        .rule-list {
            .selection {
                float: left;
                width: 33%;
            }
        }
    }
    div.float-panel-sg {
        width: 450px;
    }
}
