     #OpsEditor {
    .OEPanelRight.property, .OEPanelRight.config {
        color: #ccc;

        // width: 500px;

        .panel-body {


            .selection.item-list .hm-item.item {
                position: relative;

                .item-remove {
                    position: absolute;
                    top: 16px;
                    right: 20px;
                }
            }

            .item-readable-list {
                padding: 6px 8px 3px;

                .item-name {
                    display    : inline-block;
                    max-width  : 228px;
                    word-break : break-all;
                    font-size  : 14px;
                }

                .item-info {
                  color     : $dark-grey;
                  font-size : 12px;
                  display   : block;
                }

                & > li {
                    padding: 5px 10px;
                    width: 92%;
                    margin-bottom: 5px;
                    background: #32324d;
                    border: 1px solid #222;
                    border-radius: 3px;
                    color: #fff;

                    & > div { padding: 2px; }
                    &:hover { cursor: pointer; }
                }

                .item.active {
                    background-color: $dark-p-1;
                    border: 1px $base-p solid;
                    color: #fff;
                }
            }

        }

        /* property component style */
        .dl-horizontal:first-child { margin-top: 0; padding-top: 8px; }

        .dl-horizontal {
            margin: 8px 9px;

            dd {
                color: #eee;
            }
        }

        .os-property-default {
          padding: 20px 0 0 26px;
        }

        .os-property-message {
            padding: 20px 0 20px 26px;

            h5 {
                text-align: center;
                margin-left: -20px;
            }
        }

        .property-os-image-icon {
          vertical-align : middle;
          margin         : -37px 1px -2px -3px;
          width          : 30px;
          height         : 30px;
        }

        .os-server-image-info {
            cursor: pointer;

            p.property-os-image-text {
                color: $dark-b;

                &:hover {
                    color: $base-b;
                }

                span:hover {
                    color: #aaa;
                }
            }
        }

        .selectize-input .property-os-image-icon {
            margin       : -2px 2px -2px 2px;
        }

        p.property-os-image-text {
            display: inline-block;
            color: #DEDEDE;
            margin: -5px 0;
            max-width: 220px;
            white-space: nowrap;
            margin-right: -20px;
            span.uid {
                display: block;
                font-size: 12px;
                color: #8D8D8D;
                width: 210px;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .option-group-head {
            &:first-child { border-top: 1px solid #000000; }
            width: 100%;
            height      : 32px;
            line-height : 34px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .option-group {
            header {
                padding: 8px 10px;
                background: $dark-p-2;
            }
        }

        .group {
            background-color : #27272b;
            font-size        : 12px;
            position         : relative;
            border-bottom    : 1px #000 solid;
            margin-bottom    : 0;

            @include no-selection-bg;

            &:last-child {
                border-bottom: none;
            }

            &.required:after {
                position     : absolute;
                z-index      : 1;
                content      : "";
                color        : #fff;
                text-align   : right;
                right        : 0;
                top          : 0;
                width        : 0;
                height       : 0;
                line-height  : 24px;
                border-style : solid;
                border-width : 0 20px 20px 0;
                margin-left  : -20px;
                border-color : transparent $base-g transparent transparent;
            }
            &.required:before {
                position: absolute;
                z-index: 2;
                content: "*";
                color: #fff;
                text-align: right;
                right: 0;
                top: 0;
                margin-top: 3px;
                margin-right: 3px;
            }
        }

        .name {
            width                : 100%;
            padding              : 8px 10px 2px 9px;
            display              : table-cell;
            vertical-align       : middle;
            color                : darken(desaturate($dark-grey,10%),10%);
            line-height          : 14px;
            box-sizing           : border-box;
            -moz-box-sizing      : border-box;
        }

        .main {
            padding: 10px 0 0 10px;
        }
        .sub {
            padding: 5px 10px;
            color: #888;
        }

        .ipgroup {
            display: inline-block;

            select.selection {
                float: left;
                width: 72px;
                font-size: 12px;
                display: inline-block;
            }
            .selectize-control {
                float: left;
                width: 62px;
                font-size: 12px;
                display: inline-block;
                text-align: center;
                .selectize-input:after {
                    display: none;
                }
            }
            span {
                width: 10px;
                text-align: center;
                padding-top: 20px;
                float: left;
            }
        }

        .btn-group button {

            font-size    : 12px;
            width        : 50%;
            cursor       : pointer;
            color        : #999;
            border-right : 1px solid #131313;
            border-bottom: 1px solid #000;

            float       : left;
            display     : inline-block;
            padding     : 8px;
            position    : relative;

            &:before {
                margin-right : 5px;
                float        : left;
                display      : inline-block;
                margin-top   : 1px;
            }

            &.active {
                background: $dark-blue;
                color: #fff !important;

                &:after {
                    content: "";
                    position      : absolute;
                    left          : 0;
                    bottom        : 0px;
                    content       : '';
                    border-bottom : 2px solid $base-b;
                    width         : 100%;
                    z-index       : 1;
                }

                &:hover {
                    background : $dark-blue;
                    color      : #fff !important;
                }
            }

            &:hover {
                color      : #ccc;
                background : #161616;
                color      : $base-b;
            }

            &.disabled,&[disabled] {
                pointer-events: none;
                color:          #555;
            }
        }
        .os-property-res-inexist {
            text-align: center;
            margin-top: 40px;
        }
        .os-sg-remove {
            color    : $base-r;
            cursor   : pointer;
            position : absolute;
            right    : 9px;
            top      : 7px;

            &:hover {
                color: $light-r;
            }
        }
        .os-sg-rule-list-container {
            font-size: 12px;
            .head-list {
                border-bottom: 1px solid #000;

                li {
                    float           : left;
                    width           : 33%;
                    box-sizing      : border-box;
                    -moz-box-sizing : border-box;
                    padding         : 10px;
                }
            }
            .selection[data-target="ip"] + .selectize-control {
                .selectize-input {
                    div {
                        max-width: 86%;
                        overflow: hidden;
                        height: 12px;
                        text-overflow: ellipsis;
                    }
                }
                .selectize-dropdown-content {
                    margin-top: 50px;
                }

            }
            .rule-list {
                .rule-item {
                    height: 32px;
                }
                .selection {
                    float: left;
                    width: 31%;
                }
                .rule-item-remove {
                    margin-top  : 5px;
                    float       : left;
                    margin-left : 8px;
                    cursor      : pointer;
                    color       : #666;

                    &:hover {
                        color: $base-r;
                    }
                }
                input.selection {
                    height: 32px;
                }
            }
        }
        .os-sg-member-list {
            li {
                padding: 10px;
                width: 100%;
                border-bottom: 1px #000 solid;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
            }
        }
        .os-sg-new-input {
            width: 100%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            border: 0;
        }
        .os-sg-rule-ip-tip {
            /* position: absolute; */
            float: left;
            position: absolute;
            top: 0;
            width: 100%;
            /* background-color: #ccc; */
            box-sizing      : border-box;
            -moz-box-sizing : border-box;
            background-color: #222;
            border-bottom: 1px #333 solid;
            padding: 5px 8px;
        }
        div.float-panel-sg {
            width: 450px;
        }
        .selection .selectize-input.disabled .item-remove {
            display: none;
        }
    }
}

#OpsEditor[data-mode="app"] {
    .selection .selectize-input:after {
        display: none;
    }
    .OEPanelRight.property .os-sg-rule-list-container .rule-list .selection {
        width: 33%;
    }
}

.os-status {
    padding-left: 20px !important;
    &:before {
        content          : " ";
        width            : 10px;
        height           : 10px;
        border-radius    : 50%;
        background-color : yellow;
        position         : absolute;
        margin-left      : -20px;
        margin-top       : 4px;
        box-shadow       : inset 0 1px 0 rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0, .2);
    }
}
.os-status-ACTIVE {
    &:before {
        @include bgg-g;
    }
}
.os-status-Running {
    &:before {
        @include bgg-g;
    }
}
.os-status-INACTIVE, .os-status-BUILD {
    &:before {
        @include bgg-y;
    }
}
.os-status-DOWN {
    &:before {
        @include bgg-y;
    }
}
.os-status- {
    &:before {
        @include bgg-y;
    }
}
