.OEPanelRight.resource {
    nav {
        padding: 14px 20px;

        h1 { font-size: 20px; color: #ccc; line-height: 20px; float: left; }

        ul {
            li {
                float: left;
                text-align: center;
                cursor: pointer;
                width: 30px;
                height: 24px;
                line-height: 24px;

                &:first-child {
                    border-left: 1px solid $dark-p-1;
                    border-top-left-radius: 15%;
                    border-bottom-left-radius: 15%;
                }
                &:last-child {
                    border-top-right-radius: 15%;
                    border-bottom-right-radius: 15%;
                }
            }

            &.action {
                float: right;
                color: white;
                li {
                    background: $base-b;
                    &:hover { background: $dark-b; }
                }
            }

        }
    }

    // article ul {
    //     display         : flex;
    //     flex-direction  : row;
    //     flex-wrap       : wrap;
    //     align-items     : flex-start;
    //     justify-content : space-around;
    // }

    .resource-item {
        background-size : 50px 50px;
        height          : 30px;
        width           : 70px;
        margin          : 0 1px 5px 0;
        padding         : 60px 7px 2px 7px;
        border          : 1px solid transparent;

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:hover {
            border-radius    : 4px;
            border           : 1px solid $dark-p-2;
            box-shadow       : inset 0 1px 0 rgba(255,255,255,.05), 0 0 5px rgba(0,0,0,.8);
            background-color : desaturate($dark-p-1,10%);

            @include transit($method: all, $dur:.2s);
        }

        &:active {
            top  : -2px;
            left : -2px;
        }

        &.osserver { 
            background-image: url('/assets/images/ide/icon/openstack/os-res-server@2x.png');
            img {
                width    : 30px;
                height   : 30px;

                position : absolute;
                top      : 10px;
                left     : 26px;
            }
        }


        &.ossubnet { background-image: url('/assets/images/ide/icon/openstack/os-res-subnet@2x.png'); }
        &.osrt     { background-image: url('/assets/images/ide/icon/openstack/os-res-router@2x.png'); }
        &.osport   { background-image: url('/assets/images/ide/icon/openstack/os-res-port@2x.png'); }
        &.oselb    { background-image: url('/assets/images/ide/icon/openstack/os-res-lb@2x.png'); }
        &.osvol    { background-image: url('/assets/images/ide/icon/openstack/os-res-vol@2x.png'); }
        &.ossnapshot    { background-image: url('/assets/images/ide/icon/openstack/os-res-snapshot@2x.png'); }
        &.oslistener    { background-image: url('/assets/images/ide/icon/openstack/os-res-listener@2x.png'); }
        &.ospool        { background-image: url('/assets/images/ide/icon/openstack/os-res-pool@2x.png'); }
    }

    .ebs-size { top: -2em; }
}