@import "compass";

@mixin retina {
  @media (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2/1), (min-device-pixel-ratio: 2) {
      & { @content; }
  }
}

.dash-header {
  padding    : 10px 0;
  position   : absolute;
  z-index    : 5;
  background : rgb(42, 46, 49);
  width      : 100%;
  height     : 38px;

  > .btn {
    margin-left : 15px;
  }
}

#OsReloadResource {
  font-size : 12px;
  position  : absolute;
  right     : 25px;
  top       : 18px;
  color     : #aaa;
  display   : block;
  cursor    : pointer;
  -webkit-transform-origin : 12px 12px;
     -moz-transform-origin : 12px 12px;
          transform-origin : 12px 12px;

  &:hover  { color: #148BE6; }
  &:before {
    margin-right: 4px;
    font-size   : 12px;
    line-height : 18px;
  }
}

.icon-refresh.reloading {
  &:before { margin : 0; }
  -webkit-animation: rotation .6s infinite linear;
     -moz-animation: rotation .6s infinite linear;
       -o-animation: rotation .6s infinite linear;
          animation: rotation .6s infinite linear;
}


.dash-ops-list {
  margin    : 68px auto 40px;
  max-width : 1280px;
  padding   : 15px 0 40px;
  width     : 95%;
  background : #fff;

  > nav {
    height : 30px;
    border-bottom : 1px solid #000;

    > button {
      border-right : 1px solid #000;
    }
  }
}
