<div class="guide-overlay"></div>
<div class="guide-video">
	<div class="guide-video-tip">Tutorial</div>
	<video class="guide-video"><source src="https://s3.amazonaws.com/visualops-guide/Kazam_screencast_00003.mp4" type="video/mp4"></video>
</div>
<ul class="guide-cards">
	<li class="guide-card color1">
		<div class="head"></div>
		<div class="info">15<span>s</span></div>
		<div class="intro">Design Your Infrastructure</div>
	</li>
	<li class="guide-card color2">
		<div class="head"></div>
		<div class="info">15<span>s</span></div>
		<div class="intro">Configure & Manage App</div>
	</li>
	<li class="guide-card color3">
		<div class="head"></div>
		<div class="info">15<span>s</span></div>
		<div class="intro">Launch & Update</div>
	</li>
	<li class="guide-card color4">
		<div class="head"></div>
		<div class="info">15<span>s</span></div>
		<div class="intro">Export Image & CloudFormation</div>
	</li>
	<li class="guide-card color5">
		<div class="head"></div>
		<div class="info">15<span>s</span></div>
		<div class="intro">Import From AWS</div>
	</li>
	<li class="guide-card color6">
		<div class="head"></div>
		<div class="info">15<span>s</span></div>
		<div class="intro">AWS Resource Monitor</div>
	</li>
	<li class="guide-card color7">
		<div class="head"></div>
		<div class="info">15<span>s</span></div>
		<div class="intro">Import CloudFormation</div>
	</li>
	<li class="guide-card color8">
		<div class="head"></div>
		<div class="info">15<span>s</span></div>
		<div class="intro">Team Collaboration</div>
	</li>
	<li class="guide-card color9">
		<div class="head"></div>
		<div class="info">15<span>s</span></div>
		<div class="intro">AWS Resource Manage</div>
	</li>
</ul>