/* Styles for Manage KP and Decrypt PW */

.password-hint::selection {
  background: transparent;
}

.decrypt-action {
  margin-top: 10px;
}

#do-kp-decrypt {
  width: 160px;
}

#keypair-pwd {
  width:       259px;
  margin-left: 20px;
}

.change-pw-recommend {
  font-size: 12px;
  margin:    5px 0 0 200px;
  cursor:    pointer;
  position:  relative;

    &:hover {
      color: #eee;
    }

    &:before {
      color:    #148BE6;
      top:      1px;
      position: absolute;
      left:     -20px;
    }
  }

.after-create {
  color: #ccc;

  span {
    font-weight : 800;
    color       : #eee;
  }
}

#modal-run-stack .modal-control-group.default-kp-group {
  padding-top: 0;
}

button#property-app-keypair {
  display: block;
  padding: 8px 10px;
}

#kp-runtime-placeholder .combo-dd .selection {
  padding-right: 19px;
}

#kp-runtime-placeholder {
  display: inline-block;
  width: 65%;
}

.default-kp-info {
  color: $base-b;
  margin-left: 3px;
}

.safari-download-textarea {
  width: 826px;
  height: 468px;
  font-size: 12px;
}
