.filter-input {
    min-width: 260px;
    display: inline-block;
    position: relative;
    margin-right: 5px;

    .fake-input {
        border: 1px solid #000;
        border-radius: 2px;
        height: 34px;
        padding: 0 3px;
        display: flex;
        overflow: hidden;
        background: #2b2b35;
    }

    .fake-input.focus {
        overflow: visible;
        height: auto;
        min-height: 34px;
    }

    .fake-input input {
        color: white;
        background: transparent;
        border: 0;
        outline: 0;
        font-size: 100%;
        flex-grow: 1;
    }

    .fake-input ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        flex-shrink: 0;
        max-width: 78%;
    }

    .fake-input ul li {
        list-style: none;
        display: inline-block;
        background: #F1F1F1;
        background: -webkit-linear-gradient(top, #FDFDFD 0%, #E3E3E3);
        background: -moz-linear-gradient(top, #FDFDFD 0%, #E3E3E3);
        background: -ms-linear-gradient(top, #FDFDFD 0%, #E3E3E3);

        border: 1px solid #d2d2d2;
        border-radius: 5px;
        cursor: pointer;
        padding: 0 5px;
        font-size: 16px;
        color: #333;
        margin-top: 7px;
        margin-left: 1px;
        margin-right: 1px;
        transition: opacity .25s linear;

        &:last-child {
            margin-bottom: 7px;
        }
        &::after {
            content: "×";
            color: #999;
            cursor: pointer;
            font-weight: bold;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

        }
        &:hover::after { color: $base-b; }
        &.resource_attribute, &.resource { color: #CF7C00; }

        .key { font-weight: bold; }


    }

    .dropdown {
        margin: 0;
        padding: 0;
        width: 100%;
        max-height: 210px;
        overflow-y: auto;
        list-style: none;
        border: 1px solid #0f0f0f;
        box-sizing: border-box;
        border-radius: 4px;
        position: absolute;
        left: 0;
        background: #353535;
        color: #D0D0D0;
        z-index: 1;
    }

    .dropdown:empty {
        border: 0;
    }

    .drop .dropdown {
        display: block;
    }

    .dropdown li {
        padding: 6px;

        &.label {
            font-weight: bold;
            color: white;
        }

        &.option {
            padding-left: 18px;
        }

        &.match {
            text-decoration: underline;
            font-weight: bold;
        }

        &.option.selected {
            background: #4a90e2;
            color: #F5F5F5;
        }
    }

    .line-tip {
        position: absolute;
        top: 10px;
        right: 15px;
    }

    .fake-input.focus .line-tip {
        display: none;
    }
}



.OEPanelTop .filter-input {
    width: 1000px;

    .fake-input {
        margin-top: 2px;
    }

}