.toggle-eip {
	cursor: pointer;
	width: 14px;
	height: 17px;
	background: url('../images/ide/icon/icn-eipoff.png') no-repeat;
}

.toggle-eip.associated {
	background: url('../images/ide/icon/icn-eipon.png') no-repeat;
}