/* Modal */
// #modal-box {
// 	position     : absolute;
// 	z-index      : 70;
// 	border-radius: 3px;
// 	background   : rgba(32, 32, 32, 0.9);
// 	box-shadow   : 1px 1px 5px rgba(0, 0, 0, .4);
// 	color        : #999;
// }

.modal-box{
    position   : absolute;
	opacity    : 0;
	margin-top : -100px;

    z-index       : 70;
    border-radius : 3px;
    background    : rgba(32,32,32,0.9);
    box-shadow    : 1px 1px 5px rgba(0,0,0,0.4);
    color         : #999;

    &.bounce {
	  opacity       : 1;
	  margin-top    : 0;
    }

  	&.animate{
	  -webkit-transition: opacity .3s, margin-top .3s;
	  -moz-transition: opacity .3s, margin-top .3s;
	  -ms-transition: opacity .3s, margin-top .3s;
	  -o-transition: opacity .3s, margin-top .3s;
	  transition: opacity .3s, margin-top .3s;
	}
}

.modal-box.panel {
  margin-top: 0;
  position: fixed;
  height: 100%;
  right: -50%;
  -webkit-transition: right 0.3s, opacity 0.3s;
  -moz-transition: right 0.3s, opacity 0.3s;
  -ms-transition: right 0.3s, opacity 0.3s;
  -o-transition: right 0.3s, opacity 0.3s;
  transition: right 0.3s, opacity 0.3s;
  opacity: 1;
}
.modal-box.panel.bounce{
  right: 0;
  opacity: 1;
}
.modal-box.fullscreen.bounce{
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.modal-box.fullscreen{
  width             : 100%;
  height            : 100%;
  position          : fixed;
  margin-top        : 0;
  overflow          : auto;
  -webkit-transform : scale(0.8);
  -moz-transform    : scale(0.8);
  -ms-transform     : scale(0.8);
  transform         : scale(0.8);
  opacity           : 0;

  @include transit($method:all,$dur:.2s);

  .modal-wrapper-fix{
	width: 100%!important;
  }

  .modal-header{
	z-index: 1;
	padding: 0;

	h3{
	  display: none;
	}

	i.modal-close{
		font-size     : 26px;
		padding       : 5px 20px;
		top           : 0;
		right         : 20px;
		height        : 30px;
		text-align    : center;
		line-height   : 29px;
		cursor        : pointer;
		border-radius : 0 0 5px 5px;
		background    : #646675;
		font-weight   : 900;
		color         : #d8d8d8;

	  @include transit($method:background,$dur:.3s);
	}

	i.modal-close:hover{
	  color: #fff;
	  background: $base-p;
	}

  }
  .modal-body{
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: auto;
  }
  .modal-footer{
	display: none;
  }
}

.modal-wrapper-fix{
  width: 480px;
}


#modal-box #bubble-box {
	z-index: 80;
}

.modal-header .modal-close,
.modal-header .btn-modal-close {
	position     : absolute;
	top          : 16px;
	right        : 10px;
	width        : 20px;
	height       : 20px;
	border-radius: 2px;
	color        : #999;
	text-align   : center;
	font-style   : normal;
	font-size    : 16px;
	line-height  : 20px;
	cursor       : pointer;

}

.modal-header .modal-close:hover,
.modal-header .btn-modal-close:hover {
	color     : #fff;
	background: rgba(0,0,0,.2);
}

.btn-silver.modal-close,
#close-awscredential,
.btn-silver.btn-modal-close {
	min-width: 80px;
	background: none;
	color: #666;
	box-shadow: none;

  	&[disabled], &[disabled]:hover{
	  background: none;
	  color: #666666;
	  cursor: default;
	}

}
.modal-box.panel .modal-header .modal-close{
  left: 15px;
}
.btn-silver.modal-close:hover,
#close-awscredential:hover,
.btn-silver.btn-modal-close:hover {
	color: #148BE6;
	background: none;
}

.modal-header {
	position     : relative;
	padding      : 6px 15px;
	border-bottom: 1px solid #1a1a1a;
	color        : #F1F1F1;
}

.modal-header h3 {
	text-align : center;
	font-size  : 18px;
	cursor     : move;
	display    : block;
	color      : #999;
  	width: 98%;
  	text-overflow: ellipsis;
  	overflow: hidden;
  	white-space: nowrap;
}
.modal-box.panel .modal-header h3{
  cursor: default;
}
.modal-body {
	padding    : 12px 15px;
	min-height : 100px;
}

.modal-text-wraper {
	display    : table;
	min-height : 100px;
}

.modal-center-align-helper {
	display: table-cell;
	vertical-align: middle;
}

.modal-text-major {
	font-size     : 16px;
	color         : #eee;
	margin-bottom : 10px;
    margin-top: 10px;
}

.modal-text-minor {
	font-size : 14px;
	color     : #ccc;
}

.modal-text-warning {
	color: #D64442;
}

.modal-body .dl-horizontal dt,
.modal-body .dl-horizontal dd {
	margin-top: 10px;
}

.modal-body .dl-horizontal dt {
	width: 120px;
}

.modal-body .dl-horizontal dd {
	margin-left: 130px;
	word-wrap: break-word;
}

.modal-footer {
	padding: 15px 10px;
	text-align: right;
}
.modal-box.panel .modal-footer{
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#modal-wrap {
	position        : fixed;
	top             : 0;
	right           : 0;
	bottom          : 0;
	left            : 0;
	z-index         : 70;
	background-color: rgba(41, 56, 71, 0.8);
  	opacity: 0;
 	@include transit($method : opacity,$dur:.3s);

  	&.show{
	  opacity: 1;
	}
}

.modal-control-group {
	padding       : 10px;
	border-radius : 4px;
}

.modal-control-group > label {
	width: 140px;
	display: inline-block;
	line-height: 36px;
	cursor: pointer;
	color: #ccc;
}

.modal-control-group > label.label-short {
	width: 95px;
	float: left;
}

.modal-control-group .input {
	width   : 210px;
	padding : 7px 6px;
}

.resource-name-label {
	font-weight: bold;
	color: #ddd;
}

.modal-body .selectbox .selection {
	padding: 8px 5px;
}

.modal-body .selection {
	border        : 1px solid #1a1a1a;
}

.modal-body .selectbox .selection:hover {
}

/* List Structure in Modal */

.modal-list-header {
    padding       : 6px 12px;
    background    : lighten($bg-p, 15%);
    border-bottom : 1px solid darken($bg-p, 10%);

	&::selection {
		background: transparent;
	}
}

.modal-list-body {
	background: $bg-p;
	padding   : 5px 10px;

	&:nth-child(odd) {
		background: darken($bg-p, 1%);
	}

	&:hover {
		background: lighten($bg-p, 2%);
	}

	::selection {
		background: transparent;
	}
}

.error-message-wrapper{
  padding: 15px 10px;
  margin: 0;
}

.error-message{
  color: #ff4444;
  margin: 0;
}

li.error-message{
  list-style-position: inside;
  list-style-type: disc;
}

#parameter-table{
    overflow: auto;
}

.modal-shrink {
    display    : block;
    background : #020202;
    margin     : 0 -15px;
    padding    : 20px;
}
.modal-shrink .sub-gray{
    margin-bottom: 10px;
    font-size: 16px;
}
.modal-shrink .error{
    color: #F74A48;
}