.tag-manager-wrap{
  height: 400px;
  position: relative;
  margin-bottom: -10px;
}
.tag-resource-list{
  width: 260px;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  .filter-input{
    width: 260px;
  }
  .resource-list{
    margin-top: 10px;
    border: 1px solid #000;
    padding: 0px;
    height: 341px;
    box-sizing: border-box;
    overflow: auto;
  }
  .tag-resource-table{
    &.table-head-fix .table-head thead th, &.table-head-fix .table tr td {
      padding: 5px;
    }
    tr th:first-child, tr td:first-child{
      width: 10px;
    }
    tbody tr{
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &.selected{
        td{
          background-color: #1F1F1F;
          border-color: #1F1F1F;
        }
      }
    }
  }
}


.tag-resource-detail{
  margin-left: 275px;
  margin-top: 5px;
  background-color: #242424;
  box-sizing: border-box;
  border: 1px solid #000000;
  position: relative;
  .tabs-navs{
    width: 100%;
    height: 35px;
    padding: 5px;
    ul{
      li{
        display: inline-block;
        padding: 5px 20px 10px;
        font-size: 16px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &.active{
          border-bottom: 1px solid #148BE6;
        }
      }
    }
  }
  .tabs-content{
    overflow: auto;
    height: 340px;
    .tab-content{
      padding: 0;
      .tags-list{
        li{
          margin: 4px 0;
          &:first-child{
            margin-top: 4px;
          }
          &:hover{
            background-color: #2a2a2a;
          }
          .edit{
            display: none;
          }
          &.edit{
            .edit{
              display: block;
            }
            .show{
              display: none;
            }
          }
        }
        .tag-key{
          margin-right: 0;
          margin-left: 5px;
        }
        .tag-key,.tag-value{
          width: 145px;
        }
        .checkbox{
          margin: 0 30px 0 30px;
          input[disabled='disabled'] + label, input[disabled] + label{
            opacity: 0.3;
          }
        }
        span.tag-key, span.tag-value, span.tag-inherit{
          display: inline-block;
          width: 145px;
          padding: 5px 20px 5px 6px;
          margin-left: 5px;
          height: 19px;
          line-height: 19px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        span.tag-inherit{
          width: 45px;
        }
        .action{
          display: inline-block;
          width: 155px;
          text-align: center;
          vertical-align: top;
          .btn{
            min-width: 50px;
            padding: 5px 10px;
            margin: 0 5px;
          }
          .edit-cancel{
            background: none;
            color: #666;
            box-shadow: none;
          }
        }
      }
      .pull-right{
        text-align: right;
        margin: 10px 20px;
      }
    }
    .tag-empty{
      position: absolute;
      top: 45%;
      text-align: center;
      width: 50%;
      font-size: 15px;
      left: 25%;
    }
  }
}