.tag-manager-wrap{
  height: 300px;
  position: relative;
  margin-bottom: -10px;
}
.tag-resource-list{
  width: 200px;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  input.filter-bar{
    width: 100%;
    box-sizing: border-box;
  }
  .resource-list{
    margin-top: 10px;
    border: 1px solid #000;
    padding: 0px;
    height: 261px;
    box-sizing: border-box;
    overflow: auto;
  }
  .tag-resource-table{
    &.table-head-fix .table-head thead th, &.table-head-fix .table tr td {
      padding: 5px;
    }
    tr th:first-child, tr td:first-child{
      width: 10px;
    }
    tbody tr{
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &.selected{
        td{
          background-color: #1F1F1F;
          border-color: #373737;
        }
      }
    }
  }
}


.tag-resource-detail{
  height: 300px;
  margin-left: 215px;
  background-color: #242424;
  box-sizing: border-box;
  border: 1px solid #000000;
}