<div class='ops-process'>
  <section class="processing">
  	<header>{{ i18n "PROC_TITLE" }}<span class="process-info">{{progress}}%</span></header>
    <header class="processing rolling-back-content">Rolling back.</header>
  	<div class="progress"> <div class="bar" style="width:{{progress}}%;"></div> </div>
  </section>

  <section class="success hide">
    <p class="title">{{ i18n "PROC_RLT_DONE_TITLE" }}</p>
    <p class="sub-title">{{ i18n "PROC_RLT_DONE_SUB_TITLE" }}</p>
  </section>

  <section class="fail hide error-info-block">
    <header>{{ i18n "PROC_FAILED_TITLE" }}</header>
    <p class="sub-title">{{ i18n "PROC_RLT_FAILED_SUB_TITLE" }}</p>
    <div class="result-error-info">
      <p class="title">{{ i18n "PROC_ERR_INFO" }}</p>
      <p class="detail"></p>
    </div>
    <button class="btn btn-silver btn-close-process right">{{ i18n "PROC_CLOSE_TAB" }}</button>
  </section>
</div>
