<article class="property-dbinstance" data-bind="true">

    <div class="property-dbinstance-not-available-info hide">
        {{i18n "PROP.DBINSTANCE_NOT_AVAILABLE"}}
    </div>

    {{#if isAppEdit}}
    {{#if isCanPromote}}
    <section class="property-control-group property-dbinstance-promote-replica hide">
        <button class="btn btn-primary" id="property-dbinstance-promote-replica" style="width: 200px;">{{i18n "PROP.DBINSTANCE_READ_REPLICA"}}</button>
    </section>
    {{/if}}
    {{#if isPromoted}}
    <section class="property-control-group property-dbinstance-promote-replica hide">
        <button class="btn" id="property-dbinstance-promote-replica" style="width: 200px;">{{i18n "PROP.DBINSTANCE_CANCEL_PROMOTE"}}</button>
    </section>
    {{else}}
    <section class="property-control-group apply-immediately-section {{#unless isChanged}}hide{{/unless}}">
        <div class="checkbox">
            <input id="property-dbinstance-apply-immediately" type="checkbox" {{#if applyImmediately}}checked="true"{{/if}} value="None" name="property-dbinstance-apply-immediately">
            <label for="property-dbinstance-apply-immediately"></label>
        </div>
        <label for="property-dbinstance-apply-immediately">{{i18n "PROP.DBINSTANCE_APPLY_IMMEDIATELY"}}</label>
        <a class="tooltip icon-info" href="http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.DBInstance.html#Overview.DBInstance.Modifying" data-tooltip="{{i18n "PROP.DBINSTANCE_APPLY_IMMEDIATELY_LINK_TOOLTIP"}}" target="_blank"></a>
    </section>
    {{/if}}
    {{/if}}

    {{#unless isPromoted}}
    <div class="option-group-head expand">
        {{i18n "PROP.DBINSTANCE_DETAILS"}}
        {{#if isRestoreDB}}<a href="#" class="icon-rds-restore tooltip property-btn-db-restore-config action-link" data-tooltip="Restore to point in time config" ></a>{{/if}}
    </div>
    <div class="option-group">

        {{#if isRestoreDB}}
        <section class="property-control-group clearfix">
            <label>Source DB Instance</label>
            <div>{{sourceDbIdForRestore}}</div>
        </section>
        {{/if}}

        {{#if snapshotId}}
        <section class="property-control-group clearfix">
            <label>{{i18n "PROP.DBINSTANCE_DBSNAPSHOT_ID"}}</label>
            <div>{{snapshotId}}</div>
        </section>
        <section class="property-control-group clearfix">
            <label>{{i18n "PROP.DBINSTANCE_DBSNAPSHOT_SIZE"}}</label>
            <div>{{snapshotSize}}GiB</div>
        </section>
        {{/if}}

        {{#if isAppEdit}}
        <section class="property-control-group clearfix">
            <label>{{ i18n "PROP.DBINSTANCE_APP_DBINSTANCE_ID" }}</label>
            <div>{{DBInstanceIdentifier}}{{#if PendingModifiedValues.DbinstanceIdentifier}}{{i18n "PROP.DBINSTANCE_PENDING_APPLY"}}{{/if}}</div>
        </section>
        {{else}}
        <section class="property-control-group" >
            <label class="left" for="property-dbinstance-name" >{{i18n "PROP.DBINSTANCE_NAME"}}</label>
            <span class="required-input right">{{ i18n "PROP.INSTANCE_REQUIRE" }}</span>
            <input class="input" type="text" value="{{ name }}" id="property-dbinstance-name" data-ignore="true" data-required-rollback="true"/>
        </section>
        {{/if}}

        <div id ="lvia-container"></div>

        <section class="property-control-group">
            <div class="checkbox">
                <input id="property-dbinstance-version-update" type="checkbox" {{#if autoMinorVersionUpgrade}}checked="true"{{/if}} value="None" name="property-dbinstance-version-update">
                <label for="property-dbinstance-version-update"></label>
            </div>
            <label for="property-dbinstance-version-update">{{i18n "PROP.DBINSTANCE_AUTO_MINOR_VERSION_UPDATE"}}</label>
        </section>

        {{#unless isRestoreDB}}
        <section class="property-control-group">
            <label>{{i18n "PROP.DBINSTANCE_ALLOCATED_STORAGE"}}</label>
            <span class="required-input right">{{ i18n "PROP.INSTANCE_REQUIRE" }}</span>
            <div class="ranged-number-input">
                <label for="property-dbinstance-storage"></label>
                <input id="property-dbinstance-storage" type="text" class="input parsley-validated property-input-left tooltip" value="{{allocatedStorage}}" name="property-dbinstance-storage" data-ignore="true" maxlength="4" data-required="true" data-type="number" {{#if isAppEdit}}{{#if isSqlserver}}disabled data-tooltip="{{i18n "PROP.DBINSTANCE_SCALLING_NOT_SUPPORT"}}"{{/if}}{{/if}}>
                <label for="property-dbinstance-storage" class="property-label-right">GB</label>
            </div>
            {{#if isAppEdit}}
                {{#if originAllocatedStorage}}
                <label>{{i18n "PROP.DBINSTANCE_CURRENT_ALLOCATED_STORAGE"}}{{originAllocatedStorage}} GB</label>
                {{/if}}
            {{/if}}
        </section>
        {{/unless}}

        {{#ifLogic isRestoreDB 'and' isSqlserver}}
        {{else}}
        <section class="property-control-group">
            <div class="checkbox">
                <input id="property-dbinstance-iops-check" class="tooltip" {{#if isAppEdit}}{{#if isSqlserver}}disabled="disabled"{{/if}}{{/if}} type="checkbox" {{#if iops}}checked="true"{{/if}} value="None" name="property-dbinstance-iops-check">
                <label for="property-dbinstance-iops-check"></label>
            </div>
            <label for="property-dbinstance-iops-check" class="property-dbinstance-iops-check-tooltip tooltip" data-tooltip="dsaasd">{{i18n "PROP.DBINSTANCE_USE_PROVISIONED_IOPS"}}</label>
        </section>
        <section class="property-control-group property-dbinstance-iops-value-section {{#unless iops}}hide{{/unless}}">
            <label class="left">{{i18n "PROP.DBINSTANCE_PROVISIONED_IOPS"}}</label>
            <div class="ranged-number-input">
                <input class="input" id="property-dbinstance-iops-value" {{#if isAppEdit}}{{#if isSqlserver}}disabled{{/if}}{{/if}} type="text" value="{{iops}}" name="iops-ranged" data-ignore="true" data-required="true" data-type="number">
                <label for="property-dbinstance-iops-value"></label>
            </div>
            <label class="property-dbinstance-iops-info">{{iopsInfo}}</label>
        </section>
        {{/ifLogic}}

        {{#if isAppEdit}}
        <div class="property-info property-info-iops-adjust-tip {{#ifCond originIOPS iops}}hide{{/ifCond}} {{#unless originIOPS}}hide{{/unless}}">{{i18n "PROP.DBINSTANCE_IOPS_AVAILABILITY_IMPACT"}}</div>
        {{/if}}

        {{#unless isRestoreDB}}
        {{#if isAppEdit}}
        <section class="property-control-group clearfix">
            <label>{{ i18n "PROP.DBINSTANCE_USERNAME" }}</label>
            <div>{{MasterUsername}}</div>
        </section>
        {{else}}
        <section class="property-control-group" >
            <label class="left" for="property-dbinstance-master-username" >{{i18n "PROP.DBINSTANCE_MASTER_USERNAME"}}</label>
            <span class="required-input right">{{ i18n "PROP.INSTANCE_REQUIRE" }}</span>
            <input class="input"  type="text" id="property-dbinstance-master-username" value="{{username}}" data-ignore-regexp="^[a-zA-Z]+[0-9a-zA-Z_]*$" data-required-rollback="true"/>
        </section>
        {{/if}}

        <section class="property-control-group" >
            <label class="left" for="property-dbinstance-master-password" >{{i18n "PROP.DBINSTANCE_MASTER_PASSWORD"}}</label>
            <span class="required-input right">{{ i18n "PROP.INSTANCE_REQUIRE" }}</span>
            <input class="input tooltip" data-tooltip="{{#ifCond password "****"}}{{else}}{{#if password}}Default Password: 12345678{{/if}}{{/ifCond}}" type="password" placeholder="****" id="property-dbinstance-master-password" value="{{#ifCond password "****"}}{{else}}{{password}}{{/ifCond}}" data-type="ascii" data-ignore="true" data-required="true"/>
        </section>
        {{/unless}}

    </div>

    <div class="option-group-head expand">{{i18n "PROP.DBINSTANCE_DATABASE_CONFIG"}}</div>
    <div class="option-group">

        {{#if isAppEdit}}
        <section class="property-control-group clearfix">
            {{#if dbName}}<label>{{ i18n "PROP.DBINSTANCE_NAME" }}</label>
            <div>{{dbName}}</div>{{/if}}
            <label>{{ i18n "PROP.DBINSTANCE_PORT" }}</label>
            <div>{{#if Endpoint}}{{Endpoint.Port}}{{else}}{{i18n "PROP.DBINSTANCE_NOT_READY"}}{{/if}}</div>
        </section>
        {{else}}

        {{#unless isRestoreDB}}
        {{#unless isSqlserver}}
        {{#unless snapshotId}}
        <section class="property-control-group" >
            <label class="left" for="property-dbinstance-database-name" >{{i18n "PROP.DBINSTANCE_DATABASE_NAME"}}</label>
            <input class="input"  type="text" id="property-dbinstance-database-name" value="{{dbName}}" data-ignore="true" data-required="true" data-ignore-regexp="^[a-zA-Z]+[0-9a-zA-Z_]*$"/>
        </section>
        {{else}}
        {{#unless isMysql}}
        <section class="property-control-group" >
            <label class="left" for="property-dbinstance-database-name" >{{i18n "PROP.DBINSTANCE_DATABASE_NAME"}}</label>
            <input class="input"  type="text" id="property-dbinstance-database-name" value="{{dbName}}" data-ignore="true" data-required="true" data-ignore-regexp="^[a-zA-Z]+[0-9a-zA-Z_]*$"/>
        </section>
        {{/unless}}
        {{/unless}}
        {{/unless}}
        {{/unless}}

        <section class="property-control-group" >
            <label class="left" for="property-dbinstance-database-port" >{{i18n "PROP.DBINSTANCE_DATABASE_PORT"}}</label>
            <input class="input"  type="text" id="property-dbinstance-database-port" value="{{port}}" data-ignore="true" data-type="number" data-required="true" data-min="1150" data-max="65535"/>
        </section>
        {{/if}}

        <div class="property-control-group clearfix property-dbinstance-optiongroup"></div>

        {{#unless isRestoreDB}}
        {{#unless snapshotId}}
        <section class="property-control-group">
            <label class="left">{{i18n "PROP.DBINSTANCE_PG"}}</label>
            <div id="property-dbinstance-parameter-group-select">
            </div>
        </section>
        {{/unless}}

        {{#if isOracle}}
        <section class="property-control-group">
            <label class="left">{{i18n "PROP.DBINSTANCE_CHARACTER_SET_NAME"}}</label>
            <div class="selectbox combo-dd" id="property-dbinstance-charset-select">
                <div class="selection"></div>
                <div class="dropdown">
                    <div class="scroll-wrap scrollbar-auto-hide clearfix">
                        <div class="scrollbar-veritical-wrap"><div class="scrollbar-veritical-thumb"></div></div>
                        <div class="scroll-content">
                            <ul>
                                {{#each oracleCharset}}
                                <li class="item {{#if selected}}selected{{/if}}" data-id="{{charset}}">{{charset}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{/if}}
        {{/unless}}

    </div>

    {{#unless hideAZConfig}}

    <div class="option-group-head expand">{{i18n "PROP.DBINSTANCE_NETWORK_AZ_DEPLOYMENT"}}</div>
    <div class="option-group">
        {{#unless isAppEdit}}
        <section class="property-control-group">
            <div class="checkbox">
                <input id="property-dbinstance-public-access-check" type="checkbox" {{#if accessible}}checked="true"{{/if}} value="None" name="property-dbinstance-public-access-check">
                <label for="property-dbinstance-public-access-check"></label>
            </div>
            <label for="property-dbinstance-public-access-check">{{i18n "PROP.DBINSTANCE_PUBLICLY_ACCESSIBLE"}}</label>
        </section>
        {{/unless}}

        <div id="property-dbinstance-mutil-az"></div>

    </div>

    {{/unless}}

    {{/unless}}


    {{#unless isRestoreDB}}
    <div class="option-group-head {{#if isPromoted}}expand{{/if}}">{{i18n "PROP.DBINSTANCE_BACKUP_OPTION"}}</div>
    <div class="option-group">

        <section class="property-control-group tooltip" {{#if hasSlave}}data-tooltip="{{i18n "PROP.DBINSTANCE_REPLICA_MUST_ENABLE_AUTOMATIC_BACKUPS"}}"{{else}}{{#if disableBackupForOldMySQL}}data-tooltip="DB Backups not supported on a read replica running a mysql version before 5.6"{{/if}}{{/if}}>

            <div class="checkbox">
                <input id="property-dbinstance-auto-backup-check" type="checkbox" {{#if backupRetentionPeriod}}checked="true"{{/if}} value="None" name="property-dbinstance-auto-backup-check" {{#if hasSlave}}disabled checked{{/if}} {{#if disableBackupForOldMySQL}}disabled{{/if}}>
                <label for="property-dbinstance-auto-backup-check"></label>
            </div>
            <label for="property-dbinstance-auto-backup-check">{{i18n "PROP.DBINSTANCE_ENABLE_AUTOMATIC_BACKUP"}}</label>
        </section>

        <div id="property-dbinstance-auto-backup-group" class="{{#unless backupRetentionPeriod}}hide{{/unless}}">

            <section id="group-dbinstance-backup-period" class="property-control-group {{#unless backupRetentionPeriod}}hide{{/unless}}" >
                <label>{{i18n "PROP.DBINSTANCE_BACKUP_RETENTION_PERIOD"}}</label>
                <input class="input shorter-input" title="hours" value="{{backupRetentionPeriod}}" id="property-dbinstance-backup-period" type="text" data-type="digits" data-min="1" data-max="35" data-ignore="true">
                <label class="property-label-right" for="property-dbinstance-backup-period">{{i18n "PROP.DBINSTANCE_BACK_RETANTION_PERIOD_DAY"}}</label>
            </section>

            <section id="property-dbinstance-backup-window-select" class="property-control-group">
                <label>{{i18n "PROP.DBINSTANCE_BACKUP_WINDOW"}}</label>
                <div class="property-dbinstance-radio-group">
                    <div class="radio">
                        <input id="property-dbinstance-backup-radio-no" name="property-dbinstance-backup-radio" type="radio" {{#unless backupWindow}}checked="checked"{{/unless}} value="no">
                        <label for="property-dbinstance-backup-radio-no"></label>
                    </div>
                    <label for="property-dbinstance-backup-radio-no">{{i18n "PROP.DBINSTANCE_NO_PREFERENCE"}}</label>
                </div>
                <div class="property-dbinstance-radio-group">
                    <div class="radio">
                        <input id="property-dbinstance-backup-radio-window" name="property-dbinstance-backup-radio" type="radio" {{#if backupWindow}}checked="checked"{{/if}} value="window">
                        <label for="property-dbinstance-backup-radio-window"></label>
                    </div>
                    <label for="property-dbinstance-backup-radio-window">{{i18n "PROP.DBINSTANCE_SELECT_WINDOW"}}</label>
                </div>
            </section>

            <section id="property-dbinstance-backup-window-group" class="{{#unless backupWindow}}hide{{/unless}} property-control-group">
                <section class="property-control-group">
                    <label>{{i18n "PROP.DBINSTANCE_START_TIME"}}</label>
                    <input class="input shorter-input" type="text" id="property-dbinstance-backup-window-start-time" value="{{backup.startTime}}" data-ignore="true" data-ignore-regexp="^[0-9:]*$"/>
                    <label>UTC</label>
                </section>
                <section class="property-control-group">
                    <label>{{i18n "PROP.DBINSTANCE_DURATION"}}</label>
                    <div class="selectbox shorter-dropdown" id="property-dbinstance-backup-window-duration">
                        <div class="selection"></div>
                        <ul class="dropdown">
                            {{#each backupDurations}}
                            <li class="item {{#if selected}}selected{{/if}}" data-id="{{value}}">{{value}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    <label for="property-dbinstance-maintenance-window-duration">{{i18n "PROP.DBINSTANCE_BACKUP_DURATION_HOUR"}}</label>
                </section>
            </section>

            {{#if originBackupWindow}}
            <section class="property-control-group">
                <label>{{i18n "PROP.DBINSTANCE_CURRENT_BACKUP_WINDOW"}}{{originBackupWindow}}</label>
            </section>
            {{/if}}



        </div>
    </div>

    {{#unless isPromoted}}
    <div class="option-group-head">{{i18n "PROP.DBINSTANCE_MAINTENANCE_OPTION"}}</div>
    <div class="option-group">

        <section id="property-dbinstance-maintenance-window-select" class="property-control-group">
            <label>{{i18n "PROP.DBINSTANCE_MAINTENANCE_WINDOW"}}</label>
            <div class="property-dbinstance-radio-group">
                <div class="radio">
                    <input id="property-dbinstance-maintenance-radio-no" name="property-dbinstance-maintenance-radio" type="radio" {{#unless maintenanceWindow}}checked="checked"{{/unless}} value="no">
                    <label for="property-dbinstance-maintenance-radio-no"></label>
                </div>
                <label for="property-dbinstance-maintenance-radio-no">{{i18n "PROP.DBINSTANCE_NO_PREFERENCE"}}</label>
            </div>
            <div class="property-dbinstance-radio-group">
                <div class="radio">
                    <input id="property-dbinstance-maintenance-radio-window" name="property-dbinstance-maintenance-radio" type="radio" {{#if maintenanceWindow}}checked="checked"{{/if}} value="window">
                    <label for="property-dbinstance-maintenance-radio-window"></label>
                </div>
                <label for="property-dbinstance-maintenance-radio-window">{{i18n "PROP.DBINSTANCE_SELECT_WINDOW"}}</label>
            </div>
        </section>

        <section id="property-dbinstance-maintenance-window-group" class="property-control-group {{#unless maintenanceWindow}}hide{{/unless}}">
            <section class="property-control-group" >
                <label class="left">{{i18n "PROP.DBINSTANCE_MAINTENANCE_START_DAY"}}</label>
                <div class="selectbox shorter-dropdown" id="property-dbinstance-maintenance-window-start-day-select">
                    <div class="selection">{{i18n "PROP.WEEKDAY_MONDAY"}}</div>
                    <ul class="dropdown" tabindex="-1">
                        <li class="item" data-id="mon">{{i18n "PROP.WEEKDAY_MONDAY"}}</li>
                        <li class="item" data-id="tue">{{i18n "PROP.WEEKDAY_TUESDAY"}}</li>
                        <li class="item" data-id="wed">{{i18n "PROP.WEEKDAY_WEDNESDAY"}}</li>
                        <li class="item" data-id="thu">{{i18n "PROP.WEEKDAY_THURSDAY"}}</li>
                        <li class="item" data-id="fri">{{i18n "PROP.WEEKDAY_FRIDAY"}}</li>
                        <li class="item" data-id="sat">{{i18n "PROP.WEEKDAY_SATURDAY"}}</li>
                        <li class="item" data-id="sun">{{i18n "PROP.WEEKDAY_SUNDAY"}}</li>
                    </ul>
                </div>
            </section>
            <section class="property-control-group" >
                <label>{{i18n "PROP.DBINSTANCE_START_TIME"}}</label>
                <input class="input shorter-input" type="text" id="property-dbinstance-maintenance-window-start-time" value="{{maintenance.startTime}}" data-required-rollback="true" data-ignore="true" data-ignore-regexp="^[0-9:]*$"/>
                <label>UTC</label>
            </section>
            <section class="property-control-group" >
                <label>{{i18n "PROP.DBINSTANCE_DURATION"}}</label>
                <div class="selectbox shorter-dropdown" id="property-dbinstance-maintenance-window-duration">
                    <div class="selection"></div>
                    <ul class="dropdown" tabindex="-1">
                        {{#each maintenanceDurations}}
                        <li class="item {{#if selected}}selected{{/if}}" data-id="{{value}}">{{value}}</li>
                        {{/each}}
                    </ul>
                </div>
                <label for="property-dbinstance-maintenance-window-duration">{{i18n "PROP.DBINSTANCE_BACKUP_DURATION_HOUR"}}</label>
            </section>

        </section>

        {{#if originMaintenanceWindow}}
        <section class="property-control-group">
            <label>{{i18n "PROP.DBINSTANCE_CURRENT_BACKUP_WINDOW"}} <br/>{{originMaintenanceWindow}}</label>
        </section>
        {{/if}}
    </div>
    {{/unless}}

    {{#unless isRestoreDB}}
    {{#if snapshotId}}

    {{#if isAppEdit}}
    <div class="option-group-head" id="sg-head">{{ i18n "PROP.INSTANCE_SG_DETAIL" }}<span class="property-head-num-wrap">(<span id="property-head-sg-num"></span>)</span></div>
    <div class="option-group sg-group"></div>
    {{else}}
    {{/if}}

    {{else}}
    <div class="option-group-head" id="sg-head">{{ i18n "PROP.INSTANCE_SG_DETAIL" }}<span class="property-head-num-wrap">(<span id="property-head-sg-num"></span>)</span></div>
    <div class="option-group sg-group"></div>
    {{/if}}
    {{/unless}}

    {{/unless}}

</article>
