<article>
	<div class="option-group-head expand">DB Instance Details</div>
	<div class="option-group">

		<section class="property-control-group" data-bind="true">
			<label class="left" for="property-dbinstance-name" >DB Instance Identifier</label>
			<span class="required-input right">{{ i18n "PROP_INSTANCE_REQUIRE" }}</span>
			<input class="input"  type="text" value="{{ name }}" id="property-dbinstance-name" data-ignore="true" data-required-rollback="true"/>
		</section>

		<section class="property-control-group">
			<label class="left">License Model</label>
			<div class="selectbox" id="property-dbinstance-license-select">
				<div class="selection">general-public-license</div>
				<ul class="dropdown" tabindex="-1">
					<li class="item selected data-id="default">general-public-license</li>
					<li class="item data-id="dedicated">general-public-license</li>
				</ul>
			</div>
		</section>
	
		<section class="property-control-group">
			<label class="left">DB Engine Version</label>
			<div class="selectbox" id="property-dbinstance-engine-version-select">
				<div class="selection">5.6.13</div>
				<ul class="dropdown" tabindex="-1">
					<li class="item selected data-id="default">5.6.13</li>
					<li class="item data-id="dedicated">5.6.13</li>
				</ul>
			</div>
		</section>

	</div>
</article>
