<article class="property-dbinstance">
    <div class="option-group-head expand">DB Instance Details</div>
    <div class="option-group">

        {{#if sourceDbName}}
        <dl class="dl-vertical">
            <dt>Master DB Instance</dt>
            <dd>{{sourceDbName}}</dd>
        </dl>
        {{/if}}

        <section class="property-control-group" data-bind="true">
            <label class="left" for="property-dbinstance-name" >DB Instance Name</label>
            <span class="required-input right">{{ i18n "PROP_INSTANCE_REQUIRE" }}</span>
            <input class="input"  type="text" value="{{ name }}" id="property-dbinstance-name" data-ignore="true" data-required-rollback="true"/>
        </section>

        <section class="property-control-group">
            <label class="left">DB Instance Class</label>
            <div class="selectbox selectbox-mega" id="property-dbinstance-class-select">
                <div class="selection"></div>
                <ul class="dropdown">
                    {{#each classes}}
                    <li class="{{#if selected}}selected {{/if}}tooltip item" tabindex="-1" data-tooltip="{{main}}" data-id="{{instanceClass}}" {{#if hide}}style="display:none;"{{/if}}>
                        <div class="main truncate">{{instanceClass}}</div>
                        <!-- <div class="sub"><span>{{ecu}}</span> <span>{{core}}</span> <span>{{mem}}</span></div> -->
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>

        <section class="property-control-group">
            <div class="checkbox">
                <input id="property-dbinstance-version-update" type="checkbox" {{#if autoMinorVersionUpgrade}}checked="true"{{/if}} value="None" name="property-dbinstance-version-update">
                <label for="property-dbinstance-version-update"></label>
            </div>
            <label for="property-dbinstance-version-update">Auto Minor Version Update</label>
        </section>

        {{#if masterIops}}
        <section class="property-control-group">
            <div class="checkbox">
                <input id="property-dbinstance-iops-check" type="checkbox" {{#if iops}}checked="true"{{/if}} value="None" name="property-dbinstance-iops-check">
                <label for="property-dbinstance-iops-check"></label>
            </div>
            <label for="property-dbinstance-iops-check">Use Provisioned IOPS</label>
        </section>
        {{/if}}

        <section class="property-control-group" data-bind="true">
            <label class="left" for="property-dbinstance-database-port" >Database Port</label>
            <input class="input"  type="text" id="property-dbinstance-database-port" value="{{port}}" data-ignore="true" data-required-rollback="true"/>
        </section>

        <section class="property-control-group">
            <div class="checkbox">
                <input id="property-dbinstance-public-access-check" type="checkbox" {{#if accessible}}checked="true"{{/if}} value="None" name="property-dbinstance-public-access-check">
                <label for="property-dbinstance-public-access-check"></label>
            </div>
            <label for="property-dbinstance-public-access-check">Publicly Accessible</label>
        </section>



    </div>

</article>
