<div class="modal-header">
	<h3>Stack Design Tour</h3>
	<i class="modal-close">×</i>
</div>

<div id="guide-carousel" class="carousel slide" data-interval="false" data-wrap="false">
	<div class="carousel-inner">
		<div class="item active">
			<div class="carousel-caption">
				<h4>First Thumbnail label</h4>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			</div>
			<div id="guide-video-0" class="guide-class" data-video-id="8KeySx3kvO0"></div>
		</div>

		<div class="item">
			<div class="carousel-caption">
				<h4>Second Thumbnail label</h4>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			</div>
			<div id="guide-video-1" class="guide-class" data-video-id="oFJZrFF_h-E"></div>
		</div>

		<div class="item">
			<div class="carousel-caption">
				<h4>Third Thumbnail label</h4>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			</div>
			<div id="guide-video-2" class="guide-class" data-video-id="3FWs8DXgJBw"></div>
		</div>

		<div class="item">
			<div class="carousel-caption">
				<h4>Third Thumbnail label</h4>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			</div>
			<div id="guide-video-3" class="guide-class" data-video-id="pObhtOMINEM"></div>
		</div>
	</div>

	<div class="carousel-indicators-wrap">
		<ol class="carousel-indicators">
			<i data-target="#guide-carousel" data-slide-to="0" class="indicator-item active"></i>
			<i data-target="#guide-carousel" data-slide-to="1" class="indicator-item"></i>
			<i data-target="#guide-carousel" data-slide-to="2" class="indicator-item"></i>
			<i data-target="#guide-carousel" data-slide-to="3" class="indicator-item"></i>
		</ol>
	</div>

	<div class="carousel-btn">
		<a href="#guide-carousel" class="carousel-previous btn btn-blue">Previous</a>
		<a href="#guide-carousel" class="carousel-next btn btn-silver">Next</a>
		<a class="carousel-done btn btn-silver" style="display: none;">Done</a>
	</div>
</div>
