<div style="width:820px">
	<div class="modal-header">
		<h3>Select an Unmanaged VPC to be Visualized</h3>
		<i class="modal-close">&times;</i>
	</div>

	<div class="scroll-wrap scrollbar-auto-hide" style="height:400px;">
		<div class="scrollbar-veritical-wrap"><div class="scrollbar-veritical-thumb"></div></div>
		<div id="unmanaged-VPC-modal-body" class="scroll-content">
			<ul id="unmanaged-VPC-region-list">
				<li class="unmanaged-VPC-region-item">
					<div class="unmanaged-VPC-region-header">
						<span class="unmanaged-VPC-location-name">Tokyo</span>
						<span class="unmanaged-VPC-region-name">Asia Paciﬁc</span>
					</div>
					<ul class="unmanaged-VPC-resource-list clearfix">
						<li class="unmanaged-VPC-resource-item">
							<a href="javascript:void(0)">
								<h5>vpc-1222232</h5>
								<ol class="unmanaged-resource-data">
									<li>
										<span class="unmanaged-resource-number">3</span>
										<span class="unmanaged-resource-name">subnets</span>
									</li>
									<li>
										<span class="unmanaged-resource-number">23</span>
										<span class="unmanaged-resource-name">running instances</span>
									</li>
									<li>
										<span class="unmanaged-resource-number">10</span>
										<span class="unmanaged-resource-name">stopped instances</span>
									</li>
									<li>
										<span class="unmanaged-resource-number">1</span>
										<span class="unmanaged-resource-name">load balancer</span>
									</li>
								</ol>
							</a>
						</li>
						<li class="unmanaged-VPC-resource-item">
							<a href="javascript:void(0)">
								<h5>vpc-1222232</h5>
								<ol class="unmanaged-resource-data">
									<li>
										<span class="unmanaged-resource-number">3</span>
										<span class="unmanaged-resource-name">subnets</span>
									</li>
									<li>
										<span class="unmanaged-resource-number">23</span>
										<span class="unmanaged-resource-name">running instances</span>
									</li>
									<li>
										<span class="unmanaged-resource-number">10</span>
										<span class="unmanaged-resource-name">stopped instances</span>
									</li>
									<li>
										<span class="unmanaged-resource-number">1</span>
										<span class="unmanaged-resource-name">load balancer</span>
									</li>
								</ol>
							</a>
						</li>
						<li class="unmanaged-VPC-resource-item">
							<a href="javascript:void(0)">
								<h5>vpc-1222232</h5>
								<ol class="unmanaged-resource-data">
									<li>
										<span class="unmanaged-resource-number">3</span>
										<span class="unmanaged-resource-name">subnets</span>
									</li>
									<li>
										<span class="unmanaged-resource-number">23</span>
										<span class="unmanaged-resource-name">running instances</span>
									</li>
									<li>
										<span class="unmanaged-resource-number">10</span>
										<span class="unmanaged-resource-name">stopped instances</span>
									</li>
									<li>
										<span class="unmanaged-resource-number">1</span>
										<span class="unmanaged-resource-name">load balancer</span>
									</li>
								</ol>
							</a>
						</li>
					</ul>
				</li>
				<li class="unmanaged-VPC-region-item">
					<div class="unmanaged-VPC-region-header">
						<span class="unmanaged-VPC-location-name">San Paulo</span>
						<span class="unmanaged-VPC-region-name">South America</span>
					</div>
					<ul class="unmanaged-VPC-resource-list clearfix">
						<li class="unmanaged-VPC-resource-item">
							<a href="javascript:void(0)">
								<h5>vpc-1222232</h5>
								<ol class="unmanaged-resource-data">
									<li>
										<span class="unmanaged-resource-number">3</span>
										<span class="unmanaged-resource-name">subnets</span>
									</li>
									<li>
										<span class="unmanaged-resource-number">23</span>
										<span class="unmanaged-resource-name">running instances</span>
									</li>
									<li>
										<span class="unmanaged-resource-number">10</span>
										<span class="unmanaged-resource-name">stopped instances</span>
									</li>
									<li>
										<span class="unmanaged-resource-number">1</span>
										<span class="unmanaged-resource-name">load balancer</span>
									</li>
								</ol>
							</a>
						</li>
					</ul>
				</li>
				<li class="unmanaged-VPC-region-item">
					<div class="unmanaged-VPC-region-header">
						<span class="unmanaged-VPC-location-name">Tokyo</span>
						<span class="unmanaged-VPC-region-name">Asia Paciﬁc</span>
					</div>
					<ul class="unmanaged-VPC-resource-list clearfix">
						<li class="unmanaged-VPC-resource-item">
							<a href="javascript:void(0)">
								<h5>vpc-1222232</h5>
								<ol class="unmanaged-resource-data">
									<li>
										<span class="unmanaged-resource-number">3</span>
										<span class="unmanaged-resource-name">subnets</span>
									</li>
									<li>
										<span class="unmanaged-resource-number">23</span>
										<span class="unmanaged-resource-name">running instances</span>
									</li>
									<li>
										<span class="unmanaged-resource-number">10</span>
										<span class="unmanaged-resource-name">stopped instances</span>
									</li>
									<li>
										<span class="unmanaged-resource-number">1</span>
										<span class="unmanaged-resource-name">load balancer</span>
									</li>
								</ol>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>