<div style="width:796px">
	<div class="modal-header">
		<h3>Select a VPC to be visualized:</h3>
		<i class="modal-close">&times;</i>
	</div>

	<div class="scroll-wrap scrollbar-auto-hide" style="height:400px;">
		<div class="scrollbar-veritical-wrap"><div class="scrollbar-veritical-thumb"></div></div>
		<div id="unmanaged-VPC-modal-body" class="scroll-content">

			{{#unless resource_list }}
			<div class="loading-spinner"></div>
			{{/unless}}

			{{#is_service_error resource_list }}
			<div class="unmanaged-vpc-empty">Oops, loading VPC failed.
				<button class="btn btn-blue" id="btn-vpc-reload">Retry</button>
			</div>

			{{/is_service_error }}

			{{#is_unmanaged resource_list }}
			<div class="unmanaged-vpc-empty">There is no unmanaged VPC to visualize.</div>
			{{/is_unmanaged }}

			<ul id="unmanaged-VPC-region-list">
				{{#each resource_list }}
				<li class="unmanaged-VPC-region-item"
					data-region-name="{{ @key }}">
					<div class="unmanaged-VPC-region-header">
						<span class="unmanaged-VPC-location-name">{{ city_code @key }}</span>
						<span class="unmanaged-VPC-region-name">{{ city_area @key }}</span>
					</div>
					<ul class="unmanaged-VPC-resource-list clearfix">
						{{#each this }}
						<li class="unmanaged-VPC-resource-item{{#is_vpc_disabled this }} unmanaged-VPC-resource-item-disabled tooltip{{/is_vpc_disabled}}"
							{{#is_vpc_disabled this }} data-tooltip="{{i18n 'IDE_TIP_VISUALIZE_MORE_THAN_100_ENI'}}" {{/is_vpc_disabled}}
							id="{{ @key }}-item"
							data-vpc-id="{{ @key }}"
							data-vpc-obj='{{ convert_string @key this }}'>
							<a href="javascript:void(0)">
								<h5>{{ @key }}</h5>
								<ol class="unmanaged-resource-data">
									<li class="unmanaged-resource-item">
										<span class="unmanaged-resource-number">{{ vpc_sub_item this.origin 'AWS.VPC.Subnet' }}</span>
										<span class="unmanaged-resource-name">subnet</span>
									</li>
									<li class="unmanaged-resource-item">
										<span class="unmanaged-resource-number">{{ vpc_sub_item this.origin 'running' }}</span>
										<span class="unmanaged-resource-name">running instance</span>
									</li>
									<li class="unmanaged-resource-item">
										<span class="unmanaged-resource-number">{{ vpc_sub_item this.origin 'stopped' }}</span>
										<span class="unmanaged-resource-name">stopped instance</span>
									</li>
									<li class="unmanaged-resource-item">
										<span class="unmanaged-resource-number">{{ vpc_sub_item this.origin 'AWS.VPC.NetworkInterface' }}</span>
										<span class="unmanaged-resource-name">network interface</span>
									</li>
									<li class="unmanaged-resource-item">
										<span class="unmanaged-resource-number">{{ vpc_sub_item this.origin 'AWS.EC2.EIP' }}</span>
										<span class="unmanaged-resource-name">elastic ip</span>
									</li>
									<li class="unmanaged-resource-item">
										<span class="unmanaged-resource-number">{{ vpc_sub_item this.origin 'AWS.ELB' }}</span>
										<span class="unmanaged-resource-name">load balancer</span>
									</li>
								</ol>
							</a>
						</li>
						{{/each}}
					</ul>
				</li>
				{{/each}}
			</ul>

		</div>
	</div>
</div>