<article>
  <div class="option-group-head expand" id="vpc-property-detail">{{ i18n "PROP_VPC_TIT_DETAIL" }}</div>

  {{#if isAppEdit}}
  <div class="option-group">
    <dl class="dl-vertical">
      <dt>{{ i18n "PROP_VPC_APP_VPC_ID" }}</dt>
      <dd>{{vpcId}}</dd>
      <dt>{{ i18n "PROP_VPC_APP_STATE" }}</dt>
      <dd><i class="status status-{{state}}"></i>{{state}}</dd>
      <dt>{{ i18n "PROP_VPC_APP_CIDR" }}</dt>
      <dd>{{cidrBlock}}</dd>
      <dt>{{ i18n "PROP_VPC_DETAIL_LBL_TENANCY" }}</dt>
      <dd>{{instanceTenancy}}</dd>
      <dt>{{ i18n "PROP_VPC_APP_MAIN_RT" }}</dt>
      <dd>{{mainRTB}}</dd>
      <dt>{{ i18n "PROP_VPC_APP_DEFAULT_ACL" }}</dt>
      <dd>{{defaultACL}}</dd>
    </dl>
    <section class="property-control-group">
      <div class="checkbox">
        <input id="property-dns-resolution" type="checkbox"{{#if dnsSupport}} checked="checked"{{/if}} name="dns-resolution">
        <label for="property-dns-resolution"></label>
      </div>
      <label for="property-dns-resolution">{{ i18n "PROP_VPC_DETAIL_LBL_ENABLE_DNS_RESOLUTION" }}</label>
    </section>


    <section class="property-control-group">
      <div class="checkbox">
        <input id="property-dns-hostname" type="checkbox"{{#if dnsHosts}} checked="checked"{{/if}} name="dns-hostname">
        <label for="property-dns-hostname"></label>
      </div>
      <label for="property-dns-hostname">{{ i18n "PROP_VPC_DETAIL_LBL_ENABLE_DNS_HOSTNAME_SUPPORT" }}</label>
    </section>
  </div>


  {{else}}
  <div class="option-group" data-bind="true">
    <section class="property-control-group clearfix">
      <label class="left" for="property-vpc-name">{{ i18n "PROP_VPC_DETAIL_LBL_NAME" }}</label>
      <span class="required-input right">{{ i18n "PROP_LBL_REQUIRED" }}</span>
      <input class="input vpc-name" type="text" value="{{name}}" id="property-vpc-name" maxlength="255" data-ignore="true" data-required-rollback="true"/>
    </section>

    <section class="property-control-group clearfix">
      <label class="left" for="property-cidr-block">{{ i18n "PROP_VPC_DETAIL_LBL_CIDR_BLOCK" }}</label>
      <span class="required-input right">{{ i18n "PROP_LBL_REQUIRED" }}</span>
      <input class="input cidr-block tooltip" type="text" value="{{cidr}}" id="property-cidr-block" data-tooltip="{{i18n 'PROP_VPC_TIP_EG_10_0_0_0_16'}}" maxlength="255" data-ignore="true" data-required-rollback="true" data-trigger="change" data-type="awsCidr"/>
    </section>

    <section class="property-control-group">
      <label class="left">{{ i18n "PROP_VPC_DETAIL_LBL_TENANCY" }}</label>
      <div class="selectbox selectbox-mega" id="property-tenancy">
        <div class="selection">{{#if defaultTenancy}}{{{ i18n "PROP_VPC_DETAIL_TENANCY_LBL_DEFAULT" }}}{{else}}Dedicated{{/if}}</div>
        <ul class="dropdown" tabindex="-1">
          <li class="item{{#if defaultTenancy}} selected{{/if}}" data-id="default">{{ i18n "PROP_VPC_DETAIL_TENANCY_LBL_DEFAULT" }}</li>
          <li class="item{{#unless defaultTenancy}} selected{{/unless}}" data-id="dedicated">{{ i18n "PROP_VPC_DETAIL_TENANCY_LBL_DEDICATED" }}</li>
        </ul>
      </div>
      <div id="desc-dedicated" class="property-info">Selecting 'Dedicated' forces all instances launched into this VPC to run on single-tenant hardware. <a target="_blank" href="http://aws.amazon.com/dedicated-instances/">Additional charges will apply.</a></div>
    </section>

    <section class="property-control-group">
      <div class="checkbox">
        <input id="property-dns-resolution" type="checkbox"{{#if dnsSupport}} checked="checked"{{/if}} name="dns-resolution">
        <label for="property-dns-resolution"></label>
      </div>
      <label for="property-dns-resolution">{{ i18n "PROP_VPC_DETAIL_LBL_ENABLE_DNS_RESOLUTION" }}</label>
    </section>


    <section class="property-control-group">
      <div class="checkbox">
        <input id="property-dns-hostname" type="checkbox"{{#if dnsHosts}} checked="checked"{{/if}} name="dns-hostname">
        <label for="property-dns-hostname"></label>
      </div>
      <label for="property-dns-hostname">{{ i18n "PROP_VPC_DETAIL_LBL_ENABLE_DNS_HOSTNAME_SUPPORT" }}</label>
    </section>
  </div>

  {{/if}}

  <div class="option-group-head">{{ i18n "PROP_VPC_TIT_DHCP_OPTION" }}</div>
  <div class="option-group" id="dhcp-property-detail" data-type="true">
    <section class="property-control-group">
      <div class="radio property-dhcp">
        <input id="property-dhcp-none" type="radio" name="dhcp-opts" {{#if dhcp.none}}checked="checked"  {{/if}}value="none" />
        <label for="property-dhcp-none"></label>
      </div>
      <label for="property-dhcp-none">{{ i18n "PROP_VPC_DHCP_LBL_NONE" }}</label>
    </section>

    {{#if isAppEdit}}
      {{#if dhcp.default}}
      <section class="property-control-group">
        <div class="radio property-dhcp">
          <input id="property-dhcp-default" type="radio" name="dhcp-opts" {{#if dhcp.default}}checked="checked" {{/if}}value="none" />
          <label for="property-dhcp-default"></label>
        </div>
        <label for="property-dhcp-default">{{ i18n "PROP_VPC_DHCP_LBL_DEFAULT" }}</label>
      </section>
      {{/if}}
    {{else}}
      <section class="property-control-group">
        <div class="radio property-dhcp">
          <input id="property-dhcp-default" type="radio" name="dhcp-opts" {{#if dhcp.default}}checked="checked" {{/if}}value="none" />
          <label for="property-dhcp-default"></label>
        </div>
        <label for="property-dhcp-default">{{ i18n "PROP_VPC_DHCP_LBL_DEFAULT" }}</label>
      </section>
    {{/if}}
    <section class="property-control-group">
      <div class="radio property-dhcp">
        <input id="property-dhcp-spec" type="radio" name="dhcp-opts" {{#if dhcp.hasDhcp}}checked="checked"{{/if}} value="specified"/>
        <label for="property-dhcp-spec"></label>
      </div>
      <label for="property-dhcp-spec">{{ i18n "PROP_VPC_DHCP_LBL_SPECIFIED" }}</label>

      <div class="property-info {{#if dhcp.hasDhcp}}hide{{/if}}" id="property-dhcp-desc">Specify Domain Name, DNS Server, NTP server NetBIOS Name Server or NetBIOS Node Type.</div>
    </section>

    <section id="property-dhcp-options" data-bind="true" class="property-control-group-sub {{#unless dhcp.hasDhcp}}hide{{/unless}}">
      <div class="property-control-group">
        <label class="left" for="property-dhcp-domain">{{ i18n "PROP_VPC_DHCP_SPECIFIED_LBL_DOMAIN_NAME" }}</label>
        <input class="input tooltip" type="text" value="{{dhcp.domainName}}" data-tooltip="{{i18n 'PROP_VPC_TIP_ENTER_THE_DOMAIN_NAME'}}" id="property-dhcp-domain" maxlength="255" data-type="domain" data-ignore="true"/>
      </div>

      <div class="property-control-group">
        <label>{{ i18n "PROP_VPC_DHCP_SPECIFIED_LBL_DOMAIN_NAME_SERVER" }}</label>
        <div>
          <div class="checkbox left">
            <input id="property-amazon-dns" {{#if dhcp.amazonDNS}}checked="checked"{{/if}}type="checkbox">
            <label for="property-amazon-dns"></label>
          </div>
          <label for="property-amazon-dns">{{ i18n "PROP_VPC_DHCP_SPECIFIED_LBL_AMZN_PROVIDED_DNS" }}</label>
        </div>

        <div id="property-domain-server" class="multi-input" data-max-row="{{#if dhcp.amazonDNS}}3{{else}}4{{/if}}">
          {{#each dhcp.domainServers}}
          <div class="multi-ipt-row">
            <span class="ipt-controls"><a href="#" class="icon-del"></a><a href="#" class="icon-add"></a></span>
            <span class="ipt-wrapper"><input class="input tooltip" data-tooltip="{{i18n 'PROP_VPC_TIP_ENTER_UP_TO_4_DNS'}}" value="{{this}}" type="text" maxlength="255" placeholder="{{i18n 'PROP_VPC_TIP_EG_172_16_16_16'}}" data-type="ipv4" data-ignore="true"></span>
          </div>
          {{else}}
          <div class="multi-ipt-row">
            <span class="ipt-controls"><a href="#" class="icon-del"></a><a href="#" class="icon-add"></a></span>
            <span class="ipt-wrapper"><input class="input tooltip" data-tooltip="{{i18n 'PROP_VPC_TIP_ENTER_UP_TO_4_DNS'}}"  placeholder="{{i18n 'PROP_VPC_TIP_EG_172_16_16_16'}}" type="text" maxlength="255" data-type="ipv4" data-ignore="true"></span>
          </div>
          {{/each}}
        </div>
      </div>

      <div class="property-control-group">
        <label>{{ i18n "PROP_VPC_DHCP_SPECIFIED_LBL_NTP_SERVER" }}</label>
        <div id="property-ntp-server" class="multi-input" data-max-row="4">
          {{#each dhcp.ntpServers}}
          <div class="multi-ipt-row">
            <span class="ipt-controls"><a href="#" class="icon-del"></a><a href="#" class="icon-add"></a></span>
            <span class="ipt-wrapper"><input class="input tooltip" data-tooltip="{{i18n 'PROP_VPC_TIP_ENTER_UP_TO_4_NTP'}}" value="{{this}}" type="text" maxlength="255" data-type="ipv4" data-ignore="true"></span>
          </div>
          {{else}}
          <div class="multi-ipt-row">
            <span class="ipt-controls"><a href="#" class="icon-del"></a><a href="#" class="icon-add"></a></span>
            <span class="ipt-wrapper"><input class="input tooltip" data-tooltip="{{i18n 'PROP_VPC_TIP_ENTER_UP_TO_4_NTP'}}" type="text" maxlength="255" data-type="ipv4" data-ignore="true"></span>
          </div>
          {{/each}}
        </div>
      </div>

      <div class="property-control-group">
        <label>{{ i18n "PROP_VPC_DHCP_SPECIFIED_LBL_NETBIOS_NAME_SERVER" }}</label>
        <div id="property-netbios-server" class="multi-input" data-max-row="4">
          {{#each dhcp.netbiosServers}}
          <div class="multi-ipt-row">
            <span class="ipt-controls"><a href="#" class="icon-del"></a><a href="#" class="icon-add"></a></span>
            <span class="ipt-wrapper"><input class="input tooltip" data-tooltip="{{i18n 'PROP_VPC_TIP_ENTER_UP_TO_4_NETBIOS'}}" value="{{this}}" type="text" maxlength="255" data-type="ipv4" data-ignore="true"></span>
          </div>
          {{else}}
          <div class="multi-ipt-row">
            <span class="ipt-controls"><a href="#" class="icon-del"></a><a href="#" class="icon-add"></a></span>
            <span class="ipt-wrapper"><input class="input tooltip" data-tooltip="{{i18n 'PROP_VPC_TIP_ENTER_UP_TO_4_NETBIOS'}}" type="text" maxlength="255" data-type="ipv4" data-ignore="true"></span>
          </div>
          {{/each}}
        </div>
      </div>

      <div class="property-control-group">
        <label>{{ i18n "PROP_VPC_DHCP_SPECIFIED_LBL_NETBIOS_NODE_TYPE" }}</label>
        <div class="selectbox selectbox-mega" id="property-netbios-type">
          <div class="selection tooltip" data-tooltip="{{i18n 'PROP_VPC_TIP_SELECT_NETBIOS_NODE'}}">{{#unless dhcp.netbiosType}}{{{ i18n "PROP_VPC_DHCP_SPECIFIED_LBL_NETBIOS_NODE_TYPE_NOT_SPECIFIED" }}}{{/unless}}</div>
          <ul class="dropdown" tabindex="-1">
            {{#each dhcp.netbiosTypes}}
            <li class="item{{#if selected}} selected{{/if}}" data-id="{{id}}">{{value}}</li>
            {{/each}}
          </ul>
        </div>
      </div>

    </section>
  </div>
</article>
