<article class="property-app">
{{#if ami}}

{{#if isApp}}
    {{#if ami.unavailable}}
    <div class="property-control-group property-ami-info">
        <p>{{ i18n "PROP.AMI_APP_NOT_AVAILABLE" }}</p>
    </div>
    {{/if}}
{{else}}
    {{#if ami.unavailable}}
    <div class="property-control-group property-ami-info">
        {{ i18n "PROP.AMI_STACK_NOT_AVAILABLE"}}
    </div>
    {{/if}}
    <div class="property-control-group property-ami-info">
        <div class="property-control-group tac">
            <button id="changeAmi" class="btn btn-blue"><i class="icon-edit icon-label"></i>{{i18n "PROP.STATIC_SUB_CHANGE_AMI"}}</button>
        </div>
    </div>
    <div class="property-control-group hide" id="changeAmiPanel">
        <p>{{i18n "PROP.DRAG_IMAGE_DROP_TO_CHANGE"}}</p>
        <div id="changeAmiDropZone">
            <p>{{i18n "PROP.DRAG_IMAGE_DROP_HERE"}}</p>
            <div class="resource-icon resource-icon-instance">
                <img src="/assets/images/ide/ami/amazon.i386.ebs.png" width="39" height="27">
                <div class="resource-label"></div>
            </div>
        </div>
        <div class="hide" id="confirmChangeAmiWrap">
            <p id="changeAmiWarning"></p>
            <button id="confirmChangeAmi" class="btn btn-blue">{{i18n "PROP.CONFIRM_CHANGE_AMI"}}</button>
        </div>
        <button id="cancelChangeAmi" class="btn-link">{{i18n "PROP.LBL_CANCEL"}}</button>
    </div>
{{/if}}

    {{#unless ami.unavailable}}
    <dl class="dl-vertical property-ami-info">
    <dt>{{ i18n "PROP.INSTANCE_AMI_ID" }}</dt>
    <dd>{{id}}</dd>
    <dt>{{ i18n "PROP.INSTANCE_AMI_NAME" }}</dt>
    <dd>{{name}}</dd>
    <dt>{{ i18n "PROP.INSTANCE_AMI_DESC" }}</dt>
    <dd>{{emptyStr description}}</dd>
    <dt>{{ i18n "PROP.INSTANCE_ROOT_DEVICE_TYPE" }}</dt>
    <dd>{{emptyStr rootDeviceType}}</dd>
    <dt>{{ i18n "PROP.INSTANCE_AMI_ARCHITECH" }}</dt>
    <dd>{{architecture}}</dd>
    <dt>{{ i18n "PROP.INSTANCE_AMI_VIRTUALIZATION" }}</dt>
    <dd>{{emptyStr virtualizationType}}</dd>
    <dt>{{ i18n "PROP.INSTANCE_AMI_KERNEL_ID" }}</dt>
    <dd>{{emptyStr kernelId}}</dd>
    <dt>{{ i18n "PROP.INSTANCE_AMI_OS_TYPE" }}</dt>
    <dd>{{emptyStr osType}}</dd>
    <dt>{{ i18n "PROP.INSTANCE_AMI_SUPPORT_INSTANCE_TYPE" }}</dt>
    <dd>{{emptyStr instance_type}}</dd>
    </dl>
    {{/unless}}
{{else}}
    <dl class="dl-vertical">
    <dt>{{i18n "PROP.VOLUME_SNAPSHOT_ID"}}</dt>
    <dd>{{id}}</dd>
    <dt>{{i18n "PROP.VOLUME_ID"}}</dt>
    <dd>{{volumeId}}</dd>
    <dt>{{i18n "PROP.DESCRIPTION"}}</dt>
    <dd>{{emptyStr description}}</dd>
    <dt>{{i18n "PROP.LBL_CAPACITY"}}</dt>
    <dd>{{emptyStr volumeSize}}GB</dd>
    <dt>{{i18n "PROP.LBL_OWNER"}}</dt>
    <dd>{{emptyStr ownerId}}</dd>
    <dt>{{i18n "PROP.LBL_STARTED"}}</dt>
    <dd>{{emptyStr startTime}}</dd>
    </dl>
{{/if}}

</article>
