<article class="property-app">

  <div class="option-group-head expand">{{i18n "PROP_ELB_DETAILS"}}</div>
  <div class="option-group">
      <dl class="dl-vertical">
        <dt>{{i18n "PROP_ELB_SCHEME"}}</dt>
        <dd>{{#if isInternet}}Internet Facing{{else}}Internal{{/if}}</dd>
        <dt>{{i18n "PROP_ELB_DNS_NAME"}}</dt>
        <dd>
          <div class="click-select tooltip" data-tooltip="{{i18n 'PROP_ELB_TIP_CLICK_TO_SELECT_ALL'}}">(A){{DNSName}}</div>
          <div class="click-select tooltip" data-tooltip="{{i18n 'PROP_ELB_TIP_CLICK_TO_SELECT_ALL'}}">(AAAA)ipv6.{{DNSName}}</div>
          <div class="click-select tooltip" data-tooltip="{{i18n 'PROP_ELB_TIP_CLICK_TO_SELECT_ALL'}}">(A/AAAA)dualstack.{{DNSName}}</div>
        </dd>
        <dt>{{i18n "PROP_ELB_HOST_ZONE_ID"}}</dt>
        <dd>{{CanonicalHostedZoneNameID}}<dd>
        <dt>{{i18n "PROP_ELB_CROSS_ZONE"}}</dt>
        <dd>{{CrossZone}}<dd>
        <dt>{{i18n "PROP_ELB_CONNECTION_DRAIN"}}</dt>
        <dd>{{ConnectionDrainingInfo}}<dd>
      </dl>
  </div>

  <div class="option-group-head">{{i18n "PROP_ELB_LISTENER_DETAIL"}}</div>
  <div class="option-group">
    <ul class="property-list">
    {{#each listenerDisplay}}
      <li class="clearfix">
        <div class="app-panel-li-col2-1">
          <label>{{i18n "PROP_ELB_ELB_PROTOCOL"}}</label>
          <div>{{Listener.Protocol}}</div>
        </div>

        <div class="app-panel-li-col2-2">
          <label>{{i18n "PROP_ELB_PORT"}}</label>
          <div>{{Listener.LoadBalancerPort}}</div>
        </div>

        <div class="app-panel-li-col2-1">
          <label>{{i18n "PROP_ELB_INSTANCE_PROTOCOL"}}</label>
          <div>{{Listener.InstanceProtocol}}</div>
        </div>

        <div class="app-panel-li-col2-2">
          <label>{{i18n "PROP_ELB_PORT"}}</label>
          <div>{{Listener.InstancePort}}</div>
        </div>
      </li>
    {{/each}}
    {{#if server_certificate}}
      <li class="clearfix">
        <p class="app-panel-li-main">{{i18n "PROP_ELB_SERVER_CERTIFICATE"}}</p>
        <p class="app-panel-li-sub">{{server_certificate}}</p>
      </li>
    {{/if}}
    </ul>
  </div>

  <div class="option-group-head">{{i18n "PROP_ELB_HEALTH_CHECK_DETAILS"}}</div>
  <div class="option-group">
      <dl class="dl-vertical">
        <dt>{{i18n "PROP_ELB_PING_PROTOCOL"}}</dt>
        <dd>{{HealthCheck.protocol}}</dd>
        <dt>{{i18n "PROP_ELB_PING_PORT"}}</dt>
        <dd>{{HealthCheck.port}}</dd>
        <dt>{{i18n "PROP_ELB_PING_PATH"}}</dt>
        <dd>{{HealthCheck.path}}</dd>

        <dt>{{i18n "PROP_ELB_HEALTH_CHECK_INTERVAL"}}</dt>
        <dd>{{HealthCheck.Interval}} {{i18n "PROP_ELB_HEALTH_CHECK_INTERVAL_SECONDS"}}</dd>
        <dt>{{i18n "PROP_ELB_HEALTH_CHECK_RESPOND_TIMEOUT"}}</dt>
        <dd>{{HealthCheck.Timeout}} {{i18n "PROP_ELB_HEALTH_CHECK_INTERVAL_SECONDS"}}</dd>
        <dt>{{i18n "PROP_ELB_UNHEALTH_THRESHOLD"}}</dt>
        <dd>{{HealthCheck.UnhealthyThreshold}}</dd>
        <dt>{{i18n "PROP_ELB_HEALTH_THRESHOLD"}}</dt>
        <dd>{{HealthCheck.HealthyThreshold}}</dd>
      </dl>
  </div>

  <div class="option-group-head">{{i18n "PROP_ELB_INSTANCES"}}</div>
  <ul class="option-group property-list">
    {{#each distribution}}
      <li>
        <div class="list-row">
            <i class="status status-{{#if health}}green{{else}}red{{/if}} icon-label"></i>
            <span class="app-panel-li-main">{{zone}} {{#if subnet}}<span class="sub">- {{subnet}}</span>{{/if}} </span>
        </div>
<!--         <div class="list-row">
          <p class="app-panel-li-sub"> {{health_instance}}/{{total_instance}} instances are healthy </p>
        </div> -->
        <div class="list-row">
          <ul class="elb-property-instance-list">
            <!-- {{#each this.instance}} -->
              <li>
                <div class="instance-info">
                  <div class="instance-name">instance-name</div>
                  <div class="instance-id">i-89122189</div>
                </div>
                <div class="instance-state">
                  InService
                  <a class="elb-info-icon tooltip icon-info" href="https://aws.amazon.com/about-aws/whats-new/2013/11/06/elastic-load-balancing-adds-cross-zone-load-balancing/" data-tooltip="{{i18n 'PROP_ELB_TIP_CLICK_TO_READ_RELATED_AWS_DOCUMENT'}}" target="_blank"></a>
                </div>
              </li>
              <li>
                <div class="instance-info">
                  <div class="instance-name">instance-name</div>
                  <div class="instance-id">i-89122189</div>
                </div>
                <div class="instance-state">
                  InService
                  <a class="elb-info-icon tooltip icon-info" href="https://aws.amazon.com/about-aws/whats-new/2013/11/06/elastic-load-balancing-adds-cross-zone-load-balancing/" data-tooltip="{{i18n 'PROP_ELB_TIP_CLICK_TO_READ_RELATED_AWS_DOCUMENT'}}" target="_blank"></a>
                </div>
              </li>
            <!-- {{/each}} -->
          </ul>
        </div>
      </li>
      <li>
        <div class="list-row">
            <i class="status status-{{#if health}}green{{else}}red{{/if}} icon-label"></i>
            <span class="app-panel-li-main">{{zone}} {{#if subnet}}<span class="sub">- {{subnet}}</span>{{/if}} </span>
        </div>
<!--         <div class="list-row">
          <p class="app-panel-li-sub"> {{health_instance}}/{{total_instance}} instances are healthy </p>
        </div> -->
        <div class="list-row">
          <ul class="elb-property-instance-list">
            <!-- {{#each this.instance}} -->
              <li>
                <div class="instance-info">
                  <div class="instance-name">instance-name</div>
                  <div class="instance-id">i-89122189</div>
                </div>
                <div class="instance-state">
                  InService
                  <a class="elb-info-icon tooltip icon-info" href="https://aws.amazon.com/about-aws/whats-new/2013/11/06/elastic-load-balancing-adds-cross-zone-load-balancing/" data-tooltip="{{i18n 'PROP_ELB_TIP_CLICK_TO_READ_RELATED_AWS_DOCUMENT'}}" target="_blank"></a>
                </div>
              </li>
              <li>
                <div class="instance-info">
                  <div class="instance-name">instance-name</div>
                  <div class="instance-id">i-89122189</div>
                </div>
                <div class="instance-state">
                  InService
                  <a class="elb-info-icon tooltip icon-info" href="https://aws.amazon.com/about-aws/whats-new/2013/11/06/elastic-load-balancing-adds-cross-zone-load-balancing/" data-tooltip="{{i18n 'PROP_ELB_TIP_CLICK_TO_READ_RELATED_AWS_DOCUMENT'}}" target="_blank"></a>
                </div>
              </li>
            <!-- {{/each}} -->
          </ul>
        </div>
      </li>
    {{/each}}
  </ul>

  {{#unless isclassic}}
  <div class="option-group-head">{{i18n "PROP_ELB_SG_DETAIL"}}<span class="property-head-num-wrap">(<span id="property-head-sg-num"></span>)</span> </div>
  <div class="option-group sg-group">Loading...</div>
  {{/unless}}

</article>
