<article id="elb-property-detail">

	<div class="option-group-head expand">{{ i18n "PROP_ELB_DETAILS" }}</div>
	<div class="option-group" data-bind="true" >
		<section class="property-control-group">
			<label class="left" for="property-elb-name" >{{ i18n "PROP_ELB_NAME" }}</label>
			<span class="required-input right">{{ i18n "PROP_ELB_REQUIRED" }}</span>
			<input data-ignore="true" data-required-rollback="true" maxlength="18" class="input elb-name"  type="text" value="{{ name }}" id="property-elb-name"/>
		</section>

		{{#if isVpc}}
		<section class="property-control-group">
      <label>{{ i18n "PROP_ELB_SCHEME" }}</label>
      <div class="mgt5">
        <div class="radio">
            <input type="radio" {{#unless internal}}checked="checked"{{/unless}} value="internet" id="elb-scheme-select1" name="elb-schema-select"/>
            <label for="elb-scheme-select1"></label>
        </div>
        <label for="elb-scheme-select1">Internet-facing</label>
      </div>
      <div class="mgt5">
        <div class="radio">
            <input type="radio" {{#if internal}}checked="checked"{{/if}} value="internal" id="elb-scheme-select2" name="elb-schema-select"/>
            <label for="elb-scheme-select2"></label>
        </div>
        <label for="elb-scheme-select2">Internal</label>
    	</div>
		</section>
		{{/if}}
		<section class="property-control-group">
			<div class="checkbox">
				<input id="elb-cross-az-select" type="checkbox" {{#if crossZone}}checked="checked"{{/if}}/>
				<label for="elb-cross-az-select"></label>
			</div>
			<label for="elb-cross-az-select" >Enable cross-zone load balancing</label>
			<a class="elb-info-icon tooltip icon-info" href="https://aws.amazon.com/about-aws/whats-new/2013/11/06/elastic-load-balancing-adds-cross-zone-load-balancing/" data-tooltip="Click to read related AWS document" target="_blank"></a>
		</section>
	</div>

	<div class="option-group-head"> {{ i18n "PROP_ELB_LISTENER_DETAIL" }} </div>
	<div class="option-group" data-bind="true">
		<div id="accordion-group-elb-property-listener"></div>
		<a href="javascript:void(0)" id="elb-property-listener-content-add" class="add-to-list action-link">
			+ {{ i18n "PROP_ELB_BTN_ADD_LISTENER"}}
		</a>
		<div id="elb-property-listener-cert-main">
			<div class="property-control-group clearfix">
				<h5 >{{ i18n "PROP_ELB_BTN_ADD_SERVER_CERTIFICATE"}}</h5>
			</div>
			<div class="property-control-group clearfix">
				<label class="left"  >{{ i18n "PROP_ELB_LBL_LISTENER_NAME"}}</label>
				<input class="input" value="{{server_cert.name}}" type="text" id="elb-property-cert-name-input"/>
			</div>
			<div class="property-control-group clearfix">
				<label class="left"  >{{ i18n "PROP_ELB_LBL_LISTENER_PRIVATE_KEY"}}</label>
				<textarea class="input elb-property-cert-input tooltip" data-tooltip="PEM Encoded" value="{{server_cert.prikey}}" id="elb-property-cert-privatekey-input"/>
			</div>
			<div class="property-control-group clearfix">
				<label class="left"  >{{ i18n "PROP_ELB_LBL_LISTENER_PUBLIC_KEY"}}</label>
				<textarea class="input elb-property-cert-input tooltip" data-tooltip="PEM Encoded" value="{{server_cert.pubkey}}" id="elb-property-cert-publickey-input"/>
			</div>
			<div class="property-control-group clearfix">
				<label class="left"  >{{ i18n "PROP_ELB_LBL_LISTENER_CERTIFICATE_CHAIN"}}</label>
				<textarea class="input elb-property-cert-input tooltip" data-tooltip="PEM Encoded" value="{{server_cert.chain}}" id="elb-property-cert-chain-input"/>
			</div>
		</div>
	</div>

	<div class="option-group-head"> {{ i18n "PROP_ELB_HEALTH_CHECK_DETAILS" }} </div>
	<div class="option-group" data-bind="true" data-validate="parsley" >
		<section class="property-control-group">
			<label>{{ i18n "PROP_ELB_PING_PROTOCOL" }}</label>
			<div class="selectbox selectbox-mega mgt5" id="elb-property-health-protocol-select">
				<div class="selection">{{pingProtocol}}</div>
				<ul class="dropdown" tabindex="-1">
					<li class="item{{#ifCond pingProtocol 'TCP'}} selected{{/ifCond}}" data-id="TCP">TCP</li>
					<li class="item{{#ifCond pingProtocol 'HTTP'}} selected{{/ifCond}}" data-id="HTTP">HTTP</li>
					<li class="item{{#ifCond pingProtocol 'HTTPS'}} selected{{/ifCond}}" data-id="HTTPS">HTTPS</li>
					<li class="item{{#ifCond pingProtocol 'SSL'}} selected{{/ifCond}}" data-id="SSL">SSL</li>
				</ul>
			</div>
		</section>
		<section class="property-control-group" data-bind="true">
			<label for="property-elb-health-port" >{{ i18n "PROP_ELB_PING_PORT"}}</label>
			<input class="input mgt5" tooltip="1-65535" type="text" value="{{ pingPort }}" name="property-elb-health-port" id="property-elb-health-port" data-required="true" data-type="digits" data-ignore="true" maxlength="5"/>
		</section>
		<section class="property-control-group">
			<label for="property-elb-health-path" >{{ i18n "PROP_ELB_PING_PATH"}}</label>
			<div class="pos-r mgt5">
				<input class="input" {{#ifCond pingProtocol 'SSL'}}disabled="disabled"{{/ifCond}}{{#ifCond pingProtocol 'TCP'}}disabled="disabled"{{/ifCond}}type="text" value="{{ pingPath }}" name="property-elb-health-path" id="property-elb-health-path" />
				<span class="elb-pingpath-prefix">/</span>
			</div>
		</section>

		<section class="property-control-group">
			<label for="property-elb-health-interval" >{{ i18n "PROP_ELB_HEALTH_CHECK_INTERVAL" }}</label>
			<input class="input input-short mgt5"  type="text" value="{{ healthCheckInterval }}" name="property-elb-health-interval" id="property-elb-health-interval" data-required="true" data-type="digits" data-ignore="true"/>
			<label class="elb-property-right-text" for="property-elb-health-interval" >{{i18n "PROP_ELB_HEALTH_CHECK_INTERVAL_SECONDS"}}</label>
		</section>
		<section class="property-control-group">
			<label for="property-elb-health-timout" >{{ i18n "PROP_ELB_HEALTH_CHECK_RESPOND_TIMEOUT" }}</label>
			<input class="input input-short mgt5"  type="text" value="{{ healthCheckTimeout }}" name="property-elb-health-timeout" id="property-elb-health-timeout" data-required="true" data-type="digits" data-ignore="true"/>
			<label class="elb-property-right-text" for="property-elb-health-timeout" >{{i18n "PROP_ELB_HEALTH_CHECK_INTERVAL_SECONDS"}}</label>
		</section>

		<section class="property-control-group">
			<label>{{ i18n "PROP_ELB_UNHEALTH_THRESHOLD" }}</label>
			<div class="slider" id="elb-property-slider-unhealthy">
				<a class="thumb"></a>
				<ul class="marker"><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>10</li></ul>
			</div>
		</section>
		<section class="property-control-group">
			<label>{{ i18n "PROP_ELB_HEALTH_THRESHOLD" }}</label>
			<div class="slider" id="elb-property-slider-healthy">
				<a class="thumb"></a>
				<ul class="marker"><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>10</li></ul>
			</div>
		</section>
	</div>

	{{#if isVpc}}
	<div class="option-group-head expand">{{ i18n "PROP_ELB_SG_DETAIL" }}<span class="property-head-num-wrap">(<span id="property-head-sg-num"></span>)</span></div>
	<div class="option-group sg-group"></div>

	{{else}}
		{{#if azArray}}
		<div class="option-group-head"> {{ i18n "PROP_ELB_AVAILABILITY_ZONE" }} </div>
		<div class="option-group" id="property-elb-az-cb-group">
			{{#each azArray}}
			<section class="property-control-group">
				<div class="checkbox">
					<input class="property-elb-az-checkbox" type="checkbox" {{#if disabled}}disabled="disabled"{{/if}} {{#if selected}}checked="checked"{{/if}} data-name="{{name}}" id="property-elb-az-{{name}}"/>
					<label for="property-elb-az-{{name}}"></label>
				</div>
				<label for="property-elb-az-{{name}}" class="checkbox-label-main">
					<span>{{displayName}}</span></label>
				<label for="property-elb-az-{{name}}" class="checkbox-label-minor">{{instanceCount}} instances</label>
			</section>
			{{/each}}
		</div>
		{{/if}}
	{{/if}}

</article>
