<article id="stack-elb-property-panel">

	<div class="option-group-head expand">{{ i18n "PROP_ELB_DETAILS" }}</div>
	<div class="option-group" data-bind="true" >
	{{#if appData}}
    <dl class="dl-vertical property-app">
      <dt>{{i18n "PROP_ELB_SCHEME"}}</dt>
      <dd>{{#if isInternet}}Internet Facing{{else}}Internal{{/if}}</dd>
      <dt>{{i18n "PROP_ELB_DNS_NAME"}}</dt>
      <dd>
        <div class="click-select tooltip" data-tooltip="{{i18n 'PROP_ELB_TIP_CLICK_TO_SELECT_ALL'}}">(A){{DNSName}}</div>
        <div class="click-select tooltip" data-tooltip="{{i18n 'PROP_ELB_TIP_CLICK_TO_SELECT_ALL'}}">(AAAA)ipv6.{{DNSName}}</div>
        <div class="click-select tooltip" data-tooltip="{{i18n 'PROP_ELB_TIP_CLICK_TO_SELECT_ALL'}}">(A/AAAA)dualstack.{{DNSName}}</div>
      </dd>
      <dt>{{i18n "PROP_ELB_HOST_ZONE_ID"}}</dt>
      <dd>{{CanonicalHostedZoneNameID}}<dd>
    </dl>
	{{else}}
		<section class="property-control-group">
			<label class="left" for="property-elb-name" >{{ i18n "PROP_ELB_NAME" }}</label>
			<span class="required-input right">{{ i18n "PROP_ELB_REQUIRED" }}</span>
			<input data-ignore="true" data-required-rollback="true" maxlength="17" class="input elb-name"  type="text" value="{{name}}" id="property-elb-name"/>
		</section>

		{{#if isVpc}}
		<section class="property-control-group">
      <label>{{ i18n "PROP_ELB_SCHEME" }}</label>
      <div class="mgt5">
        <div class="radio">
            <input type="radio" {{#unless internal}}checked="checked"{{/unless}} value="internet" id="elb-scheme-select1" name="elb-schema-select"/>
            <label for="elb-scheme-select1"></label>
        </div>
        <label for="elb-scheme-select1">Internet-facing</label>
      </div>
      <div class="mgt5">
        <div class="radio">
            <input type="radio" {{#if internal}}checked="checked"{{/if}} value="internal" id="elb-scheme-select2" name="elb-schema-select"/>
            <label for="elb-scheme-select2"></label>
        </div>
        <label for="elb-scheme-select2">Internal</label>
    	</div>
		</section>
		{{/if}}
	{{/if}}
		<section class="property-control-group">
			<div class="checkbox">
				<input id="elb-cross-az-select" type="checkbox" {{#if crossZone}}checked="checked"{{/if}}/>
				<label for="elb-cross-az-select"></label>
			</div>
			<label for="elb-cross-az-select" >Enable cross-zone load balancing</label>
			<a class="elb-info-icon tooltip icon-info" href="https://aws.amazon.com/about-aws/whats-new/2013/11/06/elastic-load-balancing-adds-cross-zone-load-balancing/" data-tooltip="{{i18n 'PROP_ELB_TIP_CLICK_TO_READ_RELATED_AWS_DOCUMENT'}}" target="_blank"></a>
		</section>
		<section class="property-control-group">
			<div class="checkbox">
				<input id="elb-connection-draining-select" type="checkbox" {{#if connectionDrainingEnabled}}checked="checked"{{/if}}/>
				<label for="elb-connection-draining-select"></label>
			</div>
			<label for="elb-connection-draining-select" >Enable Connection Draining</label>
			<a class="elb-info-icon tooltip icon-info" href="http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/conﬁg-conn-drain.html" data-tooltip="{{i18n 'PROP_ELB_TIP_CLICK_TO_READ_RELATED_AWS_DOCUMENT'}}" target="_blank"></a>
			<div class="elb-connection-draining-input-group {{#unless connectionDrainingEnabled}}hide{{/unless}}">
				<label for="elb-connection-draining-input" class="left">Timeout</label>
				<input id="elb-connection-draining-input" class="input parsley-validated" type="text" value="{{#if connectionDrainingTimeout}}{{connectionDrainingTimeout}}{{else}}300{{/if}}" data-ignore="true" data-required="true" data-type="number">
				<label for="elb-connection-draining-input">seconds</label>
			</div>
		</section>
	</div>

	<!--
	<div class="option-group-head">Advanced Configuration</div>
	<div class="option-group" data-bind="true"> <ul id="elb-property-listener-list" class="property-list">
		<section class="property-control-group">
			<label>Proxy Protocol</label>
			<div class="mgt5">
				<div class="checkbox">
					<input id="elb-advanced-proxy-protocol-select" type="checkbox" {{#if otherPoliciesMap.EnableProxyProtocol}}checked="checked"{{/if}}/>
					<label for="elb-advanced-proxy-protocol-select"></label>
				</div>
				<label for="elb-advanced-proxy-protocol-select">Enable Proxy Protocol</label>
				<div id="elb-advanced-proxy-protocol-select-tip" class="property-info {{#unless otherPoliciesMap.EnableProxyProtocol}}hide{{/unless}}">If you have a Proxy Protocol enabled proxy server in front of your load balancer, then you must not enable Proxy Protocol on your load balancer.</div>
			</div>
		</section>
	</div>
	-->

	<div class="option-group-head"> {{ i18n "PROP_ELB_LISTENER_DETAIL" }} </div>
	<div class="option-group" data-bind="true"> <ul id="elb-property-listener-list" class="property-list">
		{{#each listeners}}
		<li class="elb-property-listener">
			<div class="elb-property-listener-item-remove icon-remove tooltip" data-tooltip="{{i18n 'PROP_ELB_TIP_REMOVE_LISTENER'}}" {{#unless @index}}style="display:none;"{{/unless}}></div>

			<div class="property-control-group clearfix">
				<div class="elb-property-listener-item-1">
					<label class="left">Load Balancer Protocol</label>
					<div class="selectbox elb-property-elb-protocol">
						<div class="selection">{{protocol}}</div>
						<ul class="dropdown">
							<li data-id="HTTP" class="item {{#ifCond protocol 'HTTP'}}selected{{/ifCond}}">HTTP</li>
							<li data-id="HTTPS" class="item {{#ifCond protocol 'HTTPS'}}selected{{/ifCond}}">HTTPS</li>
							<li data-id="TCP" class="item {{#ifCond protocol 'TCP'}}selected{{/ifCond}}">TCP</li>
							<li data-id="SSL" class="item {{#ifCond protocol 'SSL'}}selected{{/ifCond}}">SSL</li>
						</ul>
					</div>
				</div>
				<div class="elb-property-listener-item-2">
					<label class="left">Port</label>
					<input class="input elb-property-elb-port tooltip" data-tooltip="{{i18n 'PROP_ELB_TIP_25_80_443OR1024TO65535'}}" type="text" value="{{port}}" data-ignore="true" data-required="true" data-type="digits" maxlength="5"/>
				</div>
			</div>

			<div class="property-control-group clearfix">
				<div class="left elb-property-listener-item-1">
					<label class="left">Instance Protocol</label>
					<div class="selectbox elb-property-instance-protocol">
						<div class="selection">{{instanceProtocol}}</div>
						<ul class="dropdown">
							<li data-id="HTTP" class="item {{#ifCond instanceProtocol 'HTTP'}}selected{{/ifCond}}">HTTP</li>
							<li data-id="HTTPS" class="item {{#ifCond instanceProtocol 'HTTPS'}}selected{{/ifCond}}">HTTPS</li>
							<li data-id="TCP" class="item {{#ifCond instanceProtocol 'TCP'}}selected{{/ifCond}}">TCP</li>
							<li data-id="SSL" class="item {{#ifCond instanceProtocol 'SSL'}}selected{{/ifCond}}">SSL</li>
						</ul>
					</div>
				</div>
				<div class="left elb-property-listener-item-2">
					<label class="left">Port</label>
					<input class="input elb-property-instance-port tooltip" data-tooltip="{{i18n 'PROP_ELB_TIP_1_65535'}}" type="text" value="{{instancePort}}" data-ignore="true" data-required="true" data-type="digits" maxlength="5"/>
				</div>
			</div>
		</li>
		{{/each}}
		</ul>
		<a href="#" id="elb-property-listener-content-add" class="add-to-list action-link">{{ i18n "PROP_ELB_BTN_ADD_LISTENER"}}</a>
		<section class="property-control-group" id="property-control-group-cert-setting">
			<label class="left">{{ i18n "PROP_ELB_SERVER_CERTIFICATE" }}</label>
			<div class="selectbox" id="sslcert-select">
				<div class="selection"></div>
				<div style="height: 120px; width:260px;" class="dropdown scroll-wrap scrollbar-auto-hide  clearfix">
					<div class="scrollbar-veritical-wrap"><div class="scrollbar-veritical-thumb"></div></div>
					<div class="scroll-content">
						<ul>
							<li class="item{{#if noSSLCert}} selected{{/if}}">None</li>
							{{#each sslCertItem}}
								<li class="item{{#if selected}} selected{{/if}}" data-id="{{uid}}">
									{{name}}<span class="icon-edit"></span><span class="icon-remove"></span>
								</li>
							{{/each}}
						</ul>
					</div>
				</div>
				<div class="editor">
					<a href="#" class="editbtn">Add New Certiﬁcate...</a>
				</div>
			</div>
		</section>
	</div>

	<div class="option-group-head"> {{ i18n "PROP_ELB_HEALTH_CHECK_DETAILS" }} </div>
	<div class="option-group" data-bind="true" data-validate="parsley" >
		<section class="property-control-group">
			<label>{{ i18n "PROP_ELB_PING_PROTOCOL" }}</label>
			<div class="selectbox mgt5" id="elb-property-health-protocol-select">
				<div class="selection">{{pingProtocol}}</div>
				<ul class="dropdown" tabindex="-1">
					<li class="item{{#ifCond pingProtocol 'TCP'}} selected{{/ifCond}}" data-id="TCP">TCP</li>
					<li class="item{{#ifCond pingProtocol 'HTTP'}} selected{{/ifCond}}" data-id="HTTP">HTTP</li>
					<li class="item{{#ifCond pingProtocol 'HTTPS'}} selected{{/ifCond}}" data-id="HTTPS">HTTPS</li>
					<li class="item{{#ifCond pingProtocol 'SSL'}} selected{{/ifCond}}" data-id="SSL">SSL</li>
				</ul>
			</div>
		</section>
		<section class="property-control-group" data-bind="true">
			<label for="property-elb-health-port" >{{ i18n "PROP_ELB_PING_PORT"}}</label>
			<input class="input mgt5" tooltip="1-65535" type="text" value="{{ pingPort }}" name="property-elb-health-port" id="property-elb-health-port" data-required="true" data-type="digits" data-ignore="true" maxlength="5"/>
		</section>
		<section class="property-control-group">
			<label for="property-elb-health-path" >{{ i18n "PROP_ELB_PING_PATH"}}</label>
			<div class="pos-r mgt5">
				<input class="input" {{#ifCond pingProtocol 'SSL'}}disabled="disabled"{{/ifCond}}{{#ifCond pingProtocol 'TCP'}}disabled="disabled"{{/ifCond}}type="text" value="{{ pingPath }}" name="property-elb-health-path" id="property-elb-health-path" />
				<span class="elb-pingpath-prefix">/</span>
			</div>
		</section>

		<section class="property-control-group">
			<label for="property-elb-health-interval" >{{ i18n "PROP_ELB_HEALTH_CHECK_INTERVAL" }}</label>
			<input class="input input-short mgt5"  type="text" value="{{ healthCheckInterval }}" name="property-elb-health-interval" id="property-elb-health-interval" data-required="true" data-type="digits" data-ignore="true"/>
			<label class="elb-property-right-text" for="property-elb-health-interval" >{{i18n "PROP_ELB_HEALTH_CHECK_INTERVAL_SECONDS"}}</label>
		</section>
		<section class="property-control-group">
			<label for="property-elb-health-timout" >{{ i18n "PROP_ELB_HEALTH_CHECK_RESPOND_TIMEOUT" }}</label>
			<input class="input input-short mgt5"  type="text" value="{{ healthCheckTimeout }}" name="property-elb-health-timeout" id="property-elb-health-timeout" data-required="true" data-type="digits" data-ignore="true"/>
			<label class="elb-property-right-text" for="property-elb-health-timeout" >{{i18n "PROP_ELB_HEALTH_CHECK_INTERVAL_SECONDS"}}</label>
		</section>

		<section class="property-control-group">
			<label>{{ i18n "PROP_ELB_UNHEALTH_THRESHOLD" }}</label>
			<div class="slider" id="elb-property-slider-unhealthy">
				<a class="thumb"></a>
				<ul class="marker"><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>10</li></ul>
			</div>
		</section>
		<section class="property-control-group">
			<label>{{ i18n "PROP_ELB_HEALTH_THRESHOLD" }}</label>
			<div class="slider" id="elb-property-slider-healthy">
				<a class="thumb"></a>
				<ul class="marker"><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>10</li></ul>
			</div>
		</section>
	</div>

	{{#if isVpc}}
	<div class="option-group-head expand">{{ i18n "PROP_ELB_SG_DETAIL" }}<span class="property-head-num-wrap">(<span id="property-head-sg-num"></span>)</span></div>
	<div class="option-group sg-group"></div>

	{{else}}
		{{#if azArray}}
		<div class="option-group-head"> {{ i18n "PROP_ELB_AVAILABILITY_ZONE" }} </div>
		<div class="option-group" id="property-elb-az-cb-group">
			{{#each azArray}}
			<section class="property-control-group">
				<div class="checkbox">
					<input class="property-elb-az-checkbox" type="checkbox" {{#if disabled}}disabled="disabled"{{/if}} {{#if selected}}checked="checked"{{/if}} data-name="{{name}}" id="property-elb-az-{{name}}"/>
					<label for="property-elb-az-{{name}}"></label>
				</div>
				<label for="property-elb-az-{{name}}" class="checkbox-label-main">
					<span>{{displayName}}</span></label>
				<label for="property-elb-az-{{name}}" class="checkbox-label-minor">{{instanceCount}} instances</label>
			</section>
			{{/each}}
		</div>
		{{/if}}
	{{/if}}

</article>
