
<style>
#jsondiffContainer ::selection {
  background : rgba(0, 133, 255, 0.3);
}

#jsondiffContainer.changesOnly ul:not(.hasChanges),
#jsondiffContainer.changesOnly li:not(.hasChanges) {
  display : none;
}

#jsondiffContainer {
  padding     : 10px 0 30px 0;
  margin-left : 280px;
  font-size   : 12px;
  font-family : "Espresso Mono", "Monaco", "Consolas", "Menlo", monospace;
}

#jsondiffCOntainer pre {
  margin : 0 0 0 2em;
  padding : 0;
}

#jsondiffContainer ul {
  position        : relative;
  padding         : 0 0 0 0;
  margin          : 0;
  list-style-type : none;
  line-height     : 1.2em;
  color           : #008EB8;
}

#jsondiffContainer ul:before {
  font : 16px "MCIcon";
  font-weight : normal;
  -webkit-font-smoothing: antialiased;
  content        : "\F121";
  line-height    : 1.2em;
  vertical-align : middle;
  margin-left    : -15px;
  width          : 16px;
  display        : inline-block;
}

#jsondiffContainer ul.closed:before {
  content : "\F124";
  width: 13px;
  padding-left: 3px;
}

#jsondiffContainer ul.closed > li {
  display : none;
}

#jsondiffContainer li {
  padding : 0 0 0 15px;
}

#jsondiffContainer ul span {
  line-height    : 1.2em;
  vertical-align : middle;
}

#jsondiffContainer li > span, #jsondiffContainer ul > span {
  padding : 2px 4px;
  display: inline-block;
}

#jsondiffContainer .changed {
  background    : rgb(255, 255, 50);
  border-radius : 4px;
  border        : 1px solid #BDB451;
  padding       : 1px 3px;
}

#jsondiffContainer .removed {
  border-radius : 4px;
  background    : rgb(250, 186, 177);
  border        : 1px solid #F34848;
  padding       : 1px 3px;
}

#jsondiffContainer .removed .boolean, #jsondiffContainer .removed .number {
  color : #FFFCC0;
}

#jsondiffContainer .added {
  border-radius : 4px;
  background    : rgb(170, 252, 177);
  border        : 1px solid #8DCA64;
  padding       : 1px 3px;
}


#jsondiffContainer .string {
  color : #921B18;
}

#jsondiffContainer .boolean, #jsondiffContainer .number {
  color : #DC961E;
}

#jsondiffContainer .added ~ li, #jsondiffContainer .removed ~ li, #jsondiffContainer .changed ~ li {
  margin-top: -1px;
}

#jsondiffContainer ul:hover:after {
  content    : " ";
  width      : 100%;
  height     : 18px;
  background : rgba(80, 65, 33, 0.16);
  position   : absolute;
  z-index    : 0;
  top        : 0;
  left       : 0;
}

#diffSidebar {
  width         : 240px;
  position      : absolute;
  top           : 10px;
  left          : 10px;
  border        : 1px solid #BDBBA1;
  background    : #FDFAF4;
  border-radius : 4px;
}

#diffSidebar textarea {
  width         : 210px;
  font-size     : 10px;
  -webkit-text-size-adjust: none;
  color         : #999;
  height        : 100px;
  line-height   : 1.4em;
  padding       : 10px 10px 10px 20px;
  margin        : 0 0 10px 0;
  border        : none;
  box-shadow    : none;
  border-radius : 0;
  background    : none;
}

#diffWrap {
  position   : absolute;
  top        : 40px;
  bottom     : 0;
  width      : 100%;
  background : #F9F5EF;
}

#diffInnerWrap {
  height : 100%;
  width  : 100%;
  overflow : scroll;
}

#diffTextarea2 {
  border-top : 1px solid #BDBBA1 !important;
}

#diffTextarea1Before, #diffTextarea2Before {
  position      : absolute;
  left          : -7px;
  top           : 40px;
  margin-top    : -7px;
  background    : #fff;
  border        : 1px solid #BDBBA1;
  width         : 14px;
  height        : 14px;
  font-size     : 10px;
  -webkit-text-size-adjust: none;
  text-align    : center;
}

#diffTextarea2Before {
  top : 180px;
}

.diffInputs {
  border-radius: 0 0 4px 4px;
  overflow : hidden;
}

.diffInputs div {
  border       : none;
  height       : 32px;
  float        : left;
  border-right : 1px solid #BDBBA1;
  background   : none;
  color        : #777;
  border-top   : 1px solid #BDBBA1;
  outline      : none;
  background   : #FFFEFC;
  width        : 32px;
  line-height  : 32px;
  text-align   : center;
}
.diffInputs div:hover {
  color      : #2CC4FF;
  background : #f3f3f3;
}

.diffInputs label {
  padding   : 0px 5px;
  display   : block;
  font-size : 12px;
}
#diffChangesOnly {
  margin-right   : 4px;
  vertical-align : middle;
}
.diffInputs label span {
  vertical-align : middle;
}
.typeName {
  font-size     : 10px;
  border-radius : 4px;
  background    : #EBDEC3;
  color         : #7F7528;
  padding       : 1px 3px;
  -webkit-text-size-adjust: none;
}
</style>

<div class="modal-header"> <h3>JSON Diff</h3> <i class="modal-close">×</i> </div>
<div id="diffWrap">
  <div id="diffInnerWrap">
    <div id="diffSidebar">
      <div id="diffTextarea1Before">1</div>
      <textarea id="diffTextarea1"></textarea>
      <div id="diffTextarea2Before">2</div>
      <textarea id="diffTextarea2"></textarea>

      <section class="diffInputs">
        <div class="tooltip icon-visualize" data-tooltip="swap" id="diffSwap"></div>
        <div class="tooltip icon-delete" data-tooltip="clear" id="diffClear"></div>
        <div class="tooltip icon-toolbar-diff" data-tooltip="compare" id="diffCompare"></div>
        <div style="width:auto;">
          <label for="diffChangesOnly"><input type="checkbox" checked="checked" class="tooltip" id="diffChangesOnly" /><span>Changes Only</span></label>
        </div>
      </section>
    </div>
    <div id="jsondiffContainer"></div>
  </div>
</div>

