<div class="modal-header"> <h3>JSON Diff</h3> <i class="modal-close">×</i> </div>
<div id="diffWrap">
  <div id="diffInnerWrap">
    <div id="diffSidebar">
      <div id="diffTextarea1Before">1</div>
      <textarea id="diffTextarea1"></textarea>
      <div id="diffTextarea2Before">2</div>
      <textarea id="diffTextarea2"></textarea>

      <section class="diffInputs">
        <div class="tooltip icon-visualize" data-tooltip="swap" id="diffSwap"></div>
        <div class="tooltip icon-delete" data-tooltip="clear" id="diffClear"></div>
        <div class="tooltip icon-toolbar-diff" data-tooltip="compare" id="diffCompare"></div>
        <div style="width:auto;">
          <label for="diffChangesOnly"><input type="checkbox" checked="checked" class="tooltip" id="diffChangesOnly" /><span>Changes Only</span></label>
        </div>
      </section>
    </div>
    <div id="jsondiffContainer"></div>
  </div>
</div>

