<div id="jsonViewer" style='width:46%;height:70%;top:2%;left:2%;z-index:94;box-shadow:rgba(0, 0, 0, 0.3) 0px 5px 30px;position:absolute;min-width:540px;'>

<div class="modal-header"> <h3>Data viewer</h3> <i class="modal-close">×</i> </div>
<div id="diffWrap">
  <div class="diffInputs clearfix">
    <input type="text" id="diffSearch" class="diffInput" placeholder="uid | type | name">
    <select id="diffTypeSelect" class="diffInput">
      <option value=".">All</option>
    </select>
    <button class="icon-refresh tooltip diffInput" id="diffRefresh" data-tooltip="Reload CanvasData"></button>
  </div>
  <div id="diffInnerWrap">
    <div class="jsondiffContainer" id="jsonCompContainer"></div>
    <div class="jsondiffContainer" id="jsonLayoutContainer"></div>
    <div class="jsondiffContainer" id="jsonAttrContainer"></div>
  </div>
</div>

</div>
