<div id="diffWrap">
  <div class="diffInputs clearfix">
    <input type="text" id="diffSearch" class="diffInput" placeholder="uid | type | name">
    <select id="diffTypeSelect" class="diffInput">
      <option value=".">All</option>
    </select>
    <button class="icon-refresh tooltip diffInput" id="diffRefresh" data-tooltip="Reload CanvasData"></button>
  </div>
  <div id="diffInnerWrap">
    <div class="jsondiffContainer" id="jsonCompContainer"></div>
    <div class="jsondiffContainer" id="jsonLayoutContainer"></div>
    <div class="jsondiffContainer" id="jsonAttrContainer"></div>
  </div>
</div>

<!--</div>-->
