/* Light Purple */
/* Base Purple */
/* Dark Purple */
/* Background Purple */
/* Base Blue */
/* Light Blue: */
/* Dark Blue: */
/* Base Green: */
/* Orange */
/* Yellow */
/* Red */
/* Light Purple */
/* Base Purple */
/* Dark Purple */
/* Background Purple */
/* Base Blue */
/* Light Blue: */
/* Dark Blue: */
/* Base Green: */
/* Orange */
/* Yellow */
/* Red */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/LatoRegular.woff") format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/LatoBold.woff") format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/LatoLight.woff") format("woff"); }

body {
  font-family: Lato, "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 300;
  color: #acacc6;
  font-size: 14px; }

a {
  color: #4a90e2;
  text-decoration: none; }
  a:hover {
    color: #a2d3f0; }

h1 {
  font-size: 1.6em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }

p {
  font-size: 1em; }

code {
  background: #000;
  color: #059e4f;
  font-size: 14px;
  font-family: "Consolas","Monaco","Ubuntu Mono",monospace !important; }

pre {
  background: #000; }

.openstack .OEPanelRight {
  width: 280px; }
  .openstack .OEPanelRight.resource .resource {
    border-bottom: 2px solid #4a90e2;
    color: #4a90e2; }
  .openstack .OEPanelRight.property .property {
    border-bottom: 2px solid #4a90e2;
    color: #4a90e2; }
  .openstack .OEPanelRight.state .state {
    border-bottom: 2px solid #4a90e2;
    color: #4a90e2; }
  .openstack .OEPanelRight.config .config {
    border-bottom: 2px solid #4a90e2;
    color: #4a90e2; }
  .openstack .OEPanelRight .sidebar-title {
    box-sizing: border-box;
    border-bottom: 1px solid #555252; }
    .openstack .OEPanelRight .sidebar-title a {
      width: 25%;
      float: left;
      text-align: center;
      cursor: pointer;
      height: 100%;
      box-sizing: border-box; }
    .openstack .OEPanelRight .sidebar-title a:hover {
      color: #eee; }
  .openstack .OEPanelRight .panel-body {
    overflow: auto;
    position: absolute;
    top: 39px;
    bottom: 0;
    height: auto;
    width: 100%; }
  .openstack .OEPanelRight .panel-body section header {
    background: #2c2f4d;
    color: white;
    height: 28px;
    line-height: 28px;
    position: relative;
    padding: 0 8px; }
    .openstack .OEPanelRight .panel-body section header aside {
      position: absolute;
      top: 0;
      right: 0; }
      .openstack .OEPanelRight .panel-body section header aside .selection {
        background: #2c2f4d;
        color: #F3F3F3;
        height: 28px;
        padding: 0 20px 0 8px;
        border: none;
        border-left: 1px solid #1d1e29;
        border-radius: 0;
        box-shadow: none; }
        .openstack .OEPanelRight .panel-body section header aside .selection::after {
          border-top-color: white; }
  .openstack .OEPanelRight .panel-body section article {
    padding: 10px; }
    .openstack .OEPanelRight .panel-body section article .resource-item {
      cursor: pointer; }
    .openstack .OEPanelRight .panel-body section article > ul::after {
      content: "";
      display: block;
      height: 0;
      clear: both; }

.OEPanelRight.resource nav {
  padding: 14px 20px; }
  .OEPanelRight.resource nav ul li {
    float: left;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 24px;
    line-height: 24px; }
    .OEPanelRight.resource nav ul li:first-child {
      border-left: 1px solid #2c2f4d;
      border-top-left-radius: 15%;
      border-bottom-left-radius: 15%; }
    .OEPanelRight.resource nav ul li:last-child {
      border-top-right-radius: 15%;
      border-bottom-right-radius: 15%; }
  .OEPanelRight.resource nav ul.anchor {
    float: left; }
    .OEPanelRight.resource nav ul.anchor li {
      line-height: 24px;
      color: #ccc;
      background: #51568e;
      border-right: 1px solid #2c2f4d; }
      .OEPanelRight.resource nav ul.anchor li:hover {
        color: #eeeeee; }
  .OEPanelRight.resource nav ul.action {
    float: right;
    color: white; }
    .OEPanelRight.resource nav ul.action li {
      background: #4a90e2; }
      .OEPanelRight.resource nav ul.action li:hover {
        background: #3970af; }
.OEPanelRight.resource .resource-item:hover {
  background-color: rgba(255, 255, 255, 0.2); }
.OEPanelRight.resource .resource-item.ossubnet {
  background-image: url("/assets/images/ide/icon/res-subnet.png"); }
.OEPanelRight.resource .resource-item.osrt {
  background-image: url("/assets/images/ide/icon/res-subnet.png"); }
.OEPanelRight.resource .resource-item.osport {
  background-image: url("/assets/images/ide/icon/res-subnet.png"); }
.OEPanelRight.resource .resource-item.oselb {
  background-image: url("/assets/images/ide/icon/res-subnet.png"); }
.OEPanelRight.resource .resource-item.osvol {
  background-image: url("/assets/images/ide/icon/res-vol.png"); }
.OEPanelRight.resource .ebs-size {
  margin-top: -1.8em; }

/* Light Purple */
/* Base Purple */
/* Dark Purple */
/* Background Purple */
/* Base Blue */
/* Light Blue: */
/* Dark Blue: */
/* Base Green: */
/* Orange */
/* Yellow */
/* Red */
/* Light Purple */
/* Base Purple */
/* Dark Purple */
/* Background Purple */
/* Base Blue */
/* Light Blue: */
/* Dark Blue: */
/* Base Green: */
/* Orange */
/* Yellow */
/* Red */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/LatoRegular.woff") format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/LatoBold.woff") format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/LatoLight.woff") format("woff"); }

body {
  font-family: Lato, "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 300;
  color: #acacc6;
  font-size: 14px; }

a {
  color: #4a90e2;
  text-decoration: none; }
  a:hover {
    color: #a2d3f0; }

h1 {
  font-size: 1.6em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }

p {
  font-size: 1em; }

code {
  background: #000;
  color: #059e4f;
  font-size: 14px;
  font-family: "Consolas","Monaco","Ubuntu Mono",monospace !important; }

pre {
  background: #000; }

#OpsEditor .OEPanelRight.property {
  color: #ccc;
  /* property component style */ }
  #OpsEditor .OEPanelRight.property .panel-body {
    font-family: "Consolas","Monaco","Ubuntu Mono",monospace !important; }
  #OpsEditor .OEPanelRight.property h1 {
    font-size: 20px;
    padding: 5px;
    text-align: center; }
  #OpsEditor .OEPanelRight.property .os-property-default {
    padding: 20px 0 0 26px; }
  #OpsEditor .OEPanelRight.property .os-property-message {
    padding: 20px 0 0 26px; }
  #OpsEditor .OEPanelRight.property img.property-os-image-icon {
    display: inline-block;
    vertical-align: baseline; }
  #OpsEditor .OEPanelRight.property p.property-os-image-text {
    display: inline-block;
    color: #DEDEDE;
    margin: -5px 0;
    max-width: 245px;
    white-space: nowrap; }
    #OpsEditor .OEPanelRight.property p.property-os-image-text span.uid {
      display: block;
      font-size: 12px;
      color: #8D8D8D; }
  #OpsEditor .OEPanelRight.property .option-group-head {
    height: 40px;
    line-height: 40px; }
    #OpsEditor .OEPanelRight.property .option-group-head:first-child {
      border-top: 1px solid #000000; }
  #OpsEditor .OEPanelRight.property .option-group header {
    padding: 8px 10px;
    background: #1d1e29; }
  #OpsEditor .OEPanelRight.property .group {
    background-color: #27272b;
    font-size: 12px;
    position: relative;
    border-bottom: 1px #000 solid;
    margin-bottom: 1px; }
    #OpsEditor .OEPanelRight.property .group:last-child {
      border-bottom: none; }
    #OpsEditor .OEPanelRight.property .group.required:after {
      position: absolute;
      z-index: 1;
      content: "";
      color: #fff;
      text-align: right;
      right: 0;
      top: 0;
      width: 0;
      height: 0;
      line-height: 24px;
      border-style: solid;
      border-width: 0 20px 20px 0;
      margin-left: -20px;
      border-color: transparent #0b8900 transparent transparent; }
    #OpsEditor .OEPanelRight.property .group.required:before {
      position: absolute;
      z-index: 2;
      content: "*";
      color: #fff;
      text-align: right;
      right: 0;
      top: 0;
      margin-top: 3px;
      margin-right: 3px; }
  #OpsEditor .OEPanelRight.property .name {
    width: 100%;
    padding: 8px 10px;
    display: table-cell;
    vertical-align: middle;
    color: #777;
    line-height: 14px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
  #OpsEditor .OEPanelRight.property .ipgroup {
    display: inline-block; }
    #OpsEditor .OEPanelRight.property .ipgroup select.selection {
      float: left;
      width: 72px;
      font-size: 12px;
      display: inline-block; }
    #OpsEditor .OEPanelRight.property .ipgroup .selectize-control {
      float: left;
      width: 62px;
      font-size: 12px;
      display: inline-block;
      text-align: center; }
      #OpsEditor .OEPanelRight.property .ipgroup .selectize-control .selectize-input:after {
        display: none; }
    #OpsEditor .OEPanelRight.property .ipgroup span {
      width: 10px;
      text-align: center;
      padding-top: 20px;
      float: left; }
