/* Light Purple */
/* Base Purple */
/* Dark Purple */
/* Background Purple */
/* Base Blue */
/* Light Blue: */
/* Dark Blue: */
/* Base Green: */
/* Orange */
/* Yellow */
/* Red */
.openstack .OEPanelRight {
  width: 320px; }
  .openstack .OEPanelRight.resource .resource {
    border-bottom: 2px solid #4a90e2;
    color: #4a90e2; }
  .openstack .OEPanelRight.property .property {
    border-bottom: 2px solid #4a90e2;
    color: #4a90e2; }
  .openstack .OEPanelRight.state .state {
    border-bottom: 2px solid #4a90e2;
    color: #4a90e2; }
  .openstack .OEPanelRight.config .config {
    border-bottom: 2px solid #4a90e2;
    color: #4a90e2; }
  .openstack .OEPanelRight .sidebar-title {
    box-sizing: border-box;
    border-bottom: 1px solid #555252; }
    .openstack .OEPanelRight .sidebar-title a {
      width: 25%;
      float: left;
      text-align: center;
      cursor: pointer;
      height: 100%;
      box-sizing: border-box; }
    .openstack .OEPanelRight .sidebar-title a:hover {
      color: #eee; }
  .openstack .OEPanelRight .panel-body {
    overflow: auto;
    position: absolute;
    top: 39px;
    bottom: 0;
    height: auto;
    width: 100%; }
  .openstack .OEPanelRight .panel-body section header {
    background: #2c2f4d;
    color: white;
    height: 28px;
    line-height: 28px;
    position: relative;
    padding: 0 8px; }
    .openstack .OEPanelRight .panel-body section header aside {
      position: absolute;
      top: 0;
      right: 0; }
      .openstack .OEPanelRight .panel-body section header aside .selection {
        background: #2c2f4d;
        color: #F3F3F3;
        height: 28px;
        padding: 0 20px 0 8px;
        border: none;
        border-left: 1px solid #1d1e29;
        border-radius: 0;
        box-shadow: none; }
        .openstack .OEPanelRight .panel-body section header aside .selection::after {
          border-top-color: white; }
  .openstack .OEPanelRight .panel-body section article {
    padding: 10px; }
    .openstack .OEPanelRight .panel-body section article .resource-item {
      cursor: pointer; }
    .openstack .OEPanelRight .panel-body section article > ul::after {
      content: "";
      display: block;
      height: 0;
      clear: both; }
  .openstack .OEPanelRight .option-group-head, .openstack .OEPanelRight .fixedaccordion-head {
    border-top: 1px solid #000000;
    height: 40px;
    line-height: 40px; }

.OEPanelRight.resource nav {
  padding: 14px 20px; }
  .OEPanelRight.resource nav ul li {
    float: left;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 24px;
    line-height: 24px; }
    .OEPanelRight.resource nav ul li:first-child {
      border-left: 1px solid #2c2f4d;
      border-top-left-radius: 15%;
      border-bottom-left-radius: 15%; }
    .OEPanelRight.resource nav ul li:last-child {
      border-top-right-radius: 15%;
      border-bottom-right-radius: 15%; }
  .OEPanelRight.resource nav ul.anchor {
    float: left; }
    .OEPanelRight.resource nav ul.anchor li {
      line-height: 24px;
      color: #ccc;
      background: #51568e;
      border-right: 1px solid #2c2f4d; }
      .OEPanelRight.resource nav ul.anchor li:hover {
        color: #eeeeee; }
  .OEPanelRight.resource nav ul.action {
    float: right;
    color: white; }
    .OEPanelRight.resource nav ul.action li {
      background: #4a90e2; }
      .OEPanelRight.resource nav ul.action li:hover {
        background: #3970af; }
.OEPanelRight.resource .resource-item:hover {
  background-color: rgba(255, 255, 255, 0.2); }
.OEPanelRight.resource .resource-item.ossubnet {
  background-image: url("/assets/images/ide/icon/res-subnet.png"); }
.OEPanelRight.resource .resource-item.osrt {
  background-image: url("/assets/images/ide/icon/res-subnet.png"); }
.OEPanelRight.resource .resource-item.osport {
  background-image: url("/assets/images/ide/icon/res-subnet.png"); }
.OEPanelRight.resource .resource-item.oselb {
  background-image: url("/assets/images/ide/icon/res-subnet.png"); }
.OEPanelRight.resource .resource-item.osvol {
  background-image: url("/assets/images/ide/icon/res-vol.png"); }

/* Light Purple */
/* Base Purple */
/* Dark Purple */
/* Background Purple */
/* Base Blue */
/* Light Blue: */
/* Dark Blue: */
/* Base Green: */
/* Orange */
/* Yellow */
/* Red */
#OpsEditor .OEPanelRight.property {
  color: #ccc;
  /* property component style */
  /* boolean switcher component */ }
  #OpsEditor .OEPanelRight.property h1 {
    font-size: 20px;
    padding: 5px;
    text-align: center; }
  #OpsEditor .OEPanelRight.property .os-property-default {
    padding: 20px 0 0 26px; }
  #OpsEditor .OEPanelRight.property .os-property-message {
    padding: 20px 0 0 26px; }
  #OpsEditor .OEPanelRight.property img.property-os-image-icon {
    display: inline-block;
    vertical-align: baseline; }
  #OpsEditor .OEPanelRight.property p.property-os-image-text {
    display: inline-block;
    font-size: 14px;
    color: #DEDEDE;
    margin: -5px 0; }
    #OpsEditor .OEPanelRight.property p.property-os-image-text span {
      display: block;
      font-size: 12px;
      color: #8D8D8D; }
  #OpsEditor .OEPanelRight.property .group {
    background-color: #27272b;
    font-size: 12px;
    position: relative;
    border-bottom: 1px #000 solid;
    margin-bottom: 1px; }
    #OpsEditor .OEPanelRight.property .group.required:after {
      position: absolute;
      z-index: 1;
      content: "";
      color: #fff;
      text-align: right;
      right: 0;
      top: 0;
      width: 0;
      height: 0;
      line-height: 24px;
      border-style: solid;
      border-width: 0 20px 20px 0;
      margin-left: -20px;
      border-color: transparent #0b8900 transparent transparent; }
    #OpsEditor .OEPanelRight.property .group.required:before {
      position: absolute;
      z-index: 2;
      content: "*";
      color: #fff;
      text-align: right;
      right: 0;
      top: 0;
      margin-top: 3px;
      margin-right: 3px; }
  #OpsEditor .OEPanelRight.property .key {
    width: 100%;
    padding: 8px 10px;
    display: table-cell;
    vertical-align: middle;
    line-height: 14px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
    #OpsEditor .OEPanelRight.property .key.tooltip:after {
      content: " ";
      width: 103px;
      height: 8px;
      position: absolute;
      left: 12px;
      margin-top: 8px;
      border-bottom: 1px #555 dashed; }
  #OpsEditor .OEPanelRight.property .value {
    width: 100%;
    background-color: #27272b;
    border: 0; }
  #OpsEditor .OEPanelRight.property input.value, #OpsEditor .OEPanelRight.property textarea.value {
    color: #fff;
    padding: 8px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    font-size: 12px; }
    #OpsEditor .OEPanelRight.property input.value:focus, #OpsEditor .OEPanelRight.property textarea.value:focus {
      background-color: #424242;
      outline: none; }
    #OpsEditor .OEPanelRight.property input.value[disabled], #OpsEditor .OEPanelRight.property textarea.value[disabled] {
      color: #555; }
  #OpsEditor .OEPanelRight.property .selectize-control {
    height: 100%; }
    #OpsEditor .OEPanelRight.property .selectize-control.bool .selectize-input {
      padding-left: 65px; }
    #OpsEditor .OEPanelRight.property .selectize-control .selectize-input {
      color: #fff;
      border: 0;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 100%; }
      #OpsEditor .OEPanelRight.property .selectize-control .selectize-input.focus {
        background-color: #424242; }
      #OpsEditor .OEPanelRight.property .selectize-control .selectize-input.disabled {
        color: #555;
        background-color: #27272b; }
      #OpsEditor .OEPanelRight.property .selectize-control .selectize-input input {
        color: #fff;
        padding: 2px;
        font: inherit; }
      #OpsEditor .OEPanelRight.property .selectize-control .selectize-input div {
        padding: 2px; }
    #OpsEditor .OEPanelRight.property .selectize-control .selectize-dropdown {
      background-color: #373737;
      color: #9d9d97;
      border: 0; }
      #OpsEditor .OEPanelRight.property .selectize-control .selectize-dropdown [data-selectable], #OpsEditor .OEPanelRight.property .selectize-control .selectize-dropdown .optgroup-header {
        padding: 10px; }
      #OpsEditor .OEPanelRight.property .selectize-control .selectize-dropdown.loading {
        height: 145px !important; }
        #OpsEditor .OEPanelRight.property .selectize-control .selectize-dropdown.loading .selectize-dropdown-content {
          display: none !important; }
        #OpsEditor .OEPanelRight.property .selectize-control .selectize-dropdown.loading .selectize-dropdown_button {
          display: none !important; }
      #OpsEditor .OEPanelRight.property .selectize-control .selectize-dropdown .selectize-dropdown-content::-webkit-scrollbar {
        width: 8px; }
      #OpsEditor .OEPanelRight.property .selectize-control .selectize-dropdown .selectize-dropdown-content::-webkit-scrollbar-track {
        background: none; }
      #OpsEditor .OEPanelRight.property .selectize-control .selectize-dropdown .selectize-dropdown-content::-webkit-scrollbar-thumb {
        background: #000;
        border: 1px solid #444;
        border-radius: 8px; }
      #OpsEditor .OEPanelRight.property .selectize-control .selectize-dropdown .selectize-dropdown-content .selected {
        color: #fff; }
      #OpsEditor .OEPanelRight.property .selectize-control .selectize-dropdown .selectize-dropdown-content .active {
        background-color: #363644;
        color: #fff; }
  #OpsEditor .OEPanelRight.property .selectize-control.multi .selectize-input > div {
    height: 100%;
    background-color: #000;
    border: 1px #444 solid;
    border-radius: 3px;
    color: #fff;
    padding: 1px 5px; }
    #OpsEditor .OEPanelRight.property .selectize-control.multi .selectize-input > div.active {
      background-color: #2a608d;
      border: 1px #444 solid;
      color: #fff; }
  #OpsEditor .OEPanelRight.property .switcher {
    float: right;
    position: absolute;
    z-index: 2;
    font-size: 12px;
    margin: 4px 10px;
    width: 45px;
    height: 21px;
    border: 1px solid #ccc;
    background: #dadada;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity background; }
    #OpsEditor .OEPanelRight.property .switcher .switch-input {
      position: absolute;
      top: 0;
      left: 0; }
    #OpsEditor .OEPanelRight.property .switcher .switch-label {
      position: relative;
      display: block;
      height: 100%; }
    #OpsEditor .OEPanelRight.property .switcher .switch-label:before, #OpsEditor .OEPanelRight.property .switcher .switch-label:after {
      position: absolute;
      top: 50%;
      margin-top: -.5em;
      line-height: 1; }
    #OpsEditor .OEPanelRight.property .switcher .switch-label:before {
      content: attr(data-off);
      right: 6px;
      color: #aaa;
      font-variant: small-caps; }
    #OpsEditor .OEPanelRight.property .switcher .switch-label:after {
      content: attr(data-on);
      left: 6px;
      color: white;
      opacity: 0;
      font-variant: small-caps; }
    #OpsEditor .OEPanelRight.property .switcher .switch-handle {
      position: absolute;
      top: 2px;
      left: 3px;
      width: 20px;
      height: 17px;
      background: white;
      border-radius: 2px;
      -webkit-transition: left 0.15s ease-out;
      -moz-transition: left 0.15s ease-out;
      -o-transition: left 0.15s ease-out;
      transition: left 0.15s ease-out; }
  #OpsEditor .OEPanelRight.property .switcher.disabled {
    opacity: 0.2; }
  #OpsEditor .OEPanelRight.property .switcher.on {
    border-color: #0E8F38;
    background: #4fb845; }
    #OpsEditor .OEPanelRight.property .switcher.on .switch-label:before {
      opacity: 0; }
    #OpsEditor .OEPanelRight.property .switcher.on .switch-label:after {
      opacity: 1; }
    #OpsEditor .OEPanelRight.property .switcher.on .switch-handle {
      left: 23px; }
