{{#unless is_stack_sg}}
<ul class="tab sg-info-list-tab">
	<li data-tab-target="#item-group" class="active">{{ i18n "PROP_SGLIST_TAB_GROUP" }}</li>
	<li data-tab-target="#item-rule">{{ i18n "PROP_SGLIST_TAB_RULE" }}</li>
</ul>
{{/unless}}

<div class="tab-content">
	<div id="item-group" class="active tab-item pos-r">
		<ul class="acl-sg-info-list property-list" id="sg-info-list">
			{{#each sg_list}}
			<li class="clearfix" sg-uid="{{sgUID}}">
				{{#unless sgHideCheck}}
					{{#if sgFull.full}}
						{{#if sgChecked}}
						<div class="checkbox-wrap col1 ">
							<div class="checkbox">
								<input class="sg-list-association-check" type="checkbox" checked="checked" sg-uid="{{sgUID}}" id="sg-list-{{sgUID}}" {{#if ../../../only_one_sg}}disabledx="disabled"{{/if}}/>
								<label for="sg-list-{{sgUID}}"></label>
							</div>
						</div>
						{{else}}
							<span class="tooltip col1 sg-list-association-check" data-tooltip="Resource can have 5 security groups at most.">
								<div class="checkbox-wrap">
									<div class="checkbox">
										<input type="checkbox" style="vertical-align:top;" id="sg-list-{{sgUID}}">
										<label for="sg-list-{{sgUID}}"></label>
									</div>
								</div>
							</span>
						{{/if}}
					{{else}}
						<div class="checkbox-wrap col1">
							<div class="checkbox">
								<input class="sg-list-association-check" type="checkbox" {{#if sgChecked}}checked="checked"{{/if}} sg-uid="{{sgUID}}" id="sg-list-{{sgUID}}"/>
								<label for="sg-list-{{sgUID}}"></label>
							</div>
						</div>
					{{/if}}
				{{/unless}}
				<div class="col3 secondary-panel sg-edit-icon tooltip icon-btn-details" data-tooltip='{{ i18n "PROP_SGLIST_TIP_VIEW_DETAIL" }}' data-sgid="{{sgUID}}"></div>

				<div class="col2">
					<div class="col2-1 truncate"><div class="sg-color" style="background-color:{{sgColor}}" ></div>{{sgName}}</div>
					<div class="col2-2 truncate">{{sgDesc}}</div>
					<div class="col2-3 truncate">{{sgRuleNum}} {{ i18n "PROP_SGLIST_LBL_RULE" }}, {{sgMemberNum}} {{ i18n "PROP_SGLIST_LBL_MEMBER" }}{{#unless sgIsDefault}}{{#unless readonly}} | <a class="sg-list-delete-btn" members="{{sgMemberNum}}" sg-name="{{sgName}}">{{ i18n "PROP_SGLIST_LNK_DELETE" }}</a>{{/unless}}{{/unless}}</div>
				</div>
			</li>
			{{/each}}
		</ul>
		{{#unless readonly}}<a href="javascript:void(0)" class="add-to-list action-link" id="add-sg-btn">{{ i18n "PROP_SGLIST_BTN_CREATE_NEW_SG" }}</a>{{/unless}}
	</div>
	<div id="item-rule" class="tab-item">
		<div class="rule-list-sort property-control-group">
			<h5>{{ i18n "PROP_SG_RULE_SORT_BY" }}</h5>
			<div class="selectbox" id="sg-rule-filter-select">
				<div class="selection">{{ i18n "PROP_SG_RULE_SORT_BY_DIRECTION" }}</div>
				<ul class="dropdown" tabindex="-1">
					<li class="item selected" data-id="direction">{{ i18n "PROP_SG_RULE_SORT_BY_DIRECTION" }}</li>
					<li class="item" data-id="source/destination">{{ i18n "PROP_SG_RULE_SORT_BY_SRC_DEST" }}</li>
					<li class="item" data-id="protocol">{{ i18n "PROP_SG_RULE_SORT_BY_PROTOCOL" }}</li>
				</ul>
			</div>
		</div>
		<ul class="sg-rule-list property-list" id="sglist-rule-list">
			{{#each sg_rule_list}}
			<li data-inbound="true" data-protocol="{{IpProtocol}}" data-fromport="{{FromPort}}" data-iprange="{{IpRanges}}" data-direction="{{Direction}}">
				<div class="rule-list-row">
					<div data-id="{{Direction}}" class='rule-direction-icon tooltip icon-{{Direction}}' data-tooltip='{{#ifCond Direction "inbound"}}{{{ i18n "PROP_SG_TIP_INBOUND" }}}{{else}}{{{ i18n "PROP_SG_TIP_OUTBOUND" }}}{{/ifCond}}'></div>
					<div data-id="{{IpRanges}}" class='rule-reference'>
						{{IpRanges}}
					</div>
				</div>
				<div class="rule-list-row">
					<div data-id="{{IpProtocol}}"><span class="rule-protocol tooltip" data-tooltip='{{ i18n "PROP_SG_TIP_PROTOCOL" }}' >{{IpProtocol}}</span></div>
					<div data-id="{{FromPort}}" class='rule-port tooltip' data-tooltip='{{ i18n "PROP_SG_TIP_PORT_CODE" }}'>{{display_port}}</div>
				</div>
			</li>
			{{/each}}
		</ul>
	</div>
</div>
