<article class="property-app">
  {{#if hasData}}
  <div class="option-group-head expand">{{i18n "PROP_ASG_SUMMARY"}}</div>
  <div class="option-group">
    <dl class="dl-vertical">
      <dt>{{i18n "PROP_ASG_NAME"}}</dt>
      <dd>{{awsResName}}</dd>
      <dt>Auto Scaling Group ARN</dt>
      <dd class="click-select tooltip" data-tooltip="Click to select">{{arn}}</dd>
      <dt>{{i18n "PROP_ASG_CREATE_TIME"}}</dt>
      <dd>{{timeStr createTime}}</dd>

    {{#if isEditable}}
    </dl>
    {{else}}
      <dt>{{i18n "PROP_LC_TITLE"}}</dt>
      <dd>{{lcName}}</dd>
    </dl>
    <dl class="dl-vertical">
      <dt>{{i18n "PROP_ASG_MIN_SIZE"}}</dt>
      <dd>{{minSize}}</dd>
      <dt>{{i18n "PROP_ASG_MAX_SIZE"}}</dt>
      <dd>{{maxSize}}</dd>
      <dt>{{i18n "PROP_ASG_DESIRE_CAPACITY"}}</dt>
      <dd>{{capacity}}</dd>
      <dt>{{i18n "PROP_ASG_COOL_DOWN"}}</dt>
      <dd>{{cooldown}}</dd>
    </dl>
    <dl class="dl-vertical">
      <dt>{{i18n "PROP_ASG_HEALTH_CHECK_TYPE"}}</dt>
      <dd>{{healCheckType}}</dd>
      <dt>{{i18n "PROP_ASG_HEALTH_CHECK_CRACE_PERIOD"}}</dt>
      <dd>{{healthCheckGracePeriod}}</dd>
    </dl>
    {{/if}}
  </div>
  {{else}}
  <div class="property-control-group">
    <p class="property-info tac">Auto Scaling Group {{name}} is deleted in stopped app.</p>
  </div>
  {{/if}}

  {{#if isEditable}}
  <div class="option-group-head expand">{{ i18n "PROP_ASG_DETAILS"}}</div>
  <div class="option-group" data-bind="true">
    <section class="property-control-group clearfix">
      <div class="left property-asg-size">
        <label class="left" for="property-asg-min">{{ i18n "PROP_ASG_MIN_SIZE" }}</label>
        <input class="input" type="text" id="property-asg-min" value="{{minSize}}" maxlength="255" data-type="digits" data-ignore="true" data-required-rollback="true">
      </div>
      <div class="right property-asg-size">
        <label class="left" for="property-asg-max">{{ i18n "PROP_ASG_MAX_SIZE" }}</label>
        <input class="input" type="text" id="property-asg-max" value="{{maxSize}}" maxlength="255" data-type="digits" data-ignore="true" data-required-rollback="true">
      </div>
    </section>

    <section class="property-control-group property-asg-size">
      <label class="left" for="property-asg-capacity">{{ i18n "PROP_ASG_DESIRE_CAPACITY" }}</label>
      <input class="input" type="text" id="property-asg-capacity" value="{{capacity}}" maxlength="255" data-type="digits" data-ignore="true">
    </section>
  </div>
  {{/if}}

  {{#if hasData}}
  <div class="option-group-head">{{i18n "PROP_ASG_INSTANCE"}} <span class="property-head-num-wrap">({{instance_count}})</span></div>
  <div class="option-group">
    {{#each instance_groups}}
    <div class="property-group-head">{{name}}</div>
    <ul class="property-list">
      {{#each instances}}
        <li><i class="status status-{{status}} icon-label"></i>{{name}}</li>
      {{/each}}
    </ul>
    {{/each}}
  </div>

  <div class="option-group-head">{{i18n "PROP_ASG_POLICY"}}</div>
  <div class="option-group">
    <section class="property-control-group pos-r">
      <h5>{{i18n "PROP_ASG_TERMINATION_POLICY"}}</h5>
      <p class="termination-policy-brief">{{emptyStr term_policy_brief}}</p>
    </section>

    <ul id="property-asg-policies" class="property-list">
      {{#each policies}}
      <li class="pos-r" data-uid="{{uid}}">
        <div class="property-asg-policy-name" title="{{i18n 'PROP_ASG_POLICY_TLT_NAME'}}">{{name}}</div>
        {{#if arn}}
        <div class="click-select tooltip" data-tooltip="Click to select">{{arn}}</div>
        {{else}}
        <span class="asg-p-metric asg-p-tag" title="{{i18n 'PROP_ASG_POLICY_TLT_ALARM_METRIC'}}">{{metric}}</span>
        <span class="asg-p-eval asg-p-tag" title="{{i18n 'PROP_ASG_POLICY_TLT_THRESHOLD'}}">{{evaluation}} {{threshold}}{{unit}}</span>
        <span class="asg-p-periods asg-p-tag" title="{{i18n 'PROP_ASG_POLICY_TLT_PERIOD'}}">{{periods}}x{{minute}}m</span>
        <span class="asg-p-trigger asg-p-tag asg-p-trigger-{{trigger}}" title="{{i18n 'PROP_ASG_POLICY_TLT_ACTION'}}">{{trigger}}</span>
        <span class="asg-p-adjust asg-p-tag" title="{{i18n 'PROP_ASG_POLICY_TLT_ADJUSTMENT'}}">{{adjustment}} {{adjusttype}}</span>
        {{/if}}
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="option-group-head">{{i18n "PROP_ASG_LBL_NOTIFICATION"}}</div>
  <div class="option-group">
    <div class="property-asg-notification-wrap property-control-group">
      {{#if sendNotify}}
      <label>{{i18n "PROP_ASG_LBL_SEND_NOTIFICATION"}}</label>
      <section>
        {{#if notifies.[0]}}<p>{{i18n "PROP_ASG_LBL_SUCCESS_INSTANCES_LAUNCH"}}</p>{{/if}}
        {{#if notifies.[1]}}<p>{{i18n "PROP_ASG_LBL_FAILED_INSTANCES_LAUNCH"}}</p>{{/if}}
        {{#if notifies.[2]}}<p>{{i18n "PROP_ASG_LBL_SUCCESS_INSTANCES_TERMINATE"}}</p>{{/if}}
        {{#if notifies.[3]}}<p>{{i18n "PROP_ASG_LBL_FAILED_INSTANCES_TERMINATE"}}</p>{{/if}}
        {{#if notifies.[4]}}<p>{{i18n "PROP_ASG_LBL_VALIDATE_SNS"}}</p>{{/if}}
      </section>
      {{else}}
      <p class="property-info tac">{{i18n "PROP_ASG_MSG_NO_NOTIFICATION_WARN"}}</p>
      {{/if}}
    </div>
  </div>
  {{/if}}

</article>
