<article id="property_app_asg" class="property-app">
  {{#unless asg}}
  <div class="property-control-group">Auto Scaling Group {{asg_name}} is deleted in stopped app.</div>
  {{else}}
  <div class="option-group-head expand">{{i18n "PROP_ASG_DETAILS"}}</div>
  <div class="option-group">
    <dl class="dl-vertical">
      <dt>{{i18n "PROP_ASG_NAME"}}</dt>
      <dd>{{asg.AutoScalingGroupName}}</dd>
      <dt>Auto Scaling Group ARN</dt>
      <dd>
        <div class="pos-r"><span class="truncate tooltip" data-tooltip="{{asg.AutoScalingGroupARN}}">{{asg.AutoScalingGroupARN}}</span><i title="ARN" class="icon-clip icon-copy" data-clipboard-text="{{asg.AutoScalingGroupARN}}"></i></div>
      </dd>
      <dt>{{i18n "PROP_ASG_CREATE_TIME"}}</dt>
      <dd>{{timeStr asg.CreatedTime}}</dd>
      <dt>{{i18n "PROP_LC_TITLE"}}</dt>
      <dd>{{asg.LaunchConfigurationName}}</dd>
    </dl>
    <dl class="dl-vertical" data-bind="true">
      <dt>{{i18n "PROP_ASG_MIN_SIZE"}}</dt>
      <dd><input class="input" type="text" id="property-asg-min" value="{{asg.MinSize}}" maxlength="255" data-type="digits" data-ignore="true" data-required-rollback="true"></dd>
      <dt>{{i18n "PROP_ASG_MAX_SIZE"}}</dt>
      <dd><input class="input" type="text" id="property-asg-max" value="{{asg.MaxSize}}" maxlength="255" data-type="digits" data-ignore="true" data-required-rollback="true"></dd>
      <dt>{{i18n "PROP_ASG_DESIRE_CAPACITY"}}</dt>
      <dd>{{asg.DesiredCapacity}}</dd>
      <dt>{{i18n "PROP_ASG_COOL_DOWN"}}</dt>
      <dd>{{asg.DefaultCooldown}}</dd>
    </dl>
    <dl class="dl-vertical">
      <dt>{{i18n "PROP_ASG_HEALTH_CHECK_TYPE"}}</dt>
      <dd>{{asg.HealthCheckType}}</dd>
      <dt>{{i18n "PROP_ASG_HEALTH_CHECK_CRACE_PERIOD"}}</dt>
      <dd>{{asg.HealthCheckGracePeriod}}</dd>
    </dl>
  </div>

  <div class="option-group-head">{{i18n "PROP_ASG_INSTANCE"}} <span class="property-head-num-wrap">({{instance_count}})</span></div>
  <div class="option-group">
    {{#each subnets}}
    <div class="property-group-head">{{name}}</div>
    <ul class="property-list">
      {{#each instances}}
        <li><i class="status status-{{status}} icon-label"></i>{{name}}</li>
      {{/each}}
    </ul>
    {{/each}}
  </div>

  <div class="option-group-head">{{i18n "PROP_ASG_POLICY"}}</div>
  <div class="option-group">
    <section class="property-control-group pos-r">
      <h5>{{i18n "PROP_ASG_TERMINATION_POLICY"}}</h5>
      <p class="termination-policy-brief">{{term_policy_brief}}</p>
      <!-- <i class="icon-detail" id="property-asg-term-edit"></i> -->
    </section>

    <ul id="property-asg-policies" class="property-list">
      {{#each policies}}
      <li class="pos-r" data-uid="{{uid}}">
        <div class="property-asg-policy-name" title="{{i18n 'PROP_ASG_POLICY_TLT_NAME'}}">{{name}}</div>
        <span class="asg-p-metric asg-p-tag" title="{{i18n 'PROP_ASG_POLICY_TLT_ALARM_METRIC'}}">{{metric}}</span>
        <span class="asg-p-eval asg-p-tag" title="{{i18n 'PROP_ASG_POLICY_TLT_THRESHOLD'}}">{{evaluation}} {{threshold}}{{unit}}</span>
        <span class="asg-p-periods asg-p-tag" title="{{i18n 'PROP_ASG_POLICY_TLT_PERIOD'}}">{{periods}}x{{second}}s</span>
        <span class="asg-p-trigger asg-p-tag" title="{{i18n 'PROP_ASG_POLICY_TLT_ACTION'}}">{{trigger}}</span>
        <span class="asg-p-adjust asg-p-tag" title="{{i18n 'PROP_ASG_POLICY_TLT_ADJUSTMENT'}}">{{adjustment}} {{adjusttype}}</span>
        <!-- <i class="icon-detail"></i> -->
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="option-group-head">{{i18n "PROP_ASG_LBL_NOTIFICATION"}}</div>
  <div class="option-group">
    {{#if sendNotify}}
    <div class="property-asg-notification-wrap property-control-group">
      <label class="left">{{i18n "PROP_ASG_LBL_SEND_NOTIFICATION"}}:</label>
      <section>
        {{#if notifies.[0]}}<p>{{i18n "PROP_ASG_LBL_SUCCESS_INSTANCES_LAUNCH"}}</p>{{/if}}
        {{#if notifies.[1]}}<p>{{i18n "PROP_ASG_LBL_FAILED_INSTANCES_LAUNCH"}}</p>{{/if}}
        {{#if notifies.[2]}}<p>{{i18n "PROP_ASG_LBL_SUCCESS_INSTANCES_TERMINATE"}}</p>{{/if}}
        {{#if notifies.[3]}}<p>{{i18n "PROP_ASG_LBL_FAILED_INSTANCES_TERMINATE"}}</p>{{/if}}
        {{#if notifies.[4]}}<p>{{i18n "PROP_ASG_LBL_VALIDATE_SNS"}}</p>{{/if}}
      </section>
      {{else}}
      <p class="property-info tac">{{i18n "PROP_ASG_MSG_NO_NOTIFICATION_WARN"}}</p>
      {{/if}}
    </div>
  </div>
  {{/unless}}

</article>
