<div style="width:420px">
  <div class="modal-header">
    <h3>{{title}}</h3>
    <i class="modal-close">&times;</i>
  </div>
  <div class="modal-body">
    <p>Following rules(rule) will be deleted from their(its) security group:</p>
    {{#each sg_group}}
    <h3 class="sg-create-group">{{name}}</h3>
    <ul>
      {{#each rules}}
        <li class="clearfix sg-create-rule-item">
          <span class="sg-rule-col1">
            <span class="{{#if egress}}sg-rule-inbound{{else}}sg-rule-outbound{{/if}} tooltip" data-tooltip="Inbound/Outbound"></span>
            <span class="sg-rule-protocol">{{protocol}}</span>
          </span>
          <div class="sg-rule-col2">
            <div class="sg-rule-connnection">{{connection}}</div>
            <div class="sg-rule-port">{{port}}</div>
          </div>
        </li>
      {{/each}}
    </ul>
    {{/each}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-red">Delete</button>
    <button class="btn modal-close">Cancel</button>
  </div>
</div>
