<div id="delete-rule-dialog" style="width:420px">
  <div class="modal-header">
    <h3>Delete Security Group Rule</h3>
    <i class="modal-close">&times;</i>
  </div>
  <div class="modal-body">
    <p class="modal-text-major">Following rule(s) will be deleted from its(their) security group:</p>
    <div class="sg-list-wrap scroll-wrap">
      <div class="scrollbar-veritical-wrap"><div class="scrollbar-veritical-thumb"></div></div>
      <div class="scroll-content">
        {{#each delete_rule_list}}
        <span class="sg-color sg-color-rule-header" style="background-color:{{header_sg_color}}"></span>
        <h3 class="sg-create-group">{{name}}</h3>
        <ul>
          {{#each rule}}
            <li class="clearfix sg-create-rule-item">
              <div class="rule-list-row">
                <div class="{{#if this.[4]}}icon-inbound{{else}}icon-outbound{{/if}} tooltip" data-tooltip="{{#if this.[4]}}Inbound{{else}}Outbound{{/if}}"></div>
                {{#if this.[6]}}<span class="sg-color" style="background-color:{{this.[6]}}"></span>{{/if}}
                <div class="sg-rule-connnection">{{this.[0]}}</div>
              </div>
              <div class="rule-list-row">
                <span class="sg-rule-protocol rule-protocol tooltip" data-tooltip="Protocol">{{this.[3]}}</span>
                <div class="sg-rule-port">{{this.[1]}}-{{this.[2]}}</div>
              </div>
            </li>
          {{/each}}
        </ul>
        {{/each}}
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-red" id="confirm-delete-sg-line">Delete</button>
    <button class="btn btn-silver modal-close">Cancel</button>
  </div>
</div>
