<div class="sidebar-wrap">
  <header class="sg-create-sb-h">Related Rule(<span>{{ruleCount}}</span>)</header>
  {{#each sg_group}}
    <h3 class="sg-create-group">{{name}}</h3>
    <ul>
      {{#each rules}}
        <li class="clearfix sg-create-rule-item" data-uid="{{uid}}">
          <span class="sg-rule-col1">
            <span class="{{#if egress}}sg-rule-inbound{{else}}sg-rule-outbound{{/if}} tooltip" data-tooltip="Inbound/Outbound"></span>
            <span class="sg-rule-protocol">{{protocol}}</span>
          </span>
          <div class="sg-rule-col2">
            <div class="sg-rule-connnection">{{connection}}</div>
            <div class="sg-rule-port">{{port}}</div>
          </div>
          <a href="#" class="sg-rule-delete">x</a>
        </li>
      {{/each}}
    </ul>
  {{/each}}
</div>
