<div class="sidebar-wrap">
  <header class="sg-create-sb-h">Related Rule<span class="num-wrap">({{ruleCount}})</span></header>
  <div class="scroll-wrap scrollbar-auto-hide" style="max-height:358px">
    <div class="scrollbar-veritical-wrap"><div class="scrollbar-veritical-thumb"></div></div><div class="scroll-content sg-create-rule-list">
    {{#each groups}}
      <h3 class="sg-create-group truncate"><span class="sg-color sg-color-rule-header" style="background-color:{{ownerColor}}"></span>{{ownerName}}</h3>
      <ul>{{{content}}}</ul>
    {{/each}}
  </div></div>
</div>
