<header class="sidebar-title">
    <a class="resource">R</a>
    <a class="config">A</a>
    <a class="property">P</a>
    <a class="state">S</a>
</header>
<nav class="clearfix">
    <ul class="anchor clearfix">
        <li data-scroll-to="system-image">S</li>
        <li data-scroll-to="block-storage">B</li>
        <li data-scroll-to="network">N</li>
    </ul>
    <ul class="action clearfix">
        <li class="btn-refresh-panel icon-refresh"></li>
        <li class="btn-open-shareres icon-resources"></li>
    </ul>
</nav>
<div class="panel-body"></div>