<article class="property-app">
  <dl class="dl-vertical">
    <dt>{{ i18n "PROP.CGW_APP_CGW_LBL_ID" }}</dt>
    <dd>{{customerGatewayId}}</dd>
    {{#unless isEditable}}
    <dt>{{ i18n "PROP.NAME" }}</dt>
    <dd>{{emptyStr name}}</dd>
    <dt>{{ i18n "PROP.DESCRIPTION" }}</dt>
    <dd>{{emptyStr description}}</dd>
    {{/unless}}
  </dl>
  {{#if isEditable}}
  <div class="property-control-group clearfix">
      <label class="left" for="property-cgw-name">{{ i18n "PROP.CGW_LBL_NAME" }}</label>
      <span class="required-input right">{{ i18n "PROP.LBL_REQUIRED" }}</span>
      <input class="input" type="text" value="{{name}}" id="property-cgw-name" data-ignore="true"/>
  </div>
  <section class="property-control-group" data-bind="true">
    <label class="left" for="property-res-desc">{{ i18n "PROP.DESCRIPTION" }}</label>
    <textarea id="property-res-desc" data-type="ascii" data-ignore="true" class="input">{{description}}</textarea>
  </section>
  {{/if}}
  <dl class="dl-vertical">
    <dt>{{ i18n "PROP.CGW_APP_CGW_LBL_STATE" }}</dt>
    <dd><i class="status status-xgw-{{state}}"></i>{{state}}</dd>
    <dt>{{ i18n "PROP.CGW_LBL_IPADDR" }}</dt>
    <dd>{{ipAddress}}</dd>
    <dt>{{ i18n "PROP.CGW_APP_CGW_LBL_TYPE" }}</dt>
    <dd>{{type}}</dd>
    <dt>{{ i18n "PROP.CGW_LBL_BGP_ASN" }}</dt>
    <dd>{{bgpAsn}}</dd>
  </dl>
    {{#if tagSet}}
    <div class="option-group-head expand">
        {{i18n "PROP.RESOURCE_TAGS"}}
    </div>
    <div class="option-group">
        {{#if tagSet}}
        <table class="table cost-estimation-table">
            <tbody>
            {{#each tagSet}}
            <tr> <td style="min-width:70px;">{{@key}}</td><td>{{this}}</td> </tr>
            {{/each}}
            </tbody>
        </table>
        {{else}}
        <div class="empty-tag">{{i18n "PROP.RESOURCE_NO_TAGS"}}</div>
        {{/if}}
        {{#if isEditable}}
        <div class="tags-action">
            
            <button class="btn open-tag-manager modal-confirm btn-blue">{{i18n "PROP.RESOURCE_EDIT_TAG"}}</button>
        </div>
        {{else}}
        <div class="tags-action">
            
        </div>
        {{/if}}
    </div>
    {{/if}}
</article>
