<div class="state-status-content">
	<div class="scroll-wrap scroll-wrap-validation" style="height:300px;">
		<div class="scrollbar-veritical-wrap" style="display: block;"><div class="scrollbar-veritical-thumb"></div></div>
		<div class="content_wrap scroll-content">
			<ul class="state-status-list">
				<li class="state-status-item">
					<div class="state-status-item-icon"></div>
					<div class="state-status-item-info">
						<div class="state-status-item-desc">host1 's state 32 has failed is updated.</div>
						<div class="state-status-item-time">State log will update after change is applied.</div>
					</div>
					<div class="state-status-item-detail"></div>
				</li>
				<li class="state-status-item">
					<div class="state-status-item-icon"></div>
					<div class="state-status-item-info">
						<div class="state-status-item-desc">host1 's state 32 has failed is updated.</div>
						<div class="state-status-item-time">State log will update after change is applied.</div>
					</div>
					<div class="state-status-item-detail"></div>
				</li>
				<li class="state-status-item">
					<div class="state-status-item-icon"></div>
					<div class="state-status-item-info">
						<div class="state-status-item-desc">host1 's state 32 has failed is updated.</div>
						<div class="state-status-item-time">State log will update after change is applied.</div>
					</div>
					<div class="state-status-item-detail"></div>
				</li>
				<li class="state-status-item">
					<div class="state-status-item-icon"></div>
					<div class="state-status-item-info">
						<div class="state-status-item-desc">host1 's state 32 has failed is updated.</div>
						<div class="state-status-item-time">State log will update after change is applied.</div>
					</div>
					<div class="state-status-item-detail"></div>
				</li>
				<li class="state-status-item">
					<div class="state-status-item-icon"></div>
					<div class="state-status-item-info">
						<div class="state-status-item-desc">host1 's state 32 has failed is updated.</div>
						<div class="state-status-item-time">State log will update after change is applied.</div>
					</div>
					<div class="state-status-item-detail"></div>
				</li>
				<li class="state-status-item">
					<div class="state-status-item-icon"></div>
					<div class="state-status-item-info">
						<div class="state-status-item-desc">host1 's state 32 has failed is updated.</div>
						<div class="state-status-item-time">State log will update after change is applied.</div>
					</div>
					<div class="state-status-item-detail"></div>
				</li>
				<li class="state-status-item">
					<div class="state-status-item-icon"></div>
					<div class="state-status-item-info">
						<div class="state-status-item-desc">host1 's state 32 has failed is updated.</div>
						<div class="state-status-item-time">State log will update after change is applied.</div>
					</div>
					<div class="state-status-item-detail"></div>
				</li>
				<li class="state-status-item">
					<div class="state-status-item-icon"></div>
					<div class="state-status-item-info">
						<div class="state-status-item-desc">host1 's state 32 has failed is updated.</div>
						<div class="state-status-item-time">State log will update after change is applied.</div>
					</div>
					<div class="state-status-item-detail"></div>
				</li>
			</ul>
		</div>
	</div>
</div>