<!-- statestatus-template-modal -->
<div class="modal-header">
	<h3>State Overview</h3>
	<i class="modal-close">×</i>
</div>
<div class="modal-body">
	<div class="modal-state-statusbar">
	</div>
</div>

<!-- statestatus-template-status-content -->
<div class="state-status-content">
	<div class="scroll-wrap scroll-wrap-validation" style="height:200px;">
		<div class="scrollbar-veritical-wrap" style="display: block;"><div class="scrollbar-veritical-thumb"></div></div>
		<div class="content_wrap scroll-content">

		</div>
	</div>
</div>

<!-- statestatus-template-status-item -->
<li class="state-status-item">
	<div class="state-status-item-icon">
		<i class="icon-state-failed"></i>
	</div>
	<div class="state-status-item-info">
		<div class="state-status-item-desc">host1 's state 32 has failed is updated.</div>
		<div class="state-status-item-time">{{UTC time}}</div>
	</div>
	<div class="state-status-item-detail">
		<i class="icon-btn"></i>
	</div>
</li>

<!-- statestatus-template-status-pending -->
<dl class="state-status-pending">
	<dt>All states are pending.</dt>
	<dd>A message will show here when a state succeeds or fials.</dd>
</dl>

<!-- statestatus-template-status-item-container -->
<ul class="state-status-list"></ul>

<!-- template end -->