{{#unless attached}}
<article class="property-control-group">{{ i18n "PROP_ENI_LBL_ATTACH_WARN" }}</article>
{{else}}

<article>
  <div id="prop-appedit-eni-list" class="expand"></div>

  <div class="option-group-head expand">{{ i18n "PROP_ENI_LBL_DETAIL" }}</div>
  <div class="option-group">
{{#unless isAppEdit}}
    <section class="property-control-group" data-bind="true">
      <label class="left" for="property-eni-desc">{{ i18n "PROP_ENI_LBL_DESC" }}</label>
      <textarea id="property-eni-desc" data-type="ascii" data-ignore="true" class="input">{{desc}}</textarea>
    </section>

    <section class="property-control-group">
      <div class="checkbox">
        <input id="property-eni-source-check" type="checkbox" {{#if sourceDestCheck}}checked="checked"{{/if}} />
        <label for="property-eni-source-check"></label>
      </div>
      <label for="property-eni-source-check">{{ i18n "PROP_ENI_SOURCE_DEST_CHECK"}}</label>
    </section>
{{/unless}}

    <section class="property-control-group">
      <div class="network-list-wrap">
        <div class="network-list-header">
          {{ i18n "PROP_ENI_IP_ADDRESS"}}
          <button id="property-eni-ip-add" class="right btn btn-blue btn-small tooltip" data-tooltip="{{i18n 'PROP_ENI_TIP_ADD_IP_ADDRESS'}}">{{ i18n "PROP_ENI_ADD_IP"}}</button>
        </div>
        <ul class="network-list" id="property-eni-list" data-bind="true">
        </ul>
      </div>
    </section>
  </div>

  <div class="option-group-head expand">{{ i18n "PROP_ENI_SG_DETAIL"}}<span class="property-head-num-wrap">(<span id="property-head-sg-num"></span>)</span></div>
  <div class="option-group sg-group"></div>
</article>

{{/unless}}
